<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch25_israel_head0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 12}, {61, 92}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 114}</string>
			<key>spriteSourceSize</key>
			<string>{75, 114}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {75, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch25_israel_head0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 11}, {61, 92}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 114}</string>
			<key>spriteSourceSize</key>
			<string>{75, 114}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 118}, {75, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch25_israel_head0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 11}, {61, 92}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 114}</string>
			<key>spriteSourceSize</key>
			<string>{75, 114}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{79, 2}, {75, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch25_israel_head0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 10}, {61, 92}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 114}</string>
			<key>spriteSourceSize</key>
			<string>{75, 114}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{79, 118}, {75, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch25_israel_head0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 10}, {61, 92}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 114}</string>
			<key>spriteSourceSize</key>
			<string>{75, 114}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{156, 2}, {75, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch25_israel_head0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 9}, {61, 92}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 114}</string>
			<key>spriteSourceSize</key>
			<string>{75, 114}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{156, 118}, {75, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch25_israel_head0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 9}, {61, 92}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 114}</string>
			<key>spriteSourceSize</key>
			<string>{75, 114}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{233, 2}, {75, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch25_israel_head0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 8}, {61, 92}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 114}</string>
			<key>spriteSourceSize</key>
			<string>{75, 114}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{233, 118}, {75, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch25_israel_head0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 8}, {61, 92}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 114}</string>
			<key>spriteSourceSize</key>
			<string>{75, 114}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{310, 2}, {75, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch25_israel_head0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 7}, {61, 92}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 114}</string>
			<key>spriteSourceSize</key>
			<string>{75, 114}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{310, 118}, {75, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch25_israel_head0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 7}, {61, 92}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 114}</string>
			<key>spriteSourceSize</key>
			<string>{75, 114}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{387, 2}, {75, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch25_israel_head0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 7}, {61, 92}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 114}</string>
			<key>spriteSourceSize</key>
			<string>{75, 114}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{387, 118}, {75, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch25_israel_head0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 6}, {61, 92}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 114}</string>
			<key>spriteSourceSize</key>
			<string>{75, 114}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{464, 2}, {75, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch25_israel_head0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 6}, {61, 92}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 114}</string>
			<key>spriteSourceSize</key>
			<string>{75, 114}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{464, 118}, {75, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch25_israel_head0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 6}, {61, 92}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 114}</string>
			<key>spriteSourceSize</key>
			<string>{75, 114}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{541, 2}, {75, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch25_israel_head0016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 6}, {61, 92}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 114}</string>
			<key>spriteSourceSize</key>
			<string>{75, 114}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{541, 118}, {75, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch25_israel_head0017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 6}, {61, 92}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 114}</string>
			<key>spriteSourceSize</key>
			<string>{75, 114}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{618, 2}, {75, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch25_israel_head0018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 6}, {61, 92}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 114}</string>
			<key>spriteSourceSize</key>
			<string>{75, 114}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{618, 118}, {75, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch25_israel_head0019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 6}, {61, 92}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 114}</string>
			<key>spriteSourceSize</key>
			<string>{75, 114}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{695, 2}, {75, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch25_israel_head0020.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 6}, {61, 92}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 114}</string>
			<key>spriteSourceSize</key>
			<string>{75, 114}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{695, 118}, {75, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch25_israel_head0021.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 6}, {61, 92}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 114}</string>
			<key>spriteSourceSize</key>
			<string>{75, 114}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{772, 2}, {75, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch25_israel_head0022.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 11}, {61, 92}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 114}</string>
			<key>spriteSourceSize</key>
			<string>{75, 114}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{772, 118}, {75, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch25_israel_head0023.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 16}, {61, 92}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 114}</string>
			<key>spriteSourceSize</key>
			<string>{75, 114}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{849, 2}, {75, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch25_israel_head0024.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 14}, {61, 92}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 114}</string>
			<key>spriteSourceSize</key>
			<string>{75, 114}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{926, 2}, {75, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch25_israel_head0025.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 12}, {61, 92}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 114}</string>
			<key>spriteSourceSize</key>
			<string>{75, 114}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{849, 118}, {75, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{1024, 256}</string>
	</dict>
</dict>
</plist>