<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch10_pots_sway0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{34, 19}, {116, 131}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{152, 155}</string>
			<key>spriteSourceSize</key>
			<string>{152, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{618, 2}, {152, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_pots_sway0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{34, 19}, {116, 133}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{152, 155}</string>
			<key>spriteSourceSize</key>
			<string>{152, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{464, 316}, {152, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_pots_sway0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{33, 19}, {118, 133}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{152, 155}</string>
			<key>spriteSourceSize</key>
			<string>{152, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 316}, {152, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_pots_sway0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{32, 19}, {118, 133}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{152, 155}</string>
			<key>spriteSourceSize</key>
			<string>{152, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{310, 2}, {152, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_pots_sway0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{31, 18}, {120, 133}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{152, 155}</string>
			<key>spriteSourceSize</key>
			<string>{152, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 473}, {152, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_pots_sway0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{29, 18}, {120, 133}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{152, 155}</string>
			<key>spriteSourceSize</key>
			<string>{152, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{310, 316}, {152, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_pots_sway0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{26, 18}, {124, 133}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{152, 155}</string>
			<key>spriteSourceSize</key>
			<string>{152, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{310, 630}, {152, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_pots_sway0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{23, 18}, {124, 133}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{152, 155}</string>
			<key>spriteSourceSize</key>
			<string>{152, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 630}, {152, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_pots_sway0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{21, 19}, {124, 131}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{152, 155}</string>
			<key>spriteSourceSize</key>
			<string>{152, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{310, 159}, {152, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_pots_sway0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{19, 18}, {124, 131}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{152, 155}</string>
			<key>spriteSourceSize</key>
			<string>{152, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{156, 316}, {152, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_pots_sway0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{17, 19}, {126, 131}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{152, 155}</string>
			<key>spriteSourceSize</key>
			<string>{152, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{310, 787}, {152, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_pots_sway0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 19}, {128, 131}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{152, 155}</string>
			<key>spriteSourceSize</key>
			<string>{152, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{156, 159}, {152, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_pots_sway0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{15, 19}, {128, 129}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{152, 155}</string>
			<key>spriteSourceSize</key>
			<string>{152, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{464, 630}, {152, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_pots_sway0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{14, 19}, {130, 129}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{152, 155}</string>
			<key>spriteSourceSize</key>
			<string>{152, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{156, 473}, {152, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_pots_sway0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{14, 19}, {130, 129}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{152, 155}</string>
			<key>spriteSourceSize</key>
			<string>{152, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{464, 2}, {152, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_pots_sway0016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{14, 19}, {130, 129}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{152, 155}</string>
			<key>spriteSourceSize</key>
			<string>{152, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{310, 473}, {152, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_pots_sway0017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{15, 19}, {128, 129}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{152, 155}</string>
			<key>spriteSourceSize</key>
			<string>{152, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 787}, {152, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_pots_sway0018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 18}, {128, 131}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{152, 155}</string>
			<key>spriteSourceSize</key>
			<string>{152, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{772, 316}, {152, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_pots_sway0019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{18, 19}, {126, 129}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{152, 155}</string>
			<key>spriteSourceSize</key>
			<string>{152, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{156, 2}, {152, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_pots_sway0020.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{20, 18}, {124, 131}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{152, 155}</string>
			<key>spriteSourceSize</key>
			<string>{152, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{464, 159}, {152, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_pots_sway0021.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{22, 18}, {122, 131}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{152, 155}</string>
			<key>spriteSourceSize</key>
			<string>{152, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{156, 630}, {152, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_pots_sway0022.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{24, 19}, {120, 129}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{152, 155}</string>
			<key>spriteSourceSize</key>
			<string>{152, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{772, 2}, {152, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_pots_sway0023.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{26, 18}, {118, 131}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{152, 155}</string>
			<key>spriteSourceSize</key>
			<string>{152, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{156, 787}, {152, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_pots_sway0024.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{29, 18}, {114, 131}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{152, 155}</string>
			<key>spriteSourceSize</key>
			<string>{152, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{618, 316}, {152, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_pots_sway0025.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{30, 18}, {114, 131}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{152, 155}</string>
			<key>spriteSourceSize</key>
			<string>{152, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {152, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_pots_sway0026.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{32, 19}, {112, 131}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{152, 155}</string>
			<key>spriteSourceSize</key>
			<string>{152, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{618, 159}, {152, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_pots_sway0027.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{33, 19}, {112, 131}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{152, 155}</string>
			<key>spriteSourceSize</key>
			<string>{152, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 159}, {152, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_pots_sway0028.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{34, 19}, {114, 131}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{152, 155}</string>
			<key>spriteSourceSize</key>
			<string>{152, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{772, 159}, {152, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_pots_sway0029.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{34, 19}, {114, 131}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{152, 155}</string>
			<key>spriteSourceSize</key>
			<string>{152, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{464, 473}, {152, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_pots_sway0030.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{34, 19}, {116, 131}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{152, 155}</string>
			<key>spriteSourceSize</key>
			<string>{152, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{464, 787}, {152, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{1024, 1024}</string>
	</dict>
</dict>
</plist>