<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>zss</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>com.zwopple.zwoptex.zss.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/octet-stream</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Compressed Zwoptex Sprite Sheet (.zss)</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.zwopple.zwoptex.zss</string>
			</array>
			<key>NSDocumentClass</key>
			<string>ZSSDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>zssxml</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>com.zwopple.zwoptex.zssxml.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/xml</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Uncompressed Zwoptex Sprite Sheet (.zssxml)</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.zwopple.zwoptex.zssxml</string>
			</array>
			<key>NSDocumentClass</key>
			<string>ZSSDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Zwoptex</string>
	<key>CFBundleIconFile</key>
	<string>com.zwopple.zwoptex.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.zwopple.Zwoptex</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Zwoptex</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.7</string>
	<key>CFBundleSignature</key>
	<string>ZWPL</string>
	<key>CFBundleURLTypes</key>
	<array/>
	<key>CFBundleVersion</key>
	<string>31</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.6</string>
	<key>NSMainNibFile</key>
	<string>Zwoptex</string>
	<key>NSPrincipalClass</key>
	<string>ZWTApplication</string>
	<key>NSServices</key>
	<array/>
	<key>SUFeedURL</key>
	<string>http://zwoptexapp.com/sparkle/appcast</string>
	<key>SUPublicDSAKeyFile</key>
	<string>sparkle.pem</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Zwoptex Sprite Sheet (.zss)</string>
			<key>UTTypeIconFile</key>
			<string>com.zwopple.zwoptex.zss</string>
			<key>UTTypeIdentifier</key>
			<string>com.zwopple.zwoptex.zss</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>zss</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/octet-stream</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Uncompressed Zwoptex Sprite Sheet (.zssxml)</string>
			<key>UTTypeIconFile</key>
			<string>com.zwopple.zwoptex.zssxml</string>
			<key>UTTypeIdentifier</key>
			<string>com.zwopple.zwoptex.zssxml</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>zssxml</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>text/xml</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Zwoptex Sprite Package (.zsp)</string>
			<key>UTTypeIconFile</key>
			<string>com.zwopple.zwoptex.zsp</string>
			<key>UTTypeIdentifier</key>
			<string>com.zwopple.zwoptex.zsp</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>zsp</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/octet-stream</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array/>
</dict>
</plist>
