<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch24_pulley_ropes_CW0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{11, 7}, {160, 113}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{176, 125}</string>
			<key>spriteSourceSize</key>
			<string>{176, 125}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 383}, {176, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch24_pulley_ropes_CW0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{11, 7}, {160, 113}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{176, 125}</string>
			<key>spriteSourceSize</key>
			<string>{176, 125}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{358, 2}, {176, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch24_pulley_ropes_CW0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{11, 7}, {160, 113}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{176, 125}</string>
			<key>spriteSourceSize</key>
			<string>{176, 125}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 256}, {176, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch24_pulley_ropes_CW0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{11, 7}, {160, 113}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{176, 125}</string>
			<key>spriteSourceSize</key>
			<string>{176, 125}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{358, 129}, {176, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch24_pulley_ropes_CW0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{11, 7}, {160, 113}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{176, 125}</string>
			<key>spriteSourceSize</key>
			<string>{176, 125}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{180, 383}, {176, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch24_pulley_ropes_CW0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{11, 7}, {160, 113}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{176, 125}</string>
			<key>spriteSourceSize</key>
			<string>{176, 125}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {176, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch24_pulley_ropes_CW0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{11, 7}, {160, 113}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{176, 125}</string>
			<key>spriteSourceSize</key>
			<string>{176, 125}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{180, 2}, {176, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch24_pulley_ropes_CW0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{11, 7}, {160, 113}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{176, 125}</string>
			<key>spriteSourceSize</key>
			<string>{176, 125}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{180, 256}, {176, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch24_pulley_ropes_CW0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{11, 7}, {160, 113}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{176, 125}</string>
			<key>spriteSourceSize</key>
			<string>{176, 125}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{180, 129}, {176, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch24_pulley_ropes_CW0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{11, 7}, {160, 113}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{176, 125}</string>
			<key>spriteSourceSize</key>
			<string>{176, 125}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 129}, {176, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{1024, 512}</string>
	</dict>
</dict>
</plist>