<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch12_lightning0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {247, 449}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{253, 453}</string>
			<key>spriteSourceSize</key>
			<string>{253, 453}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {253, 453}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch12_lightning0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {253, 453}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{253, 453}</string>
			<key>spriteSourceSize</key>
			<string>{253, 453}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{257, 2}, {253, 453}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch12_lightning0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {247, 449}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{253, 453}</string>
			<key>spriteSourceSize</key>
			<string>{253, 453}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{512, 2}, {253, 453}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch12_lightning0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {247, 449}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{253, 453}</string>
			<key>spriteSourceSize</key>
			<string>{253, 453}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{767, 2}, {253, 453}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch12_lightning0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {247, 449}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{253, 453}</string>
			<key>spriteSourceSize</key>
			<string>{253, 453}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 457}, {253, 453}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch12_lightning0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {247, 449}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{253, 453}</string>
			<key>spriteSourceSize</key>
			<string>{253, 453}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{257, 457}, {253, 453}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch12_lightning0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {247, 449}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{253, 453}</string>
			<key>spriteSourceSize</key>
			<string>{253, 453}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{512, 457}, {253, 453}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch12_lightning0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {247, 449}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{253, 453}</string>
			<key>spriteSourceSize</key>
			<string>{253, 453}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{767, 457}, {253, 453}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch12_lightning0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {247, 449}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{253, 453}</string>
			<key>spriteSourceSize</key>
			<string>{253, 453}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 912}, {253, 453}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch12_lightning0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {247, 449}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{253, 453}</string>
			<key>spriteSourceSize</key>
			<string>{253, 453}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 1367}, {253, 453}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch12_lightning0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 6}, {247, 447}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{253, 453}</string>
			<key>spriteSourceSize</key>
			<string>{253, 453}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{257, 912}, {253, 453}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch12_lightning0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {253, 453}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{253, 453}</string>
			<key>spriteSourceSize</key>
			<string>{253, 453}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{257, 1367}, {253, 453}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{1024, 2048}</string>
	</dict>
</dict>
</plist>