<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch31a_LJS_grumbles0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {63, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{63, 53}</string>
			<key>spriteSourceSize</key>
			<string>{63, 53}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{67, 442}, {63, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch31a_LJS_grumbles0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {63, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{63, 53}</string>
			<key>spriteSourceSize</key>
			<string>{63, 53}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 57}, {63, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch31a_LJS_grumbles0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {63, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{63, 53}</string>
			<key>spriteSourceSize</key>
			<string>{63, 53}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{132, 2}, {63, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch31a_LJS_grumbles0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {63, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{63, 53}</string>
			<key>spriteSourceSize</key>
			<string>{63, 53}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{67, 2}, {63, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch31a_LJS_grumbles0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {63, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{63, 53}</string>
			<key>spriteSourceSize</key>
			<string>{63, 53}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 222}, {63, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch31a_LJS_grumbles0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {63, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{63, 53}</string>
			<key>spriteSourceSize</key>
			<string>{63, 53}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 112}, {63, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch31a_LJS_grumbles0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {63, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{63, 53}</string>
			<key>spriteSourceSize</key>
			<string>{63, 53}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{132, 57}, {63, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch31a_LJS_grumbles0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {63, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{63, 53}</string>
			<key>spriteSourceSize</key>
			<string>{63, 53}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{67, 222}, {63, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch31a_LJS_grumbles0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {63, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{63, 53}</string>
			<key>spriteSourceSize</key>
			<string>{63, 53}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 387}, {63, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch31a_LJS_grumbles0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {63, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{63, 53}</string>
			<key>spriteSourceSize</key>
			<string>{63, 53}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 277}, {63, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch31a_LJS_grumbles0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {63, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{63, 53}</string>
			<key>spriteSourceSize</key>
			<string>{63, 53}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{132, 112}, {63, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch31a_LJS_grumbles0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {63, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{63, 53}</string>
			<key>spriteSourceSize</key>
			<string>{63, 53}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 442}, {63, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch31a_LJS_grumbles0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {63, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{63, 53}</string>
			<key>spriteSourceSize</key>
			<string>{63, 53}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{67, 167}, {63, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch31a_LJS_grumbles0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {63, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{63, 53}</string>
			<key>spriteSourceSize</key>
			<string>{63, 53}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{67, 57}, {63, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch31a_LJS_grumbles0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {63, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{63, 53}</string>
			<key>spriteSourceSize</key>
			<string>{63, 53}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 332}, {63, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch31a_LJS_grumbles0016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {63, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{63, 53}</string>
			<key>spriteSourceSize</key>
			<string>{63, 53}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {63, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch31a_LJS_grumbles0017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {63, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{63, 53}</string>
			<key>spriteSourceSize</key>
			<string>{63, 53}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{67, 112}, {63, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch31a_LJS_grumbles0018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {63, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{63, 53}</string>
			<key>spriteSourceSize</key>
			<string>{63, 53}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 167}, {63, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch31a_LJS_grumbles0019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {63, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{63, 53}</string>
			<key>spriteSourceSize</key>
			<string>{63, 53}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{67, 387}, {63, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch31a_LJS_grumbles0020.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {63, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{63, 53}</string>
			<key>spriteSourceSize</key>
			<string>{63, 53}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{67, 332}, {63, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch31a_LJS_grumbles0021.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {63, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{63, 53}</string>
			<key>spriteSourceSize</key>
			<string>{63, 53}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{67, 277}, {63, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{256, 512}</string>
	</dict>
</dict>
</plist>