<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch13_LJS_talks0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {156, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{156, 104}</string>
			<key>spriteSourceSize</key>
			<string>{156, 104}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 214}, {156, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch13_LJS_talks0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {156, 102}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{156, 104}</string>
			<key>spriteSourceSize</key>
			<string>{156, 104}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{476, 214}, {156, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch13_LJS_talks0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {156, 104}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{156, 104}</string>
			<key>spriteSourceSize</key>
			<string>{156, 104}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{318, 214}, {156, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch13_LJS_talks0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {156, 104}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{156, 104}</string>
			<key>spriteSourceSize</key>
			<string>{156, 104}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{160, 320}, {156, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch13_LJS_talks0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {156, 104}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{156, 104}</string>
			<key>spriteSourceSize</key>
			<string>{156, 104}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{318, 108}, {156, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch13_LJS_talks0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {156, 104}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{156, 104}</string>
			<key>spriteSourceSize</key>
			<string>{156, 104}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{634, 2}, {156, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch13_LJS_talks0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {156, 104}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{156, 104}</string>
			<key>spriteSourceSize</key>
			<string>{156, 104}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{792, 108}, {156, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch13_LJS_talks0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {156, 104}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{156, 104}</string>
			<key>spriteSourceSize</key>
			<string>{156, 104}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{318, 2}, {156, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch13_LJS_talks0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {156, 102}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{156, 104}</string>
			<key>spriteSourceSize</key>
			<string>{156, 104}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {156, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch13_LJS_talks0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {156, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{156, 104}</string>
			<key>spriteSourceSize</key>
			<string>{156, 104}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{792, 2}, {156, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch13_LJS_talks0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {156, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{156, 104}</string>
			<key>spriteSourceSize</key>
			<string>{156, 104}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {156, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch13_LJS_talks0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {156, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{156, 104}</string>
			<key>spriteSourceSize</key>
			<string>{156, 104}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 108}, {156, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch13_LJS_talks0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {156, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{156, 104}</string>
			<key>spriteSourceSize</key>
			<string>{156, 104}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{634, 320}, {156, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch13_LJS_talks0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {156, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{156, 104}</string>
			<key>spriteSourceSize</key>
			<string>{156, 104}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{634, 108}, {156, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch13_LJS_talks0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {156, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{156, 104}</string>
			<key>spriteSourceSize</key>
			<string>{156, 104}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{476, 108}, {156, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch13_LJS_talks0016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {156, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{156, 104}</string>
			<key>spriteSourceSize</key>
			<string>{156, 104}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 320}, {156, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch13_LJS_talks0017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {156, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{156, 104}</string>
			<key>spriteSourceSize</key>
			<string>{156, 104}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {156, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch13_LJS_talks0018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {156, 102}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{156, 104}</string>
			<key>spriteSourceSize</key>
			<string>{156, 104}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{160, 2}, {156, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch13_LJS_talks0019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {156, 102}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{156, 104}</string>
			<key>spriteSourceSize</key>
			<string>{156, 104}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{476, 320}, {156, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch13_LJS_talks0020.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {156, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{156, 104}</string>
			<key>spriteSourceSize</key>
			<string>{156, 104}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{634, 214}, {156, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch13_LJS_talks0021.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {156, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{156, 104}</string>
			<key>spriteSourceSize</key>
			<string>{156, 104}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{160, 214}, {156, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch13_LJS_talks0022.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {156, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{156, 104}</string>
			<key>spriteSourceSize</key>
			<string>{156, 104}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{318, 320}, {156, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch13_LJS_talks0023.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {156, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{156, 104}</string>
			<key>spriteSourceSize</key>
			<string>{156, 104}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{792, 320}, {156, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch13_LJS_talks0024.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {156, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{156, 104}</string>
			<key>spriteSourceSize</key>
			<string>{156, 104}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {156, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch13_LJS_talks0025.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {156, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{156, 104}</string>
			<key>spriteSourceSize</key>
			<string>{156, 104}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{792, 214}, {156, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch13_LJS_talks0026.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {156, 102}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{156, 104}</string>
			<key>spriteSourceSize</key>
			<string>{156, 104}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{476, 2}, {156, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch13_LJS_talks0027.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {156, 102}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{156, 104}</string>
			<key>spriteSourceSize</key>
			<string>{156, 104}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {156, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch13_LJS_talks0028.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {156, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{156, 104}</string>
			<key>spriteSourceSize</key>
			<string>{156, 104}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{160, 108}, {156, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch13_LJS_talks0029.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {156, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{156, 104}</string>
			<key>spriteSourceSize</key>
			<string>{156, 104}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {156, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch13_LJS_talks0030.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {156, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{156, 104}</string>
			<key>spriteSourceSize</key>
			<string>{156, 104}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {156, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{1024, 512}</string>
	</dict>
</dict>
</plist>