<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch7_smoke_10001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {110, 170}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110, 170}</string>
			<key>spriteSourceSize</key>
			<string>{110, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 1550}, {110, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_10002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{33, 132}, {6, 4}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110, 170}</string>
			<key>spriteSourceSize</key>
			<string>{110, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{114, 690}, {110, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_10003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{31, 129}, {10, 8}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110, 170}</string>
			<key>spriteSourceSize</key>
			<string>{110, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{898, 174}, {110, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_10004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{31, 126}, {10, 10}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110, 170}</string>
			<key>spriteSourceSize</key>
			<string>{110, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 690}, {110, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_10005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{31, 123}, {12, 12}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110, 170}</string>
			<key>spriteSourceSize</key>
			<string>{110, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{786, 2}, {110, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_10006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{31, 120}, {12, 16}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110, 170}</string>
			<key>spriteSourceSize</key>
			<string>{110, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{114, 1034}, {110, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_10007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{31, 117}, {12, 20}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110, 170}</string>
			<key>spriteSourceSize</key>
			<string>{110, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{674, 690}, {110, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_10008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{31, 115}, {14, 20}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110, 170}</string>
			<key>spriteSourceSize</key>
			<string>{110, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{562, 174}, {110, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_10009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{31, 112}, {14, 24}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110, 170}</string>
			<key>spriteSourceSize</key>
			<string>{110, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{786, 518}, {110, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_10010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{30, 109}, {16, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110, 170}</string>
			<key>spriteSourceSize</key>
			<string>{110, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{674, 346}, {110, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_10011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{31, 106}, {16, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110, 170}</string>
			<key>spriteSourceSize</key>
			<string>{110, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{226, 518}, {110, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_10012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{31, 104}, {18, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110, 170}</string>
			<key>spriteSourceSize</key>
			<string>{110, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{786, 862}, {110, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_10013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{31, 102}, {20, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110, 170}</string>
			<key>spriteSourceSize</key>
			<string>{110, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{226, 346}, {110, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_10014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{31, 99}, {22, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110, 170}</string>
			<key>spriteSourceSize</key>
			<string>{110, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {110, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_10015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{31, 97}, {24, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110, 170}</string>
			<key>spriteSourceSize</key>
			<string>{110, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{114, 1378}, {110, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_10016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{31, 95}, {26, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110, 170}</string>
			<key>spriteSourceSize</key>
			<string>{110, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{898, 2}, {110, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_10017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{31, 93}, {28, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110, 170}</string>
			<key>spriteSourceSize</key>
			<string>{110, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{898, 690}, {110, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_10018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{32, 91}, {28, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110, 170}</string>
			<key>spriteSourceSize</key>
			<string>{110, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{226, 2}, {110, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_10019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{32, 89}, {30, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110, 170}</string>
			<key>spriteSourceSize</key>
			<string>{110, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{338, 862}, {110, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_10020.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{33, 87}, {30, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110, 170}</string>
			<key>spriteSourceSize</key>
			<string>{110, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{114, 174}, {110, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_10021.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{33, 84}, {34, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110, 170}</string>
			<key>spriteSourceSize</key>
			<string>{110, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{786, 174}, {110, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_10022.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{34, 82}, {34, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110, 170}</string>
			<key>spriteSourceSize</key>
			<string>{110, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 1378}, {110, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_10023.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{35, 80}, {34, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110, 170}</string>
			<key>spriteSourceSize</key>
			<string>{110, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{114, 862}, {110, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_10024.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{36, 78}, {36, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110, 170}</string>
			<key>spriteSourceSize</key>
			<string>{110, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{562, 862}, {110, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_10025.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{38, 76}, {36, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110, 170}</string>
			<key>spriteSourceSize</key>
			<string>{110, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{450, 690}, {110, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_10026.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{39, 74}, {36, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110, 170}</string>
			<key>spriteSourceSize</key>
			<string>{110, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{338, 346}, {110, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_10027.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{40, 72}, {38, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110, 170}</string>
			<key>spriteSourceSize</key>
			<string>{110, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{450, 2}, {110, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_10028.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{41, 69}, {38, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110, 170}</string>
			<key>spriteSourceSize</key>
			<string>{110, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 1722}, {110, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_10029.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{43, 67}, {38, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110, 170}</string>
			<key>spriteSourceSize</key>
			<string>{110, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{338, 2}, {110, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_10030.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{44, 65}, {38, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110, 170}</string>
			<key>spriteSourceSize</key>
			<string>{110, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{450, 346}, {110, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_10031.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{45, 62}, {38, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110, 170}</string>
			<key>spriteSourceSize</key>
			<string>{110, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{898, 346}, {110, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_10032.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{47, 60}, {38, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110, 170}</string>
			<key>spriteSourceSize</key>
			<string>{110, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 346}, {110, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_10033.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{48, 57}, {40, 46}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110, 170}</string>
			<key>spriteSourceSize</key>
			<string>{110, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{674, 862}, {110, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_10034.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{49, 54}, {40, 46}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110, 170}</string>
			<key>spriteSourceSize</key>
			<string>{110, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{674, 2}, {110, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_10035.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{51, 51}, {38, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110, 170}</string>
			<key>spriteSourceSize</key>
			<string>{110, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 1206}, {110, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_10036.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{52, 47}, {38, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110, 170}</string>
			<key>spriteSourceSize</key>
			<string>{110, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 518}, {110, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_10037.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{53, 44}, {36, 52}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110, 170}</string>
			<key>spriteSourceSize</key>
			<string>{110, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{114, 2}, {110, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_10038.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{55, 41}, {36, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110, 170}</string>
			<key>spriteSourceSize</key>
			<string>{110, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{226, 1034}, {110, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_10039.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{56, 38}, {34, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110, 170}</string>
			<key>spriteSourceSize</key>
			<string>{110, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{562, 690}, {110, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_10040.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{57, 34}, {34, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110, 170}</string>
			<key>spriteSourceSize</key>
			<string>{110, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{450, 518}, {110, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_10041.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{59, 31}, {32, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110, 170}</string>
			<key>spriteSourceSize</key>
			<string>{110, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 1034}, {110, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_10042.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{60, 28}, {32, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110, 170}</string>
			<key>spriteSourceSize</key>
			<string>{110, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{786, 690}, {110, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_10043.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{61, 24}, {32, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110, 170}</string>
			<key>spriteSourceSize</key>
			<string>{110, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{114, 346}, {110, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_10044.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{62, 21}, {32, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110, 170}</string>
			<key>spriteSourceSize</key>
			<string>{110, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 174}, {110, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_10045.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{63, 18}, {32, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110, 170}</string>
			<key>spriteSourceSize</key>
			<string>{110, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{226, 690}, {110, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_10046.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{64, 16}, {32, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110, 170}</string>
			<key>spriteSourceSize</key>
			<string>{110, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{562, 518}, {110, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_10047.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{66, 40}, {24, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110, 170}</string>
			<key>spriteSourceSize</key>
			<string>{110, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{450, 174}, {110, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_10048.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{67, 38}, {24, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110, 170}</string>
			<key>spriteSourceSize</key>
			<string>{110, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{338, 174}, {110, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_10049.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{67, 36}, {24, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110, 170}</string>
			<key>spriteSourceSize</key>
			<string>{110, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{450, 862}, {110, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_10050.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{68, 33}, {24, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110, 170}</string>
			<key>spriteSourceSize</key>
			<string>{110, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{114, 1550}, {110, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_10051.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{68, 30}, {24, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110, 170}</string>
			<key>spriteSourceSize</key>
			<string>{110, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{226, 862}, {110, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_10052.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{68, 28}, {26, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110, 170}</string>
			<key>spriteSourceSize</key>
			<string>{110, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{114, 518}, {110, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_10053.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{69, 26}, {26, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110, 170}</string>
			<key>spriteSourceSize</key>
			<string>{110, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{898, 862}, {110, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_10054.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{69, 24}, {26, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110, 170}</string>
			<key>spriteSourceSize</key>
			<string>{110, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{114, 1206}, {110, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_10055.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{69, 22}, {28, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110, 170}</string>
			<key>spriteSourceSize</key>
			<string>{110, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{898, 518}, {110, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_10056.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{69, 20}, {28, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110, 170}</string>
			<key>spriteSourceSize</key>
			<string>{110, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{562, 346}, {110, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_10057.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{69, 33}, {22, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110, 170}</string>
			<key>spriteSourceSize</key>
			<string>{110, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{674, 518}, {110, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_10058.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{69, 30}, {22, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110, 170}</string>
			<key>spriteSourceSize</key>
			<string>{110, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{338, 518}, {110, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_10059.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{70, 28}, {22, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110, 170}</string>
			<key>spriteSourceSize</key>
			<string>{110, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{562, 2}, {110, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_10060.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{70, 25}, {22, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110, 170}</string>
			<key>spriteSourceSize</key>
			<string>{110, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{226, 174}, {110, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_10061.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{71, 22}, {22, 24}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110, 170}</string>
			<key>spriteSourceSize</key>
			<string>{110, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{114, 1722}, {110, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_10062.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{72, 20}, {22, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110, 170}</string>
			<key>spriteSourceSize</key>
			<string>{110, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{674, 174}, {110, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_10063.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{73, 17}, {22, 24}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110, 170}</string>
			<key>spriteSourceSize</key>
			<string>{110, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{338, 690}, {110, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_10064.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{74, 16}, {22, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110, 170}</string>
			<key>spriteSourceSize</key>
			<string>{110, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{786, 346}, {110, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_10065.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {110, 170}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110, 170}</string>
			<key>spriteSourceSize</key>
			<string>{110, 170}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 862}, {110, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{1024, 2048}</string>
	</dict>
</dict>
</plist>