<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch6_pipe_smoke0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 50}</string>
			<key>spriteSourceSize</key>
			<string>{25, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{191, 54}, {25, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_pipe_smoke0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 46}, {1, 2}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 50}</string>
			<key>spriteSourceSize</key>
			<string>{25, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{164, 54}, {25, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_pipe_smoke0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 44}, {7, 4}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 50}</string>
			<key>spriteSourceSize</key>
			<string>{25, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{137, 54}, {25, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_pipe_smoke0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 41}, {9, 8}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 50}</string>
			<key>spriteSourceSize</key>
			<string>{25, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{110, 54}, {25, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_pipe_smoke0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 39}, {11, 10}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 50}</string>
			<key>spriteSourceSize</key>
			<string>{25, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{83, 158}, {25, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_pipe_smoke0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 36}, {11, 12}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 50}</string>
			<key>spriteSourceSize</key>
			<string>{25, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{83, 106}, {25, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_pipe_smoke0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 33}, {11, 12}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 50}</string>
			<key>spriteSourceSize</key>
			<string>{25, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{83, 54}, {25, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_pipe_smoke0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 31}, {13, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 50}</string>
			<key>spriteSourceSize</key>
			<string>{25, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{56, 158}, {25, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_pipe_smoke0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 28}, {13, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 50}</string>
			<key>spriteSourceSize</key>
			<string>{25, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{56, 106}, {25, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_pipe_smoke0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 25}, {13, 24}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 50}</string>
			<key>spriteSourceSize</key>
			<string>{25, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{56, 54}, {25, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_pipe_smoke0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 23}, {15, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 50}</string>
			<key>spriteSourceSize</key>
			<string>{25, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{218, 2}, {25, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_pipe_smoke0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 20}, {15, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 50}</string>
			<key>spriteSourceSize</key>
			<string>{25, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{191, 2}, {25, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_pipe_smoke0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 18}, {15, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 50}</string>
			<key>spriteSourceSize</key>
			<string>{25, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{164, 2}, {25, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_pipe_smoke0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 16}, {17, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 50}</string>
			<key>spriteSourceSize</key>
			<string>{25, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{137, 2}, {25, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_pipe_smoke0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 13}, {17, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 50}</string>
			<key>spriteSourceSize</key>
			<string>{25, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{110, 2}, {25, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_pipe_smoke0016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 11}, {17, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 50}</string>
			<key>spriteSourceSize</key>
			<string>{25, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{83, 2}, {25, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_pipe_smoke0017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 8}, {19, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 50}</string>
			<key>spriteSourceSize</key>
			<string>{25, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{56, 2}, {25, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_pipe_smoke0018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 6}, {19, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 50}</string>
			<key>spriteSourceSize</key>
			<string>{25, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{29, 158}, {25, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_pipe_smoke0019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {21, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 50}</string>
			<key>spriteSourceSize</key>
			<string>{25, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{29, 106}, {25, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_pipe_smoke0020.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 9}, {19, 24}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 50}</string>
			<key>spriteSourceSize</key>
			<string>{25, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{29, 54}, {25, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_pipe_smoke0021.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 5}, {19, 24}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 50}</string>
			<key>spriteSourceSize</key>
			<string>{25, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{29, 2}, {25, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_pipe_smoke0022.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 10}, {17, 18}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 50}</string>
			<key>spriteSourceSize</key>
			<string>{25, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 158}, {25, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_pipe_smoke0023.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 7}, {19, 18}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 50}</string>
			<key>spriteSourceSize</key>
			<string>{25, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 106}, {25, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_pipe_smoke0024.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 4}, {19, 18}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 50}</string>
			<key>spriteSourceSize</key>
			<string>{25, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 54}, {25, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_pipe_smoke0025.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 50}</string>
			<key>spriteSourceSize</key>
			<string>{25, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {25, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{256, 256}</string>
	</dict>
</dict>
</plist>