<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch10a_LJS_talks0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 21}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{110, 116}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{56, 135}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{29, 97}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{83, 59}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{110, 135}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{164, 78}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{191, 78}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{83, 173}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{218, 116}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{56, 40}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{164, 2}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{29, 59}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{110, 173}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{218, 40}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{110, 192}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{29, 40}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{110, 40}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{83, 154}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0020.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{56, 173}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0021.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{110, 2}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0022.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{164, 40}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0023.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{191, 116}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0024.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{110, 21}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0025.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 40}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0026.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{164, 59}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0027.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{164, 97}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0028.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{56, 211}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0029.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{29, 211}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0030.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{137, 59}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0031.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{56, 97}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0032.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 154}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0033.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{83, 192}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0034.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 97}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0035.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{56, 116}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0036.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{110, 59}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0037.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{218, 59}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0038.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{218, 21}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0039.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0040.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{137, 2}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0041.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{137, 78}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0042.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{29, 21}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0043.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{137, 40}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0044.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{191, 2}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0045.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{191, 21}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0046.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{29, 116}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0047.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{29, 192}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0048.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 173}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0049.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{110, 97}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0050.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{164, 21}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0051.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{29, 2}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0052.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{137, 21}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0053.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{137, 97}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0054.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{218, 2}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0055.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{110, 154}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0056.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{29, 230}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0057.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{110, 78}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0058.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{29, 78}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0059.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{29, 135}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0060.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{56, 21}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0061.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{56, 192}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0062.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{191, 59}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0063.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{218, 97}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0064.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{191, 97}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0065.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 59}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0066.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{56, 59}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0067.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{83, 97}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0068.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{83, 78}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0069.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 211}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0070.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{83, 21}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0071.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{164, 116}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0072.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{83, 2}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0073.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 192}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0074.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 78}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0075.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{83, 135}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0076.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{83, 116}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0077.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{83, 40}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0078.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{56, 154}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0079.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{29, 154}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0080.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 230}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0081.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{137, 116}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0082.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{29, 173}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0083.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{56, 78}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0084.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{83, 211}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0085.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{56, 230}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0086.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 116}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0087.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{218, 78}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0088.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{83, 230}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0089.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{56, 2}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0090.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{191, 40}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10a_LJS_talks0091.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 17}</string>
			<key>spriteSourceSize</key>
			<string>{25, 17}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 135}, {25, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{256, 256}</string>
	</dict>
</dict>
</plist>