<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch5_lantern_swing0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{14, 14}, {251, 122}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{265, 180}</string>
			<key>spriteSourceSize</key>
			<string>{265, 180}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 730}, {265, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch5_lantern_swing0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{14, 21}, {251, 122}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{265, 180}</string>
			<key>spriteSourceSize</key>
			<string>{265, 180}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{536, 2}, {265, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch5_lantern_swing0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 26}, {249, 122}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{265, 180}</string>
			<key>spriteSourceSize</key>
			<string>{265, 180}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {265, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch5_lantern_swing0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{20, 29}, {245, 122}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{265, 180}</string>
			<key>spriteSourceSize</key>
			<string>{265, 180}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{803, 2}, {265, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch5_lantern_swing0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{24, 32}, {241, 124}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{265, 180}</string>
			<key>spriteSourceSize</key>
			<string>{265, 180}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{536, 366}, {265, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch5_lantern_swing0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{28, 32}, {237, 126}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{265, 180}</string>
			<key>spriteSourceSize</key>
			<string>{265, 180}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 366}, {265, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch5_lantern_swing0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{30, 32}, {235, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{265, 180}</string>
			<key>spriteSourceSize</key>
			<string>{265, 180}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{803, 184}, {265, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch5_lantern_swing0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{36, 32}, {229, 132}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{265, 180}</string>
			<key>spriteSourceSize</key>
			<string>{265, 180}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{803, 548}, {265, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch5_lantern_swing0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{40, 32}, {225, 134}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{265, 180}</string>
			<key>spriteSourceSize</key>
			<string>{265, 180}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{269, 366}, {265, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch5_lantern_swing0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{46, 32}, {219, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{265, 180}</string>
			<key>spriteSourceSize</key>
			<string>{265, 180}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{803, 366}, {265, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch5_lantern_swing0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{52, 32}, {213, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{265, 180}</string>
			<key>spriteSourceSize</key>
			<string>{265, 180}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{269, 184}, {265, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch5_lantern_swing0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{56, 32}, {209, 134}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{265, 180}</string>
			<key>spriteSourceSize</key>
			<string>{265, 180}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{269, 2}, {265, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch5_lantern_swing0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{60, 32}, {205, 132}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{265, 180}</string>
			<key>spriteSourceSize</key>
			<string>{265, 180}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{803, 730}, {265, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch5_lantern_swing0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{64, 32}, {201, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{265, 180}</string>
			<key>spriteSourceSize</key>
			<string>{265, 180}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{536, 730}, {265, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch5_lantern_swing0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{68, 32}, {197, 128}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{265, 180}</string>
			<key>spriteSourceSize</key>
			<string>{265, 180}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{269, 548}, {265, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch5_lantern_swing0016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{72, 32}, {193, 126}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{265, 180}</string>
			<key>spriteSourceSize</key>
			<string>{265, 180}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1070, 2}, {265, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch5_lantern_swing0017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{74, 32}, {191, 124}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{265, 180}</string>
			<key>spriteSourceSize</key>
			<string>{265, 180}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{269, 730}, {265, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch5_lantern_swing0018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{76, 29}, {189, 122}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{265, 180}</string>
			<key>spriteSourceSize</key>
			<string>{265, 180}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 184}, {265, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch5_lantern_swing0019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{78, 24}, {187, 124}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{265, 180}</string>
			<key>spriteSourceSize</key>
			<string>{265, 180}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{536, 548}, {265, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch5_lantern_swing0020.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{78, 19}, {187, 124}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{265, 180}</string>
			<key>spriteSourceSize</key>
			<string>{265, 180}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 548}, {265, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch5_lantern_swing0021.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{80, 14}, {185, 124}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{265, 180}</string>
			<key>spriteSourceSize</key>
			<string>{265, 180}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{536, 184}, {265, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{2048, 1024}</string>
	</dict>
</dict>
</plist>