<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch10_pot_boils0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 8}, {100, 190}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{104, 206}</string>
			<key>spriteSourceSize</key>
			<string>{104, 206}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {104, 206}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_pot_boils0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 6}, {100, 192}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{104, 206}</string>
			<key>spriteSourceSize</key>
			<string>{104, 206}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 210}, {104, 206}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_pot_boils0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 5}, {100, 194}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{104, 206}</string>
			<key>spriteSourceSize</key>
			<string>{104, 206}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 418}, {104, 206}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_pot_boils0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 5}, {100, 194}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{104, 206}</string>
			<key>spriteSourceSize</key>
			<string>{104, 206}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 626}, {104, 206}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_pot_boils0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 5}, {100, 194}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{104, 206}</string>
			<key>spriteSourceSize</key>
			<string>{104, 206}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{108, 2}, {104, 206}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_pot_boils0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 5}, {100, 194}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{104, 206}</string>
			<key>spriteSourceSize</key>
			<string>{104, 206}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{108, 210}, {104, 206}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_pot_boils0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 6}, {100, 192}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{104, 206}</string>
			<key>spriteSourceSize</key>
			<string>{104, 206}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{108, 418}, {104, 206}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_pot_boils0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 5}, {100, 194}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{104, 206}</string>
			<key>spriteSourceSize</key>
			<string>{104, 206}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{108, 626}, {104, 206}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_pot_boils0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 8}, {100, 190}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{104, 206}</string>
			<key>spriteSourceSize</key>
			<string>{104, 206}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{214, 2}, {104, 206}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_pot_boils0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 8}, {100, 190}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{104, 206}</string>
			<key>spriteSourceSize</key>
			<string>{104, 206}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{214, 210}, {104, 206}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{512, 1024}</string>
	</dict>
</dict>
</plist>