<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch30_smoke0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{17, 12}, {28, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{58, 134}</string>
			<key>spriteSourceSize</key>
			<string>{58, 134}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{182, 138}, {58, 134}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch30_smoke0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 11}, {28, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{58, 134}</string>
			<key>spriteSourceSize</key>
			<string>{58, 134}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {58, 134}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch30_smoke0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{17, 11}, {26, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{58, 134}</string>
			<key>spriteSourceSize</key>
			<string>{58, 134}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{62, 138}, {58, 134}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch30_smoke0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 10}, {24, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{58, 134}</string>
			<key>spriteSourceSize</key>
			<string>{58, 134}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{62, 2}, {58, 134}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch30_smoke0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{17, 9}, {24, 122}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{58, 134}</string>
			<key>spriteSourceSize</key>
			<string>{58, 134}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{182, 2}, {58, 134}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch30_smoke0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{17, 11}, {26, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{58, 134}</string>
			<key>spriteSourceSize</key>
			<string>{58, 134}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{122, 138}, {58, 134}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch30_smoke0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{17, 10}, {26, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{58, 134}</string>
			<key>spriteSourceSize</key>
			<string>{58, 134}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 138}, {58, 134}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch30_smoke0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 10}, {28, 122}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{58, 134}</string>
			<key>spriteSourceSize</key>
			<string>{58, 134}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{122, 2}, {58, 134}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch30_smoke0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{17, 10}, {28, 122}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{58, 134}</string>
			<key>spriteSourceSize</key>
			<string>{58, 134}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 274}, {58, 134}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{256, 512}</string>
	</dict>
</dict>
</plist>