<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch24_wave10001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {140, 122}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{140, 122}</string>
			<key>spriteSourceSize</key>
			<string>{140, 122}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 126}, {140, 122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch24_wave10002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{105, 90}, {6, 6}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{140, 122}</string>
			<key>spriteSourceSize</key>
			<string>{140, 122}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{854, 126}, {140, 122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch24_wave10003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{96, 84}, {6, 6}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{140, 122}</string>
			<key>spriteSourceSize</key>
			<string>{140, 122}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{428, 2}, {140, 122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch24_wave10004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{88, 77}, {28, 6}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{140, 122}</string>
			<key>spriteSourceSize</key>
			<string>{140, 122}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{712, 2}, {140, 122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch24_wave10005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{79, 61}, {40, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{140, 122}</string>
			<key>spriteSourceSize</key>
			<string>{140, 122}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{428, 126}, {140, 122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch24_wave10006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{70, 51}, {48, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{140, 122}</string>
			<key>spriteSourceSize</key>
			<string>{140, 122}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{570, 126}, {140, 122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch24_wave10007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{61, 43}, {58, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{140, 122}</string>
			<key>spriteSourceSize</key>
			<string>{140, 122}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{144, 2}, {140, 122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch24_wave10008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{53, 36}, {66, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{140, 122}</string>
			<key>spriteSourceSize</key>
			<string>{140, 122}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{712, 126}, {140, 122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch24_wave10009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{44, 29}, {74, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{140, 122}</string>
			<key>spriteSourceSize</key>
			<string>{140, 122}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {140, 122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch24_wave10010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{36, 23}, {82, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{140, 122}</string>
			<key>spriteSourceSize</key>
			<string>{140, 122}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{286, 2}, {140, 122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch24_wave10011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{29, 25}, {90, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{140, 122}</string>
			<key>spriteSourceSize</key>
			<string>{140, 122}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{144, 126}, {140, 122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch24_wave10012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{28, 29}, {90, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{140, 122}</string>
			<key>spriteSourceSize</key>
			<string>{140, 122}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 250}, {140, 122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch24_wave10013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{19, 35}, {100, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{140, 122}</string>
			<key>spriteSourceSize</key>
			<string>{140, 122}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{854, 2}, {140, 122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch24_wave10014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{17, 42}, {102, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{140, 122}</string>
			<key>spriteSourceSize</key>
			<string>{140, 122}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{570, 2}, {140, 122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch24_wave10015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {140, 122}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{140, 122}</string>
			<key>spriteSourceSize</key>
			<string>{140, 122}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{286, 126}, {140, 122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{1024, 512}</string>
	</dict>
</dict>
</plist>