<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch15_ben_talks0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{462, 332}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_talks0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{370, 332}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_talks0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{278, 332}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_talks0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{186, 332}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_talks0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{94, 332}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_talks0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 332}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_talks0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{922, 266}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_talks0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{830, 266}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_talks0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{738, 266}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_talks0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{646, 266}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_talks0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{554, 266}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_talks0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{462, 266}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_talks0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{370, 266}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_talks0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{278, 266}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_talks0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{186, 266}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_talks0016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{94, 266}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_talks0017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 266}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_talks0018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{922, 200}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_talks0019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{830, 200}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_talks0020.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{738, 200}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_talks0021.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{646, 200}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_talks0022.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{554, 200}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_talks0023.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{462, 200}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_talks0024.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{370, 200}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_talks0025.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{278, 200}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_talks0026.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{186, 200}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_talks0027.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{94, 200}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_talks0028.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 200}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_talks0029.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{922, 134}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_talks0030.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{830, 134}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_talks0031.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{738, 134}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_talks0032.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{646, 134}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_talks0033.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{554, 134}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_talks0034.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{462, 134}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_talks0035.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{370, 134}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_talks0036.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{278, 134}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_talks0037.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{186, 134}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_talks0038.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{94, 134}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_talks0039.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 134}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_talks0040.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{922, 68}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_talks0041.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{830, 68}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_talks0042.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{738, 68}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_talks0043.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{646, 68}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_talks0044.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{554, 68}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_talks0045.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{462, 68}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_talks0046.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{370, 68}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_talks0047.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{278, 68}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_talks0048.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{186, 68}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_talks0049.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{94, 68}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_talks0050.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 68}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_talks0051.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{922, 2}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_talks0052.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{830, 2}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_talks0053.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{738, 2}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_talks0054.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{646, 2}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_talks0055.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{554, 2}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_talks0056.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{462, 2}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_talks0057.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{370, 2}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_talks0058.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{278, 2}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_talks0059.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{186, 2}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_talks0060.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{94, 2}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_talks0061.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{1024, 512}</string>
	</dict>
</dict>
</plist>