<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch10_header0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 18}, {48, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 70}</string>
			<key>spriteSourceSize</key>
			<string>{60, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{436, 2}, {60, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_header0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 18}, {48, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 70}</string>
			<key>spriteSourceSize</key>
			<string>{60, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{250, 74}, {60, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_header0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 18}, {48, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 70}</string>
			<key>spriteSourceSize</key>
			<string>{60, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{126, 146}, {60, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_header0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 17}, {48, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 70}</string>
			<key>spriteSourceSize</key>
			<string>{60, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{312, 74}, {60, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_header0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 16}, {48, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 70}</string>
			<key>spriteSourceSize</key>
			<string>{60, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {60, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_header0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 14}, {48, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 70}</string>
			<key>spriteSourceSize</key>
			<string>{60, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{126, 2}, {60, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_header0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 13}, {48, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 70}</string>
			<key>spriteSourceSize</key>
			<string>{60, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{188, 146}, {60, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_header0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 11}, {48, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 70}</string>
			<key>spriteSourceSize</key>
			<string>{60, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{126, 74}, {60, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_header0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 8}, {48, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 70}</string>
			<key>spriteSourceSize</key>
			<string>{60, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{374, 2}, {60, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_header0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 5}, {48, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 70}</string>
			<key>spriteSourceSize</key>
			<string>{60, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{64, 2}, {60, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_header0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 8}, {48, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 70}</string>
			<key>spriteSourceSize</key>
			<string>{60, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 146}, {60, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_header0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 10}, {48, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 70}</string>
			<key>spriteSourceSize</key>
			<string>{60, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{250, 2}, {60, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_header0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 12}, {48, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 70}</string>
			<key>spriteSourceSize</key>
			<string>{60, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{188, 2}, {60, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_header0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 14}, {48, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 70}</string>
			<key>spriteSourceSize</key>
			<string>{60, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{312, 2}, {60, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_header0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 15}, {48, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 70}</string>
			<key>spriteSourceSize</key>
			<string>{60, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{374, 74}, {60, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_header0016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 16}, {48, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 70}</string>
			<key>spriteSourceSize</key>
			<string>{60, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{64, 74}, {60, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_header0017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 17}, {48, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 70}</string>
			<key>spriteSourceSize</key>
			<string>{60, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 74}, {60, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_header0018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 18}, {48, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 70}</string>
			<key>spriteSourceSize</key>
			<string>{60, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{436, 74}, {60, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_header0019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 18}, {48, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 70}</string>
			<key>spriteSourceSize</key>
			<string>{60, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{64, 146}, {60, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_header0020.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 18}, {48, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 70}</string>
			<key>spriteSourceSize</key>
			<string>{60, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{188, 74}, {60, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{512, 256}</string>
	</dict>
</dict>
</plist>