<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch10_LJS_mouth0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {75, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 70}</string>
			<key>spriteSourceSize</key>
			<string>{75, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {75, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_LJS_mouth0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {75, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 70}</string>
			<key>spriteSourceSize</key>
			<string>{75, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 74}, {75, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_LJS_mouth0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {75, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 70}</string>
			<key>spriteSourceSize</key>
			<string>{75, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{156, 2}, {75, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_LJS_mouth0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {75, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 70}</string>
			<key>spriteSourceSize</key>
			<string>{75, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 146}, {75, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_LJS_mouth0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {75, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 70}</string>
			<key>spriteSourceSize</key>
			<string>{75, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{156, 74}, {75, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_LJS_mouth0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {75, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 70}</string>
			<key>spriteSourceSize</key>
			<string>{75, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{79, 2}, {75, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_LJS_mouth0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {75, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 70}</string>
			<key>spriteSourceSize</key>
			<string>{75, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{79, 74}, {75, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{256, 256}</string>
	</dict>
</dict>
</plist>