<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch32_funny_ben_20001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {49, 51}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{49, 51}</string>
			<key>spriteSourceSize</key>
			<string>{49, 51}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{104, 55}, {49, 51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_funny_ben_20002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {49, 51}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{49, 51}</string>
			<key>spriteSourceSize</key>
			<string>{49, 51}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 55}, {49, 51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_funny_ben_20003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {49, 51}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{49, 51}</string>
			<key>spriteSourceSize</key>
			<string>{49, 51}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{104, 108}, {49, 51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_funny_ben_20004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {49, 51}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{49, 51}</string>
			<key>spriteSourceSize</key>
			<string>{49, 51}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{53, 2}, {49, 51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_funny_ben_20005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {49, 51}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{49, 51}</string>
			<key>spriteSourceSize</key>
			<string>{49, 51}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{155, 108}, {49, 51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_funny_ben_20006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {49, 51}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{49, 51}</string>
			<key>spriteSourceSize</key>
			<string>{49, 51}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {49, 51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_funny_ben_20007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {49, 51}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{49, 51}</string>
			<key>spriteSourceSize</key>
			<string>{49, 51}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{104, 161}, {49, 51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_funny_ben_20008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {49, 51}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{49, 51}</string>
			<key>spriteSourceSize</key>
			<string>{49, 51}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 161}, {49, 51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_funny_ben_20009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {49, 51}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{49, 51}</string>
			<key>spriteSourceSize</key>
			<string>{49, 51}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 108}, {49, 51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_funny_ben_20010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {49, 51}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{49, 51}</string>
			<key>spriteSourceSize</key>
			<string>{49, 51}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{53, 55}, {49, 51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_funny_ben_20011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {49, 51}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{49, 51}</string>
			<key>spriteSourceSize</key>
			<string>{49, 51}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{53, 161}, {49, 51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_funny_ben_20012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {49, 51}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{49, 51}</string>
			<key>spriteSourceSize</key>
			<string>{49, 51}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{155, 55}, {49, 51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_funny_ben_20013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {49, 51}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{49, 51}</string>
			<key>spriteSourceSize</key>
			<string>{49, 51}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{53, 108}, {49, 51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_funny_ben_20014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {49, 51}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{49, 51}</string>
			<key>spriteSourceSize</key>
			<string>{49, 51}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{155, 2}, {49, 51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_funny_ben_20015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {49, 51}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{49, 51}</string>
			<key>spriteSourceSize</key>
			<string>{49, 51}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{104, 2}, {49, 51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{256, 256}</string>
	</dict>
</dict>
</plist>