<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch21_smollet30001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1166, 176}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet30002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1554, 176}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet30003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1360, 176}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet30004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1166, 350}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet30005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1166, 524}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet30006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{584, 698}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet30007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1554, 698}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet30008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1748, 698}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet30009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{584, 350}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet30010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{778, 698}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet30011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{390, 350}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet30012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 350}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet30013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{196, 350}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet30014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1360, 698}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet30015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{778, 2}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet30016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 176}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet30017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1360, 524}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet30018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{972, 524}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet30019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 524}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet30020.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1748, 176}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet30021.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1360, 2}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet30022.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{584, 176}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet30023.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1748, 2}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet30024.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{972, 176}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet30025.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{196, 524}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet30026.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{778, 524}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet30027.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{390, 2}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet30028.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{390, 524}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet30029.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1748, 350}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet30030.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{196, 2}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet30031.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{972, 2}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet30032.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{196, 176}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet30033.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1554, 524}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet30034.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{584, 524}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet30035.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1554, 2}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet30036.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{972, 350}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet30037.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{584, 2}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet30038.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{390, 698}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet30039.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet30040.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1360, 350}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet30041.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1554, 350}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet30042.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1166, 698}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet30043.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1166, 2}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet30044.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{390, 176}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet30045.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{778, 350}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet30046.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1748, 524}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet30047.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{196, 698}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet30048.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{778, 176}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet30049.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{972, 698}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet30050.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 698}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{2048, 1024}</string>
	</dict>
</dict>
</plist>