<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch1_benbow_smoke0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {61, 121}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{65, 125}</string>
			<key>spriteSourceSize</key>
			<string>{65, 125}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{136, 129}, {65, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_benbow_smoke0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {61, 121}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{65, 125}</string>
			<key>spriteSourceSize</key>
			<string>{65, 125}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {65, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_benbow_smoke0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {61, 121}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{65, 125}</string>
			<key>spriteSourceSize</key>
			<string>{65, 125}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{136, 383}, {65, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_benbow_smoke0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {61, 121}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{65, 125}</string>
			<key>spriteSourceSize</key>
			<string>{65, 125}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 383}, {65, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_benbow_smoke0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {61, 121}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{65, 125}</string>
			<key>spriteSourceSize</key>
			<string>{65, 125}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{136, 256}, {65, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_benbow_smoke0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {61, 121}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{65, 125}</string>
			<key>spriteSourceSize</key>
			<string>{65, 125}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{337, 129}, {65, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_benbow_smoke0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {59, 121}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{65, 125}</string>
			<key>spriteSourceSize</key>
			<string>{65, 125}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{404, 2}, {65, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_benbow_smoke0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {59, 121}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{65, 125}</string>
			<key>spriteSourceSize</key>
			<string>{65, 125}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{337, 2}, {65, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_benbow_smoke0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {57, 121}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{65, 125}</string>
			<key>spriteSourceSize</key>
			<string>{65, 125}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{404, 129}, {65, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_benbow_smoke0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {55, 121}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{65, 125}</string>
			<key>spriteSourceSize</key>
			<string>{65, 125}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{203, 129}, {65, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_benbow_smoke0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {55, 121}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{65, 125}</string>
			<key>spriteSourceSize</key>
			<string>{65, 125}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{203, 2}, {65, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_benbow_smoke0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {53, 119}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{65, 125}</string>
			<key>spriteSourceSize</key>
			<string>{65, 125}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{69, 256}, {65, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_benbow_smoke0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {55, 121}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{65, 125}</string>
			<key>spriteSourceSize</key>
			<string>{65, 125}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{203, 383}, {65, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_benbow_smoke0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {55, 121}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{65, 125}</string>
			<key>spriteSourceSize</key>
			<string>{65, 125}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{136, 2}, {65, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_benbow_smoke0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {55, 121}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{65, 125}</string>
			<key>spriteSourceSize</key>
			<string>{65, 125}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 256}, {65, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_benbow_smoke0016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {53, 121}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{65, 125}</string>
			<key>spriteSourceSize</key>
			<string>{65, 125}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 129}, {65, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_benbow_smoke0017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {55, 121}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{65, 125}</string>
			<key>spriteSourceSize</key>
			<string>{65, 125}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{203, 256}, {65, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_benbow_smoke0018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {55, 121}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{65, 125}</string>
			<key>spriteSourceSize</key>
			<string>{65, 125}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{69, 2}, {65, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_benbow_smoke0019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {57, 121}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{65, 125}</string>
			<key>spriteSourceSize</key>
			<string>{65, 125}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{69, 383}, {65, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_benbow_smoke0020.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {57, 121}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{65, 125}</string>
			<key>spriteSourceSize</key>
			<string>{65, 125}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{270, 2}, {65, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_benbow_smoke0021.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {57, 121}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{65, 125}</string>
			<key>spriteSourceSize</key>
			<string>{65, 125}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{69, 129}, {65, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_benbow_smoke0022.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {59, 121}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{65, 125}</string>
			<key>spriteSourceSize</key>
			<string>{65, 125}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{270, 129}, {65, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{512, 512}</string>
	</dict>
</dict>
</plist>