<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch26_spot_cork_pop0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{30, 100}, {136, 302}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{194, 402}</string>
			<key>spriteSourceSize</key>
			<string>{194, 402}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {194, 402}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch26_spot_cork_pop0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{30, 100}, {136, 302}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{194, 402}</string>
			<key>spriteSourceSize</key>
			<string>{194, 402}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{590, 1618}, {194, 402}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch26_spot_cork_pop0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{30, 100}, {136, 302}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{194, 402}</string>
			<key>spriteSourceSize</key>
			<string>{194, 402}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{590, 406}, {194, 402}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch26_spot_cork_pop0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{30, 100}, {136, 302}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{194, 402}</string>
			<key>spriteSourceSize</key>
			<string>{194, 402}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{198, 1618}, {194, 402}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch26_spot_cork_pop0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{30, 100}, {136, 302}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{194, 402}</string>
			<key>spriteSourceSize</key>
			<string>{194, 402}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 1618}, {194, 402}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch26_spot_cork_pop0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{30, 100}, {136, 302}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{194, 402}</string>
			<key>spriteSourceSize</key>
			<string>{194, 402}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{394, 1214}, {194, 402}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch26_spot_cork_pop0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{30, 100}, {136, 302}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{194, 402}</string>
			<key>spriteSourceSize</key>
			<string>{194, 402}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{198, 2}, {194, 402}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch26_spot_cork_pop0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{30, 100}, {136, 302}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{194, 402}</string>
			<key>spriteSourceSize</key>
			<string>{194, 402}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{590, 810}, {194, 402}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch26_spot_cork_pop0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{30, 100}, {136, 302}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{194, 402}</string>
			<key>spriteSourceSize</key>
			<string>{194, 402}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{394, 406}, {194, 402}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch26_spot_cork_pop0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{30, 100}, {136, 302}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{194, 402}</string>
			<key>spriteSourceSize</key>
			<string>{194, 402}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 406}, {194, 402}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch26_spot_cork_pop0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{30, 100}, {136, 302}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{194, 402}</string>
			<key>spriteSourceSize</key>
			<string>{194, 402}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{198, 810}, {194, 402}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch26_spot_cork_pop0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{30, 100}, {136, 302}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{194, 402}</string>
			<key>spriteSourceSize</key>
			<string>{194, 402}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{394, 810}, {194, 402}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch26_spot_cork_pop0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{30, 100}, {136, 302}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{194, 402}</string>
			<key>spriteSourceSize</key>
			<string>{194, 402}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{394, 1618}, {194, 402}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch26_spot_cork_pop0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{30, 100}, {136, 302}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{194, 402}</string>
			<key>spriteSourceSize</key>
			<string>{194, 402}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{198, 406}, {194, 402}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch26_spot_cork_pop0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{30, 106}, {136, 296}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{194, 402}</string>
			<key>spriteSourceSize</key>
			<string>{194, 402}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 810}, {194, 402}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch26_spot_cork_pop0016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{30, 130}, {136, 272}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{194, 402}</string>
			<key>spriteSourceSize</key>
			<string>{194, 402}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 1214}, {194, 402}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch26_spot_cork_pop0017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{30, 100}, {136, 302}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{194, 402}</string>
			<key>spriteSourceSize</key>
			<string>{194, 402}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{590, 1214}, {194, 402}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch26_spot_cork_pop0018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{30, 24}, {136, 378}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{194, 402}</string>
			<key>spriteSourceSize</key>
			<string>{194, 402}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{198, 1214}, {194, 402}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch26_spot_cork_pop0019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{30, 0}, {136, 402}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{194, 402}</string>
			<key>spriteSourceSize</key>
			<string>{194, 402}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{786, 2}, {194, 402}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch26_spot_cork_pop0020.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{30, 0}, {136, 402}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{194, 402}</string>
			<key>spriteSourceSize</key>
			<string>{194, 402}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{590, 2}, {194, 402}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch26_spot_cork_pop0021.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{30, 154}, {136, 248}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{194, 402}</string>
			<key>spriteSourceSize</key>
			<string>{194, 402}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{394, 2}, {194, 402}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{1024, 2048}</string>
	</dict>
</dict>
</plist>