<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch21_smollet20001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1360, 176}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet20002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{584, 524}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet20003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{972, 350}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet20004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{584, 350}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet20005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{196, 176}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet20006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1748, 176}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet20007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1360, 698}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet20008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1748, 2}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet20009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1360, 2}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet20010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 350}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet20011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{196, 2}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet20012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{778, 524}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet20013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1748, 698}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet20014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{584, 2}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet20015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{972, 176}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet20016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1554, 350}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet20017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 524}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet20018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 698}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet20019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{778, 698}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet20020.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{972, 2}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet20021.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{196, 350}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet20022.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1360, 524}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet20023.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{390, 176}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet20024.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{778, 176}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet20025.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1360, 350}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet20026.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1748, 524}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet20027.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 176}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet20028.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{390, 2}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet20029.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1554, 176}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet20030.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{196, 524}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet20031.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1554, 524}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet20032.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1166, 350}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet20033.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1554, 698}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet20034.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1166, 524}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet20035.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{390, 524}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet20036.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{972, 524}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet20037.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{778, 350}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet20038.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{778, 2}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet20039.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1554, 2}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet20040.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1748, 350}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet20041.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{390, 350}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet20042.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{390, 698}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet20043.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{584, 176}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet20044.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{196, 698}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet20045.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1166, 2}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet20046.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{972, 698}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet20047.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{584, 698}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet20048.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1166, 698}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet20049.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1166, 176}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet20050.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{192, 172}</string>
			<key>spriteSourceSize</key>
			<string>{192, 172}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {192, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{2048, 1024}</string>
	</dict>
</dict>
</plist>