<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch1_porter_1_walk0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 5}, {231, 425}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{245, 435}</string>
			<key>spriteSourceSize</key>
			<string>{245, 435}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{990, 439}, {245, 435}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_porter_1_walk0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 5}, {231, 425}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{245, 435}</string>
			<key>spriteSourceSize</key>
			<string>{245, 435}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{496, 439}, {245, 435}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_porter_1_walk0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 5}, {231, 425}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{245, 435}</string>
			<key>spriteSourceSize</key>
			<string>{245, 435}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{743, 2}, {245, 435}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_porter_1_walk0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 5}, {231, 425}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{245, 435}</string>
			<key>spriteSourceSize</key>
			<string>{245, 435}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1237, 2}, {245, 435}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_porter_1_walk0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 5}, {231, 425}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{245, 435}</string>
			<key>spriteSourceSize</key>
			<string>{245, 435}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{743, 439}, {245, 435}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_porter_1_walk0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 5}, {231, 425}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{245, 435}</string>
			<key>spriteSourceSize</key>
			<string>{245, 435}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{249, 439}, {245, 435}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_porter_1_walk0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 5}, {231, 425}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{245, 435}</string>
			<key>spriteSourceSize</key>
			<string>{245, 435}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{496, 2}, {245, 435}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_porter_1_walk0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 5}, {231, 425}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{245, 435}</string>
			<key>spriteSourceSize</key>
			<string>{245, 435}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{990, 2}, {245, 435}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_porter_1_walk0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 5}, {231, 425}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{245, 435}</string>
			<key>spriteSourceSize</key>
			<string>{245, 435}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1484, 439}, {245, 435}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_porter_1_walk0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 5}, {231, 425}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{245, 435}</string>
			<key>spriteSourceSize</key>
			<string>{245, 435}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1731, 2}, {245, 435}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_porter_1_walk0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 5}, {231, 425}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{245, 435}</string>
			<key>spriteSourceSize</key>
			<string>{245, 435}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1484, 2}, {245, 435}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_porter_1_walk0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 5}, {231, 425}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{245, 435}</string>
			<key>spriteSourceSize</key>
			<string>{245, 435}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 439}, {245, 435}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_porter_1_walk0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 5}, {231, 425}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{245, 435}</string>
			<key>spriteSourceSize</key>
			<string>{245, 435}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 876}, {245, 435}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_porter_1_walk0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 5}, {231, 425}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{245, 435}</string>
			<key>spriteSourceSize</key>
			<string>{245, 435}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1731, 439}, {245, 435}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_porter_1_walk0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 5}, {231, 425}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{245, 435}</string>
			<key>spriteSourceSize</key>
			<string>{245, 435}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1237, 439}, {245, 435}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_porter_1_walk0016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 5}, {231, 425}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{245, 435}</string>
			<key>spriteSourceSize</key>
			<string>{245, 435}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {245, 435}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_porter_1_walk0017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 5}, {231, 425}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{245, 435}</string>
			<key>spriteSourceSize</key>
			<string>{245, 435}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{249, 2}, {245, 435}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{2048, 2048}</string>
	</dict>
</dict>
</plist>