<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch1_blackdog_2_walk0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 7}, {51, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{55, 70}</string>
			<key>spriteSourceSize</key>
			<string>{55, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{173, 74}, {55, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_blackdog_2_walk0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 6}, {49, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{55, 70}</string>
			<key>spriteSourceSize</key>
			<string>{55, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{116, 2}, {55, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_blackdog_2_walk0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 6}, {49, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{55, 70}</string>
			<key>spriteSourceSize</key>
			<string>{55, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 74}, {55, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_blackdog_2_walk0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 7}, {49, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{55, 70}</string>
			<key>spriteSourceSize</key>
			<string>{55, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {55, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_blackdog_2_walk0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 7}, {51, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{55, 70}</string>
			<key>spriteSourceSize</key>
			<string>{55, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 218}, {55, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_blackdog_2_walk0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 7}, {53, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{55, 70}</string>
			<key>spriteSourceSize</key>
			<string>{55, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 146}, {55, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_blackdog_2_walk0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 7}, {53, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{55, 70}</string>
			<key>spriteSourceSize</key>
			<string>{55, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{59, 2}, {55, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_blackdog_2_walk0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 7}, {55, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{55, 70}</string>
			<key>spriteSourceSize</key>
			<string>{55, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{173, 146}, {55, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_blackdog_2_walk0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 7}, {55, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{55, 70}</string>
			<key>spriteSourceSize</key>
			<string>{55, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{116, 218}, {55, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_blackdog_2_walk0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 7}, {55, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{55, 70}</string>
			<key>spriteSourceSize</key>
			<string>{55, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{59, 74}, {55, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_blackdog_2_walk0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 7}, {53, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{55, 70}</string>
			<key>spriteSourceSize</key>
			<string>{55, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{59, 146}, {55, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_blackdog_2_walk0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 7}, {53, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{55, 70}</string>
			<key>spriteSourceSize</key>
			<string>{55, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{59, 218}, {55, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_blackdog_2_walk0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 7}, {51, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{55, 70}</string>
			<key>spriteSourceSize</key>
			<string>{55, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{116, 74}, {55, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_blackdog_2_walk0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {51, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{55, 70}</string>
			<key>spriteSourceSize</key>
			<string>{55, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 290}, {55, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_blackdog_2_walk0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 6}, {49, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{55, 70}</string>
			<key>spriteSourceSize</key>
			<string>{55, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{173, 2}, {55, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_blackdog_2_walk0016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 6}, {49, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{55, 70}</string>
			<key>spriteSourceSize</key>
			<string>{55, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{173, 218}, {55, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_blackdog_2_walk0017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 6}, {49, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{55, 70}</string>
			<key>spriteSourceSize</key>
			<string>{55, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{116, 146}, {55, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{256, 512}</string>
	</dict>
</dict>
</plist>