<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch1_blackdog_1_walk0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 3}, {336, 425}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 435}</string>
			<key>spriteSourceSize</key>
			<string>{350, 435}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {350, 435}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_blackdog_1_walk0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {340, 425}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 435}</string>
			<key>spriteSourceSize</key>
			<string>{350, 435}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 1313}, {350, 435}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_blackdog_1_walk0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 3}, {338, 425}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 435}</string>
			<key>spriteSourceSize</key>
			<string>{350, 435}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{354, 1313}, {350, 435}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_blackdog_1_walk0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 3}, {332, 425}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 435}</string>
			<key>spriteSourceSize</key>
			<string>{350, 435}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1410, 439}, {350, 435}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_blackdog_1_walk0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 3}, {324, 425}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 435}</string>
			<key>spriteSourceSize</key>
			<string>{350, 435}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1058, 876}, {350, 435}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_blackdog_1_walk0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 3}, {316, 425}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 435}</string>
			<key>spriteSourceSize</key>
			<string>{350, 435}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 439}, {350, 435}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_blackdog_1_walk0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 3}, {308, 425}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 435}</string>
			<key>spriteSourceSize</key>
			<string>{350, 435}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1410, 2}, {350, 435}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_blackdog_1_walk0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 3}, {292, 425}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 435}</string>
			<key>spriteSourceSize</key>
			<string>{350, 435}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{706, 2}, {350, 435}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_blackdog_1_walk0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 3}, {288, 425}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 435}</string>
			<key>spriteSourceSize</key>
			<string>{350, 435}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{354, 876}, {350, 435}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_blackdog_1_walk0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 3}, {290, 425}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 435}</string>
			<key>spriteSourceSize</key>
			<string>{350, 435}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{706, 1313}, {350, 435}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_blackdog_1_walk0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 3}, {304, 425}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 435}</string>
			<key>spriteSourceSize</key>
			<string>{350, 435}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1058, 2}, {350, 435}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_blackdog_1_walk0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 3}, {314, 425}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 435}</string>
			<key>spriteSourceSize</key>
			<string>{350, 435}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{354, 2}, {350, 435}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_blackdog_1_walk0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 3}, {320, 425}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 435}</string>
			<key>spriteSourceSize</key>
			<string>{350, 435}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{706, 439}, {350, 435}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_blackdog_1_walk0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 3}, {328, 425}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 435}</string>
			<key>spriteSourceSize</key>
			<string>{350, 435}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{354, 439}, {350, 435}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_blackdog_1_walk0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 3}, {334, 425}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 435}</string>
			<key>spriteSourceSize</key>
			<string>{350, 435}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1058, 439}, {350, 435}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_blackdog_1_walk0016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 3}, {338, 425}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 435}</string>
			<key>spriteSourceSize</key>
			<string>{350, 435}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 876}, {350, 435}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_blackdog_1_walk0017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {340, 425}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 435}</string>
			<key>spriteSourceSize</key>
			<string>{350, 435}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{706, 876}, {350, 435}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{2048, 2048}</string>
	</dict>
</dict>
</plist>