<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch1_leaves0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{322, 112}, {18, 10}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{340, 340}</string>
			<key>spriteSourceSize</key>
			<string>{340, 340}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {340, 340}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_leaves0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{237, 43}, {100, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{340, 340}</string>
			<key>spriteSourceSize</key>
			<string>{340, 340}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 344}, {340, 340}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_leaves0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{186, 11}, {154, 170}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{340, 340}</string>
			<key>spriteSourceSize</key>
			<string>{340, 340}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 686}, {340, 340}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_leaves0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{98, 10}, {212, 190}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{340, 340}</string>
			<key>spriteSourceSize</key>
			<string>{340, 340}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 1028}, {340, 340}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_leaves0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{47, 30}, {228, 186}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{340, 340}</string>
			<key>spriteSourceSize</key>
			<string>{340, 340}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 1370}, {340, 340}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_leaves0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{27, 26}, {246, 188}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{340, 340}</string>
			<key>spriteSourceSize</key>
			<string>{340, 340}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{344, 2}, {340, 340}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_leaves0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {220, 236}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{340, 340}</string>
			<key>spriteSourceSize</key>
			<string>{340, 340}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{686, 2}, {340, 340}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_leaves0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {218, 242}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{340, 340}</string>
			<key>spriteSourceSize</key>
			<string>{340, 340}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1028, 2}, {340, 340}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_leaves0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 18}, {240, 158}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{340, 340}</string>
			<key>spriteSourceSize</key>
			<string>{340, 340}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1370, 2}, {340, 340}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_leaves0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{48, 0}, {228, 148}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{340, 340}</string>
			<key>spriteSourceSize</key>
			<string>{340, 340}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{344, 344}, {340, 340}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_leaves0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{91, 0}, {210, 196}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{340, 340}</string>
			<key>spriteSourceSize</key>
			<string>{340, 340}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{344, 686}, {340, 340}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_leaves0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{149, 25}, {148, 202}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{340, 340}</string>
			<key>spriteSourceSize</key>
			<string>{340, 340}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{344, 1028}, {340, 340}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_leaves0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{117, 49}, {156, 198}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{340, 340}</string>
			<key>spriteSourceSize</key>
			<string>{340, 340}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{344, 1370}, {340, 340}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_leaves0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{78, 98}, {178, 162}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{340, 340}</string>
			<key>spriteSourceSize</key>
			<string>{340, 340}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{686, 344}, {340, 340}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_leaves0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{44, 146}, {188, 128}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{340, 340}</string>
			<key>spriteSourceSize</key>
			<string>{340, 340}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1028, 344}, {340, 340}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_leaves0016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{14, 186}, {188, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{340, 340}</string>
			<key>spriteSourceSize</key>
			<string>{340, 340}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1370, 344}, {340, 340}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_leaves0017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{23, 213}, {146, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{340, 340}</string>
			<key>spriteSourceSize</key>
			<string>{340, 340}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{686, 686}, {340, 340}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_leaves0018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 225}, {136, 82}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{340, 340}</string>
			<key>spriteSourceSize</key>
			<string>{340, 340}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{686, 1028}, {340, 340}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_leaves0019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 236}, {102, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{340, 340}</string>
			<key>spriteSourceSize</key>
			<string>{340, 340}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{686, 1370}, {340, 340}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_leaves0020.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 245}, {74, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{340, 340}</string>
			<key>spriteSourceSize</key>
			<string>{340, 340}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1028, 686}, {340, 340}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_leaves0021.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 257}, {48, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{340, 340}</string>
			<key>spriteSourceSize</key>
			<string>{340, 340}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1370, 686}, {340, 340}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_leaves0022.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 264}, {30, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{340, 340}</string>
			<key>spriteSourceSize</key>
			<string>{340, 340}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1028, 1028}, {340, 340}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_leaves0023.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 269}, {14, 18}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{340, 340}</string>
			<key>spriteSourceSize</key>
			<string>{340, 340}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1028, 1370}, {340, 340}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_leaves0024.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 273}, {4, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{340, 340}</string>
			<key>spriteSourceSize</key>
			<string>{340, 340}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1370, 1028}, {340, 340}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_leaves0025.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 287}, {2, 2}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{340, 340}</string>
			<key>spriteSourceSize</key>
			<string>{340, 340}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1370, 1370}, {340, 340}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{2048, 2048}</string>
	</dict>
</dict>
</plist>