<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch32_funny_ben_30001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {47, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{47, 50}</string>
			<key>spriteSourceSize</key>
			<string>{47, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {47, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_funny_ben_30002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {47, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{47, 50}</string>
			<key>spriteSourceSize</key>
			<string>{47, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 54}, {47, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_funny_ben_30003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {47, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{47, 50}</string>
			<key>spriteSourceSize</key>
			<string>{47, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 106}, {47, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_funny_ben_30004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {47, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{47, 50}</string>
			<key>spriteSourceSize</key>
			<string>{47, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 158}, {47, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_funny_ben_30005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {47, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{47, 50}</string>
			<key>spriteSourceSize</key>
			<string>{47, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{51, 2}, {47, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_funny_ben_30006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {47, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{47, 50}</string>
			<key>spriteSourceSize</key>
			<string>{47, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{100, 2}, {47, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_funny_ben_30007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {47, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{47, 50}</string>
			<key>spriteSourceSize</key>
			<string>{47, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{149, 2}, {47, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_funny_ben_30008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {47, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{47, 50}</string>
			<key>spriteSourceSize</key>
			<string>{47, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{198, 2}, {47, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_funny_ben_30009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {47, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{47, 50}</string>
			<key>spriteSourceSize</key>
			<string>{47, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{51, 54}, {47, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_funny_ben_30010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {47, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{47, 50}</string>
			<key>spriteSourceSize</key>
			<string>{47, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{51, 106}, {47, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_funny_ben_30011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {47, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{47, 50}</string>
			<key>spriteSourceSize</key>
			<string>{47, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{51, 158}, {47, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_funny_ben_30012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {47, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{47, 50}</string>
			<key>spriteSourceSize</key>
			<string>{47, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{100, 54}, {47, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_funny_ben_30013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {47, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{47, 50}</string>
			<key>spriteSourceSize</key>
			<string>{47, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{149, 54}, {47, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_funny_ben_30014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {47, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{47, 50}</string>
			<key>spriteSourceSize</key>
			<string>{47, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{198, 54}, {47, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_funny_ben_30015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {47, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{47, 50}</string>
			<key>spriteSourceSize</key>
			<string>{47, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{100, 106}, {47, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{256, 256}</string>
	</dict>
</dict>
</plist>