<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch21_knives0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 25}, {321, 103}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{367, 135}</string>
			<key>spriteSourceSize</key>
			<string>{367, 135}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{740, 824}, {367, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_knives0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 25}, {321, 103}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{367, 135}</string>
			<key>spriteSourceSize</key>
			<string>{367, 135}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {367, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_knives0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 25}, {321, 103}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{367, 135}</string>
			<key>spriteSourceSize</key>
			<string>{367, 135}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1109, 139}, {367, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_knives0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 25}, {321, 103}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{367, 135}</string>
			<key>spriteSourceSize</key>
			<string>{367, 135}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1478, 276}, {367, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_knives0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 25}, {321, 103}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{367, 135}</string>
			<key>spriteSourceSize</key>
			<string>{367, 135}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{371, 687}, {367, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_knives0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 25}, {321, 103}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{367, 135}</string>
			<key>spriteSourceSize</key>
			<string>{367, 135}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1109, 550}, {367, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_knives0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 25}, {321, 103}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{367, 135}</string>
			<key>spriteSourceSize</key>
			<string>{367, 135}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1109, 2}, {367, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_knives0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 25}, {321, 103}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{367, 135}</string>
			<key>spriteSourceSize</key>
			<string>{367, 135}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{371, 139}, {367, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_knives0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 25}, {321, 103}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{367, 135}</string>
			<key>spriteSourceSize</key>
			<string>{367, 135}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{740, 550}, {367, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_knives0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 25}, {321, 103}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{367, 135}</string>
			<key>spriteSourceSize</key>
			<string>{367, 135}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1478, 413}, {367, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_knives0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 25}, {321, 103}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{367, 135}</string>
			<key>spriteSourceSize</key>
			<string>{367, 135}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1109, 413}, {367, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_knives0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 25}, {321, 103}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{367, 135}</string>
			<key>spriteSourceSize</key>
			<string>{367, 135}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{371, 2}, {367, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_knives0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 25}, {321, 103}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{367, 135}</string>
			<key>spriteSourceSize</key>
			<string>{367, 135}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{371, 413}, {367, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_knives0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 25}, {321, 103}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{367, 135}</string>
			<key>spriteSourceSize</key>
			<string>{367, 135}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1109, 276}, {367, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_knives0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 25}, {321, 103}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{367, 135}</string>
			<key>spriteSourceSize</key>
			<string>{367, 135}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 687}, {367, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_knives0016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 25}, {321, 103}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{367, 135}</string>
			<key>spriteSourceSize</key>
			<string>{367, 135}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{740, 2}, {367, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_knives0017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 25}, {321, 103}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{367, 135}</string>
			<key>spriteSourceSize</key>
			<string>{367, 135}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 413}, {367, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_knives0018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 25}, {321, 103}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{367, 135}</string>
			<key>spriteSourceSize</key>
			<string>{367, 135}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{740, 413}, {367, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_knives0019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 25}, {321, 103}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{367, 135}</string>
			<key>spriteSourceSize</key>
			<string>{367, 135}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 550}, {367, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_knives0020.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 22}, {323, 107}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{367, 135}</string>
			<key>spriteSourceSize</key>
			<string>{367, 135}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 824}, {367, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_knives0021.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 19}, {325, 109}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{367, 135}</string>
			<key>spriteSourceSize</key>
			<string>{367, 135}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{371, 824}, {367, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_knives0022.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 16}, {329, 113}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{367, 135}</string>
			<key>spriteSourceSize</key>
			<string>{367, 135}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{740, 139}, {367, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_knives0023.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 13}, {331, 115}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{367, 135}</string>
			<key>spriteSourceSize</key>
			<string>{367, 135}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 139}, {367, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_knives0024.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 11}, {335, 117}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{367, 135}</string>
			<key>spriteSourceSize</key>
			<string>{367, 135}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{371, 276}, {367, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_knives0025.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 13}, {331, 115}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{367, 135}</string>
			<key>spriteSourceSize</key>
			<string>{367, 135}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{740, 687}, {367, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_knives0026.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 16}, {329, 113}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{367, 135}</string>
			<key>spriteSourceSize</key>
			<string>{367, 135}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{371, 550}, {367, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_knives0027.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 18}, {325, 111}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{367, 135}</string>
			<key>spriteSourceSize</key>
			<string>{367, 135}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1478, 139}, {367, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_knives0028.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 22}, {323, 107}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{367, 135}</string>
			<key>spriteSourceSize</key>
			<string>{367, 135}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 276}, {367, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_knives0029.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 25}, {321, 103}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{367, 135}</string>
			<key>spriteSourceSize</key>
			<string>{367, 135}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{740, 276}, {367, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_knives0030.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 25}, {321, 103}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{367, 135}</string>
			<key>spriteSourceSize</key>
			<string>{367, 135}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1478, 2}, {367, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{2048, 1024}</string>
	</dict>
</dict>
</plist>