<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch29_spot_capt_flint0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 0}, {129, 119}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{135, 125}</string>
			<key>spriteSourceSize</key>
			<string>{135, 125}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 382}, {135, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch29_spot_capt_flint0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {131, 119}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{135, 125}</string>
			<key>spriteSourceSize</key>
			<string>{135, 125}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 763}, {135, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch29_spot_capt_flint0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {133, 119}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{135, 125}</string>
			<key>spriteSourceSize</key>
			<string>{135, 125}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{139, 764}, {135, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch29_spot_capt_flint0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {133, 119}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{135, 125}</string>
			<key>spriteSourceSize</key>
			<string>{135, 125}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{139, 637}, {135, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch29_spot_capt_flint0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {133, 119}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{135, 125}</string>
			<key>spriteSourceSize</key>
			<string>{135, 125}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 128}, {135, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch29_spot_capt_flint0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {131, 119}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{135, 125}</string>
			<key>spriteSourceSize</key>
			<string>{135, 125}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{766, 2}, {135, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch29_spot_capt_flint0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 0}, {129, 119}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{135, 125}</string>
			<key>spriteSourceSize</key>
			<string>{135, 125}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{413, 129}, {135, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch29_spot_capt_flint0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 0}, {129, 119}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{135, 125}</string>
			<key>spriteSourceSize</key>
			<string>{135, 125}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{218, 2}, {135, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch29_spot_capt_flint0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {131, 119}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{135, 125}</string>
			<key>spriteSourceSize</key>
			<string>{135, 125}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 509}, {135, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch29_spot_capt_flint0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {133, 119}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{135, 125}</string>
			<key>spriteSourceSize</key>
			<string>{135, 125}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 255}, {135, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch29_spot_capt_flint0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 0}, {129, 119}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{135, 125}</string>
			<key>spriteSourceSize</key>
			<string>{135, 125}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{355, 2}, {135, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch29_spot_capt_flint0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {133, 119}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{135, 125}</string>
			<key>spriteSourceSize</key>
			<string>{135, 125}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{824, 256}, {135, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch29_spot_capt_flint0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 0}, {129, 119}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{135, 125}</string>
			<key>spriteSourceSize</key>
			<string>{135, 125}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{550, 129}, {135, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch29_spot_capt_flint0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {133, 119}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{135, 125}</string>
			<key>spriteSourceSize</key>
			<string>{135, 125}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{276, 891}, {135, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch29_spot_capt_flint0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 0}, {129, 119}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{135, 125}</string>
			<key>spriteSourceSize</key>
			<string>{135, 125}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{276, 256}, {135, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch29_spot_capt_flint0016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {131, 119}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{135, 125}</string>
			<key>spriteSourceSize</key>
			<string>{135, 125}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 636}, {135, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch29_spot_capt_flint0017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {133, 119}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{135, 125}</string>
			<key>spriteSourceSize</key>
			<string>{135, 125}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{687, 383}, {135, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch29_spot_capt_flint0018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {133, 119}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{135, 125}</string>
			<key>spriteSourceSize</key>
			<string>{135, 125}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{276, 637}, {135, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch29_spot_capt_flint0019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {131, 119}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{135, 125}</string>
			<key>spriteSourceSize</key>
			<string>{135, 125}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{276, 510}, {135, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch29_spot_capt_flint0020.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 0}, {129, 119}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{135, 125}</string>
			<key>spriteSourceSize</key>
			<string>{135, 125}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{276, 383}, {135, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch29_spot_capt_flint0021.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 0}, {129, 119}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{135, 125}</string>
			<key>spriteSourceSize</key>
			<string>{135, 125}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{550, 256}, {135, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch29_spot_capt_flint0022.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 0}, {129, 119}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{135, 125}</string>
			<key>spriteSourceSize</key>
			<string>{135, 125}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{687, 129}, {135, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch29_spot_capt_flint0023.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 0}, {129, 119}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{135, 125}</string>
			<key>spriteSourceSize</key>
			<string>{135, 125}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 890}, {135, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch29_spot_capt_flint0024.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {131, 119}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{135, 125}</string>
			<key>spriteSourceSize</key>
			<string>{135, 125}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{550, 383}, {135, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch29_spot_capt_flint0025.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {133, 119}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{135, 125}</string>
			<key>spriteSourceSize</key>
			<string>{135, 125}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{687, 256}, {135, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch29_spot_capt_flint0026.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 0}, {129, 119}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{135, 125}</string>
			<key>spriteSourceSize</key>
			<string>{135, 125}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{139, 891}, {135, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch29_spot_capt_flint0027.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {133, 119}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{135, 125}</string>
			<key>spriteSourceSize</key>
			<string>{135, 125}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{139, 256}, {135, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch29_spot_capt_flint0028.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 0}, {129, 119}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{135, 125}</string>
			<key>spriteSourceSize</key>
			<string>{135, 125}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{139, 129}, {135, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch29_spot_capt_flint0029.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {133, 119}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{135, 125}</string>
			<key>spriteSourceSize</key>
			<string>{135, 125}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{139, 383}, {135, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch29_spot_capt_flint0030.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 0}, {129, 119}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{135, 125}</string>
			<key>spriteSourceSize</key>
			<string>{135, 125}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{413, 383}, {135, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch29_spot_capt_flint0031.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {131, 119}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{135, 125}</string>
			<key>spriteSourceSize</key>
			<string>{135, 125}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{824, 129}, {135, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch29_spot_capt_flint0032.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {133, 119}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{135, 125}</string>
			<key>spriteSourceSize</key>
			<string>{135, 125}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{139, 510}, {135, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch29_spot_capt_flint0033.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {133, 119}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{135, 125}</string>
			<key>spriteSourceSize</key>
			<string>{135, 125}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{413, 256}, {135, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch29_spot_capt_flint0034.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {131, 119}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{135, 125}</string>
			<key>spriteSourceSize</key>
			<string>{135, 125}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{629, 2}, {135, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch29_spot_capt_flint0035.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 0}, {129, 119}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{135, 125}</string>
			<key>spriteSourceSize</key>
			<string>{135, 125}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{276, 129}, {135, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch29_spot_capt_flint0036.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 0}, {129, 119}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{135, 125}</string>
			<key>spriteSourceSize</key>
			<string>{135, 125}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{276, 764}, {135, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch29_spot_capt_flint0037.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 0}, {129, 119}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{135, 125}</string>
			<key>spriteSourceSize</key>
			<string>{135, 125}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{492, 2}, {135, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>WORD_BALLOON.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {214, 124}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{214, 124}</string>
			<key>spriteSourceSize</key>
			<string>{214, 124}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {214, 124}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{1024, 1024}</string>
	</dict>
</dict>
</plist>