<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch29_spot_capt_flint0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{166, 0}, {128, 119}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{294, 235}</string>
			<key>spriteSourceSize</key>
			<string>{294, 235}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1186, 476}, {294, 235}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch29_spot_capt_flint0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{162, 0}, {132, 119}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{294, 235}</string>
			<key>spriteSourceSize</key>
			<string>{294, 235}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 1661}, {294, 235}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch29_spot_capt_flint0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{162, 0}, {132, 119}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{294, 235}</string>
			<key>spriteSourceSize</key>
			<string>{294, 235}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1482, 476}, {294, 235}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch29_spot_capt_flint0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{162, 0}, {132, 119}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{294, 235}</string>
			<key>spriteSourceSize</key>
			<string>{294, 235}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{890, 950}, {294, 235}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch29_spot_capt_flint0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{162, 0}, {132, 119}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{294, 235}</string>
			<key>spriteSourceSize</key>
			<string>{294, 235}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{594, 713}, {294, 235}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch29_spot_capt_flint0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{162, 0}, {132, 119}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{294, 235}</string>
			<key>spriteSourceSize</key>
			<string>{294, 235}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{594, 950}, {294, 235}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch29_spot_capt_flint0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{166, 0}, {128, 119}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{294, 235}</string>
			<key>spriteSourceSize</key>
			<string>{294, 235}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 950}, {294, 235}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch29_spot_capt_flint0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {294, 235}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{294, 235}</string>
			<key>spriteSourceSize</key>
			<string>{294, 235}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 476}, {294, 235}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch29_spot_capt_flint0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {294, 235}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{294, 235}</string>
			<key>spriteSourceSize</key>
			<string>{294, 235}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{594, 1661}, {294, 235}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch29_spot_capt_flint0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {294, 235}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{294, 235}</string>
			<key>spriteSourceSize</key>
			<string>{294, 235}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 713}, {294, 235}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch29_spot_capt_flint0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {294, 235}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{294, 235}</string>
			<key>spriteSourceSize</key>
			<string>{294, 235}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{298, 1661}, {294, 235}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch29_spot_capt_flint0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {294, 235}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{294, 235}</string>
			<key>spriteSourceSize</key>
			<string>{294, 235}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{298, 2}, {294, 235}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch29_spot_capt_flint0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {294, 235}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{294, 235}</string>
			<key>spriteSourceSize</key>
			<string>{294, 235}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{594, 2}, {294, 235}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch29_spot_capt_flint0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {294, 235}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{294, 235}</string>
			<key>spriteSourceSize</key>
			<string>{294, 235}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {294, 235}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch29_spot_capt_flint0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {294, 235}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{294, 235}</string>
			<key>spriteSourceSize</key>
			<string>{294, 235}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1482, 713}, {294, 235}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch29_spot_capt_flint0016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {294, 235}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{294, 235}</string>
			<key>spriteSourceSize</key>
			<string>{294, 235}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{594, 1424}, {294, 235}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch29_spot_capt_flint0017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {294, 235}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{294, 235}</string>
			<key>spriteSourceSize</key>
			<string>{294, 235}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{890, 476}, {294, 235}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch29_spot_capt_flint0018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {294, 235}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{294, 235}</string>
			<key>spriteSourceSize</key>
			<string>{294, 235}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1186, 2}, {294, 235}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch29_spot_capt_flint0019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {294, 235}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{294, 235}</string>
			<key>spriteSourceSize</key>
			<string>{294, 235}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{594, 239}, {294, 235}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch29_spot_capt_flint0020.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {294, 235}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{294, 235}</string>
			<key>spriteSourceSize</key>
			<string>{294, 235}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{298, 950}, {294, 235}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch29_spot_capt_flint0021.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {294, 235}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{294, 235}</string>
			<key>spriteSourceSize</key>
			<string>{294, 235}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{298, 1187}, {294, 235}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch29_spot_capt_flint0022.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {294, 235}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{294, 235}</string>
			<key>spriteSourceSize</key>
			<string>{294, 235}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 1424}, {294, 235}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch29_spot_capt_flint0023.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {294, 235}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{294, 235}</string>
			<key>spriteSourceSize</key>
			<string>{294, 235}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1186, 713}, {294, 235}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch29_spot_capt_flint0024.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {294, 235}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{294, 235}</string>
			<key>spriteSourceSize</key>
			<string>{294, 235}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1482, 239}, {294, 235}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch29_spot_capt_flint0025.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {294, 235}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{294, 235}</string>
			<key>spriteSourceSize</key>
			<string>{294, 235}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1482, 2}, {294, 235}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch29_spot_capt_flint0026.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {294, 235}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{294, 235}</string>
			<key>spriteSourceSize</key>
			<string>{294, 235}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{890, 239}, {294, 235}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch29_spot_capt_flint0027.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {294, 235}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{294, 235}</string>
			<key>spriteSourceSize</key>
			<string>{294, 235}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{298, 1424}, {294, 235}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch29_spot_capt_flint0028.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {294, 235}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{294, 235}</string>
			<key>spriteSourceSize</key>
			<string>{294, 235}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{890, 713}, {294, 235}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch29_spot_capt_flint0029.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {294, 235}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{294, 235}</string>
			<key>spriteSourceSize</key>
			<string>{294, 235}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{890, 2}, {294, 235}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch29_spot_capt_flint0030.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {294, 235}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{294, 235}</string>
			<key>spriteSourceSize</key>
			<string>{294, 235}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{298, 476}, {294, 235}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch29_spot_capt_flint0031.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {294, 235}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{294, 235}</string>
			<key>spriteSourceSize</key>
			<string>{294, 235}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{594, 476}, {294, 235}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch29_spot_capt_flint0032.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {294, 235}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{294, 235}</string>
			<key>spriteSourceSize</key>
			<string>{294, 235}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1186, 239}, {294, 235}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch29_spot_capt_flint0033.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {294, 235}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{294, 235}</string>
			<key>spriteSourceSize</key>
			<string>{294, 235}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{298, 713}, {294, 235}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch29_spot_capt_flint0034.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {294, 235}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{294, 235}</string>
			<key>spriteSourceSize</key>
			<string>{294, 235}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 239}, {294, 235}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch29_spot_capt_flint0035.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {294, 235}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{294, 235}</string>
			<key>spriteSourceSize</key>
			<string>{294, 235}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 1187}, {294, 235}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch29_spot_capt_flint0036.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {294, 235}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{294, 235}</string>
			<key>spriteSourceSize</key>
			<string>{294, 235}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{594, 1187}, {294, 235}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch29_spot_capt_flint0037.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{166, 0}, {128, 119}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{294, 235}</string>
			<key>spriteSourceSize</key>
			<string>{294, 235}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{298, 239}, {294, 235}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{2048, 2048}</string>
	</dict>
</dict>
</plist>