<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch10_parrot_squawks0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 0}, {122, 151}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{144, 167}</string>
			<key>spriteSourceSize</key>
			<string>{144, 167}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{440, 2}, {144, 167}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_parrot_squawks0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 0}, {122, 151}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{144, 167}</string>
			<key>spriteSourceSize</key>
			<string>{144, 167}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 340}, {144, 167}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_parrot_squawks0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 0}, {124, 149}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{144, 167}</string>
			<key>spriteSourceSize</key>
			<string>{144, 167}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{878, 2}, {144, 167}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_parrot_squawks0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 0}, {126, 149}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{144, 167}</string>
			<key>spriteSourceSize</key>
			<string>{144, 167}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{732, 171}, {144, 167}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_parrot_squawks0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {128, 147}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{144, 167}</string>
			<key>spriteSourceSize</key>
			<string>{144, 167}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{148, 2}, {144, 167}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_parrot_squawks0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {132, 145}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{144, 167}</string>
			<key>spriteSourceSize</key>
			<string>{144, 167}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{586, 171}, {144, 167}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_parrot_squawks0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {128, 147}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{144, 167}</string>
			<key>spriteSourceSize</key>
			<string>{144, 167}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{148, 340}, {144, 167}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_parrot_squawks0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 0}, {126, 149}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{144, 167}</string>
			<key>spriteSourceSize</key>
			<string>{144, 167}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {144, 167}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_parrot_squawks0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 0}, {124, 149}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{144, 167}</string>
			<key>spriteSourceSize</key>
			<string>{144, 167}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{440, 340}, {144, 167}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_parrot_squawks0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 0}, {122, 151}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{144, 167}</string>
			<key>spriteSourceSize</key>
			<string>{144, 167}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{294, 171}, {144, 167}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_parrot_squawks0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 0}, {122, 151}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{144, 167}</string>
			<key>spriteSourceSize</key>
			<string>{144, 167}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{586, 340}, {144, 167}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_parrot_squawks0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 0}, {122, 151}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{144, 167}</string>
			<key>spriteSourceSize</key>
			<string>{144, 167}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{294, 2}, {144, 167}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_parrot_squawks0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 0}, {122, 151}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{144, 167}</string>
			<key>spriteSourceSize</key>
			<string>{144, 167}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{148, 171}, {144, 167}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_parrot_squawks0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 0}, {122, 151}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{144, 167}</string>
			<key>spriteSourceSize</key>
			<string>{144, 167}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{294, 340}, {144, 167}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_parrot_squawks0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{12, 0}, {120, 153}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{144, 167}</string>
			<key>spriteSourceSize</key>
			<string>{144, 167}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{440, 171}, {144, 167}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_parrot_squawks0016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 0}, {120, 151}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{144, 167}</string>
			<key>spriteSourceSize</key>
			<string>{144, 167}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{732, 2}, {144, 167}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_parrot_squawks0017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{12, 0}, {118, 153}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{144, 167}</string>
			<key>spriteSourceSize</key>
			<string>{144, 167}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 171}, {144, 167}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_parrot_squawks0018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 0}, {118, 151}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{144, 167}</string>
			<key>spriteSourceSize</key>
			<string>{144, 167}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{586, 2}, {144, 167}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{1024, 512}</string>
	</dict>
</dict>
</plist>