<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch16_hat_feathers_revised0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 19}, {114, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{130, 80}</string>
			<key>spriteSourceSize</key>
			<string>{130, 80}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{134, 2}, {130, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch16_hat_feathers_revised0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 20}, {112, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{130, 80}</string>
			<key>spriteSourceSize</key>
			<string>{130, 80}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{134, 84}, {130, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch16_hat_feathers_revised0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 20}, {112, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{130, 80}</string>
			<key>spriteSourceSize</key>
			<string>{130, 80}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{266, 2}, {130, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch16_hat_feathers_revised0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 22}, {108, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{130, 80}</string>
			<key>spriteSourceSize</key>
			<string>{130, 80}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {130, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch16_hat_feathers_revised0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 23}, {114, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{130, 80}</string>
			<key>spriteSourceSize</key>
			<string>{130, 80}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 84}, {130, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch16_hat_feathers_revised0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 21}, {114, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{130, 80}</string>
			<key>spriteSourceSize</key>
			<string>{130, 80}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{266, 84}, {130, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{512, 256}</string>
	</dict>
</dict>
</plist>