<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch9_new_gun_spot0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{171, 45}, {326, 142}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{500, 220}</string>
			<key>spriteSourceSize</key>
			<string>{500, 220}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1006, 1334}, {500, 220}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch9_new_gun_spot0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{171, 51}, {326, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{500, 220}</string>
			<key>spriteSourceSize</key>
			<string>{500, 220}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{504, 1334}, {500, 220}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch9_new_gun_spot0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{171, 55}, {326, 132}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{500, 220}</string>
			<key>spriteSourceSize</key>
			<string>{500, 220}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{504, 224}, {500, 220}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch9_new_gun_spot0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{171, 55}, {326, 132}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{500, 220}</string>
			<key>spriteSourceSize</key>
			<string>{500, 220}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 224}, {500, 220}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch9_new_gun_spot0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{171, 55}, {326, 132}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{500, 220}</string>
			<key>spriteSourceSize</key>
			<string>{500, 220}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1508, 2}, {500, 220}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch9_new_gun_spot0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{171, 55}, {326, 132}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{500, 220}</string>
			<key>spriteSourceSize</key>
			<string>{500, 220}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1006, 1778}, {500, 220}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch9_new_gun_spot0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{80, 45}, {416, 142}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{500, 220}</string>
			<key>spriteSourceSize</key>
			<string>{500, 220}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{504, 1112}, {500, 220}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch9_new_gun_spot0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 0}, {480, 186}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{500, 220}</string>
			<key>spriteSourceSize</key>
			<string>{500, 220}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 446}, {500, 220}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch9_new_gun_spot0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{24, 1}, {472, 186}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{500, 220}</string>
			<key>spriteSourceSize</key>
			<string>{500, 220}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 1334}, {500, 220}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch9_new_gun_spot0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{24, 2}, {472, 184}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{500, 220}</string>
			<key>spriteSourceSize</key>
			<string>{500, 220}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {500, 220}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch9_new_gun_spot0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{24, 45}, {472, 142}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{500, 220}</string>
			<key>spriteSourceSize</key>
			<string>{500, 220}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 890}, {500, 220}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch9_new_gun_spot0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{24, 45}, {472, 146}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{500, 220}</string>
			<key>spriteSourceSize</key>
			<string>{500, 220}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 1778}, {500, 220}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch9_new_gun_spot0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{24, 45}, {472, 158}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{500, 220}</string>
			<key>spriteSourceSize</key>
			<string>{500, 220}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1006, 668}, {500, 220}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch9_new_gun_spot0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{24, 45}, {472, 168}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{500, 220}</string>
			<key>spriteSourceSize</key>
			<string>{500, 220}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1006, 224}, {500, 220}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch9_new_gun_spot0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{24, 45}, {472, 168}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{500, 220}</string>
			<key>spriteSourceSize</key>
			<string>{500, 220}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{504, 668}, {500, 220}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch9_new_gun_spot0016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{24, 45}, {472, 168}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{500, 220}</string>
			<key>spriteSourceSize</key>
			<string>{500, 220}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1006, 2}, {500, 220}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch9_new_gun_spot0017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{24, 45}, {472, 168}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{500, 220}</string>
			<key>spriteSourceSize</key>
			<string>{500, 220}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{504, 2}, {500, 220}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch9_new_gun_spot0018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{24, 45}, {472, 168}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{500, 220}</string>
			<key>spriteSourceSize</key>
			<string>{500, 220}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1006, 1556}, {500, 220}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch9_new_gun_spot0019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{24, 45}, {472, 168}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{500, 220}</string>
			<key>spriteSourceSize</key>
			<string>{500, 220}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{504, 1556}, {500, 220}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch9_new_gun_spot0020.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{24, 45}, {472, 158}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{500, 220}</string>
			<key>spriteSourceSize</key>
			<string>{500, 220}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1006, 446}, {500, 220}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch9_new_gun_spot0021.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{24, 45}, {472, 146}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{500, 220}</string>
			<key>spriteSourceSize</key>
			<string>{500, 220}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{504, 890}, {500, 220}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch9_new_gun_spot0022.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{24, 45}, {472, 142}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{500, 220}</string>
			<key>spriteSourceSize</key>
			<string>{500, 220}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 1112}, {500, 220}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch9_new_gun_spot0023.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{24, 45}, {472, 142}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{500, 220}</string>
			<key>spriteSourceSize</key>
			<string>{500, 220}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 668}, {500, 220}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch9_new_gun_spot0024.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{24, 45}, {472, 142}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{500, 220}</string>
			<key>spriteSourceSize</key>
			<string>{500, 220}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{504, 446}, {500, 220}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch9_new_gun_spot0025.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 45}, {480, 142}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{500, 220}</string>
			<key>spriteSourceSize</key>
			<string>{500, 220}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{504, 1778}, {500, 220}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch9_new_gun_spot0026.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{80, 45}, {416, 142}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{500, 220}</string>
			<key>spriteSourceSize</key>
			<string>{500, 220}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 1556}, {500, 220}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch9_new_gun_spot0027.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{118, 45}, {378, 142}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{500, 220}</string>
			<key>spriteSourceSize</key>
			<string>{500, 220}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1006, 1112}, {500, 220}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch9_new_gun_spot0028.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{171, 45}, {326, 142}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{500, 220}</string>
			<key>spriteSourceSize</key>
			<string>{500, 220}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1006, 890}, {500, 220}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{2048, 2048}</string>
	</dict>
</dict>
</plist>