<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch32_funny_ben_40001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {42, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{42, 45}</string>
			<key>spriteSourceSize</key>
			<string>{42, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 96}, {42, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_funny_ben_40002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {42, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{42, 45}</string>
			<key>spriteSourceSize</key>
			<string>{42, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{90, 2}, {42, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_funny_ben_40003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {42, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{42, 45}</string>
			<key>spriteSourceSize</key>
			<string>{42, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 49}, {42, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_funny_ben_40004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {42, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{42, 45}</string>
			<key>spriteSourceSize</key>
			<string>{42, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{90, 49}, {42, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_funny_ben_40005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {42, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{42, 45}</string>
			<key>spriteSourceSize</key>
			<string>{42, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{46, 190}, {42, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_funny_ben_40006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {42, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{42, 45}</string>
			<key>spriteSourceSize</key>
			<string>{42, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {42, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_funny_ben_40007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {42, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{42, 45}</string>
			<key>spriteSourceSize</key>
			<string>{42, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{46, 96}, {42, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_funny_ben_40008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {42, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{42, 45}</string>
			<key>spriteSourceSize</key>
			<string>{42, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{178, 2}, {42, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_funny_ben_40009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {42, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{42, 45}</string>
			<key>spriteSourceSize</key>
			<string>{42, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 190}, {42, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_funny_ben_40010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {42, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{42, 45}</string>
			<key>spriteSourceSize</key>
			<string>{42, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{134, 49}, {42, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_funny_ben_40011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {42, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{42, 45}</string>
			<key>spriteSourceSize</key>
			<string>{42, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{46, 49}, {42, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_funny_ben_40012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {42, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{42, 45}</string>
			<key>spriteSourceSize</key>
			<string>{42, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{46, 2}, {42, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_funny_ben_40013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {42, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{42, 45}</string>
			<key>spriteSourceSize</key>
			<string>{42, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{46, 143}, {42, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_funny_ben_40014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {42, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{42, 45}</string>
			<key>spriteSourceSize</key>
			<string>{42, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 143}, {42, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_funny_ben_40015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {42, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{42, 45}</string>
			<key>spriteSourceSize</key>
			<string>{42, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{134, 2}, {42, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{256, 256}</string>
	</dict>
</dict>
</plist>