<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch30_grass0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 10}, {373, 198}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 214}</string>
			<key>spriteSourceSize</key>
			<string>{433, 214}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 1298}, {433, 214}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch30_grass0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 9}, {373, 200}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 214}</string>
			<key>spriteSourceSize</key>
			<string>{433, 214}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{437, 434}, {433, 214}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch30_grass0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 9}, {373, 200}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 214}</string>
			<key>spriteSourceSize</key>
			<string>{433, 214}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{872, 434}, {433, 214}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch30_grass0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{15, 10}, {373, 198}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 214}</string>
			<key>spriteSourceSize</key>
			<string>{433, 214}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{437, 1514}, {433, 214}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch30_grass0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 9}, {373, 200}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 214}</string>
			<key>spriteSourceSize</key>
			<string>{433, 214}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{872, 218}, {433, 214}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch30_grass0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 10}, {373, 198}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 214}</string>
			<key>spriteSourceSize</key>
			<string>{433, 214}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 650}, {433, 214}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch30_grass0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 9}, {373, 200}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 214}</string>
			<key>spriteSourceSize</key>
			<string>{433, 214}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1307, 218}, {433, 214}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch30_grass0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 9}, {373, 200}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 214}</string>
			<key>spriteSourceSize</key>
			<string>{433, 214}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{437, 1730}, {433, 214}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch30_grass0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{15, 10}, {373, 198}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 214}</string>
			<key>spriteSourceSize</key>
			<string>{433, 214}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{437, 1082}, {433, 214}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch30_grass0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 9}, {373, 200}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 214}</string>
			<key>spriteSourceSize</key>
			<string>{433, 214}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 434}, {433, 214}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch30_grass0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 10}, {373, 198}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 214}</string>
			<key>spriteSourceSize</key>
			<string>{433, 214}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{872, 2}, {433, 214}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch30_grass0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 10}, {373, 198}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 214}</string>
			<key>spriteSourceSize</key>
			<string>{433, 214}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{437, 650}, {433, 214}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch30_grass0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 10}, {373, 198}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 214}</string>
			<key>spriteSourceSize</key>
			<string>{433, 214}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1307, 866}, {433, 214}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch30_grass0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 10}, {373, 198}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 214}</string>
			<key>spriteSourceSize</key>
			<string>{433, 214}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 218}, {433, 214}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch30_grass0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 10}, {373, 198}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 214}</string>
			<key>spriteSourceSize</key>
			<string>{433, 214}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1307, 650}, {433, 214}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch30_grass0016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 10}, {373, 198}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 214}</string>
			<key>spriteSourceSize</key>
			<string>{433, 214}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{437, 1298}, {433, 214}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch30_grass0017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 10}, {373, 198}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 214}</string>
			<key>spriteSourceSize</key>
			<string>{433, 214}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{437, 218}, {433, 214}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch30_grass0018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 10}, {375, 198}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 214}</string>
			<key>spriteSourceSize</key>
			<string>{433, 214}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{437, 2}, {433, 214}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch30_grass0019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 10}, {377, 198}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 214}</string>
			<key>spriteSourceSize</key>
			<string>{433, 214}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{872, 1082}, {433, 214}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch30_grass0020.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 10}, {377, 198}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 214}</string>
			<key>spriteSourceSize</key>
			<string>{433, 214}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {433, 214}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch30_grass0021.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 10}, {375, 198}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 214}</string>
			<key>spriteSourceSize</key>
			<string>{433, 214}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{437, 866}, {433, 214}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch30_grass0022.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 10}, {373, 198}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 214}</string>
			<key>spriteSourceSize</key>
			<string>{433, 214}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 1082}, {433, 214}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch30_grass0023.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 10}, {375, 198}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 214}</string>
			<key>spriteSourceSize</key>
			<string>{433, 214}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 1514}, {433, 214}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch30_grass0024.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 10}, {377, 198}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 214}</string>
			<key>spriteSourceSize</key>
			<string>{433, 214}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 1730}, {433, 214}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch30_grass0025.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 10}, {377, 198}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 214}</string>
			<key>spriteSourceSize</key>
			<string>{433, 214}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{872, 866}, {433, 214}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch30_grass0026.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 10}, {375, 198}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 214}</string>
			<key>spriteSourceSize</key>
			<string>{433, 214}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1307, 2}, {433, 214}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch30_grass0027.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 10}, {373, 198}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 214}</string>
			<key>spriteSourceSize</key>
			<string>{433, 214}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1307, 434}, {433, 214}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch30_grass0028.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 10}, {373, 198}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 214}</string>
			<key>spriteSourceSize</key>
			<string>{433, 214}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{872, 650}, {433, 214}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch30_grass0029.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 10}, {373, 198}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 214}</string>
			<key>spriteSourceSize</key>
			<string>{433, 214}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 866}, {433, 214}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{2048, 2048}</string>
	</dict>
</dict>
</plist>