<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch6_doctor_mouth_sync0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 45}</string>
			<key>spriteSourceSize</key>
			<string>{30, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{34, 49}, {30, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_doctor_mouth_sync0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 45}</string>
			<key>spriteSourceSize</key>
			<string>{30, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {30, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_doctor_mouth_sync0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 45}</string>
			<key>spriteSourceSize</key>
			<string>{30, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{98, 96}, {30, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_doctor_mouth_sync0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 45}</string>
			<key>spriteSourceSize</key>
			<string>{30, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{98, 2}, {30, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_doctor_mouth_sync0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 45}</string>
			<key>spriteSourceSize</key>
			<string>{30, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{258, 96}, {30, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_doctor_mouth_sync0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 45}</string>
			<key>spriteSourceSize</key>
			<string>{30, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{322, 49}, {30, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_doctor_mouth_sync0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 45}</string>
			<key>spriteSourceSize</key>
			<string>{30, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{130, 49}, {30, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_doctor_mouth_sync0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 45}</string>
			<key>spriteSourceSize</key>
			<string>{30, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{194, 49}, {30, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_doctor_mouth_sync0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 45}</string>
			<key>spriteSourceSize</key>
			<string>{30, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{162, 96}, {30, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_doctor_mouth_sync0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 45}</string>
			<key>spriteSourceSize</key>
			<string>{30, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{450, 2}, {30, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_doctor_mouth_sync0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 45}</string>
			<key>spriteSourceSize</key>
			<string>{30, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{450, 49}, {30, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_doctor_mouth_sync0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 45}</string>
			<key>spriteSourceSize</key>
			<string>{30, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{226, 49}, {30, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_doctor_mouth_sync0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 45}</string>
			<key>spriteSourceSize</key>
			<string>{30, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{66, 96}, {30, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_doctor_mouth_sync0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 45}</string>
			<key>spriteSourceSize</key>
			<string>{30, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 49}, {30, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_doctor_mouth_sync0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 45}</string>
			<key>spriteSourceSize</key>
			<string>{30, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{258, 49}, {30, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_doctor_mouth_sync0016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 45}</string>
			<key>spriteSourceSize</key>
			<string>{30, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{194, 96}, {30, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_doctor_mouth_sync0017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 45}</string>
			<key>spriteSourceSize</key>
			<string>{30, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{66, 2}, {30, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_doctor_mouth_sync0018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 45}</string>
			<key>spriteSourceSize</key>
			<string>{30, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{386, 49}, {30, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_doctor_mouth_sync0019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 45}</string>
			<key>spriteSourceSize</key>
			<string>{30, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{322, 2}, {30, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_doctor_mouth_sync0020.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 45}</string>
			<key>spriteSourceSize</key>
			<string>{30, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{162, 2}, {30, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_doctor_mouth_sync0021.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 45}</string>
			<key>spriteSourceSize</key>
			<string>{30, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{418, 2}, {30, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_doctor_mouth_sync0022.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 45}</string>
			<key>spriteSourceSize</key>
			<string>{30, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{34, 96}, {30, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_doctor_mouth_sync0023.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 45}</string>
			<key>spriteSourceSize</key>
			<string>{30, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{290, 49}, {30, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_doctor_mouth_sync0024.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 45}</string>
			<key>spriteSourceSize</key>
			<string>{30, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{226, 96}, {30, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_doctor_mouth_sync0025.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 45}</string>
			<key>spriteSourceSize</key>
			<string>{30, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 96}, {30, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_doctor_mouth_sync0026.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 45}</string>
			<key>spriteSourceSize</key>
			<string>{30, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{290, 2}, {30, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_doctor_mouth_sync0027.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 45}</string>
			<key>spriteSourceSize</key>
			<string>{30, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{194, 2}, {30, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_doctor_mouth_sync0028.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 45}</string>
			<key>spriteSourceSize</key>
			<string>{30, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{354, 49}, {30, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_doctor_mouth_sync0029.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 45}</string>
			<key>spriteSourceSize</key>
			<string>{30, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{258, 2}, {30, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_doctor_mouth_sync0030.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 45}</string>
			<key>spriteSourceSize</key>
			<string>{30, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{130, 96}, {30, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_doctor_mouth_sync0031.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 45}</string>
			<key>spriteSourceSize</key>
			<string>{30, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{162, 49}, {30, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_doctor_mouth_sync0032.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 45}</string>
			<key>spriteSourceSize</key>
			<string>{30, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{226, 2}, {30, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_doctor_mouth_sync0033.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 45}</string>
			<key>spriteSourceSize</key>
			<string>{30, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{66, 49}, {30, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_doctor_mouth_sync0034.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 45}</string>
			<key>spriteSourceSize</key>
			<string>{30, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{418, 49}, {30, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_doctor_mouth_sync0035.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 45}</string>
			<key>spriteSourceSize</key>
			<string>{30, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{98, 49}, {30, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_doctor_mouth_sync0036.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 45}</string>
			<key>spriteSourceSize</key>
			<string>{30, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{386, 2}, {30, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_doctor_mouth_sync0037.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 45}</string>
			<key>spriteSourceSize</key>
			<string>{30, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{34, 2}, {30, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_doctor_mouth_sync0038.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 45}</string>
			<key>spriteSourceSize</key>
			<string>{30, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{354, 2}, {30, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_doctor_mouth_sync0039.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 45}</string>
			<key>spriteSourceSize</key>
			<string>{30, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{130, 2}, {30, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{512, 256}</string>
	</dict>
</dict>
</plist>