<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch17_rifle_fires_pop0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {97, 107}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{97, 107}</string>
			<key>spriteSourceSize</key>
			<string>{97, 107}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{299, 2}, {97, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch17_rifle_fires_pop0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{26, 37}, {47, 47}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{97, 107}</string>
			<key>spriteSourceSize</key>
			<string>{97, 107}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{200, 2}, {97, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch17_rifle_fires_pop0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 15}, {87, 91}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{97, 107}</string>
			<key>spriteSourceSize</key>
			<string>{97, 107}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{101, 2}, {97, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch17_rifle_fires_pop0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 16}, {87, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{97, 107}</string>
			<key>spriteSourceSize</key>
			<string>{97, 107}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{200, 220}, {97, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch17_rifle_fires_pop0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 16}, {85, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{97, 107}</string>
			<key>spriteSourceSize</key>
			<string>{97, 107}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 329}, {97, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch17_rifle_fires_pop0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{14, 28}, {77, 77}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{97, 107}</string>
			<key>spriteSourceSize</key>
			<string>{97, 107}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 111}, {97, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch17_rifle_fires_pop0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 24}, {97, 75}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{97, 107}</string>
			<key>spriteSourceSize</key>
			<string>{97, 107}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{398, 2}, {97, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch17_rifle_fires_pop0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{27, 22}, {51, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{97, 107}</string>
			<key>spriteSourceSize</key>
			<string>{97, 107}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{299, 111}, {97, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch17_rifle_fires_pop0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{24, 19}, {57, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{97, 107}</string>
			<key>spriteSourceSize</key>
			<string>{97, 107}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{101, 111}, {97, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch17_rifle_fires_pop0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{22, 11}, {47, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{97, 107}</string>
			<key>spriteSourceSize</key>
			<string>{97, 107}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 220}, {97, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch17_rifle_fires_pop0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{22, 9}, {49, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{97, 107}</string>
			<key>spriteSourceSize</key>
			<string>{97, 107}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{398, 111}, {97, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch17_rifle_fires_pop0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{44, 7}, {27, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{97, 107}</string>
			<key>spriteSourceSize</key>
			<string>{97, 107}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{200, 111}, {97, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch17_rifle_fires_pop0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{44, 4}, {29, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{97, 107}</string>
			<key>spriteSourceSize</key>
			<string>{97, 107}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{101, 329}, {97, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch17_rifle_fires_pop0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{42, 3}, {31, 35}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{97, 107}</string>
			<key>spriteSourceSize</key>
			<string>{97, 107}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {97, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch17_rifle_fires_pop0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {97, 107}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{97, 107}</string>
			<key>spriteSourceSize</key>
			<string>{97, 107}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{101, 220}, {97, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{512, 512}</string>
	</dict>
</dict>
</plist>