<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch22_shooting_star0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {80, 25}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 25}</string>
			<key>spriteSourceSize</key>
			<string>{80, 25}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{166, 2}, {80, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch22_shooting_star0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {6, 1}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 25}</string>
			<key>spriteSourceSize</key>
			<string>{80, 25}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{84, 29}, {80, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch22_shooting_star0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {18, 3}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 25}</string>
			<key>spriteSourceSize</key>
			<string>{80, 25}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 56}, {80, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch22_shooting_star0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {76, 19}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 25}</string>
			<key>spriteSourceSize</key>
			<string>{80, 25}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 29}, {80, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch22_shooting_star0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {76, 19}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 25}</string>
			<key>spriteSourceSize</key>
			<string>{80, 25}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{84, 56}, {80, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch22_shooting_star0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{45, 9}, {34, 13}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 25}</string>
			<key>spriteSourceSize</key>
			<string>{80, 25}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{84, 2}, {80, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch22_shooting_star0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{72, 19}, {6, 3}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 25}</string>
			<key>spriteSourceSize</key>
			<string>{80, 25}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {80, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch22_shooting_star0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {80, 25}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 25}</string>
			<key>spriteSourceSize</key>
			<string>{80, 25}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{166, 29}, {80, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{256, 128}</string>
	</dict>
</dict>
</plist>