<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Apple_00000.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 4}, {47, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{81, 60}</string>
			<key>spriteSourceSize</key>
			<string>{81, 60}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {81, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Apple_00001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 3}, {47, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{81, 60}</string>
			<key>spriteSourceSize</key>
			<string>{81, 60}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{166, 186}, {81, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Apple_00002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 4}, {47, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{81, 60}</string>
			<key>spriteSourceSize</key>
			<string>{81, 60}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{332, 0}, {81, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Apple_00003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 4}, {47, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{81, 60}</string>
			<key>spriteSourceSize</key>
			<string>{81, 60}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 62}, {81, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Apple_00004.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 4}, {47, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{81, 60}</string>
			<key>spriteSourceSize</key>
			<string>{81, 60}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{83, 124}, {81, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Apple_00005.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 3}, {47, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{81, 60}</string>
			<key>spriteSourceSize</key>
			<string>{81, 60}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{249, 62}, {81, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Apple_00006.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 4}, {47, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{81, 60}</string>
			<key>spriteSourceSize</key>
			<string>{81, 60}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{415, 0}, {81, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Apple_00007.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 4}, {47, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{81, 60}</string>
			<key>spriteSourceSize</key>
			<string>{81, 60}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{415, 62}, {81, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Apple_00008.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 4}, {47, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{81, 60}</string>
			<key>spriteSourceSize</key>
			<string>{81, 60}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{83, 62}, {81, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Apple_00009.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 3}, {47, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{81, 60}</string>
			<key>spriteSourceSize</key>
			<string>{81, 60}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{83, 186}, {81, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Apple_00010.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 3}, {41, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{81, 60}</string>
			<key>spriteSourceSize</key>
			<string>{81, 60}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{166, 124}, {81, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Apple_00011.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 3}, {41, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{81, 60}</string>
			<key>spriteSourceSize</key>
			<string>{81, 60}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{83, 0}, {81, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Apple_00012.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 4}, {39, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{81, 60}</string>
			<key>spriteSourceSize</key>
			<string>{81, 60}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{166, 62}, {81, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Apple_00013.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 4}, {39, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{81, 60}</string>
			<key>spriteSourceSize</key>
			<string>{81, 60}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 186}, {81, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Apple_00014.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 4}, {39, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{81, 60}</string>
			<key>spriteSourceSize</key>
			<string>{81, 60}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{166, 0}, {81, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Apple_00015.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 4}, {39, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{81, 60}</string>
			<key>spriteSourceSize</key>
			<string>{81, 60}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{249, 186}, {81, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Apple_00016.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 4}, {35, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{81, 60}</string>
			<key>spriteSourceSize</key>
			<string>{81, 60}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{332, 62}, {81, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Apple_00017.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 4}, {33, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{81, 60}</string>
			<key>spriteSourceSize</key>
			<string>{81, 60}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 124}, {81, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Apple_00018.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 4}, {33, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{81, 60}</string>
			<key>spriteSourceSize</key>
			<string>{81, 60}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{249, 0}, {81, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Apple_00019.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 4}, {33, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{81, 60}</string>
			<key>spriteSourceSize</key>
			<string>{81, 60}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{249, 124}, {81, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 256}</string>
		<key>name</key>
		<string>Untitled 7</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>Apple_0</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>Apple_0</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>