<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Campfire_00000.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 13}, {32, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 60}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{186, 186}, {60, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Campfire_00001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 12}, {34, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 60}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{186, 62}, {60, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Campfire_00002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 12}, {36, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 60}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 248}, {60, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Campfire_00003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 11}, {34, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 60}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{124, 0}, {60, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Campfire_00004.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 9}, {34, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 60}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{124, 62}, {60, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Campfire_00005.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 7}, {32, 46}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 60}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{62, 124}, {60, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Campfire_00006.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 6}, {34, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 60}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{124, 124}, {60, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Campfire_00007.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 4}, {36, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 60}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{62, 62}, {60, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Campfire_00008.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 3}, {38, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 60}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{186, 0}, {60, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Campfire_00009.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 3}, {38, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 60}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{62, 186}, {60, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Campfire_00010.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 4}, {38, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 60}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 186}, {60, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Campfire_00011.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 4}, {36, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 60}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 62}, {60, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Campfire_00012.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 5}, {36, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 60}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{62, 0}, {60, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Campfire_00013.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 7}, {36, 46}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 60}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{124, 186}, {60, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Campfire_00014.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 9}, {36, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 60}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 124}, {60, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Campfire_00015.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 9}, {34, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 60}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{62, 248}, {60, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Campfire_00016.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 8}, {34, 46}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 60}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{186, 248}, {60, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Campfire_00017.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 7}, {32, 46}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 60}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{124, 248}, {60, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Campfire_00018.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 9}, {32, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 60}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{186, 124}, {60, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Campfire_00019.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 11}, {32, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 60}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {60, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{256, 512}</string>
		<key>name</key>
		<string>Untitled 13</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>Campfire_0</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>Campfire_0</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>