<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Chapter26_TopRtSail_0000.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {111, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{115, 33}</string>
			<key>spriteSourceSize</key>
			<string>{115, 33}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{115, 231}, {115, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter26_TopRtSail_0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {111, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{115, 33}</string>
			<key>spriteSourceSize</key>
			<string>{115, 33}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 297}, {115, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter26_TopRtSail_0002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {111, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{115, 33}</string>
			<key>spriteSourceSize</key>
			<string>{115, 33}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{115, 66}, {115, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter26_TopRtSail_0003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {111, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{115, 33}</string>
			<key>spriteSourceSize</key>
			<string>{115, 33}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 99}, {115, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter26_TopRtSail_0004.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {111, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{115, 33}</string>
			<key>spriteSourceSize</key>
			<string>{115, 33}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 132}, {115, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter26_TopRtSail_0005.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {111, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{115, 33}</string>
			<key>spriteSourceSize</key>
			<string>{115, 33}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{115, 165}, {115, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter26_TopRtSail_0006.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {111, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{115, 33}</string>
			<key>spriteSourceSize</key>
			<string>{115, 33}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{115, 396}, {115, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter26_TopRtSail_0007.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {111, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{115, 33}</string>
			<key>spriteSourceSize</key>
			<string>{115, 33}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{115, 363}, {115, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter26_TopRtSail_0008.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {111, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{115, 33}</string>
			<key>spriteSourceSize</key>
			<string>{115, 33}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 264}, {115, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter26_TopRtSail_0009.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {111, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{115, 33}</string>
			<key>spriteSourceSize</key>
			<string>{115, 33}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 198}, {115, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter26_TopRtSail_0010.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {111, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{115, 33}</string>
			<key>spriteSourceSize</key>
			<string>{115, 33}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 33}, {115, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter26_TopRtSail_0011.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {111, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{115, 33}</string>
			<key>spriteSourceSize</key>
			<string>{115, 33}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{115, 297}, {115, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter26_TopRtSail_0012.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {111, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{115, 33}</string>
			<key>spriteSourceSize</key>
			<string>{115, 33}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 165}, {115, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter26_TopRtSail_0013.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {111, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{115, 33}</string>
			<key>spriteSourceSize</key>
			<string>{115, 33}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{115, 264}, {115, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter26_TopRtSail_0014.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {111, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{115, 33}</string>
			<key>spriteSourceSize</key>
			<string>{115, 33}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{115, 198}, {115, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter26_TopRtSail_0015.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {111, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{115, 33}</string>
			<key>spriteSourceSize</key>
			<string>{115, 33}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{115, 132}, {115, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter26_TopRtSail_0016.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {111, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{115, 33}</string>
			<key>spriteSourceSize</key>
			<string>{115, 33}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{115, 0}, {115, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter26_TopRtSail_0017.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {111, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{115, 33}</string>
			<key>spriteSourceSize</key>
			<string>{115, 33}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{115, 330}, {115, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter26_TopRtSail_0018.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {111, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{115, 33}</string>
			<key>spriteSourceSize</key>
			<string>{115, 33}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{115, 33}, {115, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter26_TopRtSail_0019.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {111, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{115, 33}</string>
			<key>spriteSourceSize</key>
			<string>{115, 33}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {115, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter26_TopRtSail_0020.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {111, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{115, 33}</string>
			<key>spriteSourceSize</key>
			<string>{115, 33}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 330}, {115, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter26_TopRtSail_0021.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {111, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{115, 33}</string>
			<key>spriteSourceSize</key>
			<string>{115, 33}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 231}, {115, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter26_TopRtSail_0022.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {111, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{115, 33}</string>
			<key>spriteSourceSize</key>
			<string>{115, 33}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 363}, {115, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter26_TopRtSail_0023.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {111, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{115, 33}</string>
			<key>spriteSourceSize</key>
			<string>{115, 33}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 66}, {115, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter26_TopRtSail_0024.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {111, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{115, 33}</string>
			<key>spriteSourceSize</key>
			<string>{115, 33}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 396}, {115, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter26_TopRtSail_0025.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {111, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{115, 33}</string>
			<key>spriteSourceSize</key>
			<string>{115, 33}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{115, 99}, {115, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{256, 512}</string>
		<key>name</key>
		<string>Untitled 3</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>Chapter26_TopRtSail_</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>Chapter26_TopRtSail_</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>