<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Chapter21_BulletsFullSize_0000.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {344, 530}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{344, 530}</string>
			<key>spriteSourceSize</key>
			<string>{344, 530}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 532}, {344, 530}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter21_BulletsFullSize_0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{273, 0}, {56, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{344, 530}</string>
			<key>spriteSourceSize</key>
			<string>{344, 530}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{346, 532}, {344, 530}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter21_BulletsFullSize_0002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{210, 0}, {132, 184}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{344, 530}</string>
			<key>spriteSourceSize</key>
			<string>{344, 530}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1384, 0}, {344, 530}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter21_BulletsFullSize_0003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{147, 0}, {180, 292}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{344, 530}</string>
			<key>spriteSourceSize</key>
			<string>{344, 530}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 1064}, {344, 530}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter21_BulletsFullSize_0004.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 0}, {310, 516}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{344, 530}</string>
			<key>spriteSourceSize</key>
			<string>{344, 530}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {344, 530}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter21_BulletsFullSize_0005.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 0}, {310, 520}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{344, 530}</string>
			<key>spriteSourceSize</key>
			<string>{344, 530}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{346, 0}, {344, 530}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter21_BulletsFullSize_0006.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 0}, {314, 524}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{344, 530}</string>
			<key>spriteSourceSize</key>
			<string>{344, 530}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{346, 1064}, {344, 530}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter21_BulletsFullSize_0007.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 0}, {300, 506}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{344, 530}</string>
			<key>spriteSourceSize</key>
			<string>{344, 530}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1038, 0}, {344, 530}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter21_BulletsFullSize_0008.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 0}, {300, 506}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{344, 530}</string>
			<key>spriteSourceSize</key>
			<string>{344, 530}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{692, 0}, {344, 530}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter21_BulletsFullSize_0009.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {344, 530}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{344, 530}</string>
			<key>spriteSourceSize</key>
			<string>{344, 530}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{692, 532}, {344, 530}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>name</key>
		<string>Untitled 3</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>Chapter21_BulletsFullSize_</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>Chapter21_BulletsFullSize_</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>