<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Chapter23_Jim_0000.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 16}, {111, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{143, 110}</string>
			<key>spriteSourceSize</key>
			<string>{143, 110}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{870, 224}, {143, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter23_Jim_0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 16}, {111, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{143, 110}</string>
			<key>spriteSourceSize</key>
			<string>{143, 110}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{290, 448}, {143, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter23_Jim_0002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 16}, {111, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{143, 110}</string>
			<key>spriteSourceSize</key>
			<string>{143, 110}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{870, 0}, {143, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter23_Jim_0003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 16}, {111, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{143, 110}</string>
			<key>spriteSourceSize</key>
			<string>{143, 110}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{290, 112}, {143, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter23_Jim_0004.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 16}, {111, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{143, 110}</string>
			<key>spriteSourceSize</key>
			<string>{143, 110}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{725, 112}, {143, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter23_Jim_0005.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 17}, {111, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{143, 110}</string>
			<key>spriteSourceSize</key>
			<string>{143, 110}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{145, 0}, {143, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter23_Jim_0006.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 17}, {111, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{143, 110}</string>
			<key>spriteSourceSize</key>
			<string>{143, 110}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{290, 896}, {143, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter23_Jim_0007.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 17}, {111, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{143, 110}</string>
			<key>spriteSourceSize</key>
			<string>{143, 110}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 112}, {143, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter23_Jim_0008.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 17}, {111, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{143, 110}</string>
			<key>spriteSourceSize</key>
			<string>{143, 110}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{725, 0}, {143, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter23_Jim_0009.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 17}, {111, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{143, 110}</string>
			<key>spriteSourceSize</key>
			<string>{143, 110}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{145, 560}, {143, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter23_Jim_0010.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 18}, {111, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{143, 110}</string>
			<key>spriteSourceSize</key>
			<string>{143, 110}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{580, 112}, {143, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter23_Jim_0011.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 18}, {111, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{143, 110}</string>
			<key>spriteSourceSize</key>
			<string>{143, 110}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{870, 336}, {143, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter23_Jim_0012.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 18}, {111, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{143, 110}</string>
			<key>spriteSourceSize</key>
			<string>{143, 110}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{580, 448}, {143, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter23_Jim_0013.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 18}, {111, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{143, 110}</string>
			<key>spriteSourceSize</key>
			<string>{143, 110}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 448}, {143, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter23_Jim_0014.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 19}, {111, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{143, 110}</string>
			<key>spriteSourceSize</key>
			<string>{143, 110}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{435, 0}, {143, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter23_Jim_0015.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 19}, {111, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{143, 110}</string>
			<key>spriteSourceSize</key>
			<string>{143, 110}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{145, 112}, {143, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter23_Jim_0016.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 19}, {109, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{143, 110}</string>
			<key>spriteSourceSize</key>
			<string>{143, 110}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{725, 224}, {143, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter23_Jim_0017.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 20}, {109, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{143, 110}</string>
			<key>spriteSourceSize</key>
			<string>{143, 110}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{435, 448}, {143, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter23_Jim_0018.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 20}, {109, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{143, 110}</string>
			<key>spriteSourceSize</key>
			<string>{143, 110}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{145, 784}, {143, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter23_Jim_0019.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 20}, {109, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{143, 110}</string>
			<key>spriteSourceSize</key>
			<string>{143, 110}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{145, 224}, {143, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter23_Jim_0020.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 21}, {109, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{143, 110}</string>
			<key>spriteSourceSize</key>
			<string>{143, 110}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 672}, {143, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter23_Jim_0021.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 21}, {109, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{143, 110}</string>
			<key>spriteSourceSize</key>
			<string>{143, 110}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {143, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter23_Jim_0022.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 20}, {109, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{143, 110}</string>
			<key>spriteSourceSize</key>
			<string>{143, 110}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{580, 336}, {143, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter23_Jim_0023.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 20}, {109, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{143, 110}</string>
			<key>spriteSourceSize</key>
			<string>{143, 110}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{435, 112}, {143, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter23_Jim_0024.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 20}, {109, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{143, 110}</string>
			<key>spriteSourceSize</key>
			<string>{143, 110}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 896}, {143, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter23_Jim_0025.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 19}, {109, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{143, 110}</string>
			<key>spriteSourceSize</key>
			<string>{143, 110}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{145, 672}, {143, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter23_Jim_0026.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 19}, {109, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{143, 110}</string>
			<key>spriteSourceSize</key>
			<string>{143, 110}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 784}, {143, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter23_Jim_0027.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 19}, {109, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{143, 110}</string>
			<key>spriteSourceSize</key>
			<string>{143, 110}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{290, 672}, {143, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter23_Jim_0028.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 18}, {109, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{143, 110}</string>
			<key>spriteSourceSize</key>
			<string>{143, 110}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{580, 0}, {143, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter23_Jim_0029.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 18}, {109, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{143, 110}</string>
			<key>spriteSourceSize</key>
			<string>{143, 110}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{870, 112}, {143, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter23_Jim_0030.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 18}, {109, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{143, 110}</string>
			<key>spriteSourceSize</key>
			<string>{143, 110}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{290, 560}, {143, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter23_Jim_0031.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 17}, {109, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{143, 110}</string>
			<key>spriteSourceSize</key>
			<string>{143, 110}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{145, 448}, {143, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter23_Jim_0032.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 17}, {109, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{143, 110}</string>
			<key>spriteSourceSize</key>
			<string>{143, 110}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{580, 224}, {143, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter23_Jim_0033.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 17}, {111, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{143, 110}</string>
			<key>spriteSourceSize</key>
			<string>{143, 110}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{145, 336}, {143, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter23_Jim_0034.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 17}, {111, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{143, 110}</string>
			<key>spriteSourceSize</key>
			<string>{143, 110}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{145, 896}, {143, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter23_Jim_0035.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 17}, {111, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{143, 110}</string>
			<key>spriteSourceSize</key>
			<string>{143, 110}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{290, 784}, {143, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter23_Jim_0036.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 17}, {111, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{143, 110}</string>
			<key>spriteSourceSize</key>
			<string>{143, 110}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{290, 0}, {143, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter23_Jim_0037.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 16}, {111, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{143, 110}</string>
			<key>spriteSourceSize</key>
			<string>{143, 110}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 224}, {143, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter23_Jim_0038.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 16}, {111, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{143, 110}</string>
			<key>spriteSourceSize</key>
			<string>{143, 110}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{725, 336}, {143, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter23_Jim_0039.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 16}, {111, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{143, 110}</string>
			<key>spriteSourceSize</key>
			<string>{143, 110}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{290, 224}, {143, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter23_Jim_0040.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 16}, {111, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{143, 110}</string>
			<key>spriteSourceSize</key>
			<string>{143, 110}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 336}, {143, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter23_Jim_0041.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 16}, {111, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{143, 110}</string>
			<key>spriteSourceSize</key>
			<string>{143, 110}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{290, 336}, {143, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter23_Jim_0042.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 16}, {111, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{143, 110}</string>
			<key>spriteSourceSize</key>
			<string>{143, 110}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{435, 224}, {143, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter23_Jim_0043.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 16}, {111, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{143, 110}</string>
			<key>spriteSourceSize</key>
			<string>{143, 110}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{435, 336}, {143, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter23_Jim_0044.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 16}, {111, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{143, 110}</string>
			<key>spriteSourceSize</key>
			<string>{143, 110}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 560}, {143, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>Chapter23_Jim_</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>Chapter23_Jim_</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>