<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Chapter34_IslandPlants_0000.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{36, 13}, {142, 181}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 225}</string>
			<key>spriteSourceSize</key>
			<string>{200, 225}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{404, 227}, {200, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_IslandPlants_0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{36, 13}, {142, 181}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 225}</string>
			<key>spriteSourceSize</key>
			<string>{200, 225}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{808, 227}, {200, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_IslandPlants_0002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{36, 13}, {142, 181}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 225}</string>
			<key>spriteSourceSize</key>
			<string>{200, 225}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 1589}, {200, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_IslandPlants_0003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{36, 13}, {142, 181}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 225}</string>
			<key>spriteSourceSize</key>
			<string>{200, 225}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{606, 227}, {200, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_IslandPlants_0004.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{36, 13}, {142, 181}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 225}</string>
			<key>spriteSourceSize</key>
			<string>{200, 225}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{404, 454}, {200, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_IslandPlants_0005.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{36, 13}, {142, 181}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 225}</string>
			<key>spriteSourceSize</key>
			<string>{200, 225}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 1816}, {200, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_IslandPlants_0006.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{36, 13}, {142, 181}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 225}</string>
			<key>spriteSourceSize</key>
			<string>{200, 225}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{808, 1135}, {200, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_IslandPlants_0007.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{36, 13}, {142, 181}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 225}</string>
			<key>spriteSourceSize</key>
			<string>{200, 225}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{808, 1589}, {200, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_IslandPlants_0008.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{36, 12}, {144, 183}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 225}</string>
			<key>spriteSourceSize</key>
			<string>{200, 225}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{808, 908}, {200, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_IslandPlants_0009.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{36, 12}, {144, 183}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 225}</string>
			<key>spriteSourceSize</key>
			<string>{200, 225}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{606, 1589}, {200, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_IslandPlants_0010.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{36, 12}, {144, 183}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 225}</string>
			<key>spriteSourceSize</key>
			<string>{200, 225}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{808, 0}, {200, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_IslandPlants_0011.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{36, 12}, {144, 183}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 225}</string>
			<key>spriteSourceSize</key>
			<string>{200, 225}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{202, 1362}, {200, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_IslandPlants_0012.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{36, 12}, {144, 183}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 225}</string>
			<key>spriteSourceSize</key>
			<string>{200, 225}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{808, 1816}, {200, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_IslandPlants_0013.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{36, 12}, {144, 183}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 225}</string>
			<key>spriteSourceSize</key>
			<string>{200, 225}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{808, 681}, {200, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_IslandPlants_0014.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{36, 12}, {144, 183}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 225}</string>
			<key>spriteSourceSize</key>
			<string>{200, 225}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{606, 0}, {200, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_IslandPlants_0015.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{36, 12}, {144, 183}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 225}</string>
			<key>spriteSourceSize</key>
			<string>{200, 225}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{808, 454}, {200, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_IslandPlants_0016.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{36, 12}, {144, 183}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 225}</string>
			<key>spriteSourceSize</key>
			<string>{200, 225}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 1362}, {200, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_IslandPlants_0017.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{36, 12}, {144, 183}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 225}</string>
			<key>spriteSourceSize</key>
			<string>{200, 225}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{404, 681}, {200, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_IslandPlants_0018.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{36, 12}, {144, 183}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 225}</string>
			<key>spriteSourceSize</key>
			<string>{200, 225}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{606, 454}, {200, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_IslandPlants_0019.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{36, 12}, {144, 183}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 225}</string>
			<key>spriteSourceSize</key>
			<string>{200, 225}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{404, 908}, {200, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_IslandPlants_0020.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{36, 12}, {144, 183}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 225}</string>
			<key>spriteSourceSize</key>
			<string>{200, 225}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{202, 681}, {200, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_IslandPlants_0021.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{36, 12}, {144, 183}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 225}</string>
			<key>spriteSourceSize</key>
			<string>{200, 225}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 454}, {200, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_IslandPlants_0022.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{36, 12}, {144, 183}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 225}</string>
			<key>spriteSourceSize</key>
			<string>{200, 225}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 1135}, {200, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_IslandPlants_0023.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{36, 12}, {146, 183}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 225}</string>
			<key>spriteSourceSize</key>
			<string>{200, 225}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 227}, {200, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_IslandPlants_0024.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{36, 12}, {146, 183}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 225}</string>
			<key>spriteSourceSize</key>
			<string>{200, 225}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{404, 0}, {200, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_IslandPlants_0025.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{36, 12}, {146, 183}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 225}</string>
			<key>spriteSourceSize</key>
			<string>{200, 225}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {200, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_IslandPlants_0026.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{36, 12}, {144, 183}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 225}</string>
			<key>spriteSourceSize</key>
			<string>{200, 225}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{202, 454}, {200, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_IslandPlants_0027.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{36, 12}, {144, 183}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 225}</string>
			<key>spriteSourceSize</key>
			<string>{200, 225}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{404, 1816}, {200, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_IslandPlants_0028.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{36, 11}, {144, 183}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 225}</string>
			<key>spriteSourceSize</key>
			<string>{200, 225}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 908}, {200, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_IslandPlants_0029.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{36, 11}, {144, 183}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 225}</string>
			<key>spriteSourceSize</key>
			<string>{200, 225}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 681}, {200, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_IslandPlants_0030.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{36, 12}, {144, 183}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 225}</string>
			<key>spriteSourceSize</key>
			<string>{200, 225}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{202, 1589}, {200, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_IslandPlants_0031.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{36, 12}, {144, 183}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 225}</string>
			<key>spriteSourceSize</key>
			<string>{200, 225}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{404, 1589}, {200, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_IslandPlants_0032.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{36, 12}, {144, 183}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 225}</string>
			<key>spriteSourceSize</key>
			<string>{200, 225}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{202, 1135}, {200, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_IslandPlants_0033.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{36, 12}, {144, 183}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 225}</string>
			<key>spriteSourceSize</key>
			<string>{200, 225}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{606, 1816}, {200, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_IslandPlants_0034.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{36, 12}, {144, 183}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 225}</string>
			<key>spriteSourceSize</key>
			<string>{200, 225}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{606, 1135}, {200, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_IslandPlants_0035.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{36, 12}, {144, 183}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 225}</string>
			<key>spriteSourceSize</key>
			<string>{200, 225}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{202, 0}, {200, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_IslandPlants_0036.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{36, 12}, {144, 183}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 225}</string>
			<key>spriteSourceSize</key>
			<string>{200, 225}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{808, 1362}, {200, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_IslandPlants_0037.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{36, 12}, {144, 183}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 225}</string>
			<key>spriteSourceSize</key>
			<string>{200, 225}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{606, 681}, {200, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_IslandPlants_0038.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{36, 12}, {144, 183}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 225}</string>
			<key>spriteSourceSize</key>
			<string>{200, 225}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{404, 1362}, {200, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_IslandPlants_0039.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{36, 12}, {142, 183}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 225}</string>
			<key>spriteSourceSize</key>
			<string>{200, 225}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{202, 227}, {200, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_IslandPlants_0040.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{36, 12}, {142, 183}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 225}</string>
			<key>spriteSourceSize</key>
			<string>{200, 225}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{202, 1816}, {200, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_IslandPlants_0041.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{36, 12}, {142, 183}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 225}</string>
			<key>spriteSourceSize</key>
			<string>{200, 225}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{404, 1135}, {200, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_IslandPlants_0042.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{36, 12}, {142, 183}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 225}</string>
			<key>spriteSourceSize</key>
			<string>{200, 225}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{202, 908}, {200, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_IslandPlants_0043.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{36, 13}, {142, 181}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 225}</string>
			<key>spriteSourceSize</key>
			<string>{200, 225}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{606, 1362}, {200, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_IslandPlants_0044.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{36, 13}, {142, 181}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 225}</string>
			<key>spriteSourceSize</key>
			<string>{200, 225}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{606, 908}, {200, 225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 2048}</string>
		<key>name</key>
		<string>Untitled 3</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>Chapter34_IslandPlants_</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>Chapter34_IslandPlants_</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>