<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Chapter20_ForegroundWhisps_0000.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 12}, {431, 505}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 577}</string>
			<key>spriteSourceSize</key>
			<string>{433, 577}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{3031, 1154}, {433, 577}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_ForegroundWhisps_0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 12}, {431, 505}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 577}</string>
			<key>spriteSourceSize</key>
			<string>{433, 577}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{866, 1154}, {433, 577}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_ForegroundWhisps_0002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 12}, {431, 507}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 577}</string>
			<key>spriteSourceSize</key>
			<string>{433, 577}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{866, 577}, {433, 577}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_ForegroundWhisps_0003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 12}, {431, 507}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 577}</string>
			<key>spriteSourceSize</key>
			<string>{433, 577}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{433, 1731}, {433, 577}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_ForegroundWhisps_0004.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 12}, {431, 507}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 577}</string>
			<key>spriteSourceSize</key>
			<string>{433, 577}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{3031, 577}, {433, 577}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_ForegroundWhisps_0005.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 12}, {431, 509}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 577}</string>
			<key>spriteSourceSize</key>
			<string>{433, 577}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{866, 0}, {433, 577}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_ForegroundWhisps_0006.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 12}, {431, 509}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 577}</string>
			<key>spriteSourceSize</key>
			<string>{433, 577}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 3462}, {433, 577}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_ForegroundWhisps_0007.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 12}, {431, 511}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 577}</string>
			<key>spriteSourceSize</key>
			<string>{433, 577}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{866, 2885}, {433, 577}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_ForegroundWhisps_0008.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 12}, {431, 511}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 577}</string>
			<key>spriteSourceSize</key>
			<string>{433, 577}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2165, 577}, {433, 577}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_ForegroundWhisps_0009.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 12}, {431, 511}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 577}</string>
			<key>spriteSourceSize</key>
			<string>{433, 577}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1299, 2308}, {433, 577}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_ForegroundWhisps_0010.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 12}, {431, 513}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 577}</string>
			<key>spriteSourceSize</key>
			<string>{433, 577}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1732, 577}, {433, 577}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_ForegroundWhisps_0011.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 12}, {431, 513}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 577}</string>
			<key>spriteSourceSize</key>
			<string>{433, 577}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 1731}, {433, 577}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_ForegroundWhisps_0012.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 12}, {431, 515}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 577}</string>
			<key>spriteSourceSize</key>
			<string>{433, 577}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1299, 2885}, {433, 577}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_ForegroundWhisps_0013.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 12}, {431, 515}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 577}</string>
			<key>spriteSourceSize</key>
			<string>{433, 577}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1299, 1154}, {433, 577}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_ForegroundWhisps_0014.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 12}, {431, 515}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 577}</string>
			<key>spriteSourceSize</key>
			<string>{433, 577}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1732, 2308}, {433, 577}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_ForegroundWhisps_0015.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 12}, {431, 515}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 577}</string>
			<key>spriteSourceSize</key>
			<string>{433, 577}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1299, 577}, {433, 577}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_ForegroundWhisps_0016.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 12}, {431, 515}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 577}</string>
			<key>spriteSourceSize</key>
			<string>{433, 577}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2165, 1154}, {433, 577}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_ForegroundWhisps_0017.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 12}, {431, 515}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 577}</string>
			<key>spriteSourceSize</key>
			<string>{433, 577}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1299, 3462}, {433, 577}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_ForegroundWhisps_0018.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 12}, {431, 515}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 577}</string>
			<key>spriteSourceSize</key>
			<string>{433, 577}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1732, 1154}, {433, 577}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_ForegroundWhisps_0019.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 12}, {431, 515}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 577}</string>
			<key>spriteSourceSize</key>
			<string>{433, 577}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{433, 1154}, {433, 577}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_ForegroundWhisps_0020.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 12}, {431, 515}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 577}</string>
			<key>spriteSourceSize</key>
			<string>{433, 577}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{3464, 0}, {433, 577}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_ForegroundWhisps_0021.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 12}, {431, 515}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 577}</string>
			<key>spriteSourceSize</key>
			<string>{433, 577}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{866, 3462}, {433, 577}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_ForegroundWhisps_0022.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 12}, {431, 515}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 577}</string>
			<key>spriteSourceSize</key>
			<string>{433, 577}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{3464, 1154}, {433, 577}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_ForegroundWhisps_0023.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 12}, {431, 513}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 577}</string>
			<key>spriteSourceSize</key>
			<string>{433, 577}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{433, 2885}, {433, 577}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_ForegroundWhisps_0024.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 12}, {431, 513}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 577}</string>
			<key>spriteSourceSize</key>
			<string>{433, 577}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1299, 0}, {433, 577}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_ForegroundWhisps_0025.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 12}, {431, 511}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 577}</string>
			<key>spriteSourceSize</key>
			<string>{433, 577}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1299, 1731}, {433, 577}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_ForegroundWhisps_0026.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 12}, {431, 511}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 577}</string>
			<key>spriteSourceSize</key>
			<string>{433, 577}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2598, 0}, {433, 577}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_ForegroundWhisps_0027.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 12}, {431, 509}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 577}</string>
			<key>spriteSourceSize</key>
			<string>{433, 577}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{3031, 0}, {433, 577}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_ForegroundWhisps_0028.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 12}, {431, 509}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 577}</string>
			<key>spriteSourceSize</key>
			<string>{433, 577}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{866, 2308}, {433, 577}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_ForegroundWhisps_0029.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 12}, {431, 509}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 577}</string>
			<key>spriteSourceSize</key>
			<string>{433, 577}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1732, 1731}, {433, 577}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_ForegroundWhisps_0030.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 12}, {431, 507}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 577}</string>
			<key>spriteSourceSize</key>
			<string>{433, 577}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {433, 577}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_ForegroundWhisps_0031.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 12}, {431, 507}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 577}</string>
			<key>spriteSourceSize</key>
			<string>{433, 577}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{433, 577}, {433, 577}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_ForegroundWhisps_0032.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 12}, {431, 505}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 577}</string>
			<key>spriteSourceSize</key>
			<string>{433, 577}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{433, 3462}, {433, 577}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_ForegroundWhisps_0033.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 12}, {431, 505}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 577}</string>
			<key>spriteSourceSize</key>
			<string>{433, 577}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{3464, 577}, {433, 577}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_ForegroundWhisps_0034.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 12}, {431, 505}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 577}</string>
			<key>spriteSourceSize</key>
			<string>{433, 577}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{866, 1731}, {433, 577}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_ForegroundWhisps_0035.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 12}, {431, 505}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 577}</string>
			<key>spriteSourceSize</key>
			<string>{433, 577}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2598, 1154}, {433, 577}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_ForegroundWhisps_0036.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 12}, {431, 503}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 577}</string>
			<key>spriteSourceSize</key>
			<string>{433, 577}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{433, 2308}, {433, 577}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_ForegroundWhisps_0037.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 12}, {431, 503}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 577}</string>
			<key>spriteSourceSize</key>
			<string>{433, 577}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 2885}, {433, 577}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_ForegroundWhisps_0038.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 12}, {431, 503}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 577}</string>
			<key>spriteSourceSize</key>
			<string>{433, 577}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 2308}, {433, 577}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_ForegroundWhisps_0039.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 12}, {431, 503}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 577}</string>
			<key>spriteSourceSize</key>
			<string>{433, 577}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1732, 0}, {433, 577}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_ForegroundWhisps_0040.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 12}, {431, 503}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 577}</string>
			<key>spriteSourceSize</key>
			<string>{433, 577}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 577}, {433, 577}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_ForegroundWhisps_0041.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 12}, {431, 503}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 577}</string>
			<key>spriteSourceSize</key>
			<string>{433, 577}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{433, 0}, {433, 577}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_ForegroundWhisps_0042.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 12}, {431, 503}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 577}</string>
			<key>spriteSourceSize</key>
			<string>{433, 577}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 1154}, {433, 577}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_ForegroundWhisps_0043.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 12}, {431, 503}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 577}</string>
			<key>spriteSourceSize</key>
			<string>{433, 577}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2598, 577}, {433, 577}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_ForegroundWhisps_0044.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 12}, {431, 505}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 577}</string>
			<key>spriteSourceSize</key>
			<string>{433, 577}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2165, 0}, {433, 577}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{4096, 4096}</string>
		<key>name</key>
		<string>Untitled 2</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>Chapter20_ForegroundWhisps_</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>Chapter20_ForegroundWhisps_</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>