<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Chapter10_Ship_0000.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 9}, {148, 164}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{184, 176}</string>
			<key>spriteSourceSize</key>
			<string>{184, 176}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{372, 534}, {184, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter10_Ship_0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 8}, {146, 166}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{184, 176}</string>
			<key>spriteSourceSize</key>
			<string>{184, 176}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 178}, {184, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter10_Ship_0002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 8}, {146, 164}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{184, 176}</string>
			<key>spriteSourceSize</key>
			<string>{184, 176}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{186, 0}, {184, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter10_Ship_0003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{26, 8}, {146, 164}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{184, 176}</string>
			<key>spriteSourceSize</key>
			<string>{184, 176}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{558, 0}, {184, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter10_Ship_0004.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 7}, {146, 164}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{184, 176}</string>
			<key>spriteSourceSize</key>
			<string>{184, 176}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{186, 712}, {184, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter10_Ship_0005.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{29, 7}, {146, 164}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{184, 176}</string>
			<key>spriteSourceSize</key>
			<string>{184, 176}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{558, 178}, {184, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter10_Ship_0006.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{31, 6}, {144, 164}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{184, 176}</string>
			<key>spriteSourceSize</key>
			<string>{184, 176}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{744, 712}, {184, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter10_Ship_0007.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{32, 6}, {144, 164}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{184, 176}</string>
			<key>spriteSourceSize</key>
			<string>{184, 176}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{744, 178}, {184, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter10_Ship_0008.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{33, 6}, {144, 164}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{184, 176}</string>
			<key>spriteSourceSize</key>
			<string>{184, 176}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 534}, {184, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter10_Ship_0009.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{35, 5}, {142, 164}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{184, 176}</string>
			<key>spriteSourceSize</key>
			<string>{184, 176}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 356}, {184, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter10_Ship_0010.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{36, 5}, {142, 162}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{184, 176}</string>
			<key>spriteSourceSize</key>
			<string>{184, 176}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{372, 178}, {184, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter10_Ship_0011.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{37, 4}, {140, 164}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{184, 176}</string>
			<key>spriteSourceSize</key>
			<string>{184, 176}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{558, 534}, {184, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter10_Ship_0012.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{37, 4}, {140, 162}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{184, 176}</string>
			<key>spriteSourceSize</key>
			<string>{184, 176}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{372, 712}, {184, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter10_Ship_0013.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{37, 4}, {142, 164}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{184, 176}</string>
			<key>spriteSourceSize</key>
			<string>{184, 176}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{744, 0}, {184, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter10_Ship_0014.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{37, 4}, {142, 164}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{184, 176}</string>
			<key>spriteSourceSize</key>
			<string>{184, 176}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{930, 178}, {184, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter10_Ship_0015.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{36, 4}, {142, 164}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{184, 176}</string>
			<key>spriteSourceSize</key>
			<string>{184, 176}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 712}, {184, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter10_Ship_0016.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{35, 5}, {142, 164}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{184, 176}</string>
			<key>spriteSourceSize</key>
			<string>{184, 176}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{930, 356}, {184, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter10_Ship_0017.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{33, 5}, {144, 164}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{184, 176}</string>
			<key>spriteSourceSize</key>
			<string>{184, 176}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{744, 356}, {184, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter10_Ship_0018.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{32, 5}, {144, 164}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{184, 176}</string>
			<key>spriteSourceSize</key>
			<string>{184, 176}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{558, 356}, {184, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter10_Ship_0019.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{30, 6}, {146, 164}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{184, 176}</string>
			<key>spriteSourceSize</key>
			<string>{184, 176}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{930, 534}, {184, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter10_Ship_0020.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{29, 6}, {146, 164}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{184, 176}</string>
			<key>spriteSourceSize</key>
			<string>{184, 176}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{930, 712}, {184, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter10_Ship_0021.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 7}, {146, 164}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{184, 176}</string>
			<key>spriteSourceSize</key>
			<string>{184, 176}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{186, 356}, {184, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter10_Ship_0022.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{26, 8}, {146, 164}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{184, 176}</string>
			<key>spriteSourceSize</key>
			<string>{184, 176}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{930, 0}, {184, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter10_Ship_0023.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 8}, {146, 166}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{184, 176}</string>
			<key>spriteSourceSize</key>
			<string>{184, 176}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{372, 0}, {184, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter10_Ship_0024.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 9}, {146, 164}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{184, 176}</string>
			<key>spriteSourceSize</key>
			<string>{184, 176}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{186, 534}, {184, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter10_Ship_0025.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 10}, {148, 164}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{184, 176}</string>
			<key>spriteSourceSize</key>
			<string>{184, 176}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{372, 356}, {184, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter10_Ship_0026.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 10}, {146, 164}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{184, 176}</string>
			<key>spriteSourceSize</key>
			<string>{184, 176}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {184, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter10_Ship_0027.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 10}, {146, 166}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{184, 176}</string>
			<key>spriteSourceSize</key>
			<string>{184, 176}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{744, 534}, {184, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter10_Ship_0028.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 10}, {148, 166}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{184, 176}</string>
			<key>spriteSourceSize</key>
			<string>{184, 176}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{558, 712}, {184, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter10_Ship_0029.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 10}, {148, 166}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{184, 176}</string>
			<key>spriteSourceSize</key>
			<string>{184, 176}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{186, 178}, {184, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 1024}</string>
		<key>name</key>
		<string>Untitled 2</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>Chapter10_Ship_</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>Chapter10_Ship_</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>