<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Chapter13_Vine1_0000.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 3}, {17, 336}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{39, 340}</string>
			<key>spriteSourceSize</key>
			<string>{39, 340}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 684}, {39, 340}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter13_Vine1_0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 3}, {17, 334}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{39, 340}</string>
			<key>spriteSourceSize</key>
			<string>{39, 340}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{123, 684}, {39, 340}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter13_Vine1_0002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {17, 334}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{39, 340}</string>
			<key>spriteSourceSize</key>
			<string>{39, 340}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{369, 0}, {39, 340}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter13_Vine1_0003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {17, 334}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{39, 340}</string>
			<key>spriteSourceSize</key>
			<string>{39, 340}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{41, 342}, {39, 340}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter13_Vine1_0004.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 3}, {19, 336}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{39, 340}</string>
			<key>spriteSourceSize</key>
			<string>{39, 340}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{205, 684}, {39, 340}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter13_Vine1_0005.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {17, 336}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{39, 340}</string>
			<key>spriteSourceSize</key>
			<string>{39, 340}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{123, 0}, {39, 340}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter13_Vine1_0006.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 3}, {15, 336}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{39, 340}</string>
			<key>spriteSourceSize</key>
			<string>{39, 340}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{328, 684}, {39, 340}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter13_Vine1_0007.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 3}, {13, 336}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{39, 340}</string>
			<key>spriteSourceSize</key>
			<string>{39, 340}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{287, 0}, {39, 340}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter13_Vine1_0008.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 3}, {11, 336}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{39, 340}</string>
			<key>spriteSourceSize</key>
			<string>{39, 340}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {39, 340}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter13_Vine1_0009.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 3}, {13, 336}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{39, 340}</string>
			<key>spriteSourceSize</key>
			<string>{39, 340}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 342}, {39, 340}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter13_Vine1_0010.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 3}, {13, 336}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{39, 340}</string>
			<key>spriteSourceSize</key>
			<string>{39, 340}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{246, 342}, {39, 340}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter13_Vine1_0011.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 3}, {15, 336}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{39, 340}</string>
			<key>spriteSourceSize</key>
			<string>{39, 340}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{369, 342}, {39, 340}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter13_Vine1_0012.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 2}, {17, 338}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{39, 340}</string>
			<key>spriteSourceSize</key>
			<string>{39, 340}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{246, 684}, {39, 340}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter13_Vine1_0013.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 2}, {17, 338}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{39, 340}</string>
			<key>spriteSourceSize</key>
			<string>{39, 340}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{41, 0}, {39, 340}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter13_Vine1_0014.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 2}, {21, 338}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{39, 340}</string>
			<key>spriteSourceSize</key>
			<string>{39, 340}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{82, 684}, {39, 340}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter13_Vine1_0015.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 2}, {23, 338}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{39, 340}</string>
			<key>spriteSourceSize</key>
			<string>{39, 340}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{328, 342}, {39, 340}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter13_Vine1_0016.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 2}, {25, 338}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{39, 340}</string>
			<key>spriteSourceSize</key>
			<string>{39, 340}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{451, 0}, {39, 340}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter13_Vine1_0017.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 3}, {27, 336}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{39, 340}</string>
			<key>spriteSourceSize</key>
			<string>{39, 340}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{205, 0}, {39, 340}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter13_Vine1_0018.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 3}, {27, 336}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{39, 340}</string>
			<key>spriteSourceSize</key>
			<string>{39, 340}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{82, 342}, {39, 340}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter13_Vine1_0019.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 3}, {25, 336}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{39, 340}</string>
			<key>spriteSourceSize</key>
			<string>{39, 340}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{164, 0}, {39, 340}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter13_Vine1_0020.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 3}, {23, 336}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{39, 340}</string>
			<key>spriteSourceSize</key>
			<string>{39, 340}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{82, 0}, {39, 340}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter13_Vine1_0021.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 3}, {23, 336}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{39, 340}</string>
			<key>spriteSourceSize</key>
			<string>{39, 340}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{287, 342}, {39, 340}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter13_Vine1_0022.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 3}, {21, 336}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{39, 340}</string>
			<key>spriteSourceSize</key>
			<string>{39, 340}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{164, 684}, {39, 340}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter13_Vine1_0023.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 3}, {21, 336}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{39, 340}</string>
			<key>spriteSourceSize</key>
			<string>{39, 340}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{164, 342}, {39, 340}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter13_Vine1_0024.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 3}, {19, 336}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{39, 340}</string>
			<key>spriteSourceSize</key>
			<string>{39, 340}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{41, 684}, {39, 340}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter13_Vine1_0025.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 3}, {17, 336}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{39, 340}</string>
			<key>spriteSourceSize</key>
			<string>{39, 340}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{287, 684}, {39, 340}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter13_Vine1_0026.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 3}, {17, 336}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{39, 340}</string>
			<key>spriteSourceSize</key>
			<string>{39, 340}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{246, 0}, {39, 340}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter13_Vine1_0027.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 3}, {17, 336}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{39, 340}</string>
			<key>spriteSourceSize</key>
			<string>{39, 340}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{205, 342}, {39, 340}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter13_Vine1_0028.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 3}, {15, 336}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{39, 340}</string>
			<key>spriteSourceSize</key>
			<string>{39, 340}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{123, 342}, {39, 340}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter13_Vine1_0029.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 3}, {15, 336}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{39, 340}</string>
			<key>spriteSourceSize</key>
			<string>{39, 340}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{328, 0}, {39, 340}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter13_Vine1_0030.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 3}, {15, 334}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{39, 340}</string>
			<key>spriteSourceSize</key>
			<string>{39, 340}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{410, 0}, {39, 340}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 1024}</string>
		<key>name</key>
		<string>Untitled 6</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>Chapter13_Vine1_</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>Chapter13_Vine1_</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>