<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Chapter26_BottomRtSail_0000.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {172, 95}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{172, 107}</string>
			<key>spriteSourceSize</key>
			<string>{172, 107}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 856}, {172, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter26_BottomRtSail_0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {172, 97}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{172, 107}</string>
			<key>spriteSourceSize</key>
			<string>{172, 107}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{688, 321}, {172, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter26_BottomRtSail_0002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {172, 97}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{172, 107}</string>
			<key>spriteSourceSize</key>
			<string>{172, 107}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{688, 214}, {172, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter26_BottomRtSail_0003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {172, 99}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{172, 107}</string>
			<key>spriteSourceSize</key>
			<string>{172, 107}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 642}, {172, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter26_BottomRtSail_0004.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {172, 99}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{172, 107}</string>
			<key>spriteSourceSize</key>
			<string>{172, 107}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{344, 107}, {172, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter26_BottomRtSail_0005.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {172, 101}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{172, 107}</string>
			<key>spriteSourceSize</key>
			<string>{172, 107}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {172, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter26_BottomRtSail_0006.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {172, 101}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{172, 107}</string>
			<key>spriteSourceSize</key>
			<string>{172, 107}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{516, 107}, {172, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter26_BottomRtSail_0007.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {172, 103}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{172, 107}</string>
			<key>spriteSourceSize</key>
			<string>{172, 107}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 321}, {172, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter26_BottomRtSail_0008.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {172, 103}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{172, 107}</string>
			<key>spriteSourceSize</key>
			<string>{172, 107}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{172, 0}, {172, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter26_BottomRtSail_0009.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {172, 103}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{172, 107}</string>
			<key>spriteSourceSize</key>
			<string>{172, 107}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{344, 214}, {172, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter26_BottomRtSail_0010.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {172, 101}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{172, 107}</string>
			<key>spriteSourceSize</key>
			<string>{172, 107}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{344, 321}, {172, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter26_BottomRtSail_0011.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {172, 101}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{172, 107}</string>
			<key>spriteSourceSize</key>
			<string>{172, 107}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 749}, {172, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter26_BottomRtSail_0012.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {172, 99}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{172, 107}</string>
			<key>spriteSourceSize</key>
			<string>{172, 107}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{516, 321}, {172, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter26_BottomRtSail_0013.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {172, 99}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{172, 107}</string>
			<key>spriteSourceSize</key>
			<string>{172, 107}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{172, 214}, {172, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter26_BottomRtSail_0014.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {172, 97}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{172, 107}</string>
			<key>spriteSourceSize</key>
			<string>{172, 107}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{688, 107}, {172, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter26_BottomRtSail_0015.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {172, 97}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{172, 107}</string>
			<key>spriteSourceSize</key>
			<string>{172, 107}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 535}, {172, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter26_BottomRtSail_0016.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {172, 95}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{172, 107}</string>
			<key>spriteSourceSize</key>
			<string>{172, 107}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{344, 0}, {172, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter26_BottomRtSail_0017.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {172, 95}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{172, 107}</string>
			<key>spriteSourceSize</key>
			<string>{172, 107}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{516, 214}, {172, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter26_BottomRtSail_0018.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {172, 93}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{172, 107}</string>
			<key>spriteSourceSize</key>
			<string>{172, 107}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 214}, {172, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter26_BottomRtSail_0019.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {172, 93}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{172, 107}</string>
			<key>spriteSourceSize</key>
			<string>{172, 107}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 107}, {172, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter26_BottomRtSail_0020.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {172, 91}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{172, 107}</string>
			<key>spriteSourceSize</key>
			<string>{172, 107}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{172, 428}, {172, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter26_BottomRtSail_0021.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {172, 91}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{172, 107}</string>
			<key>spriteSourceSize</key>
			<string>{172, 107}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 428}, {172, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter26_BottomRtSail_0022.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {172, 91}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{172, 107}</string>
			<key>spriteSourceSize</key>
			<string>{172, 107}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{172, 321}, {172, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter26_BottomRtSail_0023.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {172, 93}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{172, 107}</string>
			<key>spriteSourceSize</key>
			<string>{172, 107}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{516, 0}, {172, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter26_BottomRtSail_0024.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {172, 93}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{172, 107}</string>
			<key>spriteSourceSize</key>
			<string>{172, 107}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{172, 107}, {172, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter26_BottomRtSail_0025.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {172, 95}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{172, 107}</string>
			<key>spriteSourceSize</key>
			<string>{172, 107}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{688, 0}, {172, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>Chapter26_BottomRtSail_</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>Chapter26_BottomRtSail_</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>