<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Chapter20_BackgroundWhisps_0000.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {395, 179}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 185}</string>
			<key>spriteSourceSize</key>
			<string>{433, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{3480, 0}, {433, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_BackgroundWhisps_0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {395, 179}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 185}</string>
			<key>spriteSourceSize</key>
			<string>{433, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{435, 1309}, {433, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_BackgroundWhisps_0002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {393, 179}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 185}</string>
			<key>spriteSourceSize</key>
			<string>{433, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{870, 1122}, {433, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_BackgroundWhisps_0003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {393, 179}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 185}</string>
			<key>spriteSourceSize</key>
			<string>{433, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 1309}, {433, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_BackgroundWhisps_0004.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {391, 177}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 185}</string>
			<key>spriteSourceSize</key>
			<string>{433, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1305, 748}, {433, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_BackgroundWhisps_0005.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {391, 177}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 185}</string>
			<key>spriteSourceSize</key>
			<string>{433, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2610, 0}, {433, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_BackgroundWhisps_0006.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {391, 177}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 185}</string>
			<key>spriteSourceSize</key>
			<string>{433, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{870, 0}, {433, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_BackgroundWhisps_0007.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {391, 177}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 185}</string>
			<key>spriteSourceSize</key>
			<string>{433, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{870, 374}, {433, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_BackgroundWhisps_0008.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {393, 177}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 185}</string>
			<key>spriteSourceSize</key>
			<string>{433, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 748}, {433, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_BackgroundWhisps_0009.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {393, 177}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 185}</string>
			<key>spriteSourceSize</key>
			<string>{433, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2175, 0}, {433, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_BackgroundWhisps_0010.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {393, 177}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 185}</string>
			<key>spriteSourceSize</key>
			<string>{433, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{870, 561}, {433, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_BackgroundWhisps_0011.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {393, 179}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 185}</string>
			<key>spriteSourceSize</key>
			<string>{433, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 187}, {433, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_BackgroundWhisps_0012.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {393, 179}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 185}</string>
			<key>spriteSourceSize</key>
			<string>{433, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{435, 1122}, {433, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_BackgroundWhisps_0013.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {393, 179}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 185}</string>
			<key>spriteSourceSize</key>
			<string>{433, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1305, 1496}, {433, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_BackgroundWhisps_0014.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {393, 179}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 185}</string>
			<key>spriteSourceSize</key>
			<string>{433, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {433, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_BackgroundWhisps_0015.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {393, 179}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 185}</string>
			<key>spriteSourceSize</key>
			<string>{433, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{435, 187}, {433, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_BackgroundWhisps_0016.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {393, 181}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 185}</string>
			<key>spriteSourceSize</key>
			<string>{433, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{435, 1496}, {433, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_BackgroundWhisps_0017.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {393, 181}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 185}</string>
			<key>spriteSourceSize</key>
			<string>{433, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 561}, {433, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_BackgroundWhisps_0018.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {393, 181}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 185}</string>
			<key>spriteSourceSize</key>
			<string>{433, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1305, 1309}, {433, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_BackgroundWhisps_0019.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {393, 181}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 185}</string>
			<key>spriteSourceSize</key>
			<string>{433, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{870, 935}, {433, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_BackgroundWhisps_0020.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {393, 181}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 185}</string>
			<key>spriteSourceSize</key>
			<string>{433, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1305, 187}, {433, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_BackgroundWhisps_0021.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {393, 181}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 185}</string>
			<key>spriteSourceSize</key>
			<string>{433, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{870, 1683}, {433, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_BackgroundWhisps_0022.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {393, 181}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 185}</string>
			<key>spriteSourceSize</key>
			<string>{433, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 1122}, {433, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_BackgroundWhisps_0023.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {393, 181}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 185}</string>
			<key>spriteSourceSize</key>
			<string>{433, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1305, 1122}, {433, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_BackgroundWhisps_0024.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {393, 181}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 185}</string>
			<key>spriteSourceSize</key>
			<string>{433, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1305, 374}, {433, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_BackgroundWhisps_0025.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {393, 181}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 185}</string>
			<key>spriteSourceSize</key>
			<string>{433, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 935}, {433, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_BackgroundWhisps_0026.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {393, 181}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 185}</string>
			<key>spriteSourceSize</key>
			<string>{433, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{435, 0}, {433, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_BackgroundWhisps_0027.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {393, 181}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 185}</string>
			<key>spriteSourceSize</key>
			<string>{433, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{3045, 0}, {433, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_BackgroundWhisps_0028.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {393, 181}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 185}</string>
			<key>spriteSourceSize</key>
			<string>{433, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{435, 748}, {433, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_BackgroundWhisps_0029.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {393, 181}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 185}</string>
			<key>spriteSourceSize</key>
			<string>{433, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{870, 748}, {433, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_BackgroundWhisps_0030.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {393, 181}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 185}</string>
			<key>spriteSourceSize</key>
			<string>{433, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 374}, {433, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_BackgroundWhisps_0031.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {393, 181}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 185}</string>
			<key>spriteSourceSize</key>
			<string>{433, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{435, 374}, {433, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_BackgroundWhisps_0032.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {395, 183}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 185}</string>
			<key>spriteSourceSize</key>
			<string>{433, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{870, 1309}, {433, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_BackgroundWhisps_0033.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {395, 183}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 185}</string>
			<key>spriteSourceSize</key>
			<string>{433, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{435, 561}, {433, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_BackgroundWhisps_0034.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {395, 183}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 185}</string>
			<key>spriteSourceSize</key>
			<string>{433, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1305, 561}, {433, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_BackgroundWhisps_0035.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {395, 183}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 185}</string>
			<key>spriteSourceSize</key>
			<string>{433, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1305, 1683}, {433, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_BackgroundWhisps_0036.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {397, 183}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 185}</string>
			<key>spriteSourceSize</key>
			<string>{433, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{870, 1496}, {433, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_BackgroundWhisps_0037.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {397, 183}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 185}</string>
			<key>spriteSourceSize</key>
			<string>{433, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{435, 935}, {433, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_BackgroundWhisps_0038.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {397, 183}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 185}</string>
			<key>spriteSourceSize</key>
			<string>{433, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1305, 0}, {433, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_BackgroundWhisps_0039.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {397, 181}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 185}</string>
			<key>spriteSourceSize</key>
			<string>{433, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{435, 1683}, {433, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_BackgroundWhisps_0040.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {397, 181}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 185}</string>
			<key>spriteSourceSize</key>
			<string>{433, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1740, 0}, {433, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_BackgroundWhisps_0041.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {397, 181}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 185}</string>
			<key>spriteSourceSize</key>
			<string>{433, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 1496}, {433, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_BackgroundWhisps_0042.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {397, 181}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 185}</string>
			<key>spriteSourceSize</key>
			<string>{433, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{870, 187}, {433, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_BackgroundWhisps_0043.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {397, 179}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 185}</string>
			<key>spriteSourceSize</key>
			<string>{433, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1305, 935}, {433, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_BackgroundWhisps_0044.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {395, 179}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 185}</string>
			<key>spriteSourceSize</key>
			<string>{433, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 1683}, {433, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{4096, 2048}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>Chapter20_BackgroundWhisps_</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>Chapter20_BackgroundWhisps_</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>