<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Chapter20_Whisps_0000.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {429, 486}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 488}</string>
			<key>spriteSourceSize</key>
			<string>{433, 488}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 2450}, {433, 488}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_Whisps_0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {429, 486}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 488}</string>
			<key>spriteSourceSize</key>
			<string>{433, 488}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1305, 2450}, {433, 488}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_Whisps_0002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {429, 486}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 488}</string>
			<key>spriteSourceSize</key>
			<string>{433, 488}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2610, 980}, {433, 488}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_Whisps_0003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {429, 486}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 488}</string>
			<key>spriteSourceSize</key>
			<string>{433, 488}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{3045, 0}, {433, 488}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_Whisps_0004.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {429, 486}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 488}</string>
			<key>spriteSourceSize</key>
			<string>{433, 488}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{3480, 0}, {433, 488}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_Whisps_0005.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {429, 486}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 488}</string>
			<key>spriteSourceSize</key>
			<string>{433, 488}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{435, 490}, {433, 488}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_Whisps_0006.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {429, 486}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 488}</string>
			<key>spriteSourceSize</key>
			<string>{433, 488}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{435, 0}, {433, 488}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_Whisps_0007.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {429, 486}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 488}</string>
			<key>spriteSourceSize</key>
			<string>{433, 488}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2610, 490}, {433, 488}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_Whisps_0008.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {429, 486}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 488}</string>
			<key>spriteSourceSize</key>
			<string>{433, 488}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1305, 1960}, {433, 488}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_Whisps_0009.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {429, 486}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 488}</string>
			<key>spriteSourceSize</key>
			<string>{433, 488}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 490}, {433, 488}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_Whisps_0010.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {429, 486}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 488}</string>
			<key>spriteSourceSize</key>
			<string>{433, 488}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 1960}, {433, 488}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_Whisps_0011.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {429, 486}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 488}</string>
			<key>spriteSourceSize</key>
			<string>{433, 488}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{435, 3430}, {433, 488}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_Whisps_0012.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {429, 486}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 488}</string>
			<key>spriteSourceSize</key>
			<string>{433, 488}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2175, 980}, {433, 488}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_Whisps_0013.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {429, 486}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 488}</string>
			<key>spriteSourceSize</key>
			<string>{433, 488}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{435, 2450}, {433, 488}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_Whisps_0014.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {429, 486}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 488}</string>
			<key>spriteSourceSize</key>
			<string>{433, 488}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{3045, 980}, {433, 488}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_Whisps_0015.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {429, 486}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 488}</string>
			<key>spriteSourceSize</key>
			<string>{433, 488}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2175, 490}, {433, 488}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_Whisps_0016.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {429, 486}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 488}</string>
			<key>spriteSourceSize</key>
			<string>{433, 488}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1305, 0}, {433, 488}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_Whisps_0017.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {429, 486}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 488}</string>
			<key>spriteSourceSize</key>
			<string>{433, 488}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{3045, 490}, {433, 488}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_Whisps_0018.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {429, 486}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 488}</string>
			<key>spriteSourceSize</key>
			<string>{433, 488}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{435, 1960}, {433, 488}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_Whisps_0019.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {429, 486}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 488}</string>
			<key>spriteSourceSize</key>
			<string>{433, 488}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1305, 1470}, {433, 488}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_Whisps_0020.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {429, 486}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 488}</string>
			<key>spriteSourceSize</key>
			<string>{433, 488}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2610, 0}, {433, 488}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_Whisps_0021.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {429, 486}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 488}</string>
			<key>spriteSourceSize</key>
			<string>{433, 488}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{870, 2450}, {433, 488}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_Whisps_0022.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {429, 486}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 488}</string>
			<key>spriteSourceSize</key>
			<string>{433, 488}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 3430}, {433, 488}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_Whisps_0023.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {429, 486}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 488}</string>
			<key>spriteSourceSize</key>
			<string>{433, 488}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {433, 488}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_Whisps_0024.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {429, 486}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 488}</string>
			<key>spriteSourceSize</key>
			<string>{433, 488}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{870, 0}, {433, 488}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_Whisps_0025.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {429, 486}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 488}</string>
			<key>spriteSourceSize</key>
			<string>{433, 488}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{870, 980}, {433, 488}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_Whisps_0026.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {429, 486}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 488}</string>
			<key>spriteSourceSize</key>
			<string>{433, 488}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1740, 0}, {433, 488}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_Whisps_0027.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {429, 486}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 488}</string>
			<key>spriteSourceSize</key>
			<string>{433, 488}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{870, 2940}, {433, 488}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_Whisps_0028.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {429, 486}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 488}</string>
			<key>spriteSourceSize</key>
			<string>{433, 488}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1740, 490}, {433, 488}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_Whisps_0029.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {429, 486}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 488}</string>
			<key>spriteSourceSize</key>
			<string>{433, 488}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 980}, {433, 488}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_Whisps_0030.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {429, 486}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 488}</string>
			<key>spriteSourceSize</key>
			<string>{433, 488}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{435, 980}, {433, 488}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_Whisps_0031.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {429, 486}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 488}</string>
			<key>spriteSourceSize</key>
			<string>{433, 488}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2175, 0}, {433, 488}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_Whisps_0032.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {429, 486}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 488}</string>
			<key>spriteSourceSize</key>
			<string>{433, 488}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{3480, 980}, {433, 488}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_Whisps_0033.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {429, 486}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 488}</string>
			<key>spriteSourceSize</key>
			<string>{433, 488}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 2940}, {433, 488}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_Whisps_0034.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {429, 486}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 488}</string>
			<key>spriteSourceSize</key>
			<string>{433, 488}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{870, 490}, {433, 488}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_Whisps_0035.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {429, 486}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 488}</string>
			<key>spriteSourceSize</key>
			<string>{433, 488}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{870, 1470}, {433, 488}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_Whisps_0036.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {429, 486}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 488}</string>
			<key>spriteSourceSize</key>
			<string>{433, 488}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 1470}, {433, 488}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_Whisps_0037.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {429, 486}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 488}</string>
			<key>spriteSourceSize</key>
			<string>{433, 488}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1305, 980}, {433, 488}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_Whisps_0038.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {429, 486}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 488}</string>
			<key>spriteSourceSize</key>
			<string>{433, 488}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{435, 1470}, {433, 488}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_Whisps_0039.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {429, 486}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 488}</string>
			<key>spriteSourceSize</key>
			<string>{433, 488}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{435, 2940}, {433, 488}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_Whisps_0040.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {429, 486}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 488}</string>
			<key>spriteSourceSize</key>
			<string>{433, 488}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1305, 490}, {433, 488}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_Whisps_0041.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {429, 486}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 488}</string>
			<key>spriteSourceSize</key>
			<string>{433, 488}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{870, 1960}, {433, 488}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_Whisps_0042.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {429, 486}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 488}</string>
			<key>spriteSourceSize</key>
			<string>{433, 488}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{870, 3430}, {433, 488}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_Whisps_0043.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {429, 486}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 488}</string>
			<key>spriteSourceSize</key>
			<string>{433, 488}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1740, 980}, {433, 488}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter20_Whisps_0044.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {429, 486}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 488}</string>
			<key>spriteSourceSize</key>
			<string>{433, 488}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{3480, 490}, {433, 488}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{4096, 4096}</string>
		<key>name</key>
		<string>Untitled 3</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>Chapter20_Whisps_</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>Chapter20_Whisps_</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>