<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Chapter13_Vine2_0000.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 2}, {27, 496}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{45, 502}</string>
			<key>spriteSourceSize</key>
			<string>{45, 502}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{188, 0}, {45, 502}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter13_Vine2_0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 2}, {27, 496}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{45, 502}</string>
			<key>spriteSourceSize</key>
			<string>{45, 502}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{376, 0}, {45, 502}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter13_Vine2_0002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 2}, {27, 498}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{45, 502}</string>
			<key>spriteSourceSize</key>
			<string>{45, 502}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{564, 0}, {45, 502}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter13_Vine2_0003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 2}, {25, 498}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{45, 502}</string>
			<key>spriteSourceSize</key>
			<string>{45, 502}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{141, 0}, {45, 502}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter13_Vine2_0004.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 2}, {25, 498}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{45, 502}</string>
			<key>spriteSourceSize</key>
			<string>{45, 502}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{235, 504}, {45, 502}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter13_Vine2_0005.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 2}, {23, 498}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{45, 502}</string>
			<key>spriteSourceSize</key>
			<string>{45, 502}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{940, 0}, {45, 502}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter13_Vine2_0006.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 2}, {21, 498}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{45, 502}</string>
			<key>spriteSourceSize</key>
			<string>{45, 502}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{423, 0}, {45, 502}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter13_Vine2_0007.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 2}, {21, 498}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{45, 502}</string>
			<key>spriteSourceSize</key>
			<string>{45, 502}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{47, 504}, {45, 502}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter13_Vine2_0008.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 2}, {21, 498}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{45, 502}</string>
			<key>spriteSourceSize</key>
			<string>{45, 502}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{282, 0}, {45, 502}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter13_Vine2_0009.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 3}, {23, 496}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{45, 502}</string>
			<key>spriteSourceSize</key>
			<string>{45, 502}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{658, 0}, {45, 502}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter13_Vine2_0010.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 3}, {23, 496}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{45, 502}</string>
			<key>spriteSourceSize</key>
			<string>{45, 502}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{141, 504}, {45, 502}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter13_Vine2_0011.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 3}, {25, 496}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{45, 502}</string>
			<key>spriteSourceSize</key>
			<string>{45, 502}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{893, 0}, {45, 502}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter13_Vine2_0012.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 3}, {23, 494}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{45, 502}</string>
			<key>spriteSourceSize</key>
			<string>{45, 502}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{94, 504}, {45, 502}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter13_Vine2_0013.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 3}, {25, 494}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{45, 502}</string>
			<key>spriteSourceSize</key>
			<string>{45, 502}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{799, 0}, {45, 502}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter13_Vine2_0014.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 2}, {27, 496}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{45, 502}</string>
			<key>spriteSourceSize</key>
			<string>{45, 502}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 504}, {45, 502}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter13_Vine2_0015.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {27, 496}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{45, 502}</string>
			<key>spriteSourceSize</key>
			<string>{45, 502}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{329, 504}, {45, 502}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter13_Vine2_0016.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {29, 494}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{45, 502}</string>
			<key>spriteSourceSize</key>
			<string>{45, 502}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{611, 0}, {45, 502}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter13_Vine2_0017.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {29, 494}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{45, 502}</string>
			<key>spriteSourceSize</key>
			<string>{45, 502}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {45, 502}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter13_Vine2_0018.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {29, 494}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{45, 502}</string>
			<key>spriteSourceSize</key>
			<string>{45, 502}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{188, 504}, {45, 502}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter13_Vine2_0019.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 2}, {25, 494}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{45, 502}</string>
			<key>spriteSourceSize</key>
			<string>{45, 502}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{517, 0}, {45, 502}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter13_Vine2_0020.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 2}, {23, 494}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{45, 502}</string>
			<key>spriteSourceSize</key>
			<string>{45, 502}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{282, 504}, {45, 502}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter13_Vine2_0021.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 2}, {21, 494}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{45, 502}</string>
			<key>spriteSourceSize</key>
			<string>{45, 502}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{470, 0}, {45, 502}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter13_Vine2_0022.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 2}, {21, 494}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{45, 502}</string>
			<key>spriteSourceSize</key>
			<string>{45, 502}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{752, 0}, {45, 502}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter13_Vine2_0023.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 2}, {19, 496}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{45, 502}</string>
			<key>spriteSourceSize</key>
			<string>{45, 502}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{846, 0}, {45, 502}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter13_Vine2_0024.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 2}, {17, 496}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{45, 502}</string>
			<key>spriteSourceSize</key>
			<string>{45, 502}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{94, 0}, {45, 502}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter13_Vine2_0025.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 2}, {17, 496}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{45, 502}</string>
			<key>spriteSourceSize</key>
			<string>{45, 502}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{705, 0}, {45, 502}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter13_Vine2_0026.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 2}, {19, 496}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{45, 502}</string>
			<key>spriteSourceSize</key>
			<string>{45, 502}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{235, 0}, {45, 502}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter13_Vine2_0027.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 2}, {19, 496}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{45, 502}</string>
			<key>spriteSourceSize</key>
			<string>{45, 502}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{47, 0}, {45, 502}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter13_Vine2_0028.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 2}, {21, 496}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{45, 502}</string>
			<key>spriteSourceSize</key>
			<string>{45, 502}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{329, 0}, {45, 502}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter13_Vine2_0029.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 2}, {23, 496}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{45, 502}</string>
			<key>spriteSourceSize</key>
			<string>{45, 502}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{423, 504}, {45, 502}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter13_Vine2_0030.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 2}, {25, 496}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{45, 502}</string>
			<key>spriteSourceSize</key>
			<string>{45, 502}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{376, 504}, {45, 502}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>Untitled 7</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>Chapter13_Vine2_</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>Chapter13_Vine2_</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>