<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Chapter34_TopLftTree_0000.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {548, 564}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{554, 564}</string>
			<key>spriteSourceSize</key>
			<string>{554, 564}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2224, 2264}, {554, 564}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_TopLftTree_0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {546, 564}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{554, 564}</string>
			<key>spriteSourceSize</key>
			<string>{554, 564}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{3336, 566}, {554, 564}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_TopLftTree_0002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {544, 564}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{554, 564}</string>
			<key>spriteSourceSize</key>
			<string>{554, 564}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1668, 0}, {554, 564}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_TopLftTree_0003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {542, 564}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{554, 564}</string>
			<key>spriteSourceSize</key>
			<string>{554, 564}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {554, 564}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_TopLftTree_0004.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {540, 564}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{554, 564}</string>
			<key>spriteSourceSize</key>
			<string>{554, 564}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1112, 0}, {554, 564}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_TopLftTree_0005.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {538, 564}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{554, 564}</string>
			<key>spriteSourceSize</key>
			<string>{554, 564}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 1132}, {554, 564}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_TopLftTree_0006.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {538, 564}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{554, 564}</string>
			<key>spriteSourceSize</key>
			<string>{554, 564}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 1698}, {554, 564}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_TopLftTree_0007.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {536, 564}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{554, 564}</string>
			<key>spriteSourceSize</key>
			<string>{554, 564}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{556, 1132}, {554, 564}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_TopLftTree_0008.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {536, 564}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{554, 564}</string>
			<key>spriteSourceSize</key>
			<string>{554, 564}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2224, 1698}, {554, 564}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_TopLftTree_0009.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {536, 564}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{554, 564}</string>
			<key>spriteSourceSize</key>
			<string>{554, 564}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2780, 2264}, {554, 564}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_TopLftTree_0010.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {536, 564}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{554, 564}</string>
			<key>spriteSourceSize</key>
			<string>{554, 564}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1112, 2264}, {554, 564}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_TopLftTree_0011.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {534, 564}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{554, 564}</string>
			<key>spriteSourceSize</key>
			<string>{554, 564}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2224, 0}, {554, 564}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_TopLftTree_0012.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {534, 564}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{554, 564}</string>
			<key>spriteSourceSize</key>
			<string>{554, 564}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{556, 2830}, {554, 564}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_TopLftTree_0013.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {534, 564}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{554, 564}</string>
			<key>spriteSourceSize</key>
			<string>{554, 564}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 566}, {554, 564}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_TopLftTree_0014.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {534, 564}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{554, 564}</string>
			<key>spriteSourceSize</key>
			<string>{554, 564}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1668, 1132}, {554, 564}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_TopLftTree_0015.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {534, 564}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{554, 564}</string>
			<key>spriteSourceSize</key>
			<string>{554, 564}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1112, 2830}, {554, 564}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_TopLftTree_0016.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {534, 564}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{554, 564}</string>
			<key>spriteSourceSize</key>
			<string>{554, 564}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2780, 0}, {554, 564}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_TopLftTree_0017.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {532, 564}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{554, 564}</string>
			<key>spriteSourceSize</key>
			<string>{554, 564}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{3336, 1132}, {554, 564}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_TopLftTree_0018.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {532, 564}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{554, 564}</string>
			<key>spriteSourceSize</key>
			<string>{554, 564}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1668, 1698}, {554, 564}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_TopLftTree_0019.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {532, 564}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{554, 564}</string>
			<key>spriteSourceSize</key>
			<string>{554, 564}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{556, 566}, {554, 564}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_TopLftTree_0020.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {532, 564}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{554, 564}</string>
			<key>spriteSourceSize</key>
			<string>{554, 564}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 2264}, {554, 564}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_TopLftTree_0021.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {534, 564}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{554, 564}</string>
			<key>spriteSourceSize</key>
			<string>{554, 564}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2780, 1698}, {554, 564}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_TopLftTree_0022.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {534, 564}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{554, 564}</string>
			<key>spriteSourceSize</key>
			<string>{554, 564}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{3336, 0}, {554, 564}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_TopLftTree_0023.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {536, 564}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{554, 564}</string>
			<key>spriteSourceSize</key>
			<string>{554, 564}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{3336, 1698}, {554, 564}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_TopLftTree_0024.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {536, 564}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{554, 564}</string>
			<key>spriteSourceSize</key>
			<string>{554, 564}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2780, 566}, {554, 564}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_TopLftTree_0025.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {538, 564}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{554, 564}</string>
			<key>spriteSourceSize</key>
			<string>{554, 564}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 3396}, {554, 564}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_TopLftTree_0026.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {538, 564}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{554, 564}</string>
			<key>spriteSourceSize</key>
			<string>{554, 564}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2224, 3396}, {554, 564}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_TopLftTree_0027.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {540, 564}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{554, 564}</string>
			<key>spriteSourceSize</key>
			<string>{554, 564}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 2830}, {554, 564}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_TopLftTree_0028.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {540, 564}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{554, 564}</string>
			<key>spriteSourceSize</key>
			<string>{554, 564}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2224, 2830}, {554, 564}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_TopLftTree_0029.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {542, 564}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{554, 564}</string>
			<key>spriteSourceSize</key>
			<string>{554, 564}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1112, 1132}, {554, 564}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_TopLftTree_0030.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {542, 564}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{554, 564}</string>
			<key>spriteSourceSize</key>
			<string>{554, 564}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{556, 3396}, {554, 564}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_TopLftTree_0031.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {544, 564}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{554, 564}</string>
			<key>spriteSourceSize</key>
			<string>{554, 564}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2224, 1132}, {554, 564}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_TopLftTree_0032.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {544, 564}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{554, 564}</string>
			<key>spriteSourceSize</key>
			<string>{554, 564}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1668, 3396}, {554, 564}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_TopLftTree_0033.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {546, 564}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{554, 564}</string>
			<key>spriteSourceSize</key>
			<string>{554, 564}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{556, 2264}, {554, 564}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_TopLftTree_0034.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {546, 564}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{554, 564}</string>
			<key>spriteSourceSize</key>
			<string>{554, 564}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1668, 2830}, {554, 564}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_TopLftTree_0035.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {546, 564}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{554, 564}</string>
			<key>spriteSourceSize</key>
			<string>{554, 564}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1668, 2264}, {554, 564}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_TopLftTree_0036.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {546, 564}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{554, 564}</string>
			<key>spriteSourceSize</key>
			<string>{554, 564}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2224, 566}, {554, 564}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_TopLftTree_0037.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {546, 564}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{554, 564}</string>
			<key>spriteSourceSize</key>
			<string>{554, 564}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{3336, 2264}, {554, 564}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_TopLftTree_0038.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {546, 564}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{554, 564}</string>
			<key>spriteSourceSize</key>
			<string>{554, 564}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1668, 566}, {554, 564}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_TopLftTree_0039.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {546, 564}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{554, 564}</string>
			<key>spriteSourceSize</key>
			<string>{554, 564}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{556, 0}, {554, 564}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_TopLftTree_0040.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {546, 564}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{554, 564}</string>
			<key>spriteSourceSize</key>
			<string>{554, 564}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2780, 1132}, {554, 564}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_TopLftTree_0041.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {548, 564}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{554, 564}</string>
			<key>spriteSourceSize</key>
			<string>{554, 564}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{556, 1698}, {554, 564}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_TopLftTree_0042.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {548, 564}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{554, 564}</string>
			<key>spriteSourceSize</key>
			<string>{554, 564}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1112, 1698}, {554, 564}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_TopLftTree_0043.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {548, 564}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{554, 564}</string>
			<key>spriteSourceSize</key>
			<string>{554, 564}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1112, 3396}, {554, 564}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chapter34_TopLftTree_0044.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {546, 564}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{554, 564}</string>
			<key>spriteSourceSize</key>
			<string>{554, 564}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1112, 566}, {554, 564}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{4096, 4096}</string>
		<key>name</key>
		<string>Untitled 4</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>Chapter34_TopLftTree_</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>Chapter34_TopLftTree_</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>