<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Chest_00000.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{31, 117}, {264, 148}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 300}</string>
			<key>spriteSourceSize</key>
			<string>{350, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 906}, {350, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chest_00001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{31, 114}, {264, 152}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 300}</string>
			<key>spriteSourceSize</key>
			<string>{350, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{352, 0}, {350, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chest_00002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{31, 113}, {264, 152}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 300}</string>
			<key>spriteSourceSize</key>
			<string>{350, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{3168, 0}, {350, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chest_00003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{31, 112}, {264, 154}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 300}</string>
			<key>spriteSourceSize</key>
			<string>{350, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{352, 1208}, {350, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chest_00004.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{31, 110}, {264, 156}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 300}</string>
			<key>spriteSourceSize</key>
			<string>{350, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 604}, {350, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chest_00005.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{31, 109}, {264, 156}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 300}</string>
			<key>spriteSourceSize</key>
			<string>{350, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{352, 1510}, {350, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chest_00006.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{31, 108}, {264, 158}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 300}</string>
			<key>spriteSourceSize</key>
			<string>{350, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{704, 302}, {350, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chest_00007.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{31, 106}, {264, 160}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 300}</string>
			<key>spriteSourceSize</key>
			<string>{350, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1056, 0}, {350, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chest_00008.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{31, 105}, {264, 160}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 300}</string>
			<key>spriteSourceSize</key>
			<string>{350, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1408, 0}, {350, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chest_00009.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{31, 104}, {264, 162}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 300}</string>
			<key>spriteSourceSize</key>
			<string>{350, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1056, 1208}, {350, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chest_00010.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{31, 104}, {264, 162}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 300}</string>
			<key>spriteSourceSize</key>
			<string>{350, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1408, 302}, {350, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chest_00011.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{31, 102}, {264, 164}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 300}</string>
			<key>spriteSourceSize</key>
			<string>{350, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2816, 0}, {350, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chest_00012.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{31, 101}, {264, 164}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 300}</string>
			<key>spriteSourceSize</key>
			<string>{350, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1408, 1208}, {350, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chest_00013.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{31, 100}, {264, 166}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 300}</string>
			<key>spriteSourceSize</key>
			<string>{350, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1760, 906}, {350, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chest_00014.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{31, 99}, {264, 166}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 300}</string>
			<key>spriteSourceSize</key>
			<string>{350, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1056, 302}, {350, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chest_00015.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{31, 99}, {264, 166}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 300}</string>
			<key>spriteSourceSize</key>
			<string>{350, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {350, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chest_00016.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{31, 97}, {264, 168}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 300}</string>
			<key>spriteSourceSize</key>
			<string>{350, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{352, 604}, {350, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chest_00017.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{31, 96}, {264, 170}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 300}</string>
			<key>spriteSourceSize</key>
			<string>{350, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1056, 1510}, {350, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chest_00018.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{31, 94}, {264, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 300}</string>
			<key>spriteSourceSize</key>
			<string>{350, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{704, 906}, {350, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chest_00019.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{31, 93}, {264, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 300}</string>
			<key>spriteSourceSize</key>
			<string>{350, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 302}, {350, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chest_00020.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{31, 91}, {264, 174}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 300}</string>
			<key>spriteSourceSize</key>
			<string>{350, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1760, 302}, {350, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chest_00021.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{31, 93}, {264, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 300}</string>
			<key>spriteSourceSize</key>
			<string>{350, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{704, 1208}, {350, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chest_00022.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{31, 95}, {264, 170}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 300}</string>
			<key>spriteSourceSize</key>
			<string>{350, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1408, 604}, {350, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chest_00023.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{31, 96}, {264, 170}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 300}</string>
			<key>spriteSourceSize</key>
			<string>{350, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1760, 0}, {350, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chest_00024.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{31, 98}, {264, 168}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 300}</string>
			<key>spriteSourceSize</key>
			<string>{350, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 1510}, {350, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chest_00025.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{31, 100}, {264, 166}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 300}</string>
			<key>spriteSourceSize</key>
			<string>{350, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1760, 1208}, {350, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chest_00026.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{31, 101}, {264, 164}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 300}</string>
			<key>spriteSourceSize</key>
			<string>{350, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1408, 1510}, {350, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chest_00027.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{31, 102}, {264, 164}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 300}</string>
			<key>spriteSourceSize</key>
			<string>{350, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{704, 0}, {350, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chest_00028.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{31, 103}, {264, 162}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 300}</string>
			<key>spriteSourceSize</key>
			<string>{350, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{352, 302}, {350, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chest_00029.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{31, 105}, {264, 160}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 300}</string>
			<key>spriteSourceSize</key>
			<string>{350, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1760, 604}, {350, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chest_00030.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{31, 106}, {264, 160}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 300}</string>
			<key>spriteSourceSize</key>
			<string>{350, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 1208}, {350, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chest_00031.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{31, 107}, {264, 158}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 300}</string>
			<key>spriteSourceSize</key>
			<string>{350, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1408, 906}, {350, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chest_00032.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{31, 108}, {264, 158}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 300}</string>
			<key>spriteSourceSize</key>
			<string>{350, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1056, 906}, {350, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chest_00033.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{31, 109}, {264, 156}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 300}</string>
			<key>spriteSourceSize</key>
			<string>{350, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{704, 1510}, {350, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chest_00034.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{31, 111}, {264, 154}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 300}</string>
			<key>spriteSourceSize</key>
			<string>{350, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1760, 1510}, {350, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chest_00035.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{31, 112}, {264, 154}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 300}</string>
			<key>spriteSourceSize</key>
			<string>{350, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{704, 604}, {350, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chest_00036.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{31, 113}, {264, 152}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 300}</string>
			<key>spriteSourceSize</key>
			<string>{350, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{352, 906}, {350, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chest_00037.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{31, 114}, {264, 152}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 300}</string>
			<key>spriteSourceSize</key>
			<string>{350, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1056, 604}, {350, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chest_00038.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{31, 115}, {264, 150}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 300}</string>
			<key>spriteSourceSize</key>
			<string>{350, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2464, 0}, {350, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Chest_00039.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{31, 116}, {264, 150}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 300}</string>
			<key>spriteSourceSize</key>
			<string>{350, 300}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2112, 0}, {350, 300}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{4096, 2048}</string>
		<key>name</key>
		<string>Untitled 2</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>Chest_0</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>Chest_0</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>