<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>CrossedPistols_00000.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 17}, {67, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 75}</string>
			<key>spriteSourceSize</key>
			<string>{75, 75}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{154, 154}, {75, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CrossedPistols_00001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 17}, {67, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 75}</string>
			<key>spriteSourceSize</key>
			<string>{75, 75}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{154, 0}, {75, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CrossedPistols_00002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 17}, {67, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 75}</string>
			<key>spriteSourceSize</key>
			<string>{75, 75}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{154, 77}, {75, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CrossedPistols_00003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 17}, {67, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 75}</string>
			<key>spriteSourceSize</key>
			<string>{75, 75}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{308, 77}, {75, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CrossedPistols_00004.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 17}, {67, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 75}</string>
			<key>spriteSourceSize</key>
			<string>{75, 75}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{77, 77}, {75, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CrossedPistols_00005.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 17}, {67, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 75}</string>
			<key>spriteSourceSize</key>
			<string>{75, 75}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{231, 77}, {75, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CrossedPistols_00006.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 17}, {67, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 75}</string>
			<key>spriteSourceSize</key>
			<string>{75, 75}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{77, 154}, {75, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CrossedPistols_00007.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 17}, {67, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 75}</string>
			<key>spriteSourceSize</key>
			<string>{75, 75}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{231, 0}, {75, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CrossedPistols_00008.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 17}, {67, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 75}</string>
			<key>spriteSourceSize</key>
			<string>{75, 75}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CrossedPistols_00009.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 17}, {67, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 75}</string>
			<key>spriteSourceSize</key>
			<string>{75, 75}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{231, 154}, {75, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CrossedPistols_00010.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 17}, {67, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 75}</string>
			<key>spriteSourceSize</key>
			<string>{75, 75}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 154}, {75, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CrossedPistols_00011.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 17}, {67, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 75}</string>
			<key>spriteSourceSize</key>
			<string>{75, 75}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{308, 0}, {75, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CrossedPistols_00012.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 15}, {67, 55}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 75}</string>
			<key>spriteSourceSize</key>
			<string>{75, 75}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{77, 0}, {75, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CrossedPistols_00013.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 11}, {67, 59}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 75}</string>
			<key>spriteSourceSize</key>
			<string>{75, 75}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{385, 0}, {75, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CrossedPistols_00014.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 8}, {69, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 75}</string>
			<key>spriteSourceSize</key>
			<string>{75, 75}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 77}, {75, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 256}</string>
		<key>name</key>
		<string>Untitled 19</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>CrossedPistols_0</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>CrossedPistols_0</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>