<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Pistol_00000.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 8}, {86, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 50}</string>
			<key>spriteSourceSize</key>
			<string>{120, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{122, 260}, {120, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Pistol_00001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 8}, {86, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 50}</string>
			<key>spriteSourceSize</key>
			<string>{120, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 104}, {120, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Pistol_00002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 9}, {86, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 50}</string>
			<key>spriteSourceSize</key>
			<string>{120, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 364}, {120, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Pistol_00003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 9}, {86, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 50}</string>
			<key>spriteSourceSize</key>
			<string>{120, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{244, 0}, {120, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Pistol_00004.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 9}, {86, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 50}</string>
			<key>spriteSourceSize</key>
			<string>{120, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 260}, {120, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Pistol_00005.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 9}, {86, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 50}</string>
			<key>spriteSourceSize</key>
			<string>{120, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{122, 156}, {120, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Pistol_00006.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 9}, {86, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 50}</string>
			<key>spriteSourceSize</key>
			<string>{120, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{122, 312}, {120, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Pistol_00007.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 9}, {86, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 50}</string>
			<key>spriteSourceSize</key>
			<string>{120, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 416}, {120, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Pistol_00008.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 9}, {86, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 50}</string>
			<key>spriteSourceSize</key>
			<string>{120, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 52}, {120, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Pistol_00009.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 9}, {86, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 50}</string>
			<key>spriteSourceSize</key>
			<string>{120, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 156}, {120, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Pistol_00010.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 9}, {86, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 50}</string>
			<key>spriteSourceSize</key>
			<string>{120, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {120, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Pistol_00011.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 9}, {88, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 50}</string>
			<key>spriteSourceSize</key>
			<string>{120, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{122, 0}, {120, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Pistol_00012.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 9}, {98, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 50}</string>
			<key>spriteSourceSize</key>
			<string>{120, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{122, 364}, {120, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Pistol_00013.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 9}, {108, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 50}</string>
			<key>spriteSourceSize</key>
			<string>{120, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{122, 208}, {120, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Pistol_00014.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 9}, {118, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 50}</string>
			<key>spriteSourceSize</key>
			<string>{120, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 208}, {120, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Pistol_00015.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 9}, {118, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 50}</string>
			<key>spriteSourceSize</key>
			<string>{120, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{244, 52}, {120, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Pistol_00016.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 9}, {118, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 50}</string>
			<key>spriteSourceSize</key>
			<string>{120, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 312}, {120, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Pistol_00017.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 9}, {118, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 50}</string>
			<key>spriteSourceSize</key>
			<string>{120, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{122, 416}, {120, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Pistol_00018.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 9}, {118, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 50}</string>
			<key>spriteSourceSize</key>
			<string>{120, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{122, 104}, {120, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Pistol_00019.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 9}, {118, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 50}</string>
			<key>spriteSourceSize</key>
			<string>{120, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{122, 52}, {120, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>name</key>
		<string>Untitled 6</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>Pistol_0</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>Pistol_0</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>