<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Ship_00000.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 7}, {50, 46}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{70, 70}</string>
			<key>spriteSourceSize</key>
			<string>{70, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{216, 288}, {70, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Ship_00001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 6}, {50, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{70, 70}</string>
			<key>spriteSourceSize</key>
			<string>{70, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{72, 216}, {70, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Ship_00002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 6}, {50, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{70, 70}</string>
			<key>spriteSourceSize</key>
			<string>{70, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{72, 144}, {70, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Ship_00003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 6}, {50, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{70, 70}</string>
			<key>spriteSourceSize</key>
			<string>{70, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{216, 0}, {70, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Ship_00004.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 6}, {50, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{70, 70}</string>
			<key>spriteSourceSize</key>
			<string>{70, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{216, 144}, {70, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Ship_00005.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 6}, {50, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{70, 70}</string>
			<key>spriteSourceSize</key>
			<string>{70, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {70, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Ship_00006.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 6}, {50, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{70, 70}</string>
			<key>spriteSourceSize</key>
			<string>{70, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{144, 72}, {70, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Ship_00007.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 6}, {52, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{70, 70}</string>
			<key>spriteSourceSize</key>
			<string>{70, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{144, 288}, {70, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Ship_00008.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 6}, {50, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{70, 70}</string>
			<key>spriteSourceSize</key>
			<string>{70, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{144, 0}, {70, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Ship_00009.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 6}, {50, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{70, 70}</string>
			<key>spriteSourceSize</key>
			<string>{70, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 288}, {70, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Ship_00010.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 6}, {50, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{70, 70}</string>
			<key>spriteSourceSize</key>
			<string>{70, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 216}, {70, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Ship_00011.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 6}, {50, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{70, 70}</string>
			<key>spriteSourceSize</key>
			<string>{70, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 72}, {70, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Ship_00012.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 6}, {50, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{70, 70}</string>
			<key>spriteSourceSize</key>
			<string>{70, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{72, 0}, {70, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Ship_00013.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 6}, {52, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{70, 70}</string>
			<key>spriteSourceSize</key>
			<string>{70, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{144, 144}, {70, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Ship_00014.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 6}, {50, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{70, 70}</string>
			<key>spriteSourceSize</key>
			<string>{70, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{72, 72}, {70, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Ship_00015.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 6}, {50, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{70, 70}</string>
			<key>spriteSourceSize</key>
			<string>{70, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{216, 72}, {70, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Ship_00016.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 6}, {50, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{70, 70}</string>
			<key>spriteSourceSize</key>
			<string>{70, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 144}, {70, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Ship_00017.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 6}, {50, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{70, 70}</string>
			<key>spriteSourceSize</key>
			<string>{70, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{216, 216}, {70, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Ship_00018.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 6}, {50, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{70, 70}</string>
			<key>spriteSourceSize</key>
			<string>{70, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{144, 216}, {70, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Ship_00019.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 6}, {50, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{70, 70}</string>
			<key>spriteSourceSize</key>
			<string>{70, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{72, 288}, {70, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>name</key>
		<string>Untitled 16</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>Ship_0</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>Ship_0</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>