<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch18_right_pirate_arm0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{71, 40}, {129, 77}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{211, 117}</string>
			<key>spriteSourceSize</key>
			<string>{211, 117}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{428, 359}, {211, 117}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch18_right_pirate_arm0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{70, 38}, {129, 79}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{211, 117}</string>
			<key>spriteSourceSize</key>
			<string>{211, 117}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{215, 359}, {211, 117}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch18_right_pirate_arm0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{71, 34}, {127, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{211, 117}</string>
			<key>spriteSourceSize</key>
			<string>{211, 117}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{215, 240}, {211, 117}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch18_right_pirate_arm0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{71, 26}, {123, 91}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{211, 117}</string>
			<key>spriteSourceSize</key>
			<string>{211, 117}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{428, 121}, {211, 117}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch18_right_pirate_arm0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{65, 18}, {119, 99}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{211, 117}</string>
			<key>spriteSourceSize</key>
			<string>{211, 117}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 359}, {211, 117}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch18_right_pirate_arm0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{49, 12}, {113, 105}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{211, 117}</string>
			<key>spriteSourceSize</key>
			<string>{211, 117}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{215, 121}, {211, 117}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch18_right_pirate_arm0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{31, 4}, {103, 113}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{211, 117}</string>
			<key>spriteSourceSize</key>
			<string>{211, 117}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 121}, {211, 117}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch18_right_pirate_arm0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{49, 12}, {113, 105}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{211, 117}</string>
			<key>spriteSourceSize</key>
			<string>{211, 117}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 240}, {211, 117}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch18_right_pirate_arm0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{64, 18}, {119, 99}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{211, 117}</string>
			<key>spriteSourceSize</key>
			<string>{211, 117}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{641, 2}, {211, 117}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch18_right_pirate_arm0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{71, 24}, {121, 93}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{211, 117}</string>
			<key>spriteSourceSize</key>
			<string>{211, 117}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{428, 2}, {211, 117}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch18_right_pirate_arm0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{71, 32}, {127, 85}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{211, 117}</string>
			<key>spriteSourceSize</key>
			<string>{211, 117}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {211, 117}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch18_right_pirate_arm0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{70, 36}, {129, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{211, 117}</string>
			<key>spriteSourceSize</key>
			<string>{211, 117}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{215, 2}, {211, 117}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch18_right_pirate_arm0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{71, 38}, {129, 79}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{211, 117}</string>
			<key>spriteSourceSize</key>
			<string>{211, 117}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{428, 240}, {211, 117}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{1024, 512}</string>
	</dict>
</dict>
</plist>