<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch7_smoke_20001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {105, 185}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 185}</string>
			<key>spriteSourceSize</key>
			<string>{105, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{323, 750}, {105, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_20002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{37, 169}, {11, 5}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 185}</string>
			<key>spriteSourceSize</key>
			<string>{105, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{537, 937}, {105, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_20003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{34, 164}, {15, 9}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 185}</string>
			<key>spriteSourceSize</key>
			<string>{105, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 189}, {105, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_20004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{32, 160}, {19, 13}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 185}</string>
			<key>spriteSourceSize</key>
			<string>{105, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{323, 937}, {105, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_20005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{31, 155}, {21, 19}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 185}</string>
			<key>spriteSourceSize</key>
			<string>{105, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{751, 750}, {105, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_20006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{32, 151}, {19, 23}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 185}</string>
			<key>spriteSourceSize</key>
			<string>{105, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 750}, {105, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_20007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{32, 146}, {21, 27}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 185}</string>
			<key>spriteSourceSize</key>
			<string>{105, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{751, 189}, {105, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_20008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{33, 142}, {21, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 185}</string>
			<key>spriteSourceSize</key>
			<string>{105, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{644, 750}, {105, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_20009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{32, 137}, {23, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 185}</string>
			<key>spriteSourceSize</key>
			<string>{105, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{430, 376}, {105, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_20010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{33, 133}, {23, 39}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 185}</string>
			<key>spriteSourceSize</key>
			<string>{105, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 1685}, {105, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_20011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{33, 129}, {23, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 185}</string>
			<key>spriteSourceSize</key>
			<string>{105, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{537, 189}, {105, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_20012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{34, 124}, {23, 49}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 185}</string>
			<key>spriteSourceSize</key>
			<string>{105, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{216, 750}, {105, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_20013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{33, 120}, {25, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 185}</string>
			<key>spriteSourceSize</key>
			<string>{105, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 563}, {105, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_20014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{32, 116}, {27, 57}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 185}</string>
			<key>spriteSourceSize</key>
			<string>{105, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{537, 2}, {105, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_20015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{32, 111}, {29, 63}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 185}</string>
			<key>spriteSourceSize</key>
			<string>{105, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{644, 2}, {105, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_20016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{32, 107}, {31, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 185}</string>
			<key>spriteSourceSize</key>
			<string>{105, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{858, 189}, {105, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_20017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{33, 103}, {31, 71}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 185}</string>
			<key>spriteSourceSize</key>
			<string>{105, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{109, 189}, {105, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_20018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{33, 98}, {33, 75}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 185}</string>
			<key>spriteSourceSize</key>
			<string>{105, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 1498}, {105, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_20019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{34, 94}, {33, 79}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 185}</string>
			<key>spriteSourceSize</key>
			<string>{105, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{858, 2}, {105, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_20020.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{34, 90}, {33, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 185}</string>
			<key>spriteSourceSize</key>
			<string>{105, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{858, 376}, {105, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_20021.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{34, 86}, {35, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 185}</string>
			<key>spriteSourceSize</key>
			<string>{105, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{430, 189}, {105, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_20022.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{35, 81}, {35, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 185}</string>
			<key>spriteSourceSize</key>
			<string>{105, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{537, 750}, {105, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_20023.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{35, 77}, {37, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 185}</string>
			<key>spriteSourceSize</key>
			<string>{105, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 1124}, {105, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_20024.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{36, 73}, {37, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 185}</string>
			<key>spriteSourceSize</key>
			<string>{105, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{216, 189}, {105, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_20025.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{36, 69}, {39, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 185}</string>
			<key>spriteSourceSize</key>
			<string>{105, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 937}, {105, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_20026.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{37, 64}, {39, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 185}</string>
			<key>spriteSourceSize</key>
			<string>{105, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 1311}, {105, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_20027.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{38, 60}, {41, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 185}</string>
			<key>spriteSourceSize</key>
			<string>{105, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{430, 2}, {105, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_20028.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{39, 56}, {41, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 185}</string>
			<key>spriteSourceSize</key>
			<string>{105, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{109, 563}, {105, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_20029.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{40, 52}, {41, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 185}</string>
			<key>spriteSourceSize</key>
			<string>{105, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{323, 2}, {105, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_20030.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{41, 48}, {43, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 185}</string>
			<key>spriteSourceSize</key>
			<string>{105, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{216, 2}, {105, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_20031.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{42, 43}, {43, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 185}</string>
			<key>spriteSourceSize</key>
			<string>{105, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{858, 750}, {105, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_20032.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{43, 39}, {43, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 185}</string>
			<key>spriteSourceSize</key>
			<string>{105, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{644, 376}, {105, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_20033.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{44, 35}, {45, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 185}</string>
			<key>spriteSourceSize</key>
			<string>{105, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{216, 937}, {105, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_20034.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{45, 31}, {45, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 185}</string>
			<key>spriteSourceSize</key>
			<string>{105, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{216, 563}, {105, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_20035.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{46, 28}, {45, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 185}</string>
			<key>spriteSourceSize</key>
			<string>{105, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{644, 563}, {105, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_20036.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{47, 24}, {45, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 185}</string>
			<key>spriteSourceSize</key>
			<string>{105, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{109, 937}, {105, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_20037.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{49, 46}, {33, 57}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 185}</string>
			<key>spriteSourceSize</key>
			<string>{105, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{430, 750}, {105, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_20038.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{50, 42}, {35, 57}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 185}</string>
			<key>spriteSourceSize</key>
			<string>{105, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{751, 376}, {105, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_20039.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{51, 39}, {35, 57}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 185}</string>
			<key>spriteSourceSize</key>
			<string>{105, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{644, 189}, {105, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_20040.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{53, 35}, {35, 57}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 185}</string>
			<key>spriteSourceSize</key>
			<string>{105, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{537, 563}, {105, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_20041.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{54, 32}, {35, 55}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 185}</string>
			<key>spriteSourceSize</key>
			<string>{105, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{216, 376}, {105, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_20042.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{56, 29}, {35, 55}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 185}</string>
			<key>spriteSourceSize</key>
			<string>{105, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{109, 376}, {105, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_20043.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{58, 26}, {33, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 185}</string>
			<key>spriteSourceSize</key>
			<string>{105, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{109, 750}, {105, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_20044.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{59, 35}, {29, 41}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 185}</string>
			<key>spriteSourceSize</key>
			<string>{105, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {105, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_20045.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{61, 31}, {29, 41}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 185}</string>
			<key>spriteSourceSize</key>
			<string>{105, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{751, 563}, {105, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_20046.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{63, 28}, {29, 41}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 185}</string>
			<key>spriteSourceSize</key>
			<string>{105, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{751, 2}, {105, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_20047.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{64, 25}, {29, 39}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 185}</string>
			<key>spriteSourceSize</key>
			<string>{105, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{323, 376}, {105, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_20048.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{66, 24}, {27, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 185}</string>
			<key>spriteSourceSize</key>
			<string>{105, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{858, 563}, {105, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_20049.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{68, 42}, {13, 15}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 185}</string>
			<key>spriteSourceSize</key>
			<string>{105, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{430, 937}, {105, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_20050.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{70, 39}, {13, 15}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 185}</string>
			<key>spriteSourceSize</key>
			<string>{105, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{323, 189}, {105, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_20051.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{71, 35}, {13, 15}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 185}</string>
			<key>spriteSourceSize</key>
			<string>{105, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{537, 376}, {105, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_20052.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{73, 32}, {13, 13}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 185}</string>
			<key>spriteSourceSize</key>
			<string>{105, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{430, 563}, {105, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_20053.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{75, 29}, {13, 13}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 185}</string>
			<key>spriteSourceSize</key>
			<string>{105, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{109, 2}, {105, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_20054.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{78, 26}, {11, 13}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 185}</string>
			<key>spriteSourceSize</key>
			<string>{105, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 376}, {105, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_smoke_20055.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {105, 185}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 185}</string>
			<key>spriteSourceSize</key>
			<string>{105, 185}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{323, 563}, {105, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{1024, 2048}</string>
	</dict>
</dict>
</plist>