<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch2_rum_bottle_upsidedown0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{18, 21}, {373, 220}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{411, 262}</string>
			<key>spriteSourceSize</key>
			<string>{411, 262}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{828, 2}, {411, 262}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch2_rum_bottle_upsidedown0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{18, 21}, {373, 220}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{411, 262}</string>
			<key>spriteSourceSize</key>
			<string>{411, 262}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{415, 1058}, {411, 262}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch2_rum_bottle_upsidedown0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{18, 21}, {373, 220}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{411, 262}</string>
			<key>spriteSourceSize</key>
			<string>{411, 262}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{828, 530}, {411, 262}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch2_rum_bottle_upsidedown0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{18, 21}, {373, 220}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{411, 262}</string>
			<key>spriteSourceSize</key>
			<string>{411, 262}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{415, 2}, {411, 262}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch2_rum_bottle_upsidedown0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{18, 21}, {373, 220}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{411, 262}</string>
			<key>spriteSourceSize</key>
			<string>{411, 262}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1241, 530}, {411, 262}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch2_rum_bottle_upsidedown0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{18, 21}, {373, 220}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{411, 262}</string>
			<key>spriteSourceSize</key>
			<string>{411, 262}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{415, 1586}, {411, 262}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch2_rum_bottle_upsidedown0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{18, 21}, {373, 220}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{411, 262}</string>
			<key>spriteSourceSize</key>
			<string>{411, 262}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{415, 530}, {411, 262}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch2_rum_bottle_upsidedown0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{18, 21}, {373, 220}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{411, 262}</string>
			<key>spriteSourceSize</key>
			<string>{411, 262}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1241, 2}, {411, 262}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch2_rum_bottle_upsidedown0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{18, 21}, {373, 220}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{411, 262}</string>
			<key>spriteSourceSize</key>
			<string>{411, 262}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 794}, {411, 262}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch2_rum_bottle_upsidedown0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{18, 21}, {373, 220}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{411, 262}</string>
			<key>spriteSourceSize</key>
			<string>{411, 262}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 1322}, {411, 262}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch2_rum_bottle_upsidedown0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{18, 21}, {373, 220}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{411, 262}</string>
			<key>spriteSourceSize</key>
			<string>{411, 262}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{415, 794}, {411, 262}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch2_rum_bottle_upsidedown0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{18, 21}, {373, 220}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{411, 262}</string>
			<key>spriteSourceSize</key>
			<string>{411, 262}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {411, 262}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch2_rum_bottle_upsidedown0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{18, 21}, {373, 220}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{411, 262}</string>
			<key>spriteSourceSize</key>
			<string>{411, 262}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 1586}, {411, 262}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch2_rum_bottle_upsidedown0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{18, 21}, {373, 220}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{411, 262}</string>
			<key>spriteSourceSize</key>
			<string>{411, 262}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{828, 266}, {411, 262}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch2_rum_bottle_upsidedown0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{18, 21}, {373, 220}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{411, 262}</string>
			<key>spriteSourceSize</key>
			<string>{411, 262}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{415, 1322}, {411, 262}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch2_rum_bottle_upsidedown0016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{18, 21}, {373, 220}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{411, 262}</string>
			<key>spriteSourceSize</key>
			<string>{411, 262}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1241, 266}, {411, 262}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch2_rum_bottle_upsidedown0017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{18, 21}, {373, 220}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{411, 262}</string>
			<key>spriteSourceSize</key>
			<string>{411, 262}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 1058}, {411, 262}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch2_rum_bottle_upsidedown0018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{18, 21}, {373, 220}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{411, 262}</string>
			<key>spriteSourceSize</key>
			<string>{411, 262}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 530}, {411, 262}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch2_rum_bottle_upsidedown0019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{18, 21}, {373, 220}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{411, 262}</string>
			<key>spriteSourceSize</key>
			<string>{411, 262}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 266}, {411, 262}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch2_rum_bottle_upsidedown0020.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{18, 21}, {373, 220}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{411, 262}</string>
			<key>spriteSourceSize</key>
			<string>{411, 262}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{415, 266}, {411, 262}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{2048, 2048}</string>
	</dict>
</dict>
</plist>