<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch3_crow_caw0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{22, 37}, {58, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{106, 132}</string>
			<key>spriteSourceSize</key>
			<string>{106, 132}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{326, 136}, {106, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch3_crow_caw0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{21, 41}, {60, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{106, 132}</string>
			<key>spriteSourceSize</key>
			<string>{106, 132}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {106, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch3_crow_caw0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{22, 37}, {62, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{106, 132}</string>
			<key>spriteSourceSize</key>
			<string>{106, 132}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{110, 2}, {106, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch3_crow_caw0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{24, 35}, {64, 82}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{106, 132}</string>
			<key>spriteSourceSize</key>
			<string>{106, 132}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{326, 2}, {106, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch3_crow_caw0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{23, 27}, {82, 90}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{106, 132}</string>
			<key>spriteSourceSize</key>
			<string>{106, 132}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 136}, {106, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch3_crow_caw0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{23, 27}, {82, 90}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{106, 132}</string>
			<key>spriteSourceSize</key>
			<string>{106, 132}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{110, 270}, {106, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch3_crow_caw0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{23, 27}, {82, 90}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{106, 132}</string>
			<key>spriteSourceSize</key>
			<string>{106, 132}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{110, 136}, {106, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch3_crow_caw0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{24, 35}, {64, 82}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{106, 132}</string>
			<key>spriteSourceSize</key>
			<string>{106, 132}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{218, 2}, {106, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch3_crow_caw0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{22, 37}, {62, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{106, 132}</string>
			<key>spriteSourceSize</key>
			<string>{106, 132}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 270}, {106, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch3_crow_caw0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{22, 37}, {58, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{106, 132}</string>
			<key>spriteSourceSize</key>
			<string>{106, 132}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{218, 136}, {106, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{512, 512}</string>
	</dict>
</dict>
</plist>