<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch34b_sword_shine0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {61, 138}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{61, 138}</string>
			<key>spriteSourceSize</key>
			<string>{61, 138}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{380, 2}, {61, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34b_sword_shine0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {61, 138}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{61, 138}</string>
			<key>spriteSourceSize</key>
			<string>{61, 138}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {61, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34b_sword_shine0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {61, 138}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{61, 138}</string>
			<key>spriteSourceSize</key>
			<string>{61, 138}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 142}, {61, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34b_sword_shine0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {61, 138}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{61, 138}</string>
			<key>spriteSourceSize</key>
			<string>{61, 138}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{128, 142}, {61, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34b_sword_shine0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {61, 138}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{61, 138}</string>
			<key>spriteSourceSize</key>
			<string>{61, 138}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{443, 2}, {61, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34b_sword_shine0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {61, 138}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{61, 138}</string>
			<key>spriteSourceSize</key>
			<string>{61, 138}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{317, 2}, {61, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34b_sword_shine0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {61, 138}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{61, 138}</string>
			<key>spriteSourceSize</key>
			<string>{61, 138}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{191, 2}, {61, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34b_sword_shine0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {61, 138}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{61, 138}</string>
			<key>spriteSourceSize</key>
			<string>{61, 138}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{65, 2}, {61, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34b_sword_shine0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {61, 138}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{61, 138}</string>
			<key>spriteSourceSize</key>
			<string>{61, 138}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{254, 2}, {61, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34b_sword_shine0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {61, 138}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{61, 138}</string>
			<key>spriteSourceSize</key>
			<string>{61, 138}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 282}, {61, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34b_sword_shine0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {61, 138}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{61, 138}</string>
			<key>spriteSourceSize</key>
			<string>{61, 138}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{65, 282}, {61, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34b_sword_shine0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {61, 138}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{61, 138}</string>
			<key>spriteSourceSize</key>
			<string>{61, 138}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{65, 142}, {61, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34b_sword_shine0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {61, 138}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{61, 138}</string>
			<key>spriteSourceSize</key>
			<string>{61, 138}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{128, 2}, {61, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34b_sword_shine0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {61, 138}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{61, 138}</string>
			<key>spriteSourceSize</key>
			<string>{61, 138}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{128, 282}, {61, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34b_sword_shine0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {61, 138}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{61, 138}</string>
			<key>spriteSourceSize</key>
			<string>{61, 138}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{191, 142}, {61, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{512, 512}</string>
	</dict>
</dict>
</plist>