<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch1b_smoke0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 1}, {45, 63}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{55, 65}</string>
			<key>spriteSourceSize</key>
			<string>{55, 65}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{344, 136}, {55, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1b_smoke0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 2}, {43, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{55, 65}</string>
			<key>spriteSourceSize</key>
			<string>{55, 65}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{344, 69}, {55, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1b_smoke0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 2}, {37, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{55, 65}</string>
			<key>spriteSourceSize</key>
			<string>{55, 65}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{287, 136}, {55, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1b_smoke0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 2}, {25, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{55, 65}</string>
			<key>spriteSourceSize</key>
			<string>{55, 65}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{287, 69}, {55, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1b_smoke0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 2}, {25, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{55, 65}</string>
			<key>spriteSourceSize</key>
			<string>{55, 65}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{401, 2}, {55, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1b_smoke0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 2}, {25, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{55, 65}</string>
			<key>spriteSourceSize</key>
			<string>{55, 65}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{344, 2}, {55, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1b_smoke0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{11, 2}, {23, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{55, 65}</string>
			<key>spriteSourceSize</key>
			<string>{55, 65}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{287, 2}, {55, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1b_smoke0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{11, 2}, {23, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{55, 65}</string>
			<key>spriteSourceSize</key>
			<string>{55, 65}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{230, 136}, {55, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1b_smoke0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{11, 2}, {25, 63}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{55, 65}</string>
			<key>spriteSourceSize</key>
			<string>{55, 65}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{230, 69}, {55, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1b_smoke0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{11, 2}, {25, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{55, 65}</string>
			<key>spriteSourceSize</key>
			<string>{55, 65}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{230, 2}, {55, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1b_smoke0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{11, 2}, {27, 63}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{55, 65}</string>
			<key>spriteSourceSize</key>
			<string>{55, 65}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{173, 136}, {55, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1b_smoke0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{11, 2}, {27, 63}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{55, 65}</string>
			<key>spriteSourceSize</key>
			<string>{55, 65}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{173, 69}, {55, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1b_smoke0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{11, 2}, {27, 63}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{55, 65}</string>
			<key>spriteSourceSize</key>
			<string>{55, 65}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{173, 2}, {55, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1b_smoke0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 2}, {29, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{55, 65}</string>
			<key>spriteSourceSize</key>
			<string>{55, 65}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{116, 136}, {55, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1b_smoke0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 2}, {33, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{55, 65}</string>
			<key>spriteSourceSize</key>
			<string>{55, 65}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{116, 69}, {55, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1b_smoke0016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 2}, {35, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{55, 65}</string>
			<key>spriteSourceSize</key>
			<string>{55, 65}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{116, 2}, {55, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1b_smoke0017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 2}, {37, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{55, 65}</string>
			<key>spriteSourceSize</key>
			<string>{55, 65}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{59, 136}, {55, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1b_smoke0018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 2}, {39, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{55, 65}</string>
			<key>spriteSourceSize</key>
			<string>{55, 65}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{59, 69}, {55, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1b_smoke0019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 2}, {43, 63}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{55, 65}</string>
			<key>spriteSourceSize</key>
			<string>{55, 65}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{59, 2}, {55, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1b_smoke0020.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 2}, {43, 63}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{55, 65}</string>
			<key>spriteSourceSize</key>
			<string>{55, 65}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 136}, {55, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1b_smoke0021.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 1}, {47, 63}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{55, 65}</string>
			<key>spriteSourceSize</key>
			<string>{55, 65}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 69}, {55, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1b_smoke0022.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 1}, {45, 63}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{55, 65}</string>
			<key>spriteSourceSize</key>
			<string>{55, 65}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {55, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{512, 256}</string>
	</dict>
</dict>
</plist>