<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch6_fire_shadow0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 28}, {158, 121}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{170, 165}</string>
			<key>spriteSourceSize</key>
			<string>{170, 165}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{174, 169}, {170, 165}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_fire_shadow0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{11, 29}, {154, 117}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{170, 165}</string>
			<key>spriteSourceSize</key>
			<string>{170, 165}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {170, 165}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_fire_shadow0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 28}, {160, 125}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{170, 165}</string>
			<key>spriteSourceSize</key>
			<string>{170, 165}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{174, 2}, {170, 165}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_fire_shadow0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 28}, {164, 125}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{170, 165}</string>
			<key>spriteSourceSize</key>
			<string>{170, 165}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 169}, {170, 165}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_fire_shadow0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{33, 28}, {132, 125}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{170, 165}</string>
			<key>spriteSourceSize</key>
			<string>{170, 165}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{518, 2}, {170, 165}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_fire_shadow0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{28, 28}, {138, 123}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{170, 165}</string>
			<key>spriteSourceSize</key>
			<string>{170, 165}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{690, 2}, {170, 165}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_fire_shadow0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{24, 28}, {142, 125}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{170, 165}</string>
			<key>spriteSourceSize</key>
			<string>{170, 165}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{346, 2}, {170, 165}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_fire_shadow0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{18, 27}, {148, 123}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{170, 165}</string>
			<key>spriteSourceSize</key>
			<string>{170, 165}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{346, 169}, {170, 165}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{1024, 512}</string>
	</dict>
</dict>
</plist>