<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch34_left_pirate0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 10}, {38, 27}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{38, 37}</string>
			<key>spriteSourceSize</key>
			<string>{38, 37}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {38, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34_left_pirate0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 6}, {36, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{38, 37}</string>
			<key>spriteSourceSize</key>
			<string>{38, 37}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 41}, {38, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34_left_pirate0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {34, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{38, 37}</string>
			<key>spriteSourceSize</key>
			<string>{38, 37}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 80}, {38, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34_left_pirate0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {34, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{38, 37}</string>
			<key>spriteSourceSize</key>
			<string>{38, 37}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 119}, {38, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34_left_pirate0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {34, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{38, 37}</string>
			<key>spriteSourceSize</key>
			<string>{38, 37}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 158}, {38, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34_left_pirate0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {34, 35}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{38, 37}</string>
			<key>spriteSourceSize</key>
			<string>{38, 37}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 197}, {38, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34_left_pirate0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {34, 35}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{38, 37}</string>
			<key>spriteSourceSize</key>
			<string>{38, 37}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 236}, {38, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34_left_pirate0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {34, 35}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{38, 37}</string>
			<key>spriteSourceSize</key>
			<string>{38, 37}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 275}, {38, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34_left_pirate0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {34, 35}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{38, 37}</string>
			<key>spriteSourceSize</key>
			<string>{38, 37}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 314}, {38, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34_left_pirate0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {34, 35}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{38, 37}</string>
			<key>spriteSourceSize</key>
			<string>{38, 37}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 353}, {38, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34_left_pirate0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {34, 35}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{38, 37}</string>
			<key>spriteSourceSize</key>
			<string>{38, 37}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 392}, {38, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34_left_pirate0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {34, 35}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{38, 37}</string>
			<key>spriteSourceSize</key>
			<string>{38, 37}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 431}, {38, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34_left_pirate0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {34, 35}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{38, 37}</string>
			<key>spriteSourceSize</key>
			<string>{38, 37}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 470}, {38, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34_left_pirate0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {34, 35}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{38, 37}</string>
			<key>spriteSourceSize</key>
			<string>{38, 37}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{42, 2}, {38, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34_left_pirate0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {34, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{38, 37}</string>
			<key>spriteSourceSize</key>
			<string>{38, 37}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{42, 41}, {38, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34_left_pirate0016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {34, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{38, 37}</string>
			<key>spriteSourceSize</key>
			<string>{38, 37}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{42, 80}, {38, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34_left_pirate0017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {34, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{38, 37}</string>
			<key>spriteSourceSize</key>
			<string>{38, 37}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{42, 119}, {38, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34_left_pirate0018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {34, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{38, 37}</string>
			<key>spriteSourceSize</key>
			<string>{38, 37}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{42, 158}, {38, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34_left_pirate0019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 6}, {36, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{38, 37}</string>
			<key>spriteSourceSize</key>
			<string>{38, 37}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{42, 197}, {38, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34_left_pirate0020.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 10}, {38, 27}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{38, 37}</string>
			<key>spriteSourceSize</key>
			<string>{38, 37}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{42, 236}, {38, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34_left_pirate0021.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 10}, {38, 27}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{38, 37}</string>
			<key>spriteSourceSize</key>
			<string>{38, 37}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{42, 275}, {38, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34_left_pirate0022.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 10}, {38, 27}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{38, 37}</string>
			<key>spriteSourceSize</key>
			<string>{38, 37}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{42, 314}, {38, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34_left_pirate0023.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 10}, {38, 27}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{38, 37}</string>
			<key>spriteSourceSize</key>
			<string>{38, 37}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{42, 353}, {38, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34_left_pirate0024.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 10}, {38, 27}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{38, 37}</string>
			<key>spriteSourceSize</key>
			<string>{38, 37}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{42, 392}, {38, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34_left_pirate0025.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 10}, {38, 27}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{38, 37}</string>
			<key>spriteSourceSize</key>
			<string>{38, 37}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{42, 431}, {38, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34_left_pirate0026.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 10}, {38, 27}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{38, 37}</string>
			<key>spriteSourceSize</key>
			<string>{38, 37}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{42, 470}, {38, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34_left_pirate0027.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 10}, {38, 27}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{38, 37}</string>
			<key>spriteSourceSize</key>
			<string>{38, 37}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{82, 2}, {38, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34_left_pirate0028.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 10}, {38, 27}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{38, 37}</string>
			<key>spriteSourceSize</key>
			<string>{38, 37}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{82, 41}, {38, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34_left_pirate0029.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 10}, {38, 27}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{38, 37}</string>
			<key>spriteSourceSize</key>
			<string>{38, 37}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{82, 80}, {38, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34_left_pirate0030.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 10}, {38, 27}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{38, 37}</string>
			<key>spriteSourceSize</key>
			<string>{38, 37}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{82, 119}, {38, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34_left_pirate0031.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 10}, {38, 27}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{38, 37}</string>
			<key>spriteSourceSize</key>
			<string>{38, 37}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{82, 158}, {38, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34_left_pirate0032.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 10}, {38, 27}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{38, 37}</string>
			<key>spriteSourceSize</key>
			<string>{38, 37}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{82, 197}, {38, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34_left_pirate0033.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 10}, {38, 27}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{38, 37}</string>
			<key>spriteSourceSize</key>
			<string>{38, 37}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{82, 236}, {38, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34_left_pirate0034.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 10}, {38, 27}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{38, 37}</string>
			<key>spriteSourceSize</key>
			<string>{38, 37}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{82, 275}, {38, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34_left_pirate0035.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 10}, {38, 27}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{38, 37}</string>
			<key>spriteSourceSize</key>
			<string>{38, 37}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{82, 314}, {38, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{256, 512}</string>
	</dict>
</dict>
</plist>