<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch28_torch_reduced0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{11, 15}, {217, 418}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{245, 434}</string>
			<key>spriteSourceSize</key>
			<string>{245, 434}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {245, 434}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch28_torch_reduced0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{11, 14}, {217, 418}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{245, 434}</string>
			<key>spriteSourceSize</key>
			<string>{245, 434}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{249, 2}, {245, 434}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch28_torch_reduced0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{11, 11}, {211, 422}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{245, 434}</string>
			<key>spriteSourceSize</key>
			<string>{245, 434}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{496, 2}, {245, 434}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch28_torch_reduced0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{11, 15}, {211, 418}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{245, 434}</string>
			<key>spriteSourceSize</key>
			<string>{245, 434}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{743, 2}, {245, 434}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch28_torch_reduced0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{11, 13}, {211, 420}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{245, 434}</string>
			<key>spriteSourceSize</key>
			<string>{245, 434}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{990, 2}, {245, 434}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch28_torch_reduced0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{11, 13}, {211, 420}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{245, 434}</string>
			<key>spriteSourceSize</key>
			<string>{245, 434}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1237, 2}, {245, 434}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch28_torch_reduced0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{11, 15}, {217, 418}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{245, 434}</string>
			<key>spriteSourceSize</key>
			<string>{245, 434}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1484, 2}, {245, 434}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch28_torch_reduced0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{11, 36}, {207, 396}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{245, 434}</string>
			<key>spriteSourceSize</key>
			<string>{245, 434}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1731, 2}, {245, 434}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch28_torch_reduced0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{11, 55}, {193, 378}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{245, 434}</string>
			<key>spriteSourceSize</key>
			<string>{245, 434}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 438}, {245, 434}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch28_torch_reduced0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{11, 80}, {183, 352}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{245, 434}</string>
			<key>spriteSourceSize</key>
			<string>{245, 434}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{249, 438}, {245, 434}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch28_torch_reduced0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{11, 101}, {173, 332}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{245, 434}</string>
			<key>spriteSourceSize</key>
			<string>{245, 434}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{496, 438}, {245, 434}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch28_torch_reduced0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{11, 123}, {165, 310}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{245, 434}</string>
			<key>spriteSourceSize</key>
			<string>{245, 434}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{743, 438}, {245, 434}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch28_torch_reduced0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{11, 146}, {165, 286}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{245, 434}</string>
			<key>spriteSourceSize</key>
			<string>{245, 434}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{990, 438}, {245, 434}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch28_torch_reduced0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{11, 167}, {165, 266}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{245, 434}</string>
			<key>spriteSourceSize</key>
			<string>{245, 434}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1237, 438}, {245, 434}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch28_torch_reduced0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{11, 189}, {165, 244}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{245, 434}</string>
			<key>spriteSourceSize</key>
			<string>{245, 434}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1484, 438}, {245, 434}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch28_torch_reduced0016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{11, 211}, {165, 222}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{245, 434}</string>
			<key>spriteSourceSize</key>
			<string>{245, 434}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1731, 438}, {245, 434}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch28_torch_reduced0017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{11, 216}, {165, 216}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{245, 434}</string>
			<key>spriteSourceSize</key>
			<string>{245, 434}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 874}, {245, 434}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch28_torch_reduced0018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{11, 216}, {165, 216}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{245, 434}</string>
			<key>spriteSourceSize</key>
			<string>{245, 434}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{249, 874}, {245, 434}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch28_torch_reduced0019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{11, 211}, {165, 222}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{245, 434}</string>
			<key>spriteSourceSize</key>
			<string>{245, 434}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{496, 874}, {245, 434}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch28_torch_reduced0020.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{11, 189}, {165, 244}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{245, 434}</string>
			<key>spriteSourceSize</key>
			<string>{245, 434}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{743, 874}, {245, 434}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch28_torch_reduced0021.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{11, 167}, {165, 266}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{245, 434}</string>
			<key>spriteSourceSize</key>
			<string>{245, 434}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{990, 874}, {245, 434}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch28_torch_reduced0022.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{11, 146}, {165, 286}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{245, 434}</string>
			<key>spriteSourceSize</key>
			<string>{245, 434}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1237, 874}, {245, 434}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch28_torch_reduced0023.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{11, 123}, {167, 310}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{245, 434}</string>
			<key>spriteSourceSize</key>
			<string>{245, 434}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1484, 874}, {245, 434}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch28_torch_reduced0024.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{11, 100}, {173, 332}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{245, 434}</string>
			<key>spriteSourceSize</key>
			<string>{245, 434}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1731, 874}, {245, 434}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch28_torch_reduced0025.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{11, 80}, {183, 352}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{245, 434}</string>
			<key>spriteSourceSize</key>
			<string>{245, 434}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 1310}, {245, 434}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch28_torch_reduced0026.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{11, 57}, {193, 376}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{245, 434}</string>
			<key>spriteSourceSize</key>
			<string>{245, 434}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{249, 1310}, {245, 434}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch28_torch_reduced0027.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{11, 35}, {201, 398}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{245, 434}</string>
			<key>spriteSourceSize</key>
			<string>{245, 434}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{496, 1310}, {245, 434}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch28_torch_reduced0028.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{11, 15}, {217, 418}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{245, 434}</string>
			<key>spriteSourceSize</key>
			<string>{245, 434}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{743, 1310}, {245, 434}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{2048, 2048}</string>
	</dict>
</dict>
</plist>