<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch31b_pirate_shadows0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{35, 18}, {212, 180}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 200}</string>
			<key>spriteSourceSize</key>
			<string>{250, 200}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{506, 204}, {250, 200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch31b_pirate_shadows0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{29, 20}, {218, 178}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 200}</string>
			<key>spriteSourceSize</key>
			<string>{250, 200}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{254, 204}, {250, 200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch31b_pirate_shadows0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{27, 22}, {220, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 200}</string>
			<key>spriteSourceSize</key>
			<string>{250, 200}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 204}, {250, 200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch31b_pirate_shadows0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{12, 0}, {236, 198}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 200}</string>
			<key>spriteSourceSize</key>
			<string>{250, 200}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{254, 2}, {250, 200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch31b_pirate_shadows0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{29, 20}, {218, 178}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 200}</string>
			<key>spriteSourceSize</key>
			<string>{250, 200}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {250, 200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch31b_pirate_shadows0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{35, 24}, {212, 174}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 200}</string>
			<key>spriteSourceSize</key>
			<string>{250, 200}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{758, 2}, {250, 200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch31b_pirate_shadows0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{35, 18}, {212, 180}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{250, 200}</string>
			<key>spriteSourceSize</key>
			<string>{250, 200}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{506, 2}, {250, 200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{1024, 512}</string>
	</dict>
</dict>
</plist>