<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch30_handshake0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {182, 97}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{182, 97}</string>
			<key>spriteSourceSize</key>
			<string>{182, 97}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 398}, {182, 97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch30_handshake0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {182, 97}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{182, 97}</string>
			<key>spriteSourceSize</key>
			<string>{182, 97}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{186, 299}, {182, 97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch30_handshake0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {182, 97}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{182, 97}</string>
			<key>spriteSourceSize</key>
			<string>{182, 97}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{186, 101}, {182, 97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch30_handshake0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {182, 97}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{182, 97}</string>
			<key>spriteSourceSize</key>
			<string>{182, 97}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 299}, {182, 97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch30_handshake0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {182, 97}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{182, 97}</string>
			<key>spriteSourceSize</key>
			<string>{182, 97}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 101}, {182, 97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch30_handshake0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {182, 97}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{182, 97}</string>
			<key>spriteSourceSize</key>
			<string>{182, 97}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{186, 2}, {182, 97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch30_handshake0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {182, 97}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{182, 97}</string>
			<key>spriteSourceSize</key>
			<string>{182, 97}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{186, 200}, {182, 97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch30_handshake0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {182, 97}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{182, 97}</string>
			<key>spriteSourceSize</key>
			<string>{182, 97}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 200}, {182, 97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch30_handshake0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {182, 97}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{182, 97}</string>
			<key>spriteSourceSize</key>
			<string>{182, 97}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {182, 97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{512, 512}</string>
	</dict>
</dict>
</plist>