<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch15_header_eyes0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 4}, {74, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 40}</string>
			<key>spriteSourceSize</key>
			<string>{80, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{84, 212}, {80, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_header_eyes0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 4}, {74, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 40}</string>
			<key>spriteSourceSize</key>
			<string>{80, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{248, 128}, {80, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_header_eyes0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 4}, {74, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 40}</string>
			<key>spriteSourceSize</key>
			<string>{80, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 464}, {80, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_header_eyes0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 4}, {74, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 40}</string>
			<key>spriteSourceSize</key>
			<string>{80, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{84, 422}, {80, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_header_eyes0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 4}, {74, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 40}</string>
			<key>spriteSourceSize</key>
			<string>{80, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 296}, {80, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_header_eyes0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 4}, {74, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 40}</string>
			<key>spriteSourceSize</key>
			<string>{80, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{166, 338}, {80, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_header_eyes0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 4}, {74, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 40}</string>
			<key>spriteSourceSize</key>
			<string>{80, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 380}, {80, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_header_eyes0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 4}, {74, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 40}</string>
			<key>spriteSourceSize</key>
			<string>{80, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{84, 2}, {80, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_header_eyes0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 4}, {74, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 40}</string>
			<key>spriteSourceSize</key>
			<string>{80, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{166, 212}, {80, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_header_eyes0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 4}, {74, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 40}</string>
			<key>spriteSourceSize</key>
			<string>{80, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{84, 380}, {80, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_header_eyes0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 4}, {74, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 40}</string>
			<key>spriteSourceSize</key>
			<string>{80, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 170}, {80, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_header_eyes0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 4}, {74, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 40}</string>
			<key>spriteSourceSize</key>
			<string>{80, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{84, 254}, {80, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_header_eyes0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 4}, {74, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 40}</string>
			<key>spriteSourceSize</key>
			<string>{80, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {80, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_header_eyes0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 4}, {74, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 40}</string>
			<key>spriteSourceSize</key>
			<string>{80, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{84, 170}, {80, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_header_eyes0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 4}, {74, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 40}</string>
			<key>spriteSourceSize</key>
			<string>{80, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{166, 44}, {80, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_header_eyes0016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 4}, {74, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 40}</string>
			<key>spriteSourceSize</key>
			<string>{80, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 44}, {80, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_header_eyes0017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 4}, {74, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 40}</string>
			<key>spriteSourceSize</key>
			<string>{80, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{248, 86}, {80, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_header_eyes0018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 4}, {74, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 40}</string>
			<key>spriteSourceSize</key>
			<string>{80, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 212}, {80, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_header_eyes0019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 4}, {74, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 40}</string>
			<key>spriteSourceSize</key>
			<string>{80, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{166, 128}, {80, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_header_eyes0020.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 4}, {74, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 40}</string>
			<key>spriteSourceSize</key>
			<string>{80, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{84, 296}, {80, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_header_eyes0021.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 4}, {74, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 40}</string>
			<key>spriteSourceSize</key>
			<string>{80, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{248, 44}, {80, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_header_eyes0022.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 4}, {74, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 40}</string>
			<key>spriteSourceSize</key>
			<string>{80, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{84, 338}, {80, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_header_eyes0023.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 4}, {74, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 40}</string>
			<key>spriteSourceSize</key>
			<string>{80, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 422}, {80, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_header_eyes0024.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 4}, {74, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 40}</string>
			<key>spriteSourceSize</key>
			<string>{80, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{166, 422}, {80, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_header_eyes0025.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 4}, {74, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 40}</string>
			<key>spriteSourceSize</key>
			<string>{80, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{84, 128}, {80, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_header_eyes0026.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 4}, {74, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 40}</string>
			<key>spriteSourceSize</key>
			<string>{80, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{166, 254}, {80, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_header_eyes0027.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 4}, {74, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 40}</string>
			<key>spriteSourceSize</key>
			<string>{80, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{166, 170}, {80, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_header_eyes0028.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 4}, {74, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 40}</string>
			<key>spriteSourceSize</key>
			<string>{80, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{84, 86}, {80, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_header_eyes0029.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 4}, {74, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 40}</string>
			<key>spriteSourceSize</key>
			<string>{80, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{166, 2}, {80, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_header_eyes0030.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 4}, {74, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 40}</string>
			<key>spriteSourceSize</key>
			<string>{80, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 86}, {80, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_header_eyes0031.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 4}, {74, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 40}</string>
			<key>spriteSourceSize</key>
			<string>{80, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{166, 86}, {80, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_header_eyes0032.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 4}, {74, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 40}</string>
			<key>spriteSourceSize</key>
			<string>{80, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{248, 2}, {80, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_header_eyes0033.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 4}, {74, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 40}</string>
			<key>spriteSourceSize</key>
			<string>{80, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 254}, {80, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_header_eyes0034.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 4}, {74, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 40}</string>
			<key>spriteSourceSize</key>
			<string>{80, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{84, 44}, {80, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_header_eyes0035.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 4}, {74, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 40}</string>
			<key>spriteSourceSize</key>
			<string>{80, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{84, 464}, {80, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_header_eyes0036.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {74, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 40}</string>
			<key>spriteSourceSize</key>
			<string>{80, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{166, 296}, {80, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_header_eyes0037.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {74, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 40}</string>
			<key>spriteSourceSize</key>
			<string>{80, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 338}, {80, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_header_eyes0038.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {74, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 40}</string>
			<key>spriteSourceSize</key>
			<string>{80, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{166, 380}, {80, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_header_eyes0039.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 4}, {74, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 40}</string>
			<key>spriteSourceSize</key>
			<string>{80, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{166, 464}, {80, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_header_eyes0040.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 4}, {74, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 40}</string>
			<key>spriteSourceSize</key>
			<string>{80, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 128}, {80, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{512, 512}</string>
	</dict>
</dict>
</plist>