<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch23_ship_light_flicker0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {122, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{122, 120}</string>
			<key>spriteSourceSize</key>
			<string>{122, 120}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {122, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch23_ship_light_flicker0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {122, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{122, 120}</string>
			<key>spriteSourceSize</key>
			<string>{122, 120}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{126, 124}, {122, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch23_ship_light_flicker0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {122, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{122, 120}</string>
			<key>spriteSourceSize</key>
			<string>{122, 120}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 246}, {122, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch23_ship_light_flicker0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {122, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{122, 120}</string>
			<key>spriteSourceSize</key>
			<string>{122, 120}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{126, 246}, {122, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch23_ship_light_flicker0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {122, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{122, 120}</string>
			<key>spriteSourceSize</key>
			<string>{122, 120}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 124}, {122, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch23_ship_light_flicker0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {122, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{122, 120}</string>
			<key>spriteSourceSize</key>
			<string>{122, 120}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{126, 2}, {122, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch23_ship_light_flicker0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {122, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{122, 120}</string>
			<key>spriteSourceSize</key>
			<string>{122, 120}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 368}, {122, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{256, 512}</string>
	</dict>
</dict>
</plist>