<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch32_pirate_wave_sign0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {55, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{55, 65}</string>
			<key>spriteSourceSize</key>
			<string>{55, 65}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{59, 203}, {55, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_pirate_wave_sign0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {55, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{55, 65}</string>
			<key>spriteSourceSize</key>
			<string>{55, 65}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{59, 2}, {55, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_pirate_wave_sign0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {55, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{55, 65}</string>
			<key>spriteSourceSize</key>
			<string>{55, 65}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 203}, {55, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_pirate_wave_sign0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {55, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{55, 65}</string>
			<key>spriteSourceSize</key>
			<string>{55, 65}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{59, 270}, {55, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_pirate_wave_sign0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {55, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{55, 65}</string>
			<key>spriteSourceSize</key>
			<string>{55, 65}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 270}, {55, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_pirate_wave_sign0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {55, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{55, 65}</string>
			<key>spriteSourceSize</key>
			<string>{55, 65}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 136}, {55, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_pirate_wave_sign0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {55, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{55, 65}</string>
			<key>spriteSourceSize</key>
			<string>{55, 65}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{59, 337}, {55, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_pirate_wave_sign0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {55, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{55, 65}</string>
			<key>spriteSourceSize</key>
			<string>{55, 65}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{59, 136}, {55, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_pirate_wave_sign0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {55, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{55, 65}</string>
			<key>spriteSourceSize</key>
			<string>{55, 65}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 404}, {55, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_pirate_wave_sign0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {55, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{55, 65}</string>
			<key>spriteSourceSize</key>
			<string>{55, 65}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 337}, {55, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_pirate_wave_sign0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {55, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{55, 65}</string>
			<key>spriteSourceSize</key>
			<string>{55, 65}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 69}, {55, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_pirate_wave_sign0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {55, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{55, 65}</string>
			<key>spriteSourceSize</key>
			<string>{55, 65}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{116, 2}, {55, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_pirate_wave_sign0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {55, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{55, 65}</string>
			<key>spriteSourceSize</key>
			<string>{55, 65}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {55, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_pirate_wave_sign0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {55, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{55, 65}</string>
			<key>spriteSourceSize</key>
			<string>{55, 65}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{59, 404}, {55, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_pirate_wave_sign0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {55, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{55, 65}</string>
			<key>spriteSourceSize</key>
			<string>{55, 65}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{59, 69}, {55, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{256, 512}</string>
	</dict>
</dict>
</plist>