<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch17_rifle_fires_smoke_25f0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {662, 153}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{662, 153}</string>
			<key>spriteSourceSize</key>
			<string>{662, 153}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {662, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch17_rifle_fires_smoke_25f0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{642, 110}, {18, 43}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{662, 153}</string>
			<key>spriteSourceSize</key>
			<string>{662, 153}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{666, 2}, {662, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch17_rifle_fires_smoke_25f0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{578, 94}, {82, 59}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{662, 153}</string>
			<key>spriteSourceSize</key>
			<string>{662, 153}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1330, 2}, {662, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch17_rifle_fires_smoke_25f0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{484, 94}, {176, 59}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{662, 153}</string>
			<key>spriteSourceSize</key>
			<string>{662, 153}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 157}, {662, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch17_rifle_fires_smoke_25f0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{462, 50}, {198, 103}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{662, 153}</string>
			<key>spriteSourceSize</key>
			<string>{662, 153}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{666, 157}, {662, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch17_rifle_fires_smoke_25f0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{426, 32}, {234, 121}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{662, 153}</string>
			<key>spriteSourceSize</key>
			<string>{662, 153}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1330, 157}, {662, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch17_rifle_fires_smoke_25f0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{384, 26}, {276, 127}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{662, 153}</string>
			<key>spriteSourceSize</key>
			<string>{662, 153}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 312}, {662, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch17_rifle_fires_smoke_25f0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{352, 26}, {308, 127}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{662, 153}</string>
			<key>spriteSourceSize</key>
			<string>{662, 153}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{666, 312}, {662, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch17_rifle_fires_smoke_25f0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{322, 26}, {338, 127}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{662, 153}</string>
			<key>spriteSourceSize</key>
			<string>{662, 153}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1330, 312}, {662, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch17_rifle_fires_smoke_25f0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{289, 26}, {370, 127}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{662, 153}</string>
			<key>spriteSourceSize</key>
			<string>{662, 153}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 467}, {662, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch17_rifle_fires_smoke_25f0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{286, 14}, {374, 139}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{662, 153}</string>
			<key>spriteSourceSize</key>
			<string>{662, 153}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{666, 467}, {662, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch17_rifle_fires_smoke_25f0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{257, 2}, {402, 151}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{662, 153}</string>
			<key>spriteSourceSize</key>
			<string>{662, 153}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1330, 467}, {662, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch17_rifle_fires_smoke_25f0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{244, 2}, {416, 151}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{662, 153}</string>
			<key>spriteSourceSize</key>
			<string>{662, 153}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 622}, {662, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch17_rifle_fires_smoke_25f0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{190, 2}, {470, 151}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{662, 153}</string>
			<key>spriteSourceSize</key>
			<string>{662, 153}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{666, 622}, {662, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch17_rifle_fires_smoke_25f0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{163, 2}, {496, 151}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{662, 153}</string>
			<key>spriteSourceSize</key>
			<string>{662, 153}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1330, 622}, {662, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch17_rifle_fires_smoke_25f0016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{127, 2}, {532, 151}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{662, 153}</string>
			<key>spriteSourceSize</key>
			<string>{662, 153}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 777}, {662, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch17_rifle_fires_smoke_25f0017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{109, 2}, {550, 151}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{662, 153}</string>
			<key>spriteSourceSize</key>
			<string>{662, 153}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{666, 777}, {662, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch17_rifle_fires_smoke_25f0018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{99, 2}, {560, 151}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{662, 153}</string>
			<key>spriteSourceSize</key>
			<string>{662, 153}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1330, 777}, {662, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch17_rifle_fires_smoke_25f0019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{87, 2}, {572, 151}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{662, 153}</string>
			<key>spriteSourceSize</key>
			<string>{662, 153}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 932}, {662, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch17_rifle_fires_smoke_25f0020.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{56, 2}, {604, 151}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{662, 153}</string>
			<key>spriteSourceSize</key>
			<string>{662, 153}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{666, 932}, {662, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch17_rifle_fires_smoke_25f0021.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{29, 2}, {630, 151}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{662, 153}</string>
			<key>spriteSourceSize</key>
			<string>{662, 153}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1330, 932}, {662, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch17_rifle_fires_smoke_25f0022.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{19, 2}, {640, 151}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{662, 153}</string>
			<key>spriteSourceSize</key>
			<string>{662, 153}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 1087}, {662, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch17_rifle_fires_smoke_25f0023.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{19, 2}, {640, 151}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{662, 153}</string>
			<key>spriteSourceSize</key>
			<string>{662, 153}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 1242}, {662, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch17_rifle_fires_smoke_25f0024.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 2}, {644, 151}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{662, 153}</string>
			<key>spriteSourceSize</key>
			<string>{662, 153}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 1397}, {662, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch17_rifle_fires_smoke_25f0025.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 2}, {654, 151}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{662, 153}</string>
			<key>spriteSourceSize</key>
			<string>{662, 153}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 1552}, {662, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch17_rifle_fires_smoke_25f0026.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {658, 151}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{662, 153}</string>
			<key>spriteSourceSize</key>
			<string>{662, 153}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 1707}, {662, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{2048, 2048}</string>
	</dict>
</dict>
</plist>