<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch9_ship_sails_center_rear0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{18, 3}, {139, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{185, 120}</string>
			<key>spriteSourceSize</key>
			<string>{185, 120}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 124}, {185, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch9_ship_sails_center_rear0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{17, 3}, {141, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{185, 120}</string>
			<key>spriteSourceSize</key>
			<string>{185, 120}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{376, 2}, {185, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch9_ship_sails_center_rear0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{17, 3}, {141, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{185, 120}</string>
			<key>spriteSourceSize</key>
			<string>{185, 120}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{750, 2}, {185, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch9_ship_sails_center_rear0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 3}, {143, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{185, 120}</string>
			<key>spriteSourceSize</key>
			<string>{185, 120}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{563, 124}, {185, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch9_ship_sails_center_rear0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{13, 3}, {149, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{185, 120}</string>
			<key>spriteSourceSize</key>
			<string>{185, 120}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{189, 124}, {185, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch9_ship_sails_center_rear0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 3}, {157, 114}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{185, 120}</string>
			<key>spriteSourceSize</key>
			<string>{185, 120}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 246}, {185, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch9_ship_sails_center_rear0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 3}, {157, 114}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{185, 120}</string>
			<key>spriteSourceSize</key>
			<string>{185, 120}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {185, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch9_ship_sails_center_rear0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 3}, {163, 110}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{185, 120}</string>
			<key>spriteSourceSize</key>
			<string>{185, 120}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{376, 124}, {185, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch9_ship_sails_center_rear0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 3}, {167, 110}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{185, 120}</string>
			<key>spriteSourceSize</key>
			<string>{185, 120}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{750, 124}, {185, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch9_ship_sails_center_rear0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 3}, {169, 110}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{185, 120}</string>
			<key>spriteSourceSize</key>
			<string>{185, 120}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{563, 2}, {185, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch9_ship_sails_center_rear0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 3}, {171, 110}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{185, 120}</string>
			<key>spriteSourceSize</key>
			<string>{185, 120}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{189, 2}, {185, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{1024, 512}</string>
	</dict>
</dict>
</plist>