<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch16_knife_shine0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {83, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 50}</string>
			<key>spriteSourceSize</key>
			<string>{105, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{216, 106}, {105, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch16_knife_shine0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {83, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 50}</string>
			<key>spriteSourceSize</key>
			<string>{105, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{323, 2}, {105, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch16_knife_shine0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {83, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 50}</string>
			<key>spriteSourceSize</key>
			<string>{105, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{109, 54}, {105, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch16_knife_shine0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {83, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 50}</string>
			<key>spriteSourceSize</key>
			<string>{105, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{323, 54}, {105, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch16_knife_shine0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {83, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 50}</string>
			<key>spriteSourceSize</key>
			<string>{105, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 54}, {105, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch16_knife_shine0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {83, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 50}</string>
			<key>spriteSourceSize</key>
			<string>{105, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{216, 2}, {105, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch16_knife_shine0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {85, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 50}</string>
			<key>spriteSourceSize</key>
			<string>{105, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{109, 2}, {105, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch16_knife_shine0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {91, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 50}</string>
			<key>spriteSourceSize</key>
			<string>{105, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 106}, {105, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch16_knife_shine0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {95, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 50}</string>
			<key>spriteSourceSize</key>
			<string>{105, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{216, 54}, {105, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch16_knife_shine0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {101, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 50}</string>
			<key>spriteSourceSize</key>
			<string>{105, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{109, 106}, {105, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch16_knife_shine0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {95, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 50}</string>
			<key>spriteSourceSize</key>
			<string>{105, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{323, 106}, {105, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch16_knife_shine0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {91, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 50}</string>
			<key>spriteSourceSize</key>
			<string>{105, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{109, 158}, {105, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch16_knife_shine0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {85, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 50}</string>
			<key>spriteSourceSize</key>
			<string>{105, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {105, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch16_knife_shine0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {83, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 50}</string>
			<key>spriteSourceSize</key>
			<string>{105, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 158}, {105, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{512, 256}</string>
	</dict>
</dict>
</plist>