<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch8_ship_chain0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 6}, {112, 207}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{124, 217}</string>
			<key>spriteSourceSize</key>
			<string>{124, 217}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 1535}, {124, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_ship_chain0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 8}, {114, 205}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{124, 217}</string>
			<key>spriteSourceSize</key>
			<string>{124, 217}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{632, 2}, {124, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_ship_chain0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 9}, {116, 203}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{124, 217}</string>
			<key>spriteSourceSize</key>
			<string>{124, 217}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 1754}, {124, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_ship_chain0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 10}, {118, 201}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{124, 217}</string>
			<key>spriteSourceSize</key>
			<string>{124, 217}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{380, 2}, {124, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_ship_chain0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 11}, {118, 199}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{124, 217}</string>
			<key>spriteSourceSize</key>
			<string>{124, 217}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{506, 2}, {124, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_ship_chain0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 13}, {118, 195}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{124, 217}</string>
			<key>spriteSourceSize</key>
			<string>{124, 217}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 878}, {124, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_ship_chain0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 14}, {118, 193}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{124, 217}</string>
			<key>spriteSourceSize</key>
			<string>{124, 217}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{380, 440}, {124, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_ship_chain0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 15}, {120, 191}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{124, 217}</string>
			<key>spriteSourceSize</key>
			<string>{124, 217}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{128, 221}, {124, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_ship_chain0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 16}, {120, 189}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{124, 217}</string>
			<key>spriteSourceSize</key>
			<string>{124, 217}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{758, 221}, {124, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_ship_chain0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 17}, {120, 187}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{124, 217}</string>
			<key>spriteSourceSize</key>
			<string>{124, 217}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{758, 659}, {124, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_ship_chain0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 19}, {120, 185}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{124, 217}</string>
			<key>spriteSourceSize</key>
			<string>{124, 217}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 1097}, {124, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_ship_chain0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 20}, {120, 181}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{124, 217}</string>
			<key>spriteSourceSize</key>
			<string>{124, 217}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{884, 221}, {124, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_ship_chain0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 21}, {122, 179}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{124, 217}</string>
			<key>spriteSourceSize</key>
			<string>{124, 217}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{254, 221}, {124, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_ship_chain0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 23}, {122, 177}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{124, 217}</string>
			<key>spriteSourceSize</key>
			<string>{124, 217}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{128, 878}, {124, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_ship_chain0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 24}, {120, 175}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{124, 217}</string>
			<key>spriteSourceSize</key>
			<string>{124, 217}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 1316}, {124, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_ship_chain0016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 25}, {118, 173}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{124, 217}</string>
			<key>spriteSourceSize</key>
			<string>{124, 217}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{758, 2}, {124, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_ship_chain0017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 25}, {118, 173}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{124, 217}</string>
			<key>spriteSourceSize</key>
			<string>{124, 217}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{380, 659}, {124, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_ship_chain0018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 25}, {118, 173}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{124, 217}</string>
			<key>spriteSourceSize</key>
			<string>{124, 217}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{758, 440}, {124, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_ship_chain0019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 25}, {118, 173}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{124, 217}</string>
			<key>spriteSourceSize</key>
			<string>{124, 217}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 659}, {124, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_ship_chain0020.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 25}, {118, 173}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{124, 217}</string>
			<key>spriteSourceSize</key>
			<string>{124, 217}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{884, 440}, {124, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_ship_chain0021.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 25}, {118, 173}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{124, 217}</string>
			<key>spriteSourceSize</key>
			<string>{124, 217}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{128, 440}, {124, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_ship_chain0022.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 25}, {118, 173}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{124, 217}</string>
			<key>spriteSourceSize</key>
			<string>{124, 217}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {124, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_ship_chain0023.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 24}, {120, 175}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{124, 217}</string>
			<key>spriteSourceSize</key>
			<string>{124, 217}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{254, 878}, {124, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_ship_chain0024.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 23}, {122, 175}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{124, 217}</string>
			<key>spriteSourceSize</key>
			<string>{124, 217}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{884, 2}, {124, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_ship_chain0025.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 22}, {122, 177}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{124, 217}</string>
			<key>spriteSourceSize</key>
			<string>{124, 217}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{506, 221}, {124, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_ship_chain0026.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 20}, {120, 181}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{124, 217}</string>
			<key>spriteSourceSize</key>
			<string>{124, 217}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{128, 2}, {124, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_ship_chain0027.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 19}, {120, 183}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{124, 217}</string>
			<key>spriteSourceSize</key>
			<string>{124, 217}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 221}, {124, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_ship_chain0028.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 18}, {120, 185}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{124, 217}</string>
			<key>spriteSourceSize</key>
			<string>{124, 217}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{632, 440}, {124, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_ship_chain0029.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 17}, {120, 187}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{124, 217}</string>
			<key>spriteSourceSize</key>
			<string>{124, 217}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{128, 659}, {124, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_ship_chain0030.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 16}, {120, 189}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{124, 217}</string>
			<key>spriteSourceSize</key>
			<string>{124, 217}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{506, 659}, {124, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_ship_chain0031.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 15}, {120, 191}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{124, 217}</string>
			<key>spriteSourceSize</key>
			<string>{124, 217}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{506, 440}, {124, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_ship_chain0032.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 14}, {120, 193}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{124, 217}</string>
			<key>spriteSourceSize</key>
			<string>{124, 217}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{632, 659}, {124, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_ship_chain0033.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 13}, {118, 193}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{124, 217}</string>
			<key>spriteSourceSize</key>
			<string>{124, 217}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{632, 221}, {124, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_ship_chain0034.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 12}, {118, 197}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{124, 217}</string>
			<key>spriteSourceSize</key>
			<string>{124, 217}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{254, 659}, {124, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_ship_chain0035.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 11}, {118, 199}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{124, 217}</string>
			<key>spriteSourceSize</key>
			<string>{124, 217}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{254, 2}, {124, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_ship_chain0036.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 9}, {118, 203}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{124, 217}</string>
			<key>spriteSourceSize</key>
			<string>{124, 217}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{254, 440}, {124, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_ship_chain0037.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 8}, {116, 205}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{124, 217}</string>
			<key>spriteSourceSize</key>
			<string>{124, 217}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 440}, {124, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_ship_chain0038.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 7}, {114, 205}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{124, 217}</string>
			<key>spriteSourceSize</key>
			<string>{124, 217}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{380, 221}, {124, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_ship_chain0039.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 6}, {112, 207}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{124, 217}</string>
			<key>spriteSourceSize</key>
			<string>{124, 217}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{884, 659}, {124, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{1024, 2048}</string>
	</dict>
</dict>
</plist>