<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch24_sail_R2L0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{127, 5}, {127, 108}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{261, 118}</string>
			<key>spriteSourceSize</key>
			<string>{261, 118}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{528, 2}, {261, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch24_sail_R2L0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{127, 5}, {127, 108}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{261, 118}</string>
			<key>spriteSourceSize</key>
			<string>{261, 118}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{265, 242}, {261, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch24_sail_R2L0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{127, 5}, {127, 108}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{261, 118}</string>
			<key>spriteSourceSize</key>
			<string>{261, 118}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 362}, {261, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch24_sail_R2L0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{127, 5}, {95, 108}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{261, 118}</string>
			<key>spriteSourceSize</key>
			<string>{261, 118}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{528, 122}, {261, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch24_sail_R2L0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{127, 5}, {63, 108}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{261, 118}</string>
			<key>spriteSourceSize</key>
			<string>{261, 118}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 122}, {261, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch24_sail_R2L0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{115, 5}, {41, 108}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{261, 118}</string>
			<key>spriteSourceSize</key>
			<string>{261, 118}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {261, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch24_sail_R2L0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{80, 5}, {61, 108}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{261, 118}</string>
			<key>spriteSourceSize</key>
			<string>{261, 118}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{528, 242}, {261, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch24_sail_R2L0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{44, 5}, {97, 108}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{261, 118}</string>
			<key>spriteSourceSize</key>
			<string>{261, 118}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{265, 362}, {261, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch24_sail_R2L0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 5}, {135, 108}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{261, 118}</string>
			<key>spriteSourceSize</key>
			<string>{261, 118}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 242}, {261, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch24_sail_R2L0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 5}, {135, 108}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{261, 118}</string>
			<key>spriteSourceSize</key>
			<string>{261, 118}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{265, 2}, {261, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch24_sail_R2L0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 5}, {135, 108}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{261, 118}</string>
			<key>spriteSourceSize</key>
			<string>{261, 118}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{265, 122}, {261, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{1024, 512}</string>
	</dict>
</dict>
</plist>