<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch7_carriage0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 266}, {4, 9}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{260, 275}</string>
			<key>spriteSourceSize</key>
			<string>{260, 275}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {260, 275}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_carriage0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 224}, {20, 51}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{260, 275}</string>
			<key>spriteSourceSize</key>
			<string>{260, 275}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{526, 1110}, {260, 275}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_carriage0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 202}, {36, 73}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{260, 275}</string>
			<key>spriteSourceSize</key>
			<string>{260, 275}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{526, 833}, {260, 275}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_carriage0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 188}, {50, 87}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{260, 275}</string>
			<key>spriteSourceSize</key>
			<string>{260, 275}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 279}, {260, 275}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_carriage0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 174}, {66, 101}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{260, 275}</string>
			<key>spriteSourceSize</key>
			<string>{260, 275}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1050, 279}, {260, 275}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_carriage0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 162}, {86, 113}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{260, 275}</string>
			<key>spriteSourceSize</key>
			<string>{260, 275}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1050, 2}, {260, 275}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_carriage0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 148}, {96, 127}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{260, 275}</string>
			<key>spriteSourceSize</key>
			<string>{260, 275}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{526, 556}, {260, 275}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_carriage0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 136}, {104, 139}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{260, 275}</string>
			<key>spriteSourceSize</key>
			<string>{260, 275}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{788, 2}, {260, 275}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_carriage0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 126}, {120, 149}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{260, 275}</string>
			<key>spriteSourceSize</key>
			<string>{260, 275}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{264, 1110}, {260, 275}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_carriage0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 114}, {130, 161}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{260, 275}</string>
			<key>spriteSourceSize</key>
			<string>{260, 275}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{264, 2}, {260, 275}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_carriage0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 104}, {140, 171}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{260, 275}</string>
			<key>spriteSourceSize</key>
			<string>{260, 275}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 833}, {260, 275}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_carriage0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 94}, {160, 181}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{260, 275}</string>
			<key>spriteSourceSize</key>
			<string>{260, 275}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 556}, {260, 275}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_carriage0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 86}, {174, 189}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{260, 275}</string>
			<key>spriteSourceSize</key>
			<string>{260, 275}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{264, 1387}, {260, 275}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_carriage0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 76}, {174, 199}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{260, 275}</string>
			<key>spriteSourceSize</key>
			<string>{260, 275}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{788, 279}, {260, 275}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_carriage0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 68}, {176, 207}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{260, 275}</string>
			<key>spriteSourceSize</key>
			<string>{260, 275}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1312, 2}, {260, 275}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_carriage0016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 60}, {192, 215}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{260, 275}</string>
			<key>spriteSourceSize</key>
			<string>{260, 275}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1574, 2}, {260, 275}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_carriage0017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 54}, {196, 221}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{260, 275}</string>
			<key>spriteSourceSize</key>
			<string>{260, 275}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{526, 2}, {260, 275}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_carriage0018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 48}, {198, 227}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{260, 275}</string>
			<key>spriteSourceSize</key>
			<string>{260, 275}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 1664}, {260, 275}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_carriage0019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 42}, {208, 233}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{260, 275}</string>
			<key>spriteSourceSize</key>
			<string>{260, 275}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{264, 833}, {260, 275}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_carriage0020.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 36}, {212, 237}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{260, 275}</string>
			<key>spriteSourceSize</key>
			<string>{260, 275}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{788, 556}, {260, 275}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_carriage0021.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 31}, {214, 237}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{260, 275}</string>
			<key>spriteSourceSize</key>
			<string>{260, 275}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{526, 1664}, {260, 275}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_carriage0022.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 27}, {222, 237}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{260, 275}</string>
			<key>spriteSourceSize</key>
			<string>{260, 275}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1312, 279}, {260, 275}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_carriage0023.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{14, 23}, {226, 237}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{260, 275}</string>
			<key>spriteSourceSize</key>
			<string>{260, 275}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 1387}, {260, 275}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_carriage0024.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{17, 19}, {218, 237}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{260, 275}</string>
			<key>spriteSourceSize</key>
			<string>{260, 275}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{264, 556}, {260, 275}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_carriage0025.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{20, 16}, {212, 237}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{260, 275}</string>
			<key>spriteSourceSize</key>
			<string>{260, 275}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1574, 279}, {260, 275}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_carriage0026.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{23, 14}, {218, 237}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{260, 275}</string>
			<key>spriteSourceSize</key>
			<string>{260, 275}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 1110}, {260, 275}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_carriage0027.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{25, 12}, {214, 237}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{260, 275}</string>
			<key>spriteSourceSize</key>
			<string>{260, 275}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{264, 1664}, {260, 275}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_carriage0028.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{26, 11}, {212, 237}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{260, 275}</string>
			<key>spriteSourceSize</key>
			<string>{260, 275}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{526, 1387}, {260, 275}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_carriage0029.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{27, 10}, {214, 237}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{260, 275}</string>
			<key>spriteSourceSize</key>
			<string>{260, 275}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{526, 279}, {260, 275}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_carriage0030.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{27, 10}, {214, 237}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{260, 275}</string>
			<key>spriteSourceSize</key>
			<string>{260, 275}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{264, 279}, {260, 275}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{2048, 2048}</string>
	</dict>
</dict>
</plist>