<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch14_plant_tentacles0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{15, 11}, {82, 132}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110, 150}</string>
			<key>spriteSourceSize</key>
			<string>{110, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 306}, {110, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch14_plant_tentacles0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{15, 13}, {82, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110, 150}</string>
			<key>spriteSourceSize</key>
			<string>{110, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{114, 2}, {110, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch14_plant_tentacles0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 15}, {88, 128}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110, 150}</string>
			<key>spriteSourceSize</key>
			<string>{110, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 154}, {110, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch14_plant_tentacles0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 12}, {90, 132}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110, 150}</string>
			<key>spriteSourceSize</key>
			<string>{110, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {110, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch14_plant_tentacles0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 11}, {88, 132}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110, 150}</string>
			<key>spriteSourceSize</key>
			<string>{110, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{114, 306}, {110, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch14_plant_tentacles0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{12, 13}, {86, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110, 150}</string>
			<key>spriteSourceSize</key>
			<string>{110, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 458}, {110, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch14_plant_tentacles0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{15, 10}, {82, 134}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{110, 150}</string>
			<key>spriteSourceSize</key>
			<string>{110, 150}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{114, 154}, {110, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{256, 1024}</string>
	</dict>
</dict>
</plist>