<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch18_left_pirate_arm0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{68, 76}, {194, 132}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{262, 208}</string>
			<key>spriteSourceSize</key>
			<string>{262, 208}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{266, 212}, {262, 208}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch18_left_pirate_arm0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{64, 70}, {198, 138}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{262, 208}</string>
			<key>spriteSourceSize</key>
			<string>{262, 208}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {262, 208}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch18_left_pirate_arm0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{54, 54}, {208, 154}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{262, 208}</string>
			<key>spriteSourceSize</key>
			<string>{262, 208}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{266, 632}, {262, 208}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch18_left_pirate_arm0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{40, 32}, {222, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{262, 208}</string>
			<key>spriteSourceSize</key>
			<string>{262, 208}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{530, 212}, {262, 208}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch18_left_pirate_arm0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{22, 10}, {240, 198}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{262, 208}</string>
			<key>spriteSourceSize</key>
			<string>{262, 208}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{530, 2}, {262, 208}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch18_left_pirate_arm0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{36, 28}, {226, 180}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{262, 208}</string>
			<key>spriteSourceSize</key>
			<string>{262, 208}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 422}, {262, 208}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch18_left_pirate_arm0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{48, 46}, {214, 162}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{262, 208}</string>
			<key>spriteSourceSize</key>
			<string>{262, 208}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{266, 2}, {262, 208}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch18_left_pirate_arm0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{58, 60}, {204, 148}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{262, 208}</string>
			<key>spriteSourceSize</key>
			<string>{262, 208}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{266, 422}, {262, 208}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch18_left_pirate_arm0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{64, 70}, {198, 138}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{262, 208}</string>
			<key>spriteSourceSize</key>
			<string>{262, 208}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 212}, {262, 208}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch18_left_pirate_arm0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{66, 72}, {196, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{262, 208}</string>
			<key>spriteSourceSize</key>
			<string>{262, 208}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 632}, {262, 208}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{1024, 1024}</string>
	</dict>
</dict>
</plist>