<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch24_wave20001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {166, 200}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{166, 200}</string>
			<key>spriteSourceSize</key>
			<string>{166, 200}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{338, 204}, {166, 200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch24_wave20002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {166, 200}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{166, 200}</string>
			<key>spriteSourceSize</key>
			<string>{166, 200}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{170, 810}, {166, 200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch24_wave20003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{117, 136}, {6, 6}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{166, 200}</string>
			<key>spriteSourceSize</key>
			<string>{166, 200}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{170, 608}, {166, 200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch24_wave20004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{108, 59}, {52, 92}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{166, 200}</string>
			<key>spriteSourceSize</key>
			<string>{166, 200}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{170, 406}, {166, 200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch24_wave20005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{98, 47}, {62, 96}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{166, 200}</string>
			<key>spriteSourceSize</key>
			<string>{166, 200}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{170, 204}, {166, 200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch24_wave20006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{88, 37}, {72, 98}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{166, 200}</string>
			<key>spriteSourceSize</key>
			<string>{166, 200}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{842, 2}, {166, 200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch24_wave20007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{77, 28}, {84, 118}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{166, 200}</string>
			<key>spriteSourceSize</key>
			<string>{166, 200}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{674, 2}, {166, 200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch24_wave20008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{66, 19}, {94, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{166, 200}</string>
			<key>spriteSourceSize</key>
			<string>{166, 200}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{506, 2}, {166, 200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch24_wave20009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{54, 13}, {106, 128}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{166, 200}</string>
			<key>spriteSourceSize</key>
			<string>{166, 200}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{338, 2}, {166, 200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch24_wave20010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{41, 8}, {120, 128}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{166, 200}</string>
			<key>spriteSourceSize</key>
			<string>{166, 200}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{170, 2}, {166, 200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch24_wave20011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{41, 20}, {120, 128}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{166, 200}</string>
			<key>spriteSourceSize</key>
			<string>{166, 200}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 810}, {166, 200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch24_wave20012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{41, 33}, {120, 128}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{166, 200}</string>
			<key>spriteSourceSize</key>
			<string>{166, 200}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 608}, {166, 200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch24_wave20013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{50, 46}, {110, 128}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{166, 200}</string>
			<key>spriteSourceSize</key>
			<string>{166, 200}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 406}, {166, 200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch24_wave20014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{52, 59}, {108, 128}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{166, 200}</string>
			<key>spriteSourceSize</key>
			<string>{166, 200}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 204}, {166, 200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch24_wave20015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {166, 200}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{166, 200}</string>
			<key>spriteSourceSize</key>
			<string>{166, 200}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {166, 200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{1024, 1024}</string>
	</dict>
</dict>
</plist>