<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch8_police0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 4}, {86, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{100, 80}</string>
			<key>spriteSourceSize</key>
			<string>{100, 80}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 166}, {100, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_police0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 4}, {88, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{100, 80}</string>
			<key>spriteSourceSize</key>
			<string>{100, 80}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{104, 166}, {100, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_police0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 4}, {84, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{100, 80}</string>
			<key>spriteSourceSize</key>
			<string>{100, 80}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 84}, {100, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_police0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 2}, {84, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{100, 80}</string>
			<key>spriteSourceSize</key>
			<string>{100, 80}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{410, 84}, {100, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_police0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 2}, {84, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{100, 80}</string>
			<key>spriteSourceSize</key>
			<string>{100, 80}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{308, 2}, {100, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_police0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 2}, {84, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{100, 80}</string>
			<key>spriteSourceSize</key>
			<string>{100, 80}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{206, 2}, {100, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_police0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 2}, {84, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{100, 80}</string>
			<key>spriteSourceSize</key>
			<string>{100, 80}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{206, 248}, {100, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_police0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 2}, {84, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{100, 80}</string>
			<key>spriteSourceSize</key>
			<string>{100, 80}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{308, 166}, {100, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_police0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 2}, {84, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{100, 80}</string>
			<key>spriteSourceSize</key>
			<string>{100, 80}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{104, 248}, {100, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_police0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 2}, {84, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{100, 80}</string>
			<key>spriteSourceSize</key>
			<string>{100, 80}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 248}, {100, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_police0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 2}, {84, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{100, 80}</string>
			<key>spriteSourceSize</key>
			<string>{100, 80}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{104, 2}, {100, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_police0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 2}, {84, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{100, 80}</string>
			<key>spriteSourceSize</key>
			<string>{100, 80}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 330}, {100, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_police0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 2}, {84, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{100, 80}</string>
			<key>spriteSourceSize</key>
			<string>{100, 80}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {100, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_police0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 4}, {84, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{100, 80}</string>
			<key>spriteSourceSize</key>
			<string>{100, 80}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{410, 166}, {100, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_police0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 4}, {84, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{100, 80}</string>
			<key>spriteSourceSize</key>
			<string>{100, 80}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{104, 412}, {100, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_police0016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 4}, {88, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{100, 80}</string>
			<key>spriteSourceSize</key>
			<string>{100, 80}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{104, 84}, {100, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_police0017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 4}, {86, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{100, 80}</string>
			<key>spriteSourceSize</key>
			<string>{100, 80}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{206, 412}, {100, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_police0018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 4}, {86, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{100, 80}</string>
			<key>spriteSourceSize</key>
			<string>{100, 80}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 412}, {100, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_police0019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 4}, {86, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{100, 80}</string>
			<key>spriteSourceSize</key>
			<string>{100, 80}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{206, 330}, {100, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_police0020.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 4}, {86, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{100, 80}</string>
			<key>spriteSourceSize</key>
			<string>{100, 80}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{308, 84}, {100, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_police0021.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 4}, {86, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{100, 80}</string>
			<key>spriteSourceSize</key>
			<string>{100, 80}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{206, 84}, {100, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_police0022.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 4}, {86, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{100, 80}</string>
			<key>spriteSourceSize</key>
			<string>{100, 80}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{410, 2}, {100, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_police0023.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 4}, {86, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{100, 80}</string>
			<key>spriteSourceSize</key>
			<string>{100, 80}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{104, 330}, {100, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_police0024.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 4}, {86, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{100, 80}</string>
			<key>spriteSourceSize</key>
			<string>{100, 80}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{206, 166}, {100, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{512, 512}</string>
	</dict>
</dict>
</plist>