<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch8_man_under_sign0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {85, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{85, 130}</string>
			<key>spriteSourceSize</key>
			<string>{85, 130}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{89, 794}, {85, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_man_under_sign0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {85, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{85, 130}</string>
			<key>spriteSourceSize</key>
			<string>{85, 130}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 794}, {85, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_man_under_sign0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {85, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{85, 130}</string>
			<key>spriteSourceSize</key>
			<string>{85, 130}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{89, 662}, {85, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_man_under_sign0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {85, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{85, 130}</string>
			<key>spriteSourceSize</key>
			<string>{85, 130}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 662}, {85, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_man_under_sign0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {85, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{85, 130}</string>
			<key>spriteSourceSize</key>
			<string>{85, 130}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{89, 530}, {85, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_man_under_sign0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {85, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{85, 130}</string>
			<key>spriteSourceSize</key>
			<string>{85, 130}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 530}, {85, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_man_under_sign0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {85, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{85, 130}</string>
			<key>spriteSourceSize</key>
			<string>{85, 130}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{89, 398}, {85, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_man_under_sign0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {85, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{85, 130}</string>
			<key>spriteSourceSize</key>
			<string>{85, 130}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 398}, {85, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_man_under_sign0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {85, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{85, 130}</string>
			<key>spriteSourceSize</key>
			<string>{85, 130}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{89, 266}, {85, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_man_under_sign0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {85, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{85, 130}</string>
			<key>spriteSourceSize</key>
			<string>{85, 130}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 266}, {85, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_man_under_sign0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {85, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{85, 130}</string>
			<key>spriteSourceSize</key>
			<string>{85, 130}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{89, 134}, {85, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_man_under_sign0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {85, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{85, 130}</string>
			<key>spriteSourceSize</key>
			<string>{85, 130}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 134}, {85, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_man_under_sign0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {85, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{85, 130}</string>
			<key>spriteSourceSize</key>
			<string>{85, 130}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{89, 2}, {85, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_man_under_sign0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {85, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{85, 130}</string>
			<key>spriteSourceSize</key>
			<string>{85, 130}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {85, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{256, 1024}</string>
	</dict>
</dict>
</plist>