<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch34b_lock_shine0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {79, 73}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{79, 73}</string>
			<key>spriteSourceSize</key>
			<string>{79, 73}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{245, 2}, {79, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34b_lock_shine0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {79, 73}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{79, 73}</string>
			<key>spriteSourceSize</key>
			<string>{79, 73}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {79, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34b_lock_shine0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {79, 73}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{79, 73}</string>
			<key>spriteSourceSize</key>
			<string>{79, 73}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{83, 152}, {79, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34b_lock_shine0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {79, 73}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{79, 73}</string>
			<key>spriteSourceSize</key>
			<string>{79, 73}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 152}, {79, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34b_lock_shine0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {79, 73}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{79, 73}</string>
			<key>spriteSourceSize</key>
			<string>{79, 73}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{245, 152}, {79, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34b_lock_shine0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {79, 73}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{79, 73}</string>
			<key>spriteSourceSize</key>
			<string>{79, 73}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{164, 77}, {79, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34b_lock_shine0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {79, 73}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{79, 73}</string>
			<key>spriteSourceSize</key>
			<string>{79, 73}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{83, 77}, {79, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34b_lock_shine0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {79, 73}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{79, 73}</string>
			<key>spriteSourceSize</key>
			<string>{79, 73}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{83, 2}, {79, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34b_lock_shine0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {79, 73}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{79, 73}</string>
			<key>spriteSourceSize</key>
			<string>{79, 73}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{164, 152}, {79, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34b_lock_shine0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {79, 73}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{79, 73}</string>
			<key>spriteSourceSize</key>
			<string>{79, 73}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{245, 77}, {79, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34b_lock_shine0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {79, 73}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{79, 73}</string>
			<key>spriteSourceSize</key>
			<string>{79, 73}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{164, 2}, {79, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34b_lock_shine0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {79, 73}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{79, 73}</string>
			<key>spriteSourceSize</key>
			<string>{79, 73}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 77}, {79, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{512, 256}</string>
	</dict>
</dict>
</plist>