<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch14_bird0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{40, 55}, {63, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{155, 190}</string>
			<key>spriteSourceSize</key>
			<string>{155, 190}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{787, 194}, {155, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch14_bird0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{40, 56}, {67, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{155, 190}</string>
			<key>spriteSourceSize</key>
			<string>{155, 190}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{159, 194}, {155, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch14_bird0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{40, 55}, {63, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{155, 190}</string>
			<key>spriteSourceSize</key>
			<string>{155, 190}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{787, 2}, {155, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch14_bird0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{40, 56}, {67, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{155, 190}</string>
			<key>spriteSourceSize</key>
			<string>{155, 190}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 1346}, {155, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch14_bird0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{40, 55}, {63, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{155, 190}</string>
			<key>spriteSourceSize</key>
			<string>{155, 190}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{316, 770}, {155, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch14_bird0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{40, 55}, {63, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{155, 190}</string>
			<key>spriteSourceSize</key>
			<string>{155, 190}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{473, 962}, {155, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch14_bird0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{40, 55}, {63, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{155, 190}</string>
			<key>spriteSourceSize</key>
			<string>{155, 190}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{787, 770}, {155, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch14_bird0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{40, 55}, {63, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{155, 190}</string>
			<key>spriteSourceSize</key>
			<string>{155, 190}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{316, 1154}, {155, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch14_bird0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{40, 55}, {63, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{155, 190}</string>
			<key>spriteSourceSize</key>
			<string>{155, 190}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{159, 1730}, {155, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch14_bird0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{40, 55}, {63, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{155, 190}</string>
			<key>spriteSourceSize</key>
			<string>{155, 190}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{473, 578}, {155, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch14_bird0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{40, 55}, {63, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{155, 190}</string>
			<key>spriteSourceSize</key>
			<string>{155, 190}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{473, 1538}, {155, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch14_bird0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{40, 55}, {63, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{155, 190}</string>
			<key>spriteSourceSize</key>
			<string>{155, 190}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{316, 386}, {155, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch14_bird0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{40, 55}, {63, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{155, 190}</string>
			<key>spriteSourceSize</key>
			<string>{155, 190}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{787, 1154}, {155, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch14_bird0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{40, 55}, {63, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{155, 190}</string>
			<key>spriteSourceSize</key>
			<string>{155, 190}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{630, 962}, {155, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch14_bird0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{40, 55}, {63, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{155, 190}</string>
			<key>spriteSourceSize</key>
			<string>{155, 190}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{630, 2}, {155, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch14_bird0016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{40, 55}, {63, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{155, 190}</string>
			<key>spriteSourceSize</key>
			<string>{155, 190}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 578}, {155, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch14_bird0017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{40, 55}, {63, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{155, 190}</string>
			<key>spriteSourceSize</key>
			<string>{155, 190}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{159, 1154}, {155, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch14_bird0018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{40, 55}, {63, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{155, 190}</string>
			<key>spriteSourceSize</key>
			<string>{155, 190}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{473, 770}, {155, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch14_bird0019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{40, 55}, {63, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{155, 190}</string>
			<key>spriteSourceSize</key>
			<string>{155, 190}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{159, 578}, {155, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch14_bird0020.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{40, 55}, {63, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{155, 190}</string>
			<key>spriteSourceSize</key>
			<string>{155, 190}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{473, 1730}, {155, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch14_bird0021.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{40, 55}, {63, 90}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{155, 190}</string>
			<key>spriteSourceSize</key>
			<string>{155, 190}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{159, 1346}, {155, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch14_bird0022.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{27, 53}, {79, 90}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{155, 190}</string>
			<key>spriteSourceSize</key>
			<string>{155, 190}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{473, 194}, {155, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch14_bird0023.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{15, 50}, {95, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{155, 190}</string>
			<key>spriteSourceSize</key>
			<string>{155, 190}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{316, 1730}, {155, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch14_bird0024.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 49}, {103, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{155, 190}</string>
			<key>spriteSourceSize</key>
			<string>{155, 190}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{316, 578}, {155, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch14_bird0025.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{11, 47}, {105, 96}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{155, 190}</string>
			<key>spriteSourceSize</key>
			<string>{155, 190}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{159, 2}, {155, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch14_bird0026.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{27, 18}, {91, 124}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{155, 190}</string>
			<key>spriteSourceSize</key>
			<string>{155, 190}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 194}, {155, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch14_bird0027.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{27, 6}, {91, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{155, 190}</string>
			<key>spriteSourceSize</key>
			<string>{155, 190}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{630, 194}, {155, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch14_bird0028.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{27, 6}, {91, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{155, 190}</string>
			<key>spriteSourceSize</key>
			<string>{155, 190}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 386}, {155, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch14_bird0029.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{27, 6}, {91, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{155, 190}</string>
			<key>spriteSourceSize</key>
			<string>{155, 190}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{473, 386}, {155, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch14_bird0030.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{27, 6}, {91, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{155, 190}</string>
			<key>spriteSourceSize</key>
			<string>{155, 190}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{787, 386}, {155, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch14_bird0031.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{27, 7}, {91, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{155, 190}</string>
			<key>spriteSourceSize</key>
			<string>{155, 190}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{787, 578}, {155, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch14_bird0032.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{27, 7}, {91, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{155, 190}</string>
			<key>spriteSourceSize</key>
			<string>{155, 190}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {155, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch14_bird0033.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{27, 7}, {91, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{155, 190}</string>
			<key>spriteSourceSize</key>
			<string>{155, 190}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{473, 2}, {155, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch14_bird0034.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{27, 6}, {91, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{155, 190}</string>
			<key>spriteSourceSize</key>
			<string>{155, 190}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{316, 1346}, {155, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch14_bird0035.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{27, 6}, {91, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{155, 190}</string>
			<key>spriteSourceSize</key>
			<string>{155, 190}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 1538}, {155, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch14_bird0036.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{27, 6}, {91, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{155, 190}</string>
			<key>spriteSourceSize</key>
			<string>{155, 190}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{316, 962}, {155, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch14_bird0037.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{27, 6}, {93, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{155, 190}</string>
			<key>spriteSourceSize</key>
			<string>{155, 190}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{159, 962}, {155, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch14_bird0038.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{27, 6}, {91, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{155, 190}</string>
			<key>spriteSourceSize</key>
			<string>{155, 190}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{787, 1346}, {155, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch14_bird0039.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{27, 6}, {93, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{155, 190}</string>
			<key>spriteSourceSize</key>
			<string>{155, 190}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{316, 1538}, {155, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch14_bird0040.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{27, 6}, {91, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{155, 190}</string>
			<key>spriteSourceSize</key>
			<string>{155, 190}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{159, 1538}, {155, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch14_bird0041.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{27, 6}, {91, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{155, 190}</string>
			<key>spriteSourceSize</key>
			<string>{155, 190}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{316, 2}, {155, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch14_bird0042.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{27, 7}, {91, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{155, 190}</string>
			<key>spriteSourceSize</key>
			<string>{155, 190}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{630, 1346}, {155, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch14_bird0043.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{27, 7}, {91, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{155, 190}</string>
			<key>spriteSourceSize</key>
			<string>{155, 190}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 962}, {155, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch14_bird0044.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{27, 6}, {91, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{155, 190}</string>
			<key>spriteSourceSize</key>
			<string>{155, 190}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 1154}, {155, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch14_bird0045.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{27, 6}, {91, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{155, 190}</string>
			<key>spriteSourceSize</key>
			<string>{155, 190}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{473, 1154}, {155, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch14_bird0046.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{27, 6}, {91, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{155, 190}</string>
			<key>spriteSourceSize</key>
			<string>{155, 190}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{630, 386}, {155, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch14_bird0047.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{27, 6}, {91, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{155, 190}</string>
			<key>spriteSourceSize</key>
			<string>{155, 190}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{159, 770}, {155, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch14_bird0048.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{27, 6}, {91, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{155, 190}</string>
			<key>spriteSourceSize</key>
			<string>{155, 190}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 1730}, {155, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch14_bird0049.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{27, 6}, {91, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{155, 190}</string>
			<key>spriteSourceSize</key>
			<string>{155, 190}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{159, 386}, {155, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch14_bird0050.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{27, 6}, {91, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{155, 190}</string>
			<key>spriteSourceSize</key>
			<string>{155, 190}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{630, 1154}, {155, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch14_bird0051.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{27, 6}, {91, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{155, 190}</string>
			<key>spriteSourceSize</key>
			<string>{155, 190}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{630, 1538}, {155, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch14_bird0052.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{27, 7}, {91, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{155, 190}</string>
			<key>spriteSourceSize</key>
			<string>{155, 190}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{787, 962}, {155, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch14_bird0053.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{27, 7}, {91, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{155, 190}</string>
			<key>spriteSourceSize</key>
			<string>{155, 190}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 770}, {155, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch14_bird0054.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{27, 6}, {91, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{155, 190}</string>
			<key>spriteSourceSize</key>
			<string>{155, 190}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{630, 578}, {155, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch14_bird0055.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{27, 6}, {91, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{155, 190}</string>
			<key>spriteSourceSize</key>
			<string>{155, 190}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{473, 1346}, {155, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch14_bird0056.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{27, 6}, {91, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{155, 190}</string>
			<key>spriteSourceSize</key>
			<string>{155, 190}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{630, 770}, {155, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch14_bird0057.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{27, 6}, {91, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{155, 190}</string>
			<key>spriteSourceSize</key>
			<string>{155, 190}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{316, 194}, {155, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{1024, 2048}</string>
	</dict>
</dict>
</plist>