<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch18_dust_particles0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{89, 28}, {191, 175}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{285, 227}</string>
			<key>spriteSourceSize</key>
			<string>{285, 227}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 231}, {285, 227}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch18_dust_particles0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{96, 97}, {173, 105}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{285, 227}</string>
			<key>spriteSourceSize</key>
			<string>{285, 227}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1150, 2}, {285, 227}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch18_dust_particles0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{96, 88}, {183, 115}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{285, 227}</string>
			<key>spriteSourceSize</key>
			<string>{285, 227}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{863, 2}, {285, 227}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch18_dust_particles0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{96, 92}, {185, 111}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{285, 227}</string>
			<key>spriteSourceSize</key>
			<string>{285, 227}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{289, 231}, {285, 227}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch18_dust_particles0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{91, 87}, {151, 117}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{285, 227}</string>
			<key>spriteSourceSize</key>
			<string>{285, 227}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1437, 2}, {285, 227}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch18_dust_particles0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{86, 87}, {155, 117}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{285, 227}</string>
			<key>spriteSourceSize</key>
			<string>{285, 227}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1724, 2}, {285, 227}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch18_dust_particles0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{78, 81}, {201, 125}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{285, 227}</string>
			<key>spriteSourceSize</key>
			<string>{285, 227}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1150, 231}, {285, 227}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch18_dust_particles0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{72, 68}, {205, 139}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{285, 227}</string>
			<key>spriteSourceSize</key>
			<string>{285, 227}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {285, 227}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch18_dust_particles0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{65, 55}, {215, 147}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{285, 227}</string>
			<key>spriteSourceSize</key>
			<string>{285, 227}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1437, 231}, {285, 227}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch18_dust_particles0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{69, 52}, {211, 161}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{285, 227}</string>
			<key>spriteSourceSize</key>
			<string>{285, 227}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{289, 2}, {285, 227}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch18_dust_particles0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{72, 55}, {209, 153}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{285, 227}</string>
			<key>spriteSourceSize</key>
			<string>{285, 227}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{576, 2}, {285, 227}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch18_dust_particles0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{67, 37}, {213, 167}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{285, 227}</string>
			<key>spriteSourceSize</key>
			<string>{285, 227}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{863, 231}, {285, 227}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch18_dust_particles0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{74, 22}, {201, 181}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{285, 227}</string>
			<key>spriteSourceSize</key>
			<string>{285, 227}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{576, 231}, {285, 227}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch18_dust_particles0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{81, 30}, {199, 173}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{285, 227}</string>
			<key>spriteSourceSize</key>
			<string>{285, 227}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1724, 231}, {285, 227}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{2048, 512}</string>
	</dict>
</dict>
</plist>