<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch32_funny_ben_10001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {189, 117}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{189, 121}</string>
			<key>spriteSourceSize</key>
			<string>{189, 121}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{193, 248}, {189, 121}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_funny_ben_10002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {189, 117}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{189, 121}</string>
			<key>spriteSourceSize</key>
			<string>{189, 121}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{193, 125}, {189, 121}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_funny_ben_10003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {189, 117}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{189, 121}</string>
			<key>spriteSourceSize</key>
			<string>{189, 121}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 248}, {189, 121}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_funny_ben_10004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {189, 117}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{189, 121}</string>
			<key>spriteSourceSize</key>
			<string>{189, 121}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{384, 2}, {189, 121}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_funny_ben_10005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {189, 117}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{189, 121}</string>
			<key>spriteSourceSize</key>
			<string>{189, 121}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{575, 2}, {189, 121}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_funny_ben_10006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {189, 117}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{189, 121}</string>
			<key>spriteSourceSize</key>
			<string>{189, 121}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {189, 121}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_funny_ben_10007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {189, 117}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{189, 121}</string>
			<key>spriteSourceSize</key>
			<string>{189, 121}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 125}, {189, 121}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_funny_ben_10008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {189, 117}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{189, 121}</string>
			<key>spriteSourceSize</key>
			<string>{189, 121}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{766, 2}, {189, 121}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_funny_ben_10009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {189, 117}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{189, 121}</string>
			<key>spriteSourceSize</key>
			<string>{189, 121}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{193, 371}, {189, 121}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_funny_ben_10010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {189, 117}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{189, 121}</string>
			<key>spriteSourceSize</key>
			<string>{189, 121}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{384, 125}, {189, 121}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_funny_ben_10011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {189, 117}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{189, 121}</string>
			<key>spriteSourceSize</key>
			<string>{189, 121}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{384, 248}, {189, 121}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_funny_ben_10012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {189, 117}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{189, 121}</string>
			<key>spriteSourceSize</key>
			<string>{189, 121}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{575, 125}, {189, 121}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_funny_ben_10013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {189, 117}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{189, 121}</string>
			<key>spriteSourceSize</key>
			<string>{189, 121}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{384, 371}, {189, 121}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_funny_ben_10014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {189, 117}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{189, 121}</string>
			<key>spriteSourceSize</key>
			<string>{189, 121}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 371}, {189, 121}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_funny_ben_10015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {189, 117}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{189, 121}</string>
			<key>spriteSourceSize</key>
			<string>{189, 121}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{193, 2}, {189, 121}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{1024, 512}</string>
	</dict>
</dict>
</plist>