<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch15_ben_lip_sync0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{738, 266}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_lip_sync0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 68}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_lip_sync0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{370, 332}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_lip_sync0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{462, 2}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_lip_sync0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{554, 134}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_lip_sync0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{738, 200}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_lip_sync0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{370, 68}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_lip_sync0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{186, 266}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_lip_sync0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{462, 200}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_lip_sync0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{646, 2}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_lip_sync0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{370, 200}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_lip_sync0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{738, 134}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_lip_sync0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{830, 200}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_lip_sync0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{94, 332}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_lip_sync0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 266}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_lip_sync0016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{554, 266}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_lip_sync0017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{922, 134}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_lip_sync0018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{370, 134}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_lip_sync0019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{278, 2}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_lip_sync0020.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{94, 134}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_lip_sync0021.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{646, 266}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_lip_sync0022.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{278, 200}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_lip_sync0023.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{922, 200}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_lip_sync0024.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{462, 332}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_lip_sync0025.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{738, 2}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_lip_sync0026.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{554, 2}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_lip_sync0027.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{830, 266}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_lip_sync0028.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{830, 2}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_lip_sync0029.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{462, 68}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_lip_sync0030.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{738, 68}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_lip_sync0031.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{646, 200}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_lip_sync0032.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{830, 134}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_lip_sync0033.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{922, 68}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_lip_sync0034.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{278, 68}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_lip_sync0035.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{94, 266}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_lip_sync0036.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{278, 332}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_lip_sync0037.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{646, 68}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_lip_sync0038.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{554, 68}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_lip_sync0039.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{462, 266}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_lip_sync0040.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 200}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_lip_sync0041.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{186, 68}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_lip_sync0042.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{94, 200}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_lip_sync0043.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{94, 2}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_lip_sync0044.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{278, 134}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_lip_sync0045.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{186, 332}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_lip_sync0046.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{186, 200}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_lip_sync0047.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{646, 134}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_lip_sync0048.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{186, 2}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_lip_sync0049.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 332}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_lip_sync0050.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{278, 266}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_lip_sync0051.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{922, 2}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_lip_sync0052.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_lip_sync0053.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{370, 2}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_lip_sync0054.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{186, 134}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_lip_sync0055.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{462, 134}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_lip_sync0056.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{370, 266}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_lip_sync0057.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{94, 68}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_lip_sync0058.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{830, 68}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_lip_sync0059.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 134}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_lip_sync0060.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{554, 200}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_ben_lip_sync0061.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{922, 266}, {90, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{1024, 512}</string>
	</dict>
</dict>
</plist>