<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch33_gold_shine0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{123, 17}, {266, 448}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{400, 474}</string>
			<key>spriteSourceSize</key>
			<string>{400, 474}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1208, 954}, {400, 474}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch33_gold_shine0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{117, 8}, {264, 448}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{400, 474}</string>
			<key>spriteSourceSize</key>
			<string>{400, 474}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{806, 2}, {400, 474}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch33_gold_shine0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{75, 7}, {298, 442}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{400, 474}</string>
			<key>spriteSourceSize</key>
			<string>{400, 474}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{404, 1430}, {400, 474}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch33_gold_shine0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{75, 2}, {180, 240}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{400, 474}</string>
			<key>spriteSourceSize</key>
			<string>{400, 474}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{404, 478}, {400, 474}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch33_gold_shine0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{100, 7}, {156, 234}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{400, 474}</string>
			<key>spriteSourceSize</key>
			<string>{400, 474}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{806, 1430}, {400, 474}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch33_gold_shine0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 12}, {246, 230}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{400, 474}</string>
			<key>spriteSourceSize</key>
			<string>{400, 474}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1610, 2}, {400, 474}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch33_gold_shine0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 17}, {246, 224}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{400, 474}</string>
			<key>spriteSourceSize</key>
			<string>{400, 474}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 478}, {400, 474}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch33_gold_shine0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{14, 94}, {242, 148}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{400, 474}</string>
			<key>spriteSourceSize</key>
			<string>{400, 474}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1208, 1430}, {400, 474}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch33_gold_shine0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{18, 99}, {238, 174}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{400, 474}</string>
			<key>spriteSourceSize</key>
			<string>{400, 474}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1208, 478}, {400, 474}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch33_gold_shine0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{24, 104}, {232, 204}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{400, 474}</string>
			<key>spriteSourceSize</key>
			<string>{400, 474}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 1430}, {400, 474}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch33_gold_shine0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{29, 172}, {248, 170}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{400, 474}</string>
			<key>spriteSourceSize</key>
			<string>{400, 474}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{404, 2}, {400, 474}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch33_gold_shine0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{34, 178}, {280, 164}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{400, 474}</string>
			<key>spriteSourceSize</key>
			<string>{400, 474}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1208, 2}, {400, 474}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch33_gold_shine0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{111, 214}, {228, 128}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{400, 474}</string>
			<key>spriteSourceSize</key>
			<string>{400, 474}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 954}, {400, 474}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch33_gold_shine0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{116, 210}, {222, 132}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{400, 474}</string>
			<key>spriteSourceSize</key>
			<string>{400, 474}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{404, 954}, {400, 474}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch33_gold_shine0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{121, 214}, {264, 158}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{400, 474}</string>
			<key>spriteSourceSize</key>
			<string>{400, 474}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1610, 478}, {400, 474}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch33_gold_shine0016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{164, 219}, {224, 182}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{400, 474}</string>
			<key>spriteSourceSize</key>
			<string>{400, 474}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{806, 954}, {400, 474}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch33_gold_shine0017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{171, 220}, {218, 248}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{400, 474}</string>
			<key>spriteSourceSize</key>
			<string>{400, 474}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1610, 954}, {400, 474}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch33_gold_shine0018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{178, 220}, {214, 250}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{400, 474}</string>
			<key>spriteSourceSize</key>
			<string>{400, 474}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {400, 474}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch33_gold_shine0019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{219, 220}, {172, 250}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{400, 474}</string>
			<key>spriteSourceSize</key>
			<string>{400, 474}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{806, 478}, {400, 474}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch33_gold_shine0020.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{219, 220}, {178, 252}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{400, 474}</string>
			<key>spriteSourceSize</key>
			<string>{400, 474}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1610, 1430}, {400, 474}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{2048, 2048}</string>
	</dict>
</dict>
</plist>