<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch7_header0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{13, 8}, {110, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{130, 45}</string>
			<key>spriteSourceSize</key>
			<string>{130, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {130, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_header0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{13, 8}, {110, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{130, 45}</string>
			<key>spriteSourceSize</key>
			<string>{130, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 49}, {130, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_header0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{14, 8}, {108, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{130, 45}</string>
			<key>spriteSourceSize</key>
			<string>{130, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 96}, {130, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_header0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{14, 8}, {106, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{130, 45}</string>
			<key>spriteSourceSize</key>
			<string>{130, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 143}, {130, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_header0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{14, 9}, {106, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{130, 45}</string>
			<key>spriteSourceSize</key>
			<string>{130, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 190}, {130, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_header0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{15, 9}, {104, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{130, 45}</string>
			<key>spriteSourceSize</key>
			<string>{130, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 237}, {130, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_header0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{15, 9}, {104, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{130, 45}</string>
			<key>spriteSourceSize</key>
			<string>{130, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 284}, {130, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_header0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{15, 9}, {104, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{130, 45}</string>
			<key>spriteSourceSize</key>
			<string>{130, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 331}, {130, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_header0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 8}, {100, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{130, 45}</string>
			<key>spriteSourceSize</key>
			<string>{130, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 378}, {130, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_header0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 8}, {100, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{130, 45}</string>
			<key>spriteSourceSize</key>
			<string>{130, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 425}, {130, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_header0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 7}, {100, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{130, 45}</string>
			<key>spriteSourceSize</key>
			<string>{130, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{134, 2}, {130, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_header0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{18, 7}, {98, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{130, 45}</string>
			<key>spriteSourceSize</key>
			<string>{130, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{134, 49}, {130, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_header0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{17, 11}, {100, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{130, 45}</string>
			<key>spriteSourceSize</key>
			<string>{130, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{134, 96}, {130, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_header0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 14}, {100, 25}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{130, 45}</string>
			<key>spriteSourceSize</key>
			<string>{130, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{134, 143}, {130, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_header0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 14}, {102, 25}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{130, 45}</string>
			<key>spriteSourceSize</key>
			<string>{130, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{134, 190}, {130, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_header0016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{14, 14}, {104, 25}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{130, 45}</string>
			<key>spriteSourceSize</key>
			<string>{130, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{134, 237}, {130, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_header0017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{14, 14}, {104, 25}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{130, 45}</string>
			<key>spriteSourceSize</key>
			<string>{130, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{134, 284}, {130, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_header0018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{15, 11}, {104, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{130, 45}</string>
			<key>spriteSourceSize</key>
			<string>{130, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{134, 331}, {130, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_header0019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{13, 7}, {106, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{130, 45}</string>
			<key>spriteSourceSize</key>
			<string>{130, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{134, 378}, {130, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_header0020.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{13, 7}, {106, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{130, 45}</string>
			<key>spriteSourceSize</key>
			<string>{130, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{134, 425}, {130, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_header0021.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{11, 7}, {108, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{130, 45}</string>
			<key>spriteSourceSize</key>
			<string>{130, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{266, 2}, {130, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_header0022.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{11, 7}, {108, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{130, 45}</string>
			<key>spriteSourceSize</key>
			<string>{130, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{266, 49}, {130, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_header0023.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{11, 7}, {106, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{130, 45}</string>
			<key>spriteSourceSize</key>
			<string>{130, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{266, 96}, {130, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_header0024.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 7}, {110, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{130, 45}</string>
			<key>spriteSourceSize</key>
			<string>{130, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{266, 143}, {130, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_header0025.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 6}, {112, 35}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{130, 45}</string>
			<key>spriteSourceSize</key>
			<string>{130, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{266, 190}, {130, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_header0026.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 6}, {110, 35}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{130, 45}</string>
			<key>spriteSourceSize</key>
			<string>{130, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{266, 237}, {130, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_header0027.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 6}, {112, 35}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{130, 45}</string>
			<key>spriteSourceSize</key>
			<string>{130, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{266, 284}, {130, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_header0028.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 6}, {110, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{130, 45}</string>
			<key>spriteSourceSize</key>
			<string>{130, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{266, 331}, {130, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_header0029.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 6}, {110, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{130, 45}</string>
			<key>spriteSourceSize</key>
			<string>{130, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{266, 378}, {130, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_header0030.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{11, 6}, {110, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{130, 45}</string>
			<key>spriteSourceSize</key>
			<string>{130, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{266, 425}, {130, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_header0031.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{11, 5}, {110, 35}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{130, 45}</string>
			<key>spriteSourceSize</key>
			<string>{130, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{398, 2}, {130, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_header0032.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{11, 5}, {110, 35}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{130, 45}</string>
			<key>spriteSourceSize</key>
			<string>{130, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{530, 2}, {130, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_header0033.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{12, 6}, {108, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{130, 45}</string>
			<key>spriteSourceSize</key>
			<string>{130, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{662, 2}, {130, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_header0034.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{12, 6}, {108, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{130, 45}</string>
			<key>spriteSourceSize</key>
			<string>{130, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{794, 2}, {130, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_header0035.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{12, 7}, {108, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{130, 45}</string>
			<key>spriteSourceSize</key>
			<string>{130, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{398, 49}, {130, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_header0036.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{12, 8}, {108, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{130, 45}</string>
			<key>spriteSourceSize</key>
			<string>{130, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{530, 49}, {130, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_header0037.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{12, 9}, {108, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{130, 45}</string>
			<key>spriteSourceSize</key>
			<string>{130, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{662, 49}, {130, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_header0038.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{12, 9}, {110, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{130, 45}</string>
			<key>spriteSourceSize</key>
			<string>{130, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{794, 49}, {130, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_header0039.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{13, 10}, {108, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{130, 45}</string>
			<key>spriteSourceSize</key>
			<string>{130, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{398, 96}, {130, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_header0040.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{13, 10}, {108, 27}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{130, 45}</string>
			<key>spriteSourceSize</key>
			<string>{130, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{398, 143}, {130, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_header0041.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{13, 9}, {110, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{130, 45}</string>
			<key>spriteSourceSize</key>
			<string>{130, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{398, 190}, {130, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_header0042.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{13, 8}, {110, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{130, 45}</string>
			<key>spriteSourceSize</key>
			<string>{130, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{398, 237}, {130, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_header0043.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{12, 8}, {110, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{130, 45}</string>
			<key>spriteSourceSize</key>
			<string>{130, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{398, 284}, {130, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_header0044.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{12, 7}, {110, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{130, 45}</string>
			<key>spriteSourceSize</key>
			<string>{130, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{398, 331}, {130, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_header0045.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{12, 7}, {112, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{130, 45}</string>
			<key>spriteSourceSize</key>
			<string>{130, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{398, 378}, {130, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_header0046.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{12, 8}, {112, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{130, 45}</string>
			<key>spriteSourceSize</key>
			<string>{130, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{398, 425}, {130, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_header0047.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{13, 8}, {110, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{130, 45}</string>
			<key>spriteSourceSize</key>
			<string>{130, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{530, 96}, {130, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch7_header0048.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{13, 8}, {110, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{130, 45}</string>
			<key>spriteSourceSize</key>
			<string>{130, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{662, 96}, {130, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{1024, 512}</string>
	</dict>
</dict>
</plist>