<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch34_center_pirate0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 11}, {98, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{102, 96}</string>
			<key>spriteSourceSize</key>
			<string>{102, 96}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{106, 394}, {102, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34_center_pirate0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 10}, {98, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{102, 96}</string>
			<key>spriteSourceSize</key>
			<string>{102, 96}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{210, 100}, {102, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34_center_pirate0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 9}, {98, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{102, 96}</string>
			<key>spriteSourceSize</key>
			<string>{102, 96}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{210, 198}, {102, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34_center_pirate0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 9}, {98, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{102, 96}</string>
			<key>spriteSourceSize</key>
			<string>{102, 96}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{314, 2}, {102, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34_center_pirate0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 8}, {98, 88}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{102, 96}</string>
			<key>spriteSourceSize</key>
			<string>{102, 96}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 296}, {102, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34_center_pirate0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 8}, {98, 88}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{102, 96}</string>
			<key>spriteSourceSize</key>
			<string>{102, 96}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{106, 2}, {102, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34_center_pirate0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 7}, {98, 88}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{102, 96}</string>
			<key>spriteSourceSize</key>
			<string>{102, 96}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 394}, {102, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34_center_pirate0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 7}, {98, 88}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{102, 96}</string>
			<key>spriteSourceSize</key>
			<string>{102, 96}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {102, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34_center_pirate0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 7}, {98, 88}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{102, 96}</string>
			<key>spriteSourceSize</key>
			<string>{102, 96}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{314, 198}, {102, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34_center_pirate0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 7}, {98, 88}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{102, 96}</string>
			<key>spriteSourceSize</key>
			<string>{102, 96}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 100}, {102, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34_center_pirate0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 7}, {98, 88}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{102, 96}</string>
			<key>spriteSourceSize</key>
			<string>{102, 96}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{314, 394}, {102, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34_center_pirate0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 8}, {98, 88}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{102, 96}</string>
			<key>spriteSourceSize</key>
			<string>{102, 96}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 198}, {102, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34_center_pirate0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 9}, {98, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{102, 96}</string>
			<key>spriteSourceSize</key>
			<string>{102, 96}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{106, 198}, {102, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34_center_pirate0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 11}, {98, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{102, 96}</string>
			<key>spriteSourceSize</key>
			<string>{102, 96}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{418, 2}, {102, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34_center_pirate0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 9}, {98, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{102, 96}</string>
			<key>spriteSourceSize</key>
			<string>{102, 96}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{314, 296}, {102, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34_center_pirate0016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 8}, {98, 88}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{102, 96}</string>
			<key>spriteSourceSize</key>
			<string>{102, 96}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{106, 100}, {102, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34_center_pirate0017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 9}, {98, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{102, 96}</string>
			<key>spriteSourceSize</key>
			<string>{102, 96}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{210, 394}, {102, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34_center_pirate0018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 11}, {98, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{102, 96}</string>
			<key>spriteSourceSize</key>
			<string>{102, 96}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{210, 296}, {102, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34_center_pirate0019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 9}, {98, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{102, 96}</string>
			<key>spriteSourceSize</key>
			<string>{102, 96}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{210, 2}, {102, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34_center_pirate0020.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 8}, {98, 88}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{102, 96}</string>
			<key>spriteSourceSize</key>
			<string>{102, 96}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{314, 100}, {102, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34_center_pirate0021.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 10}, {98, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{102, 96}</string>
			<key>spriteSourceSize</key>
			<string>{102, 96}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{106, 296}, {102, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{1024, 512}</string>
	</dict>
</dict>
</plist>