<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch22_jim_looks_up0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 3}, {35, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{45, 50}</string>
			<key>spriteSourceSize</key>
			<string>{45, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{96, 54}, {45, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch22_jim_looks_up0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 2}, {35, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{45, 50}</string>
			<key>spriteSourceSize</key>
			<string>{45, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{190, 158}, {45, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch22_jim_looks_up0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 3}, {35, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{45, 50}</string>
			<key>spriteSourceSize</key>
			<string>{45, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{190, 2}, {45, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch22_jim_looks_up0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 3}, {35, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{45, 50}</string>
			<key>spriteSourceSize</key>
			<string>{45, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{378, 2}, {45, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch22_jim_looks_up0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 2}, {37, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{45, 50}</string>
			<key>spriteSourceSize</key>
			<string>{45, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{284, 54}, {45, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch22_jim_looks_up0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 2}, {37, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{45, 50}</string>
			<key>spriteSourceSize</key>
			<string>{45, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{237, 158}, {45, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch22_jim_looks_up0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 2}, {37, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{45, 50}</string>
			<key>spriteSourceSize</key>
			<string>{45, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 106}, {45, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch22_jim_looks_up0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 2}, {37, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{45, 50}</string>
			<key>spriteSourceSize</key>
			<string>{45, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{237, 2}, {45, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch22_jim_looks_up0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 2}, {37, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{45, 50}</string>
			<key>spriteSourceSize</key>
			<string>{45, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{143, 2}, {45, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch22_jim_looks_up0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 2}, {37, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{45, 50}</string>
			<key>spriteSourceSize</key>
			<string>{45, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{49, 2}, {45, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch22_jim_looks_up0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 2}, {37, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{45, 50}</string>
			<key>spriteSourceSize</key>
			<string>{45, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{190, 54}, {45, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch22_jim_looks_up0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 2}, {37, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{45, 50}</string>
			<key>spriteSourceSize</key>
			<string>{45, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{49, 54}, {45, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch22_jim_looks_up0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 2}, {37, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{45, 50}</string>
			<key>spriteSourceSize</key>
			<string>{45, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{96, 106}, {45, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch22_jim_looks_up0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 2}, {37, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{45, 50}</string>
			<key>spriteSourceSize</key>
			<string>{45, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 54}, {45, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch22_jim_looks_up0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 2}, {37, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{45, 50}</string>
			<key>spriteSourceSize</key>
			<string>{45, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 158}, {45, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch22_jim_looks_up0016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 2}, {37, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{45, 50}</string>
			<key>spriteSourceSize</key>
			<string>{45, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{96, 158}, {45, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch22_jim_looks_up0017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 2}, {37, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{45, 50}</string>
			<key>spriteSourceSize</key>
			<string>{45, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{190, 106}, {45, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch22_jim_looks_up0018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 2}, {37, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{45, 50}</string>
			<key>spriteSourceSize</key>
			<string>{45, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{143, 54}, {45, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch22_jim_looks_up0019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 2}, {37, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{45, 50}</string>
			<key>spriteSourceSize</key>
			<string>{45, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{143, 158}, {45, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch22_jim_looks_up0020.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 2}, {37, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{45, 50}</string>
			<key>spriteSourceSize</key>
			<string>{45, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{284, 2}, {45, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch22_jim_looks_up0021.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 2}, {37, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{45, 50}</string>
			<key>spriteSourceSize</key>
			<string>{45, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {45, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch22_jim_looks_up0022.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 2}, {37, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{45, 50}</string>
			<key>spriteSourceSize</key>
			<string>{45, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{284, 106}, {45, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch22_jim_looks_up0023.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 2}, {37, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{45, 50}</string>
			<key>spriteSourceSize</key>
			<string>{45, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{331, 2}, {45, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch22_jim_looks_up0024.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 2}, {37, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{45, 50}</string>
			<key>spriteSourceSize</key>
			<string>{45, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{96, 2}, {45, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch22_jim_looks_up0025.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 2}, {37, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{45, 50}</string>
			<key>spriteSourceSize</key>
			<string>{45, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{237, 54}, {45, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch22_jim_looks_up0026.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 2}, {35, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{45, 50}</string>
			<key>spriteSourceSize</key>
			<string>{45, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{49, 106}, {45, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch22_jim_looks_up0027.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 3}, {35, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{45, 50}</string>
			<key>spriteSourceSize</key>
			<string>{45, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{425, 2}, {45, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch22_jim_looks_up0028.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 3}, {35, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{45, 50}</string>
			<key>spriteSourceSize</key>
			<string>{45, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{143, 106}, {45, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch22_jim_looks_up0029.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 2}, {35, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{45, 50}</string>
			<key>spriteSourceSize</key>
			<string>{45, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{237, 106}, {45, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch22_jim_looks_up0030.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 3}, {35, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{45, 50}</string>
			<key>spriteSourceSize</key>
			<string>{45, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{49, 158}, {45, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{512, 256}</string>
	</dict>
</dict>
</plist>