<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch33_gold_swipe0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{13, 10}, {125, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{147, 130}</string>
			<key>spriteSourceSize</key>
			<string>{147, 130}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {147, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch33_gold_swipe0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{34, 10}, {91, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{147, 130}</string>
			<key>spriteSourceSize</key>
			<string>{147, 130}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{151, 134}, {147, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch33_gold_swipe0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{34, 10}, {81, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{147, 130}</string>
			<key>spriteSourceSize</key>
			<string>{147, 130}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{300, 134}, {147, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch33_gold_swipe0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{34, 10}, {73, 116}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{147, 130}</string>
			<key>spriteSourceSize</key>
			<string>{147, 130}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 266}, {147, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch33_gold_swipe0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{34, 10}, {69, 116}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{147, 130}</string>
			<key>spriteSourceSize</key>
			<string>{147, 130}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{300, 2}, {147, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch33_gold_swipe0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{34, 10}, {69, 116}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{147, 130}</string>
			<key>spriteSourceSize</key>
			<string>{147, 130}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 134}, {147, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch33_gold_swipe0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{34, 10}, {69, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{147, 130}</string>
			<key>spriteSourceSize</key>
			<string>{147, 130}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{151, 2}, {147, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{512, 512}</string>
	</dict>
</dict>
</plist>