<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch6_squire_mouth_sync0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {44, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{44, 40}</string>
			<key>spriteSourceSize</key>
			<string>{44, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{48, 212}, {44, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_squire_mouth_sync0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {44, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{44, 40}</string>
			<key>spriteSourceSize</key>
			<string>{44, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{94, 44}, {44, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_squire_mouth_sync0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {44, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{44, 40}</string>
			<key>spriteSourceSize</key>
			<string>{44, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 170}, {44, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_squire_mouth_sync0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {44, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{44, 40}</string>
			<key>spriteSourceSize</key>
			<string>{44, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{140, 2}, {44, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_squire_mouth_sync0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {44, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{44, 40}</string>
			<key>spriteSourceSize</key>
			<string>{44, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {44, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_squire_mouth_sync0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {44, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{44, 40}</string>
			<key>spriteSourceSize</key>
			<string>{44, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{94, 2}, {44, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_squire_mouth_sync0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {44, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{44, 40}</string>
			<key>spriteSourceSize</key>
			<string>{44, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{94, 86}, {44, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_squire_mouth_sync0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {44, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{44, 40}</string>
			<key>spriteSourceSize</key>
			<string>{44, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{186, 44}, {44, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_squire_mouth_sync0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {44, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{44, 40}</string>
			<key>spriteSourceSize</key>
			<string>{44, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 212}, {44, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_squire_mouth_sync0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {44, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{44, 40}</string>
			<key>spriteSourceSize</key>
			<string>{44, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{140, 128}, {44, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_squire_mouth_sync0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {44, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{44, 40}</string>
			<key>spriteSourceSize</key>
			<string>{44, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{140, 170}, {44, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_squire_mouth_sync0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {44, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{44, 40}</string>
			<key>spriteSourceSize</key>
			<string>{44, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{186, 128}, {44, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_squire_mouth_sync0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {44, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{44, 40}</string>
			<key>spriteSourceSize</key>
			<string>{44, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{186, 86}, {44, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_squire_mouth_sync0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {44, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{44, 40}</string>
			<key>spriteSourceSize</key>
			<string>{44, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{48, 128}, {44, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_squire_mouth_sync0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {44, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{44, 40}</string>
			<key>spriteSourceSize</key>
			<string>{44, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 86}, {44, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_squire_mouth_sync0016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {44, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{44, 40}</string>
			<key>spriteSourceSize</key>
			<string>{44, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{94, 128}, {44, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_squire_mouth_sync0017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {44, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{44, 40}</string>
			<key>spriteSourceSize</key>
			<string>{44, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{48, 44}, {44, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_squire_mouth_sync0018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {44, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{44, 40}</string>
			<key>spriteSourceSize</key>
			<string>{44, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{140, 86}, {44, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_squire_mouth_sync0019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {44, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{44, 40}</string>
			<key>spriteSourceSize</key>
			<string>{44, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{48, 86}, {44, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_squire_mouth_sync0020.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {44, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{44, 40}</string>
			<key>spriteSourceSize</key>
			<string>{44, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{186, 2}, {44, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_squire_mouth_sync0021.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {44, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{44, 40}</string>
			<key>spriteSourceSize</key>
			<string>{44, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 128}, {44, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_squire_mouth_sync0022.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {44, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{44, 40}</string>
			<key>spriteSourceSize</key>
			<string>{44, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{94, 212}, {44, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_squire_mouth_sync0023.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {44, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{44, 40}</string>
			<key>spriteSourceSize</key>
			<string>{44, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 44}, {44, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_squire_mouth_sync0024.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {44, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{44, 40}</string>
			<key>spriteSourceSize</key>
			<string>{44, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{140, 44}, {44, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_squire_mouth_sync0025.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {44, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{44, 40}</string>
			<key>spriteSourceSize</key>
			<string>{44, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{48, 170}, {44, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_squire_mouth_sync0026.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {44, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{44, 40}</string>
			<key>spriteSourceSize</key>
			<string>{44, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{48, 2}, {44, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_squire_mouth_sync0027.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {44, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{44, 40}</string>
			<key>spriteSourceSize</key>
			<string>{44, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{94, 170}, {44, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{256, 256}</string>
	</dict>
</dict>
</plist>