<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch20_LJS_dialog_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {47, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{47, 48}</string>
			<key>spriteSourceSize</key>
			<string>{47, 48}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{51, 202}, {47, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch20_LJS_dialog_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {47, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{47, 48}</string>
			<key>spriteSourceSize</key>
			<string>{47, 48}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 152}, {47, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch20_LJS_dialog_0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {47, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{47, 48}</string>
			<key>spriteSourceSize</key>
			<string>{47, 48}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{100, 102}, {47, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch20_LJS_dialog_0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {47, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{47, 48}</string>
			<key>spriteSourceSize</key>
			<string>{47, 48}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{198, 52}, {47, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch20_LJS_dialog_0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {47, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{47, 48}</string>
			<key>spriteSourceSize</key>
			<string>{47, 48}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 102}, {47, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch20_LJS_dialog_0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {47, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{47, 48}</string>
			<key>spriteSourceSize</key>
			<string>{47, 48}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {47, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch20_LJS_dialog_0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {47, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{47, 48}</string>
			<key>spriteSourceSize</key>
			<string>{47, 48}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{100, 52}, {47, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch20_LJS_dialog_0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {47, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{47, 48}</string>
			<key>spriteSourceSize</key>
			<string>{47, 48}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{100, 2}, {47, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch20_LJS_dialog_0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {47, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{47, 48}</string>
			<key>spriteSourceSize</key>
			<string>{47, 48}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{51, 52}, {47, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch20_LJS_dialog_0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {47, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{47, 48}</string>
			<key>spriteSourceSize</key>
			<string>{47, 48}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{51, 152}, {47, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch20_LJS_dialog_0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {47, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{47, 48}</string>
			<key>spriteSourceSize</key>
			<string>{47, 48}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{51, 102}, {47, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch20_LJS_dialog_0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {47, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{47, 48}</string>
			<key>spriteSourceSize</key>
			<string>{47, 48}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{149, 52}, {47, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch20_LJS_dialog_0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {47, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{47, 48}</string>
			<key>spriteSourceSize</key>
			<string>{47, 48}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{100, 152}, {47, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch20_LJS_dialog_0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {47, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{47, 48}</string>
			<key>spriteSourceSize</key>
			<string>{47, 48}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 202}, {47, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch20_LJS_dialog_0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {47, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{47, 48}</string>
			<key>spriteSourceSize</key>
			<string>{47, 48}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{198, 2}, {47, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch20_LJS_dialog_0016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {47, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{47, 48}</string>
			<key>spriteSourceSize</key>
			<string>{47, 48}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{149, 2}, {47, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch20_LJS_dialog_0017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {47, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{47, 48}</string>
			<key>spriteSourceSize</key>
			<string>{47, 48}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{51, 2}, {47, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch20_LJS_dialog_0018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {47, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{47, 48}</string>
			<key>spriteSourceSize</key>
			<string>{47, 48}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 52}, {47, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{256, 256}</string>
	</dict>
</dict>
</plist>