<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch10_rain_splashes0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{215, 106}, {13, 13}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 235}</string>
			<key>spriteSourceSize</key>
			<string>{433, 235}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{872, 713}, {433, 235}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_rain_splashes0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{215, 106}, {13, 13}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 235}</string>
			<key>spriteSourceSize</key>
			<string>{433, 235}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{872, 476}, {433, 235}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_rain_splashes0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{233, 90}, {9, 11}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 235}</string>
			<key>spriteSourceSize</key>
			<string>{433, 235}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{872, 239}, {433, 235}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_rain_splashes0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{233, 90}, {151, 109}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 235}</string>
			<key>spriteSourceSize</key>
			<string>{433, 235}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{872, 2}, {433, 235}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_rain_splashes0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{372, 190}, {11, 9}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 235}</string>
			<key>spriteSourceSize</key>
			<string>{433, 235}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{437, 1661}, {433, 235}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_rain_splashes0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{308, 98}, {9, 9}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 235}</string>
			<key>spriteSourceSize</key>
			<string>{433, 235}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{437, 1424}, {433, 235}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_rain_splashes0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{308, 98}, {9, 9}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 235}</string>
			<key>spriteSourceSize</key>
			<string>{433, 235}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{437, 1187}, {433, 235}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_rain_splashes0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{66, 170}, {9, 11}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 235}</string>
			<key>spriteSourceSize</key>
			<string>{433, 235}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{437, 950}, {433, 235}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_rain_splashes0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{66, 170}, {9, 11}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 235}</string>
			<key>spriteSourceSize</key>
			<string>{433, 235}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{437, 713}, {433, 235}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_rain_splashes0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{251, 31}, {7, 5}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 235}</string>
			<key>spriteSourceSize</key>
			<string>{433, 235}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{437, 476}, {433, 235}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_rain_splashes0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{251, 31}, {7, 5}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 235}</string>
			<key>spriteSourceSize</key>
			<string>{433, 235}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{437, 239}, {433, 235}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_rain_splashes0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {433, 235}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 235}</string>
			<key>spriteSourceSize</key>
			<string>{433, 235}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{437, 2}, {433, 235}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_rain_splashes0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{376, 36}, {13, 13}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 235}</string>
			<key>spriteSourceSize</key>
			<string>{433, 235}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 1661}, {433, 235}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_rain_splashes0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{376, 36}, {13, 13}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 235}</string>
			<key>spriteSourceSize</key>
			<string>{433, 235}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 1424}, {433, 235}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_rain_splashes0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{126, 211}, {9, 9}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 235}</string>
			<key>spriteSourceSize</key>
			<string>{433, 235}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 1187}, {433, 235}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_rain_splashes0016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{126, 211}, {9, 9}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 235}</string>
			<key>spriteSourceSize</key>
			<string>{433, 235}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 950}, {433, 235}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_rain_splashes0017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{233, 90}, {9, 11}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 235}</string>
			<key>spriteSourceSize</key>
			<string>{433, 235}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 713}, {433, 235}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_rain_splashes0018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{233, 90}, {9, 11}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 235}</string>
			<key>spriteSourceSize</key>
			<string>{433, 235}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 476}, {433, 235}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_rain_splashes0019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{215, 106}, {13, 13}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 235}</string>
			<key>spriteSourceSize</key>
			<string>{433, 235}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 239}, {433, 235}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch10_rain_splashes0020.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{215, 106}, {13, 13}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{433, 235}</string>
			<key>spriteSourceSize</key>
			<string>{433, 235}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {433, 235}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{2048, 2048}</string>
	</dict>
</dict>
</plist>