<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch1b_seagull_2_2_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{32, 42}, {60, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 95}</string>
			<key>spriteSourceSize</key>
			<string>{120, 95}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{246, 99}, {120, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1b_seagull_2_2_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{28, 30}, {64, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 95}</string>
			<key>spriteSourceSize</key>
			<string>{120, 95}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{246, 2}, {120, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1b_seagull_2_2_0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{24, 15}, {74, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 95}</string>
			<key>spriteSourceSize</key>
			<string>{120, 95}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{124, 99}, {120, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1b_seagull_2_2_0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{17, 0}, {76, 67}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 95}</string>
			<key>spriteSourceSize</key>
			<string>{120, 95}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 99}, {120, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1b_seagull_2_2_0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 10}, {96, 57}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 95}</string>
			<key>spriteSourceSize</key>
			<string>{120, 95}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{124, 2}, {120, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1b_seagull_2_2_0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 37}, {118, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 95}</string>
			<key>spriteSourceSize</key>
			<string>{120, 95}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{368, 2}, {120, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1b_seagull_2_2_0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 42}, {114, 35}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 95}</string>
			<key>spriteSourceSize</key>
			<string>{120, 95}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {120, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{512, 256}</string>
	</dict>
</dict>
</plist>