<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch34_right_pirate0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{18, 13}, {135, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{169, 180}</string>
			<key>spriteSourceSize</key>
			<string>{169, 180}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {169, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34_right_pirate0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{13, 10}, {141, 134}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{169, 180}</string>
			<key>spriteSourceSize</key>
			<string>{169, 180}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 184}, {169, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34_right_pirate0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 9}, {145, 138}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{169, 180}</string>
			<key>spriteSourceSize</key>
			<string>{169, 180}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 366}, {169, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34_right_pirate0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 8}, {147, 142}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{169, 180}</string>
			<key>spriteSourceSize</key>
			<string>{169, 180}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 548}, {169, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34_right_pirate0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 7}, {149, 144}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{169, 180}</string>
			<key>spriteSourceSize</key>
			<string>{169, 180}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 730}, {169, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34_right_pirate0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 7}, {151, 146}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{169, 180}</string>
			<key>spriteSourceSize</key>
			<string>{169, 180}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{173, 2}, {169, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34_right_pirate0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 7}, {151, 148}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{169, 180}</string>
			<key>spriteSourceSize</key>
			<string>{169, 180}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{344, 2}, {169, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34_right_pirate0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 7}, {151, 148}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{169, 180}</string>
			<key>spriteSourceSize</key>
			<string>{169, 180}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{515, 2}, {169, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34_right_pirate0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 7}, {151, 148}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{169, 180}</string>
			<key>spriteSourceSize</key>
			<string>{169, 180}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{686, 2}, {169, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34_right_pirate0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 7}, {151, 146}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{169, 180}</string>
			<key>spriteSourceSize</key>
			<string>{169, 180}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{173, 184}, {169, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34_right_pirate0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 7}, {149, 144}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{169, 180}</string>
			<key>spriteSourceSize</key>
			<string>{169, 180}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{173, 366}, {169, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34_right_pirate0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 8}, {147, 142}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{169, 180}</string>
			<key>spriteSourceSize</key>
			<string>{169, 180}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{173, 548}, {169, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34_right_pirate0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 9}, {145, 138}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{169, 180}</string>
			<key>spriteSourceSize</key>
			<string>{169, 180}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{173, 730}, {169, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34_right_pirate0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{13, 10}, {141, 134}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{169, 180}</string>
			<key>spriteSourceSize</key>
			<string>{169, 180}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{344, 184}, {169, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch34_right_pirate0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{18, 13}, {135, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{169, 180}</string>
			<key>spriteSourceSize</key>
			<string>{169, 180}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{515, 184}, {169, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{1024, 1024}</string>
	</dict>
</dict>
</plist>