<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch8_LJS_laughs0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {260, 204}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{260, 208}</string>
			<key>spriteSourceSize</key>
			<string>{260, 208}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1574, 2}, {260, 208}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_LJS_laughs0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {260, 204}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{260, 208}</string>
			<key>spriteSourceSize</key>
			<string>{260, 208}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{526, 2}, {260, 208}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_LJS_laughs0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {260, 204}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{260, 208}</string>
			<key>spriteSourceSize</key>
			<string>{260, 208}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 632}, {260, 208}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_LJS_laughs0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {260, 204}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{260, 208}</string>
			<key>spriteSourceSize</key>
			<string>{260, 208}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{526, 632}, {260, 208}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_LJS_laughs0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {260, 204}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{260, 208}</string>
			<key>spriteSourceSize</key>
			<string>{260, 208}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1312, 2}, {260, 208}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_LJS_laughs0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {260, 204}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{260, 208}</string>
			<key>spriteSourceSize</key>
			<string>{260, 208}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{264, 2}, {260, 208}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_LJS_laughs0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {260, 204}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{260, 208}</string>
			<key>spriteSourceSize</key>
			<string>{260, 208}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 212}, {260, 208}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_LJS_laughs0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {260, 204}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{260, 208}</string>
			<key>spriteSourceSize</key>
			<string>{260, 208}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1050, 422}, {260, 208}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_LJS_laughs0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {260, 204}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{260, 208}</string>
			<key>spriteSourceSize</key>
			<string>{260, 208}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {260, 208}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_LJS_laughs0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {260, 204}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{260, 208}</string>
			<key>spriteSourceSize</key>
			<string>{260, 208}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{526, 212}, {260, 208}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_LJS_laughs0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {260, 204}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{260, 208}</string>
			<key>spriteSourceSize</key>
			<string>{260, 208}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1050, 212}, {260, 208}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_LJS_laughs0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {260, 204}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{260, 208}</string>
			<key>spriteSourceSize</key>
			<string>{260, 208}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 422}, {260, 208}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_LJS_laughs0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {260, 204}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{260, 208}</string>
			<key>spriteSourceSize</key>
			<string>{260, 208}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{788, 212}, {260, 208}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_LJS_laughs0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {260, 204}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{260, 208}</string>
			<key>spriteSourceSize</key>
			<string>{260, 208}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{788, 632}, {260, 208}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_LJS_laughs0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {260, 204}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{260, 208}</string>
			<key>spriteSourceSize</key>
			<string>{260, 208}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{264, 632}, {260, 208}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_LJS_laughs0016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {260, 204}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{260, 208}</string>
			<key>spriteSourceSize</key>
			<string>{260, 208}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{788, 422}, {260, 208}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_LJS_laughs0017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {260, 204}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{260, 208}</string>
			<key>spriteSourceSize</key>
			<string>{260, 208}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{788, 2}, {260, 208}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_LJS_laughs0018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {260, 204}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{260, 208}</string>
			<key>spriteSourceSize</key>
			<string>{260, 208}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{526, 422}, {260, 208}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_LJS_laughs0019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {260, 204}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{260, 208}</string>
			<key>spriteSourceSize</key>
			<string>{260, 208}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{264, 212}, {260, 208}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_LJS_laughs0020.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {260, 204}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{260, 208}</string>
			<key>spriteSourceSize</key>
			<string>{260, 208}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1050, 2}, {260, 208}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_LJS_laughs0021.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {260, 204}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{260, 208}</string>
			<key>spriteSourceSize</key>
			<string>{260, 208}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{264, 422}, {260, 208}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{2048, 1024}</string>
	</dict>
</dict>
</plist>