<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch17_rifle_fires_hammer0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 3}, {20, 19}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 25}</string>
			<key>spriteSourceSize</key>
			<string>{30, 25}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{34, 2}, {30, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch17_rifle_fires_hammer0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 4}, {22, 19}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 25}</string>
			<key>spriteSourceSize</key>
			<string>{30, 25}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {30, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch17_rifle_fires_hammer0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {22, 21}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 25}</string>
			<key>spriteSourceSize</key>
			<string>{30, 25}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 29}, {30, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch17_rifle_fires_hammer0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {22, 21}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 25}</string>
			<key>spriteSourceSize</key>
			<string>{30, 25}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 56}, {30, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch17_rifle_fires_hammer0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {22, 21}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 25}</string>
			<key>spriteSourceSize</key>
			<string>{30, 25}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{34, 29}, {30, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch17_rifle_fires_hammer0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 3}, {20, 19}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 25}</string>
			<key>spriteSourceSize</key>
			<string>{30, 25}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 83}, {30, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{128, 128}</string>
	</dict>
</dict>
</plist>