<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch23_wave20001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{48, 70}, {39, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{91, 153}</string>
			<key>spriteSourceSize</key>
			<string>{91, 153}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{95, 2}, {91, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch23_wave20002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{42, 56}, {45, 97}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{91, 153}</string>
			<key>spriteSourceSize</key>
			<string>{91, 153}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 157}, {91, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch23_wave20003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{29, 36}, {57, 117}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{91, 153}</string>
			<key>spriteSourceSize</key>
			<string>{91, 153}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{281, 2}, {91, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch23_wave20004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{19, 24}, {67, 129}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{91, 153}</string>
			<key>spriteSourceSize</key>
			<string>{91, 153}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{188, 2}, {91, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch23_wave20005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 12}, {77, 141}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{91, 153}</string>
			<key>spriteSourceSize</key>
			<string>{91, 153}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{188, 157}, {91, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch23_wave20006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 12}, {77, 141}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{91, 153}</string>
			<key>spriteSourceSize</key>
			<string>{91, 153}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{95, 312}, {91, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch23_wave20007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 10}, {77, 143}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{91, 153}</string>
			<key>spriteSourceSize</key>
			<string>{91, 153}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{374, 2}, {91, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch23_wave20008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 8}, {77, 145}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{91, 153}</string>
			<key>spriteSourceSize</key>
			<string>{91, 153}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {91, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch23_wave20009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{48, 70}, {39, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{91, 153}</string>
			<key>spriteSourceSize</key>
			<string>{91, 153}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{95, 157}, {91, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch23_wave20010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{48, 74}, {39, 79}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{91, 153}</string>
			<key>spriteSourceSize</key>
			<string>{91, 153}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 312}, {91, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{512, 512}</string>
	</dict>
</dict>
</plist>