<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch6_Jim_mouth_sync0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {40, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{40, 29}</string>
			<key>spriteSourceSize</key>
			<string>{40, 29}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{86, 2}, {40, 29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_Jim_mouth_sync0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {40, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{40, 29}</string>
			<key>spriteSourceSize</key>
			<string>{40, 29}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{86, 33}, {40, 29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_Jim_mouth_sync0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {40, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{40, 29}</string>
			<key>spriteSourceSize</key>
			<string>{40, 29}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{44, 2}, {40, 29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_Jim_mouth_sync0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {40, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{40, 29}</string>
			<key>spriteSourceSize</key>
			<string>{40, 29}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 95}, {40, 29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_Jim_mouth_sync0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {40, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{40, 29}</string>
			<key>spriteSourceSize</key>
			<string>{40, 29}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 64}, {40, 29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_Jim_mouth_sync0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {40, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{40, 29}</string>
			<key>spriteSourceSize</key>
			<string>{40, 29}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {40, 29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_Jim_mouth_sync0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {40, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{40, 29}</string>
			<key>spriteSourceSize</key>
			<string>{40, 29}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{86, 64}, {40, 29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_Jim_mouth_sync0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {40, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{40, 29}</string>
			<key>spriteSourceSize</key>
			<string>{40, 29}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{44, 33}, {40, 29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_Jim_mouth_sync0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {40, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{40, 29}</string>
			<key>spriteSourceSize</key>
			<string>{40, 29}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{44, 64}, {40, 29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch6_Jim_mouth_sync0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {40, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{40, 29}</string>
			<key>spriteSourceSize</key>
			<string>{40, 29}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 33}, {40, 29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{128, 128}</string>
	</dict>
</dict>
</plist>