<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch8_spyglass_sign0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {61, 105}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{65, 105}</string>
			<key>spriteSourceSize</key>
			<string>{65, 105}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{69, 644}, {65, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_spyglass_sign0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {61, 105}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{65, 105}</string>
			<key>spriteSourceSize</key>
			<string>{65, 105}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{337, 430}, {65, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_spyglass_sign0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {61, 105}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{65, 105}</string>
			<key>spriteSourceSize</key>
			<string>{65, 105}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{136, 430}, {65, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_spyglass_sign0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {61, 105}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{65, 105}</string>
			<key>spriteSourceSize</key>
			<string>{65, 105}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{136, 216}, {65, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_spyglass_sign0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {61, 105}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{65, 105}</string>
			<key>spriteSourceSize</key>
			<string>{65, 105}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{136, 2}, {65, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_spyglass_sign0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {61, 105}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{65, 105}</string>
			<key>spriteSourceSize</key>
			<string>{65, 105}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{203, 323}, {65, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_spyglass_sign0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {61, 105}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{65, 105}</string>
			<key>spriteSourceSize</key>
			<string>{65, 105}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{270, 2}, {65, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_spyglass_sign0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {61, 105}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{65, 105}</string>
			<key>spriteSourceSize</key>
			<string>{65, 105}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{404, 109}, {65, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_spyglass_sign0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {61, 105}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{65, 105}</string>
			<key>spriteSourceSize</key>
			<string>{65, 105}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{404, 216}, {65, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_spyglass_sign0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {61, 105}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{65, 105}</string>
			<key>spriteSourceSize</key>
			<string>{65, 105}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{404, 430}, {65, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_spyglass_sign0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {61, 105}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{65, 105}</string>
			<key>spriteSourceSize</key>
			<string>{65, 105}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{136, 537}, {65, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_spyglass_sign0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {61, 105}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{65, 105}</string>
			<key>spriteSourceSize</key>
			<string>{65, 105}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{203, 2}, {65, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_spyglass_sign0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {61, 105}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{65, 105}</string>
			<key>spriteSourceSize</key>
			<string>{65, 105}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{69, 2}, {65, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_spyglass_sign0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {61, 105}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{65, 105}</string>
			<key>spriteSourceSize</key>
			<string>{65, 105}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{203, 109}, {65, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_spyglass_sign0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {61, 105}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{65, 105}</string>
			<key>spriteSourceSize</key>
			<string>{65, 105}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{203, 430}, {65, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_spyglass_sign0016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {61, 105}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{65, 105}</string>
			<key>spriteSourceSize</key>
			<string>{65, 105}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{69, 751}, {65, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_spyglass_sign0017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {61, 105}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{65, 105}</string>
			<key>spriteSourceSize</key>
			<string>{65, 105}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 644}, {65, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_spyglass_sign0018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {61, 105}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{65, 105}</string>
			<key>spriteSourceSize</key>
			<string>{65, 105}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{203, 216}, {65, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_spyglass_sign0019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {61, 105}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{65, 105}</string>
			<key>spriteSourceSize</key>
			<string>{65, 105}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 537}, {65, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_spyglass_sign0020.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {61, 105}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{65, 105}</string>
			<key>spriteSourceSize</key>
			<string>{65, 105}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 216}, {65, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_spyglass_sign0021.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {61, 105}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{65, 105}</string>
			<key>spriteSourceSize</key>
			<string>{65, 105}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 751}, {65, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_spyglass_sign0022.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {61, 105}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{65, 105}</string>
			<key>spriteSourceSize</key>
			<string>{65, 105}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{69, 858}, {65, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_spyglass_sign0023.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {61, 105}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{65, 105}</string>
			<key>spriteSourceSize</key>
			<string>{65, 105}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 109}, {65, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_spyglass_sign0024.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {61, 105}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{65, 105}</string>
			<key>spriteSourceSize</key>
			<string>{65, 105}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{136, 323}, {65, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_spyglass_sign0025.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {61, 105}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{65, 105}</string>
			<key>spriteSourceSize</key>
			<string>{65, 105}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{270, 323}, {65, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_spyglass_sign0026.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {61, 105}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{65, 105}</string>
			<key>spriteSourceSize</key>
			<string>{65, 105}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{270, 216}, {65, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_spyglass_sign0027.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {61, 105}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{65, 105}</string>
			<key>spriteSourceSize</key>
			<string>{65, 105}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{69, 323}, {65, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_spyglass_sign0028.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {61, 105}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{65, 105}</string>
			<key>spriteSourceSize</key>
			<string>{65, 105}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{69, 109}, {65, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_spyglass_sign0029.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {61, 105}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{65, 105}</string>
			<key>spriteSourceSize</key>
			<string>{65, 105}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{270, 430}, {65, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_spyglass_sign0030.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {61, 105}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{65, 105}</string>
			<key>spriteSourceSize</key>
			<string>{65, 105}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 323}, {65, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_spyglass_sign0031.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {61, 105}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{65, 105}</string>
			<key>spriteSourceSize</key>
			<string>{65, 105}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {65, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_spyglass_sign0032.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {61, 105}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{65, 105}</string>
			<key>spriteSourceSize</key>
			<string>{65, 105}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{337, 216}, {65, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_spyglass_sign0033.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {61, 105}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{65, 105}</string>
			<key>spriteSourceSize</key>
			<string>{65, 105}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{69, 216}, {65, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_spyglass_sign0034.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {61, 105}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{65, 105}</string>
			<key>spriteSourceSize</key>
			<string>{65, 105}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{404, 323}, {65, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_spyglass_sign0035.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {61, 105}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{65, 105}</string>
			<key>spriteSourceSize</key>
			<string>{65, 105}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{136, 109}, {65, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_spyglass_sign0036.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {61, 105}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{65, 105}</string>
			<key>spriteSourceSize</key>
			<string>{65, 105}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 430}, {65, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_spyglass_sign0037.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {61, 105}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{65, 105}</string>
			<key>spriteSourceSize</key>
			<string>{65, 105}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 858}, {65, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_spyglass_sign0038.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {61, 105}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{65, 105}</string>
			<key>spriteSourceSize</key>
			<string>{65, 105}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{69, 430}, {65, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_spyglass_sign0039.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {61, 105}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{65, 105}</string>
			<key>spriteSourceSize</key>
			<string>{65, 105}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{337, 2}, {65, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_spyglass_sign0040.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {61, 105}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{65, 105}</string>
			<key>spriteSourceSize</key>
			<string>{65, 105}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{69, 537}, {65, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_spyglass_sign0041.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {61, 105}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{65, 105}</string>
			<key>spriteSourceSize</key>
			<string>{65, 105}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{337, 323}, {65, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_spyglass_sign0042.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {61, 105}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{65, 105}</string>
			<key>spriteSourceSize</key>
			<string>{65, 105}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{404, 2}, {65, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_spyglass_sign0043.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {61, 105}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{65, 105}</string>
			<key>spriteSourceSize</key>
			<string>{65, 105}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{337, 109}, {65, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_spyglass_sign0044.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {61, 105}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{65, 105}</string>
			<key>spriteSourceSize</key>
			<string>{65, 105}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{270, 109}, {65, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_spyglass_sign0045.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {61, 105}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{65, 105}</string>
			<key>spriteSourceSize</key>
			<string>{65, 105}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{203, 537}, {65, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{512, 1024}</string>
	</dict>
</dict>
</plist>