<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>TI_ch7_window_1_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {16, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{20, 45}</string>
			<key>spriteSourceSize</key>
			<string>{20, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{152, 268}, {20, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>TI_ch7_window_1_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {16, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{20, 45}</string>
			<key>spriteSourceSize</key>
			<string>{20, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{74, 99}, {20, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>TI_ch7_window_10_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {18, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{20, 50}</string>
			<key>spriteSourceSize</key>
			<string>{20, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{115, 191}, {20, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>TI_ch7_window_10_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {18, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{20, 50}</string>
			<key>spriteSourceSize</key>
			<string>{20, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{93, 191}, {20, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>TI_ch7_window_11_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {20, 35}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{20, 35}</string>
			<key>spriteSourceSize</key>
			<string>{20, 35}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{93, 422}, {20, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>TI_ch7_window_11_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {20, 35}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{20, 35}</string>
			<key>spriteSourceSize</key>
			<string>{20, 35}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{162, 315}, {20, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>TI_ch7_window_12_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {26, 73}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 75}</string>
			<key>spriteSourceSize</key>
			<string>{30, 75}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{143, 89}, {30, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>TI_ch7_window_12_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {26, 73}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 75}</string>
			<key>spriteSourceSize</key>
			<string>{30, 75}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{155, 2}, {30, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>TI_ch7_window_13_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {46, 73}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{50, 75}</string>
			<key>spriteSourceSize</key>
			<string>{50, 75}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{110, 330}, {50, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>TI_ch7_window_13_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {46, 73}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{50, 75}</string>
			<key>spriteSourceSize</key>
			<string>{50, 75}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{137, 191}, {50, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>TI_ch7_window_14_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {25, 93}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 95}</string>
			<key>spriteSourceSize</key>
			<string>{25, 95}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{29, 380}, {25, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>TI_ch7_window_14_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {25, 93}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 95}</string>
			<key>spriteSourceSize</key>
			<string>{25, 95}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{54, 146}, {25, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>TI_ch7_window_15_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {23, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 85}</string>
			<key>spriteSourceSize</key>
			<string>{25, 85}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{101, 2}, {25, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>TI_ch7_window_15_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {23, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 85}</string>
			<key>spriteSourceSize</key>
			<string>{25, 85}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{128, 2}, {25, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>TI_ch7_window_16_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {13, 85}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{15, 85}</string>
			<key>spriteSourceSize</key>
			<string>{15, 85}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{93, 335}, {15, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>TI_ch7_window_16_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {13, 85}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{15, 85}</string>
			<key>spriteSourceSize</key>
			<string>{15, 85}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{101, 243}, {15, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>TI_ch7_window_17_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {41, 88}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{45, 90}</string>
			<key>spriteSourceSize</key>
			<string>{45, 90}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{54, 243}, {45, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>TI_ch7_window_17_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {41, 88}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{45, 90}</string>
			<key>spriteSourceSize</key>
			<string>{45, 90}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{96, 99}, {45, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>TI_ch7_window_18_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {33, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{35, 80}</string>
			<key>spriteSourceSize</key>
			<string>{35, 80}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{56, 335}, {35, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>TI_ch7_window_18_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {33, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{35, 80}</string>
			<key>spriteSourceSize</key>
			<string>{35, 80}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{56, 417}, {35, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>TI_ch7_window_19_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 4}, {48, 111}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{50, 115}</string>
			<key>spriteSourceSize</key>
			<string>{50, 115}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 263}, {50, 115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>TI_ch7_window_19_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 4}, {48, 111}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{50, 115}</string>
			<key>spriteSourceSize</key>
			<string>{50, 115}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 146}, {50, 115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>TI_ch7_window_2_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {66, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{70, 70}</string>
			<key>spriteSourceSize</key>
			<string>{70, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 74}, {70, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>TI_ch7_window_2_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {66, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{70, 70}</string>
			<key>spriteSourceSize</key>
			<string>{70, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {70, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>TI_ch7_window_3_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {10, 23}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{10, 25}</string>
			<key>spriteSourceSize</key>
			<string>{10, 25}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{81, 146}, {10, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>TI_ch7_window_3_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {10, 23}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{10, 25}</string>
			<key>spriteSourceSize</key>
			<string>{10, 25}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{81, 173}, {10, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>TI_ch7_window_4_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {13, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{15, 40}</string>
			<key>spriteSourceSize</key>
			<string>{15, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{154, 407}, {15, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>TI_ch7_window_4_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {13, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{15, 40}</string>
			<key>spriteSourceSize</key>
			<string>{15, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{137, 407}, {15, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>TI_ch7_window_5_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {16, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{20, 45}</string>
			<key>spriteSourceSize</key>
			<string>{20, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{175, 141}, {20, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>TI_ch7_window_5_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {16, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{20, 45}</string>
			<key>spriteSourceSize</key>
			<string>{20, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{115, 407}, {20, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>TI_ch7_window_6_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {21, 95}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 95}</string>
			<key>spriteSourceSize</key>
			<string>{25, 95}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{74, 2}, {25, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>TI_ch7_window_6_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {21, 95}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{25, 95}</string>
			<key>spriteSourceSize</key>
			<string>{25, 95}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 380}, {25, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>TI_ch7_window_7_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {15, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{15, 30}</string>
			<key>spriteSourceSize</key>
			<string>{15, 30}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 477}, {15, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>TI_ch7_window_7_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {15, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{15, 30}</string>
			<key>spriteSourceSize</key>
			<string>{15, 30}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{19, 477}, {15, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>TI_ch7_window_8_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {20, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{20, 60}</string>
			<key>spriteSourceSize</key>
			<string>{20, 60}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{175, 79}, {20, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>TI_ch7_window_8_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {20, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{20, 60}</string>
			<key>spriteSourceSize</key>
			<string>{20, 60}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{187, 2}, {20, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>TI_ch7_window_9_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {9, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{15, 60}</string>
			<key>spriteSourceSize</key>
			<string>{15, 60}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{118, 243}, {15, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>TI_ch7_window_9_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {9, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{15, 60}</string>
			<key>spriteSourceSize</key>
			<string>{15, 60}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{135, 268}, {15, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{256, 512}</string>
	</dict>
</dict>
</plist>
