<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch11_wave_crash0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 100}, {19, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{185, 140}</string>
			<key>spriteSourceSize</key>
			<string>{185, 140}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{563, 2}, {185, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch11_wave_crash0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 100}, {93, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{185, 140}</string>
			<key>spriteSourceSize</key>
			<string>{185, 140}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{750, 144}, {185, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch11_wave_crash0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 100}, {89, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{185, 140}</string>
			<key>spriteSourceSize</key>
			<string>{185, 140}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{376, 2}, {185, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch11_wave_crash0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 99}, {89, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{185, 140}</string>
			<key>spriteSourceSize</key>
			<string>{185, 140}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{189, 286}, {185, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch11_wave_crash0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 88}, {89, 46}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{185, 140}</string>
			<key>spriteSourceSize</key>
			<string>{185, 140}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {185, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch11_wave_crash0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 76}, {135, 52}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{185, 140}</string>
			<key>spriteSourceSize</key>
			<string>{185, 140}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{750, 2}, {185, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch11_wave_crash0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{13, 65}, {133, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{185, 140}</string>
			<key>spriteSourceSize</key>
			<string>{185, 140}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 144}, {185, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch11_wave_crash0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 53}, {157, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{185, 140}</string>
			<key>spriteSourceSize</key>
			<string>{185, 140}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{376, 144}, {185, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch11_wave_crash0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 42}, {161, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{185, 140}</string>
			<key>spriteSourceSize</key>
			<string>{185, 140}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{189, 144}, {185, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch11_wave_crash0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 31}, {157, 98}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{185, 140}</string>
			<key>spriteSourceSize</key>
			<string>{185, 140}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{563, 286}, {185, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch11_wave_crash0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 37}, {137, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{185, 140}</string>
			<key>spriteSourceSize</key>
			<string>{185, 140}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 286}, {185, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch11_wave_crash0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 45}, {129, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{185, 140}</string>
			<key>spriteSourceSize</key>
			<string>{185, 140}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{750, 286}, {185, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch11_wave_crash0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 53}, {119, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{185, 140}</string>
			<key>spriteSourceSize</key>
			<string>{185, 140}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{563, 144}, {185, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch11_wave_crash0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 62}, {89, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{185, 140}</string>
			<key>spriteSourceSize</key>
			<string>{185, 140}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{189, 2}, {185, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch11_wave_crash0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 100}, {19, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{185, 140}</string>
			<key>spriteSourceSize</key>
			<string>{185, 140}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{376, 286}, {185, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{1024, 512}</string>
	</dict>
</dict>
</plist>