<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch31a_machete_pirate0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{31, 80}, {291, 239}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{335, 319}</string>
			<key>spriteSourceSize</key>
			<string>{335, 319}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 644}, {335, 319}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch31a_machete_pirate0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{12, 54}, {309, 265}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{335, 319}</string>
			<key>spriteSourceSize</key>
			<string>{335, 319}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{676, 644}, {335, 319}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch31a_machete_pirate0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 108}, {313, 211}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{335, 319}</string>
			<key>spriteSourceSize</key>
			<string>{335, 319}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{339, 2}, {335, 319}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch31a_machete_pirate0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 92}, {313, 227}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{335, 319}</string>
			<key>spriteSourceSize</key>
			<string>{335, 319}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {335, 319}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch31a_machete_pirate0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 52}, {313, 267}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{335, 319}</string>
			<key>spriteSourceSize</key>
			<string>{335, 319}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1013, 2}, {335, 319}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch31a_machete_pirate0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 40}, {313, 279}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{335, 319}</string>
			<key>spriteSourceSize</key>
			<string>{335, 319}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1350, 2}, {335, 319}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch31a_machete_pirate0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{31, 30}, {291, 289}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{335, 319}</string>
			<key>spriteSourceSize</key>
			<string>{335, 319}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 323}, {335, 319}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch31a_machete_pirate0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{31, 30}, {291, 289}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{335, 319}</string>
			<key>spriteSourceSize</key>
			<string>{335, 319}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{676, 323}, {335, 319}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch31a_machete_pirate0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{25, 40}, {303, 279}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{335, 319}</string>
			<key>spriteSourceSize</key>
			<string>{335, 319}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{339, 644}, {335, 319}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch31a_machete_pirate0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{26, 60}, {309, 259}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{335, 319}</string>
			<key>spriteSourceSize</key>
			<string>{335, 319}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{339, 323}, {335, 319}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch31a_machete_pirate0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{31, 80}, {291, 239}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{335, 319}</string>
			<key>spriteSourceSize</key>
			<string>{335, 319}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{676, 2}, {335, 319}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{2048, 1024}</string>
	</dict>
</dict>
</plist>