<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch17_capt_talks0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {53, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{53, 83}</string>
			<key>spriteSourceSize</key>
			<string>{53, 83}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {53, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch17_capt_talks0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {53, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{53, 83}</string>
			<key>spriteSourceSize</key>
			<string>{53, 83}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 87}, {53, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch17_capt_talks0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {53, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{53, 83}</string>
			<key>spriteSourceSize</key>
			<string>{53, 83}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 172}, {53, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch17_capt_talks0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {53, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{53, 83}</string>
			<key>spriteSourceSize</key>
			<string>{53, 83}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 257}, {53, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch17_capt_talks0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {53, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{53, 83}</string>
			<key>spriteSourceSize</key>
			<string>{53, 83}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 342}, {53, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch17_capt_talks0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {53, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{53, 83}</string>
			<key>spriteSourceSize</key>
			<string>{53, 83}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 427}, {53, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch17_capt_talks0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {53, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{53, 83}</string>
			<key>spriteSourceSize</key>
			<string>{53, 83}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{57, 2}, {53, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch17_capt_talks0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {53, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{53, 83}</string>
			<key>spriteSourceSize</key>
			<string>{53, 83}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{57, 87}, {53, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch17_capt_talks0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {53, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{53, 83}</string>
			<key>spriteSourceSize</key>
			<string>{53, 83}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{57, 172}, {53, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch17_capt_talks0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {53, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{53, 83}</string>
			<key>spriteSourceSize</key>
			<string>{53, 83}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{57, 257}, {53, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch17_capt_talks0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {53, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{53, 83}</string>
			<key>spriteSourceSize</key>
			<string>{53, 83}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{57, 342}, {53, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch17_capt_talks0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {53, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{53, 83}</string>
			<key>spriteSourceSize</key>
			<string>{53, 83}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{57, 427}, {53, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch17_capt_talks0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {53, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{53, 83}</string>
			<key>spriteSourceSize</key>
			<string>{53, 83}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{112, 2}, {53, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch17_capt_talks0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {53, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{53, 83}</string>
			<key>spriteSourceSize</key>
			<string>{53, 83}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{167, 2}, {53, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch17_capt_talks0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {53, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{53, 83}</string>
			<key>spriteSourceSize</key>
			<string>{53, 83}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{222, 2}, {53, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch17_capt_talks0016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {53, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{53, 83}</string>
			<key>spriteSourceSize</key>
			<string>{53, 83}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{277, 2}, {53, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch17_capt_talks0017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {53, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{53, 83}</string>
			<key>spriteSourceSize</key>
			<string>{53, 83}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{332, 2}, {53, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch17_capt_talks0018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {53, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{53, 83}</string>
			<key>spriteSourceSize</key>
			<string>{53, 83}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{387, 2}, {53, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch17_capt_talks0019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {53, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{53, 83}</string>
			<key>spriteSourceSize</key>
			<string>{53, 83}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{442, 2}, {53, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch17_capt_talks0020.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {53, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{53, 83}</string>
			<key>spriteSourceSize</key>
			<string>{53, 83}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{112, 87}, {53, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch17_capt_talks0021.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {53, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{53, 83}</string>
			<key>spriteSourceSize</key>
			<string>{53, 83}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{112, 172}, {53, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch17_capt_talks0022.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {53, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{53, 83}</string>
			<key>spriteSourceSize</key>
			<string>{53, 83}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{112, 257}, {53, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch17_capt_talks0023.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {53, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{53, 83}</string>
			<key>spriteSourceSize</key>
			<string>{53, 83}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{112, 342}, {53, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch17_capt_talks0024.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {53, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{53, 83}</string>
			<key>spriteSourceSize</key>
			<string>{53, 83}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{112, 427}, {53, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch17_capt_talks0025.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {53, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{53, 83}</string>
			<key>spriteSourceSize</key>
			<string>{53, 83}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{167, 87}, {53, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch17_capt_talks0026.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {53, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{53, 83}</string>
			<key>spriteSourceSize</key>
			<string>{53, 83}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{222, 87}, {53, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch17_capt_talks0027.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {53, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{53, 83}</string>
			<key>spriteSourceSize</key>
			<string>{53, 83}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{277, 87}, {53, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch17_capt_talks0028.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {53, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{53, 83}</string>
			<key>spriteSourceSize</key>
			<string>{53, 83}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{332, 87}, {53, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch17_capt_talks0029.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {53, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{53, 83}</string>
			<key>spriteSourceSize</key>
			<string>{53, 83}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{387, 87}, {53, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch17_capt_talks0030.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {53, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{53, 83}</string>
			<key>spriteSourceSize</key>
			<string>{53, 83}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{442, 87}, {53, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch17_capt_talks0031.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {53, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{53, 83}</string>
			<key>spriteSourceSize</key>
			<string>{53, 83}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{167, 172}, {53, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch17_capt_talks0032.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {53, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{53, 83}</string>
			<key>spriteSourceSize</key>
			<string>{53, 83}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{167, 257}, {53, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch17_capt_talks0033.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {53, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{53, 83}</string>
			<key>spriteSourceSize</key>
			<string>{53, 83}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{167, 342}, {53, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch17_capt_talks0034.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {53, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{53, 83}</string>
			<key>spriteSourceSize</key>
			<string>{53, 83}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{167, 427}, {53, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch17_capt_talks0035.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {53, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{53, 83}</string>
			<key>spriteSourceSize</key>
			<string>{53, 83}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{222, 172}, {53, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch17_capt_talks0036.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {53, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{53, 83}</string>
			<key>spriteSourceSize</key>
			<string>{53, 83}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{222, 257}, {53, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch17_capt_talks0037.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {53, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{53, 83}</string>
			<key>spriteSourceSize</key>
			<string>{53, 83}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{222, 342}, {53, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch17_capt_talks0038.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {53, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{53, 83}</string>
			<key>spriteSourceSize</key>
			<string>{53, 83}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{222, 427}, {53, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch17_capt_talks0039.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {53, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{53, 83}</string>
			<key>spriteSourceSize</key>
			<string>{53, 83}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{277, 172}, {53, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch17_capt_talks0040.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {53, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{53, 83}</string>
			<key>spriteSourceSize</key>
			<string>{53, 83}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{332, 172}, {53, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch17_capt_talks0041.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {53, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{53, 83}</string>
			<key>spriteSourceSize</key>
			<string>{53, 83}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{387, 172}, {53, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{512, 512}</string>
	</dict>
</dict>
</plist>