<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch25_israel_leg0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 17}, {205, 196}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{217, 214}</string>
			<key>spriteSourceSize</key>
			<string>{217, 214}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 1514}, {217, 214}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch25_israel_leg0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 16}, {205, 196}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{217, 214}</string>
			<key>spriteSourceSize</key>
			<string>{217, 214}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{440, 434}, {217, 214}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch25_israel_leg0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 16}, {205, 196}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{217, 214}</string>
			<key>spriteSourceSize</key>
			<string>{217, 214}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 1082}, {217, 214}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch25_israel_leg0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 15}, {205, 196}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{217, 214}</string>
			<key>spriteSourceSize</key>
			<string>{217, 214}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 866}, {217, 214}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch25_israel_leg0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 14}, {205, 196}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{217, 214}</string>
			<key>spriteSourceSize</key>
			<string>{217, 214}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 434}, {217, 214}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch25_israel_leg0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 13}, {205, 196}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{217, 214}</string>
			<key>spriteSourceSize</key>
			<string>{217, 214}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{221, 650}, {217, 214}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch25_israel_leg0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 13}, {205, 194}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{217, 214}</string>
			<key>spriteSourceSize</key>
			<string>{217, 214}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{440, 866}, {217, 214}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch25_israel_leg0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 12}, {205, 194}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{217, 214}</string>
			<key>spriteSourceSize</key>
			<string>{217, 214}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{221, 218}, {217, 214}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch25_israel_leg0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 11}, {205, 194}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{217, 214}</string>
			<key>spriteSourceSize</key>
			<string>{217, 214}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{659, 218}, {217, 214}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch25_israel_leg0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 10}, {205, 194}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{217, 214}</string>
			<key>spriteSourceSize</key>
			<string>{217, 214}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{221, 866}, {217, 214}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch25_israel_leg0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 10}, {205, 192}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{217, 214}</string>
			<key>spriteSourceSize</key>
			<string>{217, 214}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{440, 2}, {217, 214}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch25_israel_leg0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 9}, {205, 192}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{217, 214}</string>
			<key>spriteSourceSize</key>
			<string>{217, 214}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{659, 434}, {217, 214}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch25_israel_leg0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 8}, {205, 192}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{217, 214}</string>
			<key>spriteSourceSize</key>
			<string>{217, 214}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{659, 2}, {217, 214}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch25_israel_leg0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 7}, {205, 192}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{217, 214}</string>
			<key>spriteSourceSize</key>
			<string>{217, 214}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{221, 1082}, {217, 214}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch25_israel_leg0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 5}, {205, 192}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{217, 214}</string>
			<key>spriteSourceSize</key>
			<string>{217, 214}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 1730}, {217, 214}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch25_israel_leg0016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 5}, {205, 192}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{217, 214}</string>
			<key>spriteSourceSize</key>
			<string>{217, 214}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{659, 650}, {217, 214}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch25_israel_leg0017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 5}, {205, 192}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{217, 214}</string>
			<key>spriteSourceSize</key>
			<string>{217, 214}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 218}, {217, 214}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch25_israel_leg0018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 5}, {205, 192}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{217, 214}</string>
			<key>spriteSourceSize</key>
			<string>{217, 214}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 1298}, {217, 214}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch25_israel_leg0019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 5}, {205, 192}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{217, 214}</string>
			<key>spriteSourceSize</key>
			<string>{217, 214}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{440, 650}, {217, 214}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch25_israel_leg0020.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 5}, {205, 192}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{217, 214}</string>
			<key>spriteSourceSize</key>
			<string>{217, 214}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{440, 218}, {217, 214}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch25_israel_leg0021.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 6}, {205, 192}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{217, 214}</string>
			<key>spriteSourceSize</key>
			<string>{217, 214}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {217, 214}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch25_israel_leg0022.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 7}, {205, 192}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{217, 214}</string>
			<key>spriteSourceSize</key>
			<string>{217, 214}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 650}, {217, 214}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch25_israel_leg0023.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 9}, {205, 192}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{217, 214}</string>
			<key>spriteSourceSize</key>
			<string>{217, 214}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{659, 866}, {217, 214}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch25_israel_leg0024.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 13}, {205, 194}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{217, 214}</string>
			<key>spriteSourceSize</key>
			<string>{217, 214}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{221, 2}, {217, 214}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch25_israel_leg0025.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 17}, {205, 196}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{217, 214}</string>
			<key>spriteSourceSize</key>
			<string>{217, 214}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{221, 434}, {217, 214}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{1024, 2048}</string>
	</dict>
</dict>
</plist>