<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch1_cockerel0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 12}, {158, 114}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{190, 132}</string>
			<key>spriteSourceSize</key>
			<string>{190, 132}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{578, 270}, {190, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_cockerel0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 12}, {158, 114}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{190, 132}</string>
			<key>spriteSourceSize</key>
			<string>{190, 132}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1538, 136}, {190, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_cockerel0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 12}, {158, 114}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{190, 132}</string>
			<key>spriteSourceSize</key>
			<string>{190, 132}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{386, 136}, {190, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_cockerel0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 12}, {158, 114}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{190, 132}</string>
			<key>spriteSourceSize</key>
			<string>{190, 132}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{962, 270}, {190, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_cockerel0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{21, 13}, {162, 114}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{190, 132}</string>
			<key>spriteSourceSize</key>
			<string>{190, 132}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 270}, {190, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_cockerel0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{22, 13}, {162, 114}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{190, 132}</string>
			<key>spriteSourceSize</key>
			<string>{190, 132}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {190, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_cockerel0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{21, 13}, {162, 114}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{190, 132}</string>
			<key>spriteSourceSize</key>
			<string>{190, 132}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{770, 136}, {190, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_cockerel0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{22, 13}, {162, 114}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{190, 132}</string>
			<key>spriteSourceSize</key>
			<string>{190, 132}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{770, 270}, {190, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_cockerel0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{21, 13}, {162, 114}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{190, 132}</string>
			<key>spriteSourceSize</key>
			<string>{190, 132}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1538, 2}, {190, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_cockerel0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 12}, {158, 114}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{190, 132}</string>
			<key>spriteSourceSize</key>
			<string>{190, 132}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{386, 270}, {190, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_cockerel0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{21, 13}, {162, 114}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{190, 132}</string>
			<key>spriteSourceSize</key>
			<string>{190, 132}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{194, 270}, {190, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_cockerel0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 19}, {172, 108}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{190, 132}</string>
			<key>spriteSourceSize</key>
			<string>{190, 132}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1346, 2}, {190, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_cockerel0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{14, 30}, {164, 96}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{190, 132}</string>
			<key>spriteSourceSize</key>
			<string>{190, 132}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1730, 136}, {190, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_cockerel0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 12}, {158, 114}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{190, 132}</string>
			<key>spriteSourceSize</key>
			<string>{190, 132}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{770, 2}, {190, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_cockerel0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{15, 19}, {164, 108}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{190, 132}</string>
			<key>spriteSourceSize</key>
			<string>{190, 132}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1154, 136}, {190, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_cockerel0016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{14, 30}, {164, 96}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{190, 132}</string>
			<key>spriteSourceSize</key>
			<string>{190, 132}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1154, 2}, {190, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_cockerel0017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{14, 30}, {164, 96}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{190, 132}</string>
			<key>spriteSourceSize</key>
			<string>{190, 132}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{962, 2}, {190, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_cockerel0018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{24, 31}, {146, 96}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{190, 132}</string>
			<key>spriteSourceSize</key>
			<string>{190, 132}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{194, 2}, {190, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_cockerel0019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{24, 19}, {154, 108}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{190, 132}</string>
			<key>spriteSourceSize</key>
			<string>{190, 132}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1346, 136}, {190, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_cockerel0020.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{13, 7}, {166, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{190, 132}</string>
			<key>spriteSourceSize</key>
			<string>{190, 132}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{578, 2}, {190, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_cockerel0021.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{13, 7}, {166, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{190, 132}</string>
			<key>spriteSourceSize</key>
			<string>{190, 132}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{578, 136}, {190, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_cockerel0022.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{13, 7}, {166, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{190, 132}</string>
			<key>spriteSourceSize</key>
			<string>{190, 132}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{386, 2}, {190, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_cockerel0023.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{24, 31}, {146, 96}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{190, 132}</string>
			<key>spriteSourceSize</key>
			<string>{190, 132}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{962, 136}, {190, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_cockerel0024.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{14, 30}, {164, 96}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{190, 132}</string>
			<key>spriteSourceSize</key>
			<string>{190, 132}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{194, 136}, {190, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_cockerel0025.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{15, 19}, {164, 108}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{190, 132}</string>
			<key>spriteSourceSize</key>
			<string>{190, 132}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1730, 2}, {190, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch1_cockerel0026.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 12}, {158, 114}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{190, 132}</string>
			<key>spriteSourceSize</key>
			<string>{190, 132}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 136}, {190, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{2048, 512}</string>
	</dict>
</dict>
</plist>