<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch9_ship_sails_top_front0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{28, 2}, {193, 25}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{255, 135}</string>
			<key>spriteSourceSize</key>
			<string>{255, 135}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 824}, {255, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch9_ship_sails_top_front0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{28, 2}, {193, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{255, 135}</string>
			<key>spriteSourceSize</key>
			<string>{255, 135}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 687}, {255, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch9_ship_sails_top_front0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{27, 2}, {195, 43}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{255, 135}</string>
			<key>spriteSourceSize</key>
			<string>{255, 135}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 413}, {255, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch9_ship_sails_top_front0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{24, 2}, {201, 63}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{255, 135}</string>
			<key>spriteSourceSize</key>
			<string>{255, 135}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{259, 276}, {255, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch9_ship_sails_top_front0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{17, 2}, {213, 93}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{255, 135}</string>
			<key>spriteSourceSize</key>
			<string>{255, 135}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{259, 2}, {255, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch9_ship_sails_top_front0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 2}, {229, 133}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{255, 135}</string>
			<key>spriteSourceSize</key>
			<string>{255, 135}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{259, 139}, {255, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch9_ship_sails_top_front0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 2}, {229, 133}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{255, 135}</string>
			<key>spriteSourceSize</key>
			<string>{255, 135}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {255, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch9_ship_sails_top_front0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 2}, {235, 123}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{255, 135}</string>
			<key>spriteSourceSize</key>
			<string>{255, 135}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 139}, {255, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch9_ship_sails_top_front0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 2}, {239, 121}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{255, 135}</string>
			<key>spriteSourceSize</key>
			<string>{255, 135}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 550}, {255, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch9_ship_sails_top_front0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 2}, {241, 121}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{255, 135}</string>
			<key>spriteSourceSize</key>
			<string>{255, 135}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 276}, {255, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch9_ship_sails_top_front0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 2}, {241, 121}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{255, 135}</string>
			<key>spriteSourceSize</key>
			<string>{255, 135}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{259, 413}, {255, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{1024, 1024}</string>
	</dict>
</dict>
</plist>