<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch9_ship_sails_top_rear0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{44, 2}, {85, 12}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{165, 100}</string>
			<key>spriteSourceSize</key>
			<string>{165, 100}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{169, 206}, {165, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch9_ship_sails_top_rear0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{43, 2}, {85, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{165, 100}</string>
			<key>spriteSourceSize</key>
			<string>{165, 100}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{169, 104}, {165, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch9_ship_sails_top_rear0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{39, 2}, {93, 24}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{165, 100}</string>
			<key>spriteSourceSize</key>
			<string>{165, 100}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 104}, {165, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch9_ship_sails_top_rear0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{32, 2}, {105, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{165, 100}</string>
			<key>spriteSourceSize</key>
			<string>{165, 100}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{169, 2}, {165, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch9_ship_sails_top_rear0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{21, 2}, {123, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{165, 100}</string>
			<key>spriteSourceSize</key>
			<string>{165, 100}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{169, 308}, {165, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch9_ship_sails_top_rear0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 2}, {147, 98}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{165, 100}</string>
			<key>spriteSourceSize</key>
			<string>{165, 100}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 308}, {165, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch9_ship_sails_top_rear0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 2}, {147, 98}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{165, 100}</string>
			<key>spriteSourceSize</key>
			<string>{165, 100}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 206}, {165, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch9_ship_sails_top_rear0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 2}, {149, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{165, 100}</string>
			<key>spriteSourceSize</key>
			<string>{165, 100}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {165, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch9_ship_sails_top_rear0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 2}, {151, 92}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{165, 100}</string>
			<key>spriteSourceSize</key>
			<string>{165, 100}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{336, 2}, {165, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch9_ship_sails_top_rear0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 2}, {153, 92}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{165, 100}</string>
			<key>spriteSourceSize</key>
			<string>{165, 100}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 410}, {165, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch9_ship_sails_top_rear0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 2}, {151, 92}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{165, 100}</string>
			<key>spriteSourceSize</key>
			<string>{165, 100}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{169, 410}, {165, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{512, 512}</string>
	</dict>
</dict>
</plist>