<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch9_ship_sails_top_middle0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{57, 5}, {201, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{295, 155}</string>
			<key>spriteSourceSize</key>
			<string>{295, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {295, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch9_ship_sails_top_middle0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{57, 5}, {201, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{295, 155}</string>
			<key>spriteSourceSize</key>
			<string>{295, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{299, 2}, {295, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch9_ship_sails_top_middle0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{55, 5}, {203, 47}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{295, 155}</string>
			<key>spriteSourceSize</key>
			<string>{295, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{596, 2}, {295, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch9_ship_sails_top_middle0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{44, 4}, {217, 73}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{295, 155}</string>
			<key>spriteSourceSize</key>
			<string>{295, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 159}, {295, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch9_ship_sails_top_middle0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{30, 4}, {239, 105}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{295, 155}</string>
			<key>spriteSourceSize</key>
			<string>{295, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{299, 159}, {295, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch9_ship_sails_top_middle0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{11, 4}, {269, 151}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{295, 155}</string>
			<key>spriteSourceSize</key>
			<string>{295, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{596, 159}, {295, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch9_ship_sails_top_middle0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{11, 4}, {269, 151}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{295, 155}</string>
			<key>spriteSourceSize</key>
			<string>{295, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 316}, {295, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch9_ship_sails_top_middle0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{11, 4}, {273, 143}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{295, 155}</string>
			<key>spriteSourceSize</key>
			<string>{295, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 473}, {295, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch9_ship_sails_top_middle0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{11, 4}, {275, 143}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{295, 155}</string>
			<key>spriteSourceSize</key>
			<string>{295, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 630}, {295, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch9_ship_sails_top_middle0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{11, 4}, {277, 143}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{295, 155}</string>
			<key>spriteSourceSize</key>
			<string>{295, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 787}, {295, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch9_ship_sails_top_middle0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{11, 4}, {277, 143}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{295, 155}</string>
			<key>spriteSourceSize</key>
			<string>{295, 155}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{299, 316}, {295, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{1024, 1024}</string>
	</dict>
</dict>
</plist>