<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch8_fingers_tapping0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 9}, {92, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{100, 65}</string>
			<key>spriteSourceSize</key>
			<string>{100, 65}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{308, 69}, {100, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_fingers_tapping0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 9}, {92, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{100, 65}</string>
			<key>spriteSourceSize</key>
			<string>{100, 65}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{104, 69}, {100, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_fingers_tapping0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 9}, {92, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{100, 65}</string>
			<key>spriteSourceSize</key>
			<string>{100, 65}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{308, 2}, {100, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_fingers_tapping0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 9}, {90, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{100, 65}</string>
			<key>spriteSourceSize</key>
			<string>{100, 65}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 136}, {100, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_fingers_tapping0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 9}, {90, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{100, 65}</string>
			<key>spriteSourceSize</key>
			<string>{100, 65}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{206, 69}, {100, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_fingers_tapping0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 7}, {92, 55}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{100, 65}</string>
			<key>spriteSourceSize</key>
			<string>{100, 65}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{410, 69}, {100, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_fingers_tapping0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {92, 57}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{100, 65}</string>
			<key>spriteSourceSize</key>
			<string>{100, 65}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{206, 2}, {100, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_fingers_tapping0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 5}, {92, 57}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{100, 65}</string>
			<key>spriteSourceSize</key>
			<string>{100, 65}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 69}, {100, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_fingers_tapping0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 10}, {92, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{100, 65}</string>
			<key>spriteSourceSize</key>
			<string>{100, 65}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {100, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_fingers_tapping0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 10}, {92, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{100, 65}</string>
			<key>spriteSourceSize</key>
			<string>{100, 65}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{104, 2}, {100, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_fingers_tapping0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 9}, {92, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{100, 65}</string>
			<key>spriteSourceSize</key>
			<string>{100, 65}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{410, 2}, {100, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{512, 256}</string>
	</dict>
</dict>
</plist>