<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch20_hat_feathers0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 18}, {81, 47}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{85, 65}</string>
			<key>spriteSourceSize</key>
			<string>{85, 65}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 136}, {85, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch20_hat_feathers0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 16}, {81, 49}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{85, 65}</string>
			<key>spriteSourceSize</key>
			<string>{85, 65}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 69}, {85, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch20_hat_feathers0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 16}, {81, 49}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{85, 65}</string>
			<key>spriteSourceSize</key>
			<string>{85, 65}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{89, 69}, {85, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch20_hat_feathers0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 14}, {81, 51}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{85, 65}</string>
			<key>spriteSourceSize</key>
			<string>{85, 65}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {85, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch20_hat_feathers0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 12}, {81, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{85, 65}</string>
			<key>spriteSourceSize</key>
			<string>{85, 65}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{89, 2}, {85, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch20_hat_feathers0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 14}, {79, 51}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{85, 65}</string>
			<key>spriteSourceSize</key>
			<string>{85, 65}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{176, 69}, {85, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch20_hat_feathers0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 16}, {77, 49}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{85, 65}</string>
			<key>spriteSourceSize</key>
			<string>{85, 65}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{176, 2}, {85, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch20_hat_feathers0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 16}, {79, 49}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{85, 65}</string>
			<key>spriteSourceSize</key>
			<string>{85, 65}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{89, 136}, {85, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{512, 256}</string>
	</dict>
</dict>
</plist>