<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch8_smollet_pipe_smoke0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {14, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{14, 40}</string>
			<key>spriteSourceSize</key>
			<string>{14, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 212}, {14, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_smollet_pipe_smoke0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 38}, {4, 2}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{14, 40}</string>
			<key>spriteSourceSize</key>
			<string>{14, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{82, 44}, {14, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_smollet_pipe_smoke0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 36}, {4, 4}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{14, 40}</string>
			<key>spriteSourceSize</key>
			<string>{14, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{34, 2}, {14, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_smollet_pipe_smoke0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 34}, {4, 4}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{14, 40}</string>
			<key>spriteSourceSize</key>
			<string>{14, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{18, 86}, {14, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_smollet_pipe_smoke0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 32}, {4, 6}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{14, 40}</string>
			<key>spriteSourceSize</key>
			<string>{14, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{18, 2}, {14, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_smollet_pipe_smoke0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 30}, {6, 6}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{14, 40}</string>
			<key>spriteSourceSize</key>
			<string>{14, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{98, 44}, {14, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_smollet_pipe_smoke0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 28}, {6, 6}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{14, 40}</string>
			<key>spriteSourceSize</key>
			<string>{14, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{98, 2}, {14, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_smollet_pipe_smoke0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 26}, {6, 6}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{14, 40}</string>
			<key>spriteSourceSize</key>
			<string>{14, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{66, 44}, {14, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_smollet_pipe_smoke0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 24}, {6, 6}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{14, 40}</string>
			<key>spriteSourceSize</key>
			<string>{14, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{18, 44}, {14, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_smollet_pipe_smoke0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 22}, {6, 18}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{14, 40}</string>
			<key>spriteSourceSize</key>
			<string>{14, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{50, 86}, {14, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_smollet_pipe_smoke0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 21}, {6, 18}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{14, 40}</string>
			<key>spriteSourceSize</key>
			<string>{14, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{66, 86}, {14, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_smollet_pipe_smoke0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 18}, {6, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{14, 40}</string>
			<key>spriteSourceSize</key>
			<string>{14, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{82, 2}, {14, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_smollet_pipe_smoke0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 17}, {6, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{14, 40}</string>
			<key>spriteSourceSize</key>
			<string>{14, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{18, 128}, {14, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_smollet_pipe_smoke0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 15}, {6, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{14, 40}</string>
			<key>spriteSourceSize</key>
			<string>{14, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 170}, {14, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_smollet_pipe_smoke0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 13}, {8, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{14, 40}</string>
			<key>spriteSourceSize</key>
			<string>{14, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{50, 44}, {14, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_smollet_pipe_smoke0016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 11}, {8, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{14, 40}</string>
			<key>spriteSourceSize</key>
			<string>{14, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 44}, {14, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_smollet_pipe_smoke0017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 9}, {8, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{14, 40}</string>
			<key>spriteSourceSize</key>
			<string>{14, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 128}, {14, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_smollet_pipe_smoke0018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 7}, {8, 20}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{14, 40}</string>
			<key>spriteSourceSize</key>
			<string>{14, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {14, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_smollet_pipe_smoke0019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 5}, {8, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{14, 40}</string>
			<key>spriteSourceSize</key>
			<string>{14, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{34, 86}, {14, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_smollet_pipe_smoke0020.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 9}, {8, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{14, 40}</string>
			<key>spriteSourceSize</key>
			<string>{14, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{66, 2}, {14, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_smollet_pipe_smoke0021.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 7}, {8, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{14, 40}</string>
			<key>spriteSourceSize</key>
			<string>{14, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{50, 2}, {14, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_smollet_pipe_smoke0022.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 11}, {8, 8}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{14, 40}</string>
			<key>spriteSourceSize</key>
			<string>{14, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 86}, {14, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_smollet_pipe_smoke0023.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 9}, {8, 8}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{14, 40}</string>
			<key>spriteSourceSize</key>
			<string>{14, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{98, 86}, {14, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_smollet_pipe_smoke0024.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {8, 8}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{14, 40}</string>
			<key>spriteSourceSize</key>
			<string>{14, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{34, 44}, {14, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_smollet_pipe_smoke0025.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {14, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{14, 40}</string>
			<key>spriteSourceSize</key>
			<string>{14, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{82, 86}, {14, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{128, 256}</string>
	</dict>
</dict>
</plist>