<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch20_spot_pipe_smoke0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {105, 200}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 200}</string>
			<key>spriteSourceSize</key>
			<string>{105, 200}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{109, 406}, {105, 200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch20_spot_pipe_smoke0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{31, 190}, {29, 10}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 200}</string>
			<key>spriteSourceSize</key>
			<string>{105, 200}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{537, 204}, {105, 200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch20_spot_pipe_smoke0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{26, 178}, {39, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 200}</string>
			<key>spriteSourceSize</key>
			<string>{105, 200}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{430, 2}, {105, 200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch20_spot_pipe_smoke0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{25, 168}, {41, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 200}</string>
			<key>spriteSourceSize</key>
			<string>{105, 200}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{323, 2}, {105, 200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch20_spot_pipe_smoke0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{24, 156}, {43, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 200}</string>
			<key>spriteSourceSize</key>
			<string>{105, 200}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{216, 406}, {105, 200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch20_spot_pipe_smoke0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{23, 147}, {45, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 200}</string>
			<key>spriteSourceSize</key>
			<string>{105, 200}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {105, 200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch20_spot_pipe_smoke0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{22, 136}, {49, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 200}</string>
			<key>spriteSourceSize</key>
			<string>{105, 200}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{216, 204}, {105, 200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch20_spot_pipe_smoke0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{22, 125}, {49, 52}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 200}</string>
			<key>spriteSourceSize</key>
			<string>{105, 200}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{644, 406}, {105, 200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch20_spot_pipe_smoke0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{21, 114}, {53, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 200}</string>
			<key>spriteSourceSize</key>
			<string>{105, 200}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{323, 406}, {105, 200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch20_spot_pipe_smoke0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{20, 102}, {55, 98}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 200}</string>
			<key>spriteSourceSize</key>
			<string>{105, 200}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{109, 204}, {105, 200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch20_spot_pipe_smoke0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{20, 92}, {57, 108}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 200}</string>
			<key>spriteSourceSize</key>
			<string>{105, 200}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{323, 204}, {105, 200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch20_spot_pipe_smoke0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{19, 82}, {61, 118}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 200}</string>
			<key>spriteSourceSize</key>
			<string>{105, 200}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{430, 406}, {105, 200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch20_spot_pipe_smoke0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{20, 70}, {61, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 200}</string>
			<key>spriteSourceSize</key>
			<string>{105, 200}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{216, 2}, {105, 200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch20_spot_pipe_smoke0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{21, 60}, {65, 140}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 200}</string>
			<key>spriteSourceSize</key>
			<string>{105, 200}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{644, 2}, {105, 200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch20_spot_pipe_smoke0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{20, 50}, {69, 140}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 200}</string>
			<key>spriteSourceSize</key>
			<string>{105, 200}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{109, 2}, {105, 200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch20_spot_pipe_smoke0016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{19, 40}, {73, 138}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 200}</string>
			<key>spriteSourceSize</key>
			<string>{105, 200}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{430, 204}, {105, 200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch20_spot_pipe_smoke0017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{19, 30}, {77, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 200}</string>
			<key>spriteSourceSize</key>
			<string>{105, 200}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{858, 204}, {105, 200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch20_spot_pipe_smoke0018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{20, 21}, {79, 132}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 200}</string>
			<key>spriteSourceSize</key>
			<string>{105, 200}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{537, 2}, {105, 200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch20_spot_pipe_smoke0019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{20, 11}, {83, 132}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 200}</string>
			<key>spriteSourceSize</key>
			<string>{105, 200}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 204}, {105, 200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch20_spot_pipe_smoke0020.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{21, 33}, {75, 98}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 200}</string>
			<key>spriteSourceSize</key>
			<string>{105, 200}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{537, 406}, {105, 200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch20_spot_pipe_smoke0021.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{22, 17}, {79, 102}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 200}</string>
			<key>spriteSourceSize</key>
			<string>{105, 200}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{751, 204}, {105, 200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch20_spot_pipe_smoke0022.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{23, 38}, {69, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 200}</string>
			<key>spriteSourceSize</key>
			<string>{105, 200}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{644, 204}, {105, 200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch20_spot_pipe_smoke0023.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{26, 26}, {71, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 200}</string>
			<key>spriteSourceSize</key>
			<string>{105, 200}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{751, 2}, {105, 200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch20_spot_pipe_smoke0024.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{27, 14}, {75, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 200}</string>
			<key>spriteSourceSize</key>
			<string>{105, 200}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 406}, {105, 200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch20_spot_pipe_smoke0025.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {105, 200}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 200}</string>
			<key>spriteSourceSize</key>
			<string>{105, 200}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{858, 2}, {105, 200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{1024, 1024}</string>
	</dict>
</dict>
</plist>