<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch32_clouds0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {284, 178}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{288, 182}</string>
			<key>spriteSourceSize</key>
			<string>{288, 182}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1162, 738}, {288, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_clouds0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {284, 178}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{288, 182}</string>
			<key>spriteSourceSize</key>
			<string>{288, 182}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{582, 370}, {288, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_clouds0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {284, 180}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{288, 182}</string>
			<key>spriteSourceSize</key>
			<string>{288, 182}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{582, 738}, {288, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_clouds0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {284, 180}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{288, 182}</string>
			<key>spriteSourceSize</key>
			<string>{288, 182}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 554}, {288, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_clouds0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {284, 180}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{288, 182}</string>
			<key>spriteSourceSize</key>
			<string>{288, 182}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1452, 370}, {288, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_clouds0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {284, 180}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{288, 182}</string>
			<key>spriteSourceSize</key>
			<string>{288, 182}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 1106}, {288, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_clouds0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {284, 180}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{288, 182}</string>
			<key>spriteSourceSize</key>
			<string>{288, 182}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1742, 2}, {288, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_clouds0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {284, 180}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{288, 182}</string>
			<key>spriteSourceSize</key>
			<string>{288, 182}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 370}, {288, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_clouds0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {284, 180}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{288, 182}</string>
			<key>spriteSourceSize</key>
			<string>{288, 182}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{872, 186}, {288, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_clouds0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {284, 178}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{288, 182}</string>
			<key>spriteSourceSize</key>
			<string>{288, 182}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1742, 370}, {288, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_clouds0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {284, 178}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{288, 182}</string>
			<key>spriteSourceSize</key>
			<string>{288, 182}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{582, 922}, {288, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_clouds0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {284, 178}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{288, 182}</string>
			<key>spriteSourceSize</key>
			<string>{288, 182}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1162, 2}, {288, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_clouds0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {284, 178}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{288, 182}</string>
			<key>spriteSourceSize</key>
			<string>{288, 182}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1162, 186}, {288, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_clouds0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {284, 178}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{288, 182}</string>
			<key>spriteSourceSize</key>
			<string>{288, 182}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{292, 922}, {288, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_clouds0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {284, 178}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{288, 182}</string>
			<key>spriteSourceSize</key>
			<string>{288, 182}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1742, 186}, {288, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_clouds0016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {284, 178}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{288, 182}</string>
			<key>spriteSourceSize</key>
			<string>{288, 182}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{292, 370}, {288, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_clouds0017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {284, 178}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{288, 182}</string>
			<key>spriteSourceSize</key>
			<string>{288, 182}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{582, 554}, {288, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_clouds0018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {284, 178}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{288, 182}</string>
			<key>spriteSourceSize</key>
			<string>{288, 182}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 738}, {288, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_clouds0019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {284, 178}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{288, 182}</string>
			<key>spriteSourceSize</key>
			<string>{288, 182}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1162, 370}, {288, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_clouds0020.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {286, 178}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{288, 182}</string>
			<key>spriteSourceSize</key>
			<string>{288, 182}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{872, 738}, {288, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_clouds0021.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {286, 178}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{288, 182}</string>
			<key>spriteSourceSize</key>
			<string>{288, 182}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1742, 738}, {288, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_clouds0022.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {286, 180}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{288, 182}</string>
			<key>spriteSourceSize</key>
			<string>{288, 182}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{292, 1106}, {288, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_clouds0023.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {286, 180}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{288, 182}</string>
			<key>spriteSourceSize</key>
			<string>{288, 182}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1162, 554}, {288, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_clouds0024.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {286, 180}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{288, 182}</string>
			<key>spriteSourceSize</key>
			<string>{288, 182}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{582, 1106}, {288, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_clouds0025.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {286, 180}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{288, 182}</string>
			<key>spriteSourceSize</key>
			<string>{288, 182}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{582, 186}, {288, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_clouds0026.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {286, 180}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{288, 182}</string>
			<key>spriteSourceSize</key>
			<string>{288, 182}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1452, 738}, {288, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_clouds0027.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {286, 180}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{288, 182}</string>
			<key>spriteSourceSize</key>
			<string>{288, 182}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{872, 554}, {288, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_clouds0028.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {286, 180}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{288, 182}</string>
			<key>spriteSourceSize</key>
			<string>{288, 182}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{872, 370}, {288, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_clouds0029.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {284, 180}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{288, 182}</string>
			<key>spriteSourceSize</key>
			<string>{288, 182}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1452, 554}, {288, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_clouds0030.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {284, 180}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{288, 182}</string>
			<key>spriteSourceSize</key>
			<string>{288, 182}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{292, 1658}, {288, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_clouds0031.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {284, 180}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{288, 182}</string>
			<key>spriteSourceSize</key>
			<string>{288, 182}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{582, 2}, {288, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_clouds0032.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {284, 180}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{288, 182}</string>
			<key>spriteSourceSize</key>
			<string>{288, 182}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 1290}, {288, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_clouds0033.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {284, 180}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{288, 182}</string>
			<key>spriteSourceSize</key>
			<string>{288, 182}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{292, 1474}, {288, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_clouds0034.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {284, 178}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{288, 182}</string>
			<key>spriteSourceSize</key>
			<string>{288, 182}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {288, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_clouds0035.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {284, 178}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{288, 182}</string>
			<key>spriteSourceSize</key>
			<string>{288, 182}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 1842}, {288, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_clouds0036.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {284, 178}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{288, 182}</string>
			<key>spriteSourceSize</key>
			<string>{288, 182}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{292, 1290}, {288, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_clouds0037.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {284, 178}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{288, 182}</string>
			<key>spriteSourceSize</key>
			<string>{288, 182}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 186}, {288, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_clouds0038.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {284, 178}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{288, 182}</string>
			<key>spriteSourceSize</key>
			<string>{288, 182}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{292, 1842}, {288, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_clouds0039.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {286, 178}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{288, 182}</string>
			<key>spriteSourceSize</key>
			<string>{288, 182}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{292, 554}, {288, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_clouds0040.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {286, 178}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{288, 182}</string>
			<key>spriteSourceSize</key>
			<string>{288, 182}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 922}, {288, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_clouds0041.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {286, 178}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{288, 182}</string>
			<key>spriteSourceSize</key>
			<string>{288, 182}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 1474}, {288, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_clouds0042.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {286, 178}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{288, 182}</string>
			<key>spriteSourceSize</key>
			<string>{288, 182}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{872, 2}, {288, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_clouds0043.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {286, 178}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{288, 182}</string>
			<key>spriteSourceSize</key>
			<string>{288, 182}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1742, 554}, {288, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_clouds0044.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {286, 178}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{288, 182}</string>
			<key>spriteSourceSize</key>
			<string>{288, 182}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{292, 738}, {288, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_clouds0045.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {286, 178}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{288, 182}</string>
			<key>spriteSourceSize</key>
			<string>{288, 182}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{582, 1290}, {288, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_clouds0046.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {286, 178}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{288, 182}</string>
			<key>spriteSourceSize</key>
			<string>{288, 182}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{292, 186}, {288, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_clouds0047.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {286, 178}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{288, 182}</string>
			<key>spriteSourceSize</key>
			<string>{288, 182}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{292, 2}, {288, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_clouds0048.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {286, 178}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{288, 182}</string>
			<key>spriteSourceSize</key>
			<string>{288, 182}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 1658}, {288, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_clouds0049.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {286, 178}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{288, 182}</string>
			<key>spriteSourceSize</key>
			<string>{288, 182}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1452, 2}, {288, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch32_clouds0050.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {284, 178}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{288, 182}</string>
			<key>spriteSourceSize</key>
			<string>{288, 182}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1452, 186}, {288, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{2048, 2048}</string>
	</dict>
</dict>
</plist>