<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch2_tea_drip0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 41}, {26, 12}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 56}</string>
			<key>spriteSourceSize</key>
			<string>{80, 56}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{248, 60}, {80, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch2_tea_drip0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 37}, {28, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 56}</string>
			<key>spriteSourceSize</key>
			<string>{80, 56}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{166, 2}, {80, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch2_tea_drip0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 37}, {32, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 56}</string>
			<key>spriteSourceSize</key>
			<string>{80, 56}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{166, 176}, {80, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch2_tea_drip0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 34}, {32, 16}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 56}</string>
			<key>spriteSourceSize</key>
			<string>{80, 56}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 60}, {80, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch2_tea_drip0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 32}, {36, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 56}</string>
			<key>spriteSourceSize</key>
			<string>{80, 56}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{330, 60}, {80, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch2_tea_drip0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 31}, {38, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 56}</string>
			<key>spriteSourceSize</key>
			<string>{80, 56}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{330, 2}, {80, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch2_tea_drip0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 28}, {40, 16}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 56}</string>
			<key>spriteSourceSize</key>
			<string>{80, 56}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{248, 118}, {80, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch2_tea_drip0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 26}, {42, 16}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 56}</string>
			<key>spriteSourceSize</key>
			<string>{80, 56}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 118}, {80, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch2_tea_drip0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 24}, {44, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 56}</string>
			<key>spriteSourceSize</key>
			<string>{80, 56}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{248, 176}, {80, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch2_tea_drip0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 22}, {48, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 56}</string>
			<key>spriteSourceSize</key>
			<string>{80, 56}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{84, 118}, {80, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch2_tea_drip0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 20}, {48, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 56}</string>
			<key>spriteSourceSize</key>
			<string>{80, 56}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 176}, {80, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch2_tea_drip0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 18}, {52, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 56}</string>
			<key>spriteSourceSize</key>
			<string>{80, 56}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{412, 60}, {80, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch2_tea_drip0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 16}, {54, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 56}</string>
			<key>spriteSourceSize</key>
			<string>{80, 56}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{84, 60}, {80, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch2_tea_drip0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 14}, {56, 20}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 56}</string>
			<key>spriteSourceSize</key>
			<string>{80, 56}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{84, 176}, {80, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch2_tea_drip0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 12}, {56, 18}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 56}</string>
			<key>spriteSourceSize</key>
			<string>{80, 56}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{84, 2}, {80, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch2_tea_drip0016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 10}, {58, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 56}</string>
			<key>spriteSourceSize</key>
			<string>{80, 56}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{412, 2}, {80, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch2_tea_drip0017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{11, 8}, {60, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 56}</string>
			<key>spriteSourceSize</key>
			<string>{80, 56}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{166, 118}, {80, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch2_tea_drip0018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{12, 5}, {62, 46}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 56}</string>
			<key>spriteSourceSize</key>
			<string>{80, 56}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {80, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch2_tea_drip0019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{14, 4}, {62, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 56}</string>
			<key>spriteSourceSize</key>
			<string>{80, 56}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{330, 118}, {80, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch2_tea_drip0020.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{17, 2}, {60, 52}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 56}</string>
			<key>spriteSourceSize</key>
			<string>{80, 56}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{166, 60}, {80, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch2_tea_drip0021.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {80, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 56}</string>
			<key>spriteSourceSize</key>
			<string>{80, 56}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{248, 2}, {80, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{512, 256}</string>
	</dict>
</dict>
</plist>