<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch28_torch0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 6}, {385, 426}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{395, 434}</string>
			<key>spriteSourceSize</key>
			<string>{395, 434}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {395, 434}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch28_torch0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 6}, {385, 426}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{395, 434}</string>
			<key>spriteSourceSize</key>
			<string>{395, 434}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{399, 2}, {395, 434}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch28_torch0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 6}, {385, 426}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{395, 434}</string>
			<key>spriteSourceSize</key>
			<string>{395, 434}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 1310}, {395, 434}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch28_torch0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 6}, {385, 426}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{395, 434}</string>
			<key>spriteSourceSize</key>
			<string>{395, 434}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 874}, {395, 434}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch28_torch0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 6}, {385, 426}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{395, 434}</string>
			<key>spriteSourceSize</key>
			<string>{395, 434}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 438}, {395, 434}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch28_torch0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 6}, {385, 426}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{395, 434}</string>
			<key>spriteSourceSize</key>
			<string>{395, 434}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{796, 438}, {395, 434}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch28_torch0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 6}, {385, 426}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{395, 434}</string>
			<key>spriteSourceSize</key>
			<string>{395, 434}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{399, 438}, {395, 434}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch28_torch0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 6}, {385, 426}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{395, 434}</string>
			<key>spriteSourceSize</key>
			<string>{395, 434}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{796, 2}, {395, 434}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch28_torch0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 6}, {385, 426}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{395, 434}</string>
			<key>spriteSourceSize</key>
			<string>{395, 434}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{399, 1310}, {395, 434}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch28_torch0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 6}, {385, 426}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{395, 434}</string>
			<key>spriteSourceSize</key>
			<string>{395, 434}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1590, 2}, {395, 434}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch28_torch0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 6}, {385, 426}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{395, 434}</string>
			<key>spriteSourceSize</key>
			<string>{395, 434}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1193, 2}, {395, 434}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch28_torch0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 6}, {385, 426}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{395, 434}</string>
			<key>spriteSourceSize</key>
			<string>{395, 434}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{399, 874}, {395, 434}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{2048, 2048}</string>
	</dict>
</dict>
</plist>