<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_logo_gleam_only0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {170, 113}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{170, 113}</string>
			<key>spriteSourceSize</key>
			<string>{170, 113}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 232}, {170, 113}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_logo_gleam_only0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{39, 1}, {4, 7}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{170, 113}</string>
			<key>spriteSourceSize</key>
			<string>{170, 113}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{174, 232}, {170, 113}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_logo_gleam_only0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{21, 1}, {34, 55}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{170, 113}</string>
			<key>spriteSourceSize</key>
			<string>{170, 113}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{174, 117}, {170, 113}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_logo_gleam_only0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {94, 105}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{170, 113}</string>
			<key>spriteSourceSize</key>
			<string>{170, 113}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 117}, {170, 113}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_logo_gleam_only0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {138, 113}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{170, 113}</string>
			<key>spriteSourceSize</key>
			<string>{170, 113}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{174, 347}, {170, 113}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_logo_gleam_only0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{22, 0}, {148, 113}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{170, 113}</string>
			<key>spriteSourceSize</key>
			<string>{170, 113}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{346, 117}, {170, 113}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_logo_gleam_only0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{71, 4}, {98, 109}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{170, 113}</string>
			<key>spriteSourceSize</key>
			<string>{170, 113}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {170, 113}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_logo_gleam_only0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{115, 52}, {36, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{170, 113}</string>
			<key>spriteSourceSize</key>
			<string>{170, 113}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{346, 2}, {170, 113}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_logo_gleam_only0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{126, 102}, {8, 11}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{170, 113}</string>
			<key>spriteSourceSize</key>
			<string>{170, 113}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{174, 2}, {170, 113}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_logo_gleam_only0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {170, 113}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{170, 113}</string>
			<key>spriteSourceSize</key>
			<string>{170, 113}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 347}, {170, 113}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{1024, 512}</string>
	</dict>
</dict>
</plist>