<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch21_smollet_sword0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 20}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 20}</string>
			<key>spriteSourceSize</key>
			<string>{30, 20}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{34, 68}, {30, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet_sword0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 10}, {2, 4}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 20}</string>
			<key>spriteSourceSize</key>
			<string>{30, 20}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 46}, {30, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet_sword0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 6}, {6, 8}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 20}</string>
			<key>spriteSourceSize</key>
			<string>{30, 20}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{34, 90}, {30, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet_sword0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {10, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 20}</string>
			<key>spriteSourceSize</key>
			<string>{30, 20}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 68}, {30, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet_sword0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 1}, {10, 16}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 20}</string>
			<key>spriteSourceSize</key>
			<string>{30, 20}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{66, 2}, {30, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet_sword0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 1}, {10, 18}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 20}</string>
			<key>spriteSourceSize</key>
			<string>{30, 20}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{34, 2}, {30, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet_sword0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 2}, {10, 18}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 20}</string>
			<key>spriteSourceSize</key>
			<string>{30, 20}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {30, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet_sword0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{12, 3}, {10, 16}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 20}</string>
			<key>spriteSourceSize</key>
			<string>{30, 20}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 90}, {30, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet_sword0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{15, 4}, {10, 16}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 20}</string>
			<key>spriteSourceSize</key>
			<string>{30, 20}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{34, 46}, {30, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet_sword0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{18, 5}, {10, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 20}</string>
			<key>spriteSourceSize</key>
			<string>{30, 20}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{34, 24}, {30, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet_sword0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{22, 5}, {6, 10}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 20}</string>
			<key>spriteSourceSize</key>
			<string>{30, 20}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{66, 24}, {30, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet_sword0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{25, 6}, {4, 4}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 20}</string>
			<key>spriteSourceSize</key>
			<string>{30, 20}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 24}, {30, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_smollet_sword0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 20}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{30, 20}</string>
			<key>spriteSourceSize</key>
			<string>{30, 20}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{66, 46}, {30, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{128, 128}</string>
	</dict>
</dict>
</plist>