<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch8_fish0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {101, 77}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{103, 79}</string>
			<key>spriteSourceSize</key>
			<string>{103, 79}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{212, 83}, {103, 79}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_fish0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {99, 77}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{103, 79}</string>
			<key>spriteSourceSize</key>
			<string>{103, 79}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {103, 79}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_fish0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {97, 77}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{103, 79}</string>
			<key>spriteSourceSize</key>
			<string>{103, 79}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{107, 2}, {103, 79}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_fish0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {97, 77}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{103, 79}</string>
			<key>spriteSourceSize</key>
			<string>{103, 79}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{317, 83}, {103, 79}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_fish0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {101, 77}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{103, 79}</string>
			<key>spriteSourceSize</key>
			<string>{103, 79}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 407}, {103, 79}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_fish0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {99, 77}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{103, 79}</string>
			<key>spriteSourceSize</key>
			<string>{103, 79}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{107, 83}, {103, 79}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_fish0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {97, 77}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{103, 79}</string>
			<key>spriteSourceSize</key>
			<string>{103, 79}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{212, 2}, {103, 79}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_fish0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {97, 77}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{103, 79}</string>
			<key>spriteSourceSize</key>
			<string>{103, 79}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{317, 2}, {103, 79}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_fish0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {97, 77}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{103, 79}</string>
			<key>spriteSourceSize</key>
			<string>{103, 79}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 245}, {103, 79}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_fish0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {97, 77}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{103, 79}</string>
			<key>spriteSourceSize</key>
			<string>{103, 79}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 326}, {103, 79}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_fish0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {101, 77}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{103, 79}</string>
			<key>spriteSourceSize</key>
			<string>{103, 79}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{107, 245}, {103, 79}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_fish0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {99, 77}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{103, 79}</string>
			<key>spriteSourceSize</key>
			<string>{103, 79}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 83}, {103, 79}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_fish0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {97, 77}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{103, 79}</string>
			<key>spriteSourceSize</key>
			<string>{103, 79}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{107, 164}, {103, 79}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_fish0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {97, 77}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{103, 79}</string>
			<key>spriteSourceSize</key>
			<string>{103, 79}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 164}, {103, 79}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_fish0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {97, 77}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{103, 79}</string>
			<key>spriteSourceSize</key>
			<string>{103, 79}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{107, 326}, {103, 79}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{512, 512}</string>
	</dict>
</dict>
</plist>