<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch20_LJS_talk0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {47, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{47, 48}</string>
			<key>spriteSourceSize</key>
			<string>{47, 48}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{100, 52}, {47, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch20_LJS_talk0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {47, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{47, 48}</string>
			<key>spriteSourceSize</key>
			<string>{47, 48}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{149, 2}, {47, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch20_LJS_talk0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {47, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{47, 48}</string>
			<key>spriteSourceSize</key>
			<string>{47, 48}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{51, 52}, {47, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch20_LJS_talk0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {47, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{47, 48}</string>
			<key>spriteSourceSize</key>
			<string>{47, 48}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 52}, {47, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch20_LJS_talk0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {47, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{47, 48}</string>
			<key>spriteSourceSize</key>
			<string>{47, 48}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{100, 2}, {47, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch20_LJS_talk0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {47, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{47, 48}</string>
			<key>spriteSourceSize</key>
			<string>{47, 48}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{51, 2}, {47, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch20_LJS_talk0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {47, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{47, 48}</string>
			<key>spriteSourceSize</key>
			<string>{47, 48}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {47, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{256, 128}</string>
	</dict>
</dict>
</plist>