<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch25_sail_flutter0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{59, 7}, {101, 93}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{197, 107}</string>
			<key>spriteSourceSize</key>
			<string>{197, 107}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{201, 2}, {197, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch25_sail_flutter0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{68, 7}, {83, 93}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{197, 107}</string>
			<key>spriteSourceSize</key>
			<string>{197, 107}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{400, 2}, {197, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch25_sail_flutter0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{75, 7}, {67, 93}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{197, 107}</string>
			<key>spriteSourceSize</key>
			<string>{197, 107}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{201, 111}, {197, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch25_sail_flutter0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{69, 7}, {67, 93}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{197, 107}</string>
			<key>spriteSourceSize</key>
			<string>{197, 107}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{599, 2}, {197, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch25_sail_flutter0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{57, 7}, {79, 93}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{197, 107}</string>
			<key>spriteSourceSize</key>
			<string>{197, 107}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {197, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch25_sail_flutter0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{57, 7}, {75, 93}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{197, 107}</string>
			<key>spriteSourceSize</key>
			<string>{197, 107}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{798, 2}, {197, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch25_sail_flutter0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{68, 7}, {67, 93}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{197, 107}</string>
			<key>spriteSourceSize</key>
			<string>{197, 107}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 111}, {197, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch25_sail_flutter0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{79, 7}, {65, 93}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{197, 107}</string>
			<key>spriteSourceSize</key>
			<string>{197, 107}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{599, 111}, {197, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch25_sail_flutter0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{70, 7}, {83, 93}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{197, 107}</string>
			<key>spriteSourceSize</key>
			<string>{197, 107}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{400, 111}, {197, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{1024, 256}</string>
	</dict>
</dict>
</plist>