<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch21_pirate_landing0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 20}, {344, 220}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 240}</string>
			<key>spriteSourceSize</key>
			<string>{350, 240}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1410, 486}, {350, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_pirate_landing0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 20}, {344, 220}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 240}</string>
			<key>spriteSourceSize</key>
			<string>{350, 240}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1058, 2}, {350, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_pirate_landing0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 22}, {342, 218}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 240}</string>
			<key>spriteSourceSize</key>
			<string>{350, 240}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{706, 1454}, {350, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_pirate_landing0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 24}, {342, 216}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 240}</string>
			<key>spriteSourceSize</key>
			<string>{350, 240}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1058, 1212}, {350, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_pirate_landing0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 26}, {340, 214}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 240}</string>
			<key>spriteSourceSize</key>
			<string>{350, 240}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 486}, {350, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_pirate_landing0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{12, 28}, {338, 212}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 240}</string>
			<key>spriteSourceSize</key>
			<string>{350, 240}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1410, 2}, {350, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_pirate_landing0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{12, 28}, {338, 212}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 240}</string>
			<key>spriteSourceSize</key>
			<string>{350, 240}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{706, 728}, {350, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_pirate_landing0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{14, 30}, {336, 210}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 240}</string>
			<key>spriteSourceSize</key>
			<string>{350, 240}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{706, 244}, {350, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_pirate_landing0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{14, 32}, {336, 208}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 240}</string>
			<key>spriteSourceSize</key>
			<string>{350, 240}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{354, 244}, {350, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_pirate_landing0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 34}, {334, 206}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 240}</string>
			<key>spriteSourceSize</key>
			<string>{350, 240}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1410, 1696}, {350, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_pirate_landing0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 34}, {334, 206}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 240}</string>
			<key>spriteSourceSize</key>
			<string>{350, 240}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{354, 1696}, {350, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_pirate_landing0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{18, 36}, {332, 204}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 240}</string>
			<key>spriteSourceSize</key>
			<string>{350, 240}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1410, 1212}, {350, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_pirate_landing0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{20, 38}, {330, 202}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 240}</string>
			<key>spriteSourceSize</key>
			<string>{350, 240}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 728}, {350, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_pirate_landing0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{20, 40}, {330, 200}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 240}</string>
			<key>spriteSourceSize</key>
			<string>{350, 240}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1410, 970}, {350, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_pirate_landing0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{22, 42}, {328, 198}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 240}</string>
			<key>spriteSourceSize</key>
			<string>{350, 240}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1058, 244}, {350, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_pirate_landing0016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{22, 42}, {328, 198}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 240}</string>
			<key>spriteSourceSize</key>
			<string>{350, 240}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{706, 1696}, {350, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_pirate_landing0017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{24, 44}, {326, 196}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 240}</string>
			<key>spriteSourceSize</key>
			<string>{350, 240}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{354, 1454}, {350, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_pirate_landing0018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{26, 46}, {324, 194}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 240}</string>
			<key>spriteSourceSize</key>
			<string>{350, 240}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 1212}, {350, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_pirate_landing0019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{26, 48}, {324, 192}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 240}</string>
			<key>spriteSourceSize</key>
			<string>{350, 240}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 1454}, {350, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_pirate_landing0020.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{28, 50}, {322, 190}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 240}</string>
			<key>spriteSourceSize</key>
			<string>{350, 240}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{706, 970}, {350, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_pirate_landing0021.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{28, 50}, {322, 190}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 240}</string>
			<key>spriteSourceSize</key>
			<string>{350, 240}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{354, 1212}, {350, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_pirate_landing0022.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{28, 50}, {322, 190}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 240}</string>
			<key>spriteSourceSize</key>
			<string>{350, 240}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{354, 486}, {350, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_pirate_landing0023.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{28, 50}, {322, 190}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 240}</string>
			<key>spriteSourceSize</key>
			<string>{350, 240}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{354, 728}, {350, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_pirate_landing0024.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{30, 52}, {320, 188}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 240}</string>
			<key>spriteSourceSize</key>
			<string>{350, 240}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1410, 728}, {350, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_pirate_landing0025.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{30, 52}, {320, 188}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 240}</string>
			<key>spriteSourceSize</key>
			<string>{350, 240}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1058, 728}, {350, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_pirate_landing0026.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{30, 52}, {320, 188}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 240}</string>
			<key>spriteSourceSize</key>
			<string>{350, 240}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1410, 1454}, {350, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_pirate_landing0027.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{30, 54}, {320, 186}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 240}</string>
			<key>spriteSourceSize</key>
			<string>{350, 240}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 244}, {350, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_pirate_landing0028.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{32, 54}, {318, 186}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 240}</string>
			<key>spriteSourceSize</key>
			<string>{350, 240}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1410, 244}, {350, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_pirate_landing0029.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{30, 54}, {320, 186}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 240}</string>
			<key>spriteSourceSize</key>
			<string>{350, 240}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1058, 970}, {350, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_pirate_landing0030.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{30, 52}, {320, 188}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 240}</string>
			<key>spriteSourceSize</key>
			<string>{350, 240}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1058, 486}, {350, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_pirate_landing0031.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{30, 52}, {320, 188}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 240}</string>
			<key>spriteSourceSize</key>
			<string>{350, 240}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1058, 1454}, {350, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_pirate_landing0032.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{30, 52}, {320, 188}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 240}</string>
			<key>spriteSourceSize</key>
			<string>{350, 240}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{706, 2}, {350, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_pirate_landing0033.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{28, 50}, {322, 190}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 240}</string>
			<key>spriteSourceSize</key>
			<string>{350, 240}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1058, 1696}, {350, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_pirate_landing0034.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{28, 50}, {322, 190}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 240}</string>
			<key>spriteSourceSize</key>
			<string>{350, 240}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{354, 2}, {350, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_pirate_landing0035.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{28, 50}, {322, 190}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 240}</string>
			<key>spriteSourceSize</key>
			<string>{350, 240}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{706, 1212}, {350, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_pirate_landing0036.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{28, 50}, {322, 190}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 240}</string>
			<key>spriteSourceSize</key>
			<string>{350, 240}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {350, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_pirate_landing0037.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{28, 50}, {322, 190}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 240}</string>
			<key>spriteSourceSize</key>
			<string>{350, 240}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 970}, {350, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_pirate_landing0038.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{28, 50}, {322, 190}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 240}</string>
			<key>spriteSourceSize</key>
			<string>{350, 240}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{706, 486}, {350, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_pirate_landing0039.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{28, 50}, {322, 190}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 240}</string>
			<key>spriteSourceSize</key>
			<string>{350, 240}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{354, 970}, {350, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch21_pirate_landing0040.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{28, 50}, {322, 190}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 240}</string>
			<key>spriteSourceSize</key>
			<string>{350, 240}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 1696}, {350, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{2048, 2048}</string>
	</dict>
</dict>
</plist>