<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch15_spearhead_shine0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{50, 44}</string>
			<key>spriteSourceSize</key>
			<string>{50, 44}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{106, 2}, {50, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_spearhead_shine0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{50, 44}</string>
			<key>spriteSourceSize</key>
			<string>{50, 44}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{314, 2}, {50, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_spearhead_shine0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{50, 44}</string>
			<key>spriteSourceSize</key>
			<string>{50, 44}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{418, 2}, {50, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_spearhead_shine0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{50, 44}</string>
			<key>spriteSourceSize</key>
			<string>{50, 44}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{54, 48}, {50, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_spearhead_shine0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{50, 44}</string>
			<key>spriteSourceSize</key>
			<string>{50, 44}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{210, 2}, {50, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_spearhead_shine0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{50, 44}</string>
			<key>spriteSourceSize</key>
			<string>{50, 44}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{158, 2}, {50, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_spearhead_shine0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{50, 44}</string>
			<key>spriteSourceSize</key>
			<string>{50, 44}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{106, 48}, {50, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_spearhead_shine0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{50, 44}</string>
			<key>spriteSourceSize</key>
			<string>{50, 44}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{366, 2}, {50, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_spearhead_shine0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{50, 44}</string>
			<key>spriteSourceSize</key>
			<string>{50, 44}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{262, 2}, {50, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_spearhead_shine0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{50, 44}</string>
			<key>spriteSourceSize</key>
			<string>{50, 44}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 48}, {50, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_spearhead_shine0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{50, 44}</string>
			<key>spriteSourceSize</key>
			<string>{50, 44}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{54, 2}, {50, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch15_spearhead_shine0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{50, 44}</string>
			<key>spriteSourceSize</key>
			<string>{50, 44}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {50, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{512, 128}</string>
	</dict>
</dict>
</plist>