<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch8_man_under_sign_out0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {85, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{85, 130}</string>
			<key>spriteSourceSize</key>
			<string>{85, 130}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {85, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_man_under_sign_out0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {85, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{85, 130}</string>
			<key>spriteSourceSize</key>
			<string>{85, 130}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 134}, {85, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_man_under_sign_out0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {85, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{85, 130}</string>
			<key>spriteSourceSize</key>
			<string>{85, 130}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 266}, {85, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_man_under_sign_out0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {85, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{85, 130}</string>
			<key>spriteSourceSize</key>
			<string>{85, 130}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{89, 2}, {85, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_man_under_sign_out0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {85, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{85, 130}</string>
			<key>spriteSourceSize</key>
			<string>{85, 130}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{89, 134}, {85, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_man_under_sign_out0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {85, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{85, 130}</string>
			<key>spriteSourceSize</key>
			<string>{85, 130}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{89, 266}, {85, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch8_man_under_sign_out0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {85, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{85, 130}</string>
			<key>spriteSourceSize</key>
			<string>{85, 130}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{176, 2}, {85, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{512, 512}</string>
	</dict>
</dict>
</plist>