<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pages</key>
	<array>
		<dict>
			<key>elements</key>
			<array>
				<dict>
					<key>propertyList</key>
					<array>
						<dict>
							<key>curve</key>
							<string></string>
							<key>duration</key>
							<integer>1</integer>
							<key>endValues</key>
							<array>
								<integer>0</integer>
								<integer>140</integer>
							</array>
							<key>repeatType</key>
							<string></string>
							<key>startPos</key>
							<array>
								<integer>724</integer>
								<integer>140</integer>
							</array>
							<key>trigger</key>
							<dict>
								<key>type</key>
								<string>TILT</string>
								<key>visible</key>
								<true/>
							</dict>
							<key>type</key>
							<string>POS</string>
						</dict>
					</array>
					<key>resource</key>
					<string>cloud1.png</string>
					<key>type</key>
					<string>ANIMATION</string>
				</dict>
				<dict>
					<key>propertyList</key>
					<array>
						<dict>
							<key>curve</key>
							<string></string>
							<key>duration</key>
							<integer>1</integer>
							<key>endValues</key>
							<array>
								<integer>0</integer>
								<integer>156</integer>
							</array>
							<key>repeatType</key>
							<string></string>
							<key>startPos</key>
							<array>
								<integer>510</integer>
								<integer>156</integer>
							</array>
							<key>trigger</key>
							<dict>
								<key>type</key>
								<string>TILT</string>
								<key>visible</key>
								<true/>
							</dict>
							<key>type</key>
							<string>POS</string>
						</dict>
					</array>
					<key>resource</key>
					<string>cloud2.png</string>
					<key>type</key>
					<string>ANIMATION</string>
				</dict>
				<dict>
					<key>propertyList</key>
					<array>
						<dict>
							<key>curve</key>
							<string></string>
							<key>duration</key>
							<integer>1</integer>
							<key>endValues</key>
							<array>
								<integer>624</integer>
								<integer>270</integer>
							</array>
							<key>repeatType</key>
							<string></string>
							<key>startPos</key>
							<array>
								<integer>824</integer>
								<integer>270</integer>
							</array>
							<key>trigger</key>
							<dict>
								<key>type</key>
								<string>TILT</string>
								<key>visible</key>
								<true/>
							</dict>
							<key>type</key>
							<string>POS</string>
						</dict>
					</array>
					<key>resource</key>
					<string>cloud3.png</string>
					<key>type</key>
					<string>ANIMATION</string>
				</dict>
				<dict>
					<key>propertyList</key>
					<array>
						<dict>
							<key>curve</key>
							<string></string>
							<key>duration</key>
							<real>0.7</real>
							<key>endValues</key>
							<array>
								<integer>0</integer>
								<integer>20</integer>
							</array>
							<key>repeatType</key>
							<string></string>
							<key>startPos</key>
							<array>
								<integer>264</integer>
								<integer>20</integer>
							</array>
							<key>trigger</key>
							<dict>
								<key>type</key>
								<string>TILT</string>
								<key>visible</key>
								<true/>
							</dict>
							<key>type</key>
							<string>POS</string>
						</dict>
					</array>
					<key>resource</key>
					<string>cloud4.png</string>
					<key>type</key>
					<string>ANIMATION</string>
				</dict>
				<dict>
					<key>propertyList</key>
					<array>
						<dict>
							<key>curve</key>
							<string></string>
							<key>duration</key>
							<real>0.5</real>
							<key>endValues</key>
							<array>
								<integer>0</integer>
								<integer>20</integer>
							</array>
							<key>repeatType</key>
							<string></string>
							<key>startPos</key>
							<array>
								<integer>624</integer>
								<integer>20</integer>
							</array>
							<key>trigger</key>
							<dict>
								<key>type</key>
								<string>TILT</string>
								<key>visible</key>
								<true/>
							</dict>
							<key>type</key>
							<string>POS</string>
						</dict>
					</array>
					<key>resource</key>
					<string>cloud5.png</string>
					<key>type</key>
					<string>ANIMATION</string>
				</dict>
				<dict>
					<key>propertyList</key>
					<array>
						<dict>
							<key>startPos</key>
							<array>
								<integer>25</integer>
								<integer>22</integer>
							</array>
							<key>type</key>
							<string>STATIC</string>
						</dict>
					</array>
					<key>resource</key>
					<string>tree_pirate_hat.png</string>
					<key>type</key>
					<string>STATIC</string>
				</dict>
				<dict>
					<key>propertyList</key>
					<array>
						<dict>
							<key>duration</key>
							<integer>6</integer>
							<key>endValue</key>
							<real>0</real>
							<key>startPos</key>
							<array>
								<integer>700</integer>
								<integer>200</integer>
							</array>
							<key>trigger</key>
							<dict>
								<key>type</key>
								<string>VISIBLE</string>
								<key>visible</key>
								<true/>
							</dict>
							<key>type</key>
							<string>ALPHA</string>
						</dict>
					</array>
					<key>resource</key>
					<string>part01_title.png</string>
					<key>type</key>
					<string>ANIMATION</string>
				</dict>
			</array>
			<key>page</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>elements</key>
			<array>
				<dict>
					<key>propertyList</key>
					<array>
						<dict>
							<key>curve</key>
							<string>EASEIN</string>
							<key>duration</key>
							<integer>1</integer>
							<key>endValues</key>
							<array>
								<integer>250</integer>
								<integer>640</integer>
							</array>
							<key>repeatType</key>
							<string></string>
							<key>startPos</key>
							<array>
								<integer>335</integer>
								<integer>156</integer>
							</array>
							<key>trigger</key>
							<dict>
								<key>regions</key>
								<array>
									<array>
										<integer>320</integer>
										<integer>0</integer>
										<integer>580</integer>
										<integer>200</integer>
									</array>
								</array>
								<key>type</key>
								<string>TOUCH</string>
								<key>visible</key>
								<true/>
							</dict>
							<key>type</key>
							<string>POS</string>
						</dict>
					</array>
					<key>resource</key>
					<string>leaf1.png</string>
					<key>type</key>
					<string>ANIMATION</string>
				</dict>
				<dict>
					<key>propertyList</key>
					<array>
						<dict>
							<key>curve</key>
							<string>EASEIN</string>
							<key>duration</key>
							<integer>1</integer>
							<key>endValues</key>
							<array>
								<integer>325</integer>
								<integer>640</integer>
							</array>
							<key>repeatType</key>
							<string></string>
							<key>startPos</key>
							<array>
								<integer>330</integer>
								<integer>156</integer>
							</array>
							<key>trigger</key>
							<dict>
								<key>regions</key>
								<array>
									<array>
										<integer>320</integer>
										<integer>0</integer>
										<integer>580</integer>
										<integer>200</integer>
									</array>
								</array>
								<key>type</key>
								<string>TOUCH</string>
								<key>visible</key>
								<true/>
							</dict>
							<key>type</key>
							<string>POS</string>
						</dict>
					</array>
					<key>resource</key>
					<string>leaf2.png</string>
					<key>type</key>
					<string>STATIC</string>
				</dict>
				<dict>
					<key>propertyList</key>
					<array>
						<dict>
							<key>curve</key>
							<string>EASEIN</string>
							<key>duration</key>
							<integer>1</integer>
							<key>endValues</key>
							<array>
								<integer>270</integer>
								<integer>640</integer>
							</array>
							<key>repeatType</key>
							<string></string>
							<key>startPos</key>
							<array>
								<integer>330</integer>
								<integer>161</integer>
							</array>
							<key>trigger</key>
							<dict>
								<key>regions</key>
								<array>
									<array>
										<integer>320</integer>
										<integer>0</integer>
										<integer>580</integer>
										<integer>200</integer>
									</array>
								</array>
								<key>type</key>
								<string>TOUCH</string>
								<key>visible</key>
								<true/>
							</dict>
							<key>type</key>
							<string>POS</string>
						</dict>
					</array>
					<key>resource</key>
					<string>leaf3.png</string>
					<key>type</key>
					<string>STATIC</string>
				</dict>
				<dict>
					<key>propertyList</key>
					<array>
						<dict>
							<key>curve</key>
							<string>EASEIN</string>
							<key>duration</key>
							<integer>1</integer>
							<key>endValues</key>
							<array>
								<integer>280</integer>
								<integer>640</integer>
							</array>
							<key>repeatType</key>
							<string></string>
							<key>startPos</key>
							<array>
								<integer>340</integer>
								<integer>161</integer>
							</array>
							<key>trigger</key>
							<dict>
								<key>regions</key>
								<array>
									<array>
										<integer>320</integer>
										<integer>0</integer>
										<integer>580</integer>
										<integer>200</integer>
									</array>
								</array>
								<key>type</key>
								<string>TOUCH</string>
								<key>visible</key>
								<true/>
							</dict>
							<key>type</key>
							<string>POS</string>
						</dict>
					</array>
					<key>resource</key>
					<string>leaf4.png</string>
					<key>type</key>
					<string>STATIC</string>
				</dict>
				<dict>
					<key>propertyList</key>
					<array>
						<dict>
							<key>curve</key>
							<string>EASEIN</string>
							<key>duration</key>
							<integer>1</integer>
							<key>endValues</key>
							<array>
								<integer>290</integer>
								<integer>640</integer>
							</array>
							<key>repeatType</key>
							<string></string>
							<key>startPos</key>
							<array>
								<integer>345</integer>
								<integer>161</integer>
							</array>
							<key>trigger</key>
							<dict>
								<key>regions</key>
								<array>
									<array>
										<integer>320</integer>
										<integer>0</integer>
										<integer>580</integer>
										<integer>200</integer>
									</array>
								</array>
								<key>type</key>
								<string>TOUCH</string>
								<key>visible</key>
								<true/>
							</dict>
							<key>type</key>
							<string>POS</string>
						</dict>
					</array>
					<key>resource</key>
					<string>leaf5.png</string>
					<key>type</key>
					<string>STATIC</string>
				</dict>
				<dict>
					<key>propertyList</key>
					<array>
						<dict>
							<key>curve</key>
							<string>EASEIN</string>
							<key>duration</key>
							<integer>1</integer>
							<key>endValues</key>
							<array>
								<integer>300</integer>
								<integer>640</integer>
							</array>
							<key>repeatType</key>
							<string></string>
							<key>startPos</key>
							<array>
								<integer>350</integer>
								<integer>156</integer>
							</array>
							<key>trigger</key>
							<dict>
								<key>regions</key>
								<array>
									<array>
										<integer>320</integer>
										<integer>0</integer>
										<integer>580</integer>
										<integer>200</integer>
									</array>
								</array>
								<key>type</key>
								<string>TOUCH</string>
								<key>visible</key>
								<true/>
							</dict>
							<key>type</key>
							<string>POS</string>
						</dict>
					</array>
					<key>resource</key>
					<string>leaf6.png</string>
					<key>type</key>
					<string>STATIC</string>
				</dict>
				<dict>
					<key>propertyList</key>
					<array>
						<dict>
							<key>curve</key>
							<string>EASEIN</string>
							<key>duration</key>
							<integer>1</integer>
							<key>endValues</key>
							<array>
								<integer>310</integer>
								<integer>640</integer>
							</array>
							<key>repeatType</key>
							<string></string>
							<key>startPos</key>
							<array>
								<integer>340</integer>
								<integer>156</integer>
							</array>
							<key>trigger</key>
							<dict>
								<key>regions</key>
								<array>
									<array>
										<integer>320</integer>
										<integer>0</integer>
										<integer>580</integer>
										<integer>200</integer>
									</array>
								</array>
								<key>type</key>
								<string>TOUCH</string>
								<key>visible</key>
								<true/>
							</dict>
							<key>type</key>
							<string>POS</string>
						</dict>
					</array>
					<key>resource</key>
					<string>leaf7.png</string>
					<key>type</key>
					<string>STATIC</string>
				</dict>
				<dict>
					<key>propertyList</key>
					<array>
						<dict>
							<key>curve</key>
							<string>EASEIN</string>
							<key>duration</key>
							<integer>1</integer>
							<key>endValues</key>
							<array>
								<integer>320</integer>
								<integer>640</integer>
							</array>
							<key>repeatType</key>
							<string></string>
							<key>startPos</key>
							<array>
								<integer>335</integer>
								<integer>146</integer>
							</array>
							<key>trigger</key>
							<dict>
								<key>regions</key>
								<array>
									<array>
										<integer>320</integer>
										<integer>0</integer>
										<integer>580</integer>
										<integer>200</integer>
									</array>
								</array>
								<key>type</key>
								<string>TOUCH</string>
								<key>visible</key>
								<true/>
							</dict>
							<key>type</key>
							<string>POS</string>
						</dict>
					</array>
					<key>resource</key>
					<string>leaf8.png</string>
					<key>type</key>
					<string>STATIC</string>
				</dict>
				<dict>
					<key>propertyList</key>
					<array>
						<dict>
							<key>curve</key>
							<string>EASEIN</string>
							<key>duration</key>
							<integer>1</integer>
							<key>endValues</key>
							<array>
								<integer>330</integer>
								<integer>640</integer>
							</array>
							<key>repeatType</key>
							<string></string>
							<key>startPos</key>
							<array>
								<integer>335</integer>
								<integer>146</integer>
							</array>
							<key>trigger</key>
							<dict>
								<key>regions</key>
								<array>
									<array>
										<integer>320</integer>
										<integer>0</integer>
										<integer>580</integer>
										<integer>200</integer>
									</array>
								</array>
								<key>type</key>
								<string>TOUCH</string>
								<key>visible</key>
								<true/>
							</dict>
							<key>type</key>
							<string>POS</string>
						</dict>
					</array>
					<key>resource</key>
					<string>leaf9.png</string>
					<key>type</key>
					<string>STATIC</string>
				</dict>
				<dict>
					<key>propertyList</key>
					<array>
						<dict>
							<key>startPos</key>
							<array>
								<integer>203</integer>
								<integer>559</integer>
							</array>
							<key>type</key>
							<string>STATIC</string>
						</dict>
					</array>
					<key>resource</key>
					<string>chicken.png</string>
					<key>type</key>
					<string>STATIC</string>
				</dict>
			</array>
			<key>page</key>
			<integer>1</integer>
		</dict>
	</array>
</dict>
</plist>
