<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pages</key>
	<array>
		<dict>
			<key>page</key>
			<integer>0</integer>
			<key>elements</key>
			<array>
				<dict>
					<key>description</key>
					<string>Pistol</string>
					<key>id</key>
					<string>pistol</string>
					<key>customClass</key>
					<string>ATextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>Pistol_0</string>
					<key>frame</key>
					<array>
						<integer>255</integer>
						<integer>124</integer>
						<integer>120</integer>
						<integer>50</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>telescope header</string>
							<key>imageIndices</key>
							<string>{1,19}</string>
							<key>duration</key>
							<integer>2</integer>
							<key>repeatType</key>
							<string>CONTINUOUS_WITH_DELAY</string>
							<key>repeatDelay</key>
							<real>2.4</real>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>page</key>
			<integer>1</integer>
			<key>elements</key>
			<array>
				<dict>
					<key>trigger</key>
					<dict>
						<key>allowsConcurrentTrigger</key>
						<true/>
						<key>type</key>
						<string>TOUCH</string>
						<key>regions</key>
						<array>
							<array>
								<integer>113</integer>
								<integer>291</integer>
								<integer>185</integer>
								<integer>120</integer>
							</array>
						</array>
					</dict>
					<key>description</key>
					<string>The middle sail on the aft-most mast.</string>
					<key>id</key>
					<string>center_rear_sail</string>
					<key>customClass</key>
					<string>ATriggeredTextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch9_ship_sails_center_rear</string>
					<key>frame</key>
					<array>
						<integer>113</integer>
						<integer>291</integer>
						<integer>185</integer>
						<integer>120</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>The initial view of the sail, i.e. before the hook is moved.</string>
							<key>imageIndices</key>
							<string>{1,1}</string>
						</dict>
						<dict>
							<key>soundEffect</key>
							<dict>
								<key>description</key>
								<string>Sound of the ship&apos;s sails unfurling.</string>
								<key>id</key>
								<string>unfurling_sails</string>
								<key>resource</key>
								<string>Chap9_SailDrop.m4a</string>
								<key>customClass</key>
								<string>ASoundEffect</string>
								<key>numLoops</key>
								<integer>-1</integer>
							</dict>
							<key>isToggle</key>
							<true/>
							<key>description</key>
							<string>The animation of the sail unfurling.</string>
							<key>imageIndices</key>
							<string>{1,11}</string>
							<key>duration</key>
							<real>1.1</real>
							<key>transitionsFrom</key>
							<array>
								<string>{1,1}</string>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>trigger</key>
					<dict>
						<key>allowsConcurrentTrigger</key>
						<true/>
						<key>type</key>
						<string>TOUCH</string>
						<key>regions</key>
						<array>
							<array>
								<integer>120</integer>
								<integer>197</integer>
								<integer>165</integer>
								<integer>100</integer>
							</array>
						</array>
					</dict>
					<key>description</key>
					<string>The top sail on the aft-most mast.</string>
					<key>id</key>
					<string>top_rear_sail</string>
					<key>customClass</key>
					<string>ATriggeredTextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch9_ship_sails_top_rear</string>
					<key>frame</key>
					<array>
						<integer>120</integer>
						<integer>197</integer>
						<integer>165</integer>
						<integer>100</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>The initial view of the sail, i.e. before the hook is moved.</string>
							<key>imageIndices</key>
							<string>{1,1}</string>
						</dict>
						<dict>
							<key>soundEffect</key>
							<dict>
								<key>description</key>
								<string>Sound of the ship&apos;s sails unfurling.</string>
								<key>id</key>
								<string>unfurling_sails</string>
								<key>resource</key>
								<string>Chap9_SailDrop.m4a</string>
								<key>customClass</key>
								<string>ASoundEffect</string>
								<key>numLoops</key>
								<integer>-1</integer>
							</dict>
							<key>isToggle</key>
							<true/>
							<key>description</key>
							<string>The top rear sail unfurling.</string>
							<key>imageIndices</key>
							<string>{1,11}</string>
							<key>duration</key>
							<real>1.1</real>
							<key>transitionsFrom</key>
							<array>
								<string>{1,1}</string>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>type</key>
					<string>STATICIMAGE</string>
					<key>id</key>
					<string>middlemast</string>
					<key>resource</key>
					<string>chapter9_MiddleMast.png</string>
					<key>customClass</key>
					<string>AStaticImage</string>
					<key>frame</key>
					<array>
						<integer>74</integer>
						<integer>19</integer>
						<integer>411</integer>
						<integer>431</integer>
					</array>
				</dict>
				<dict>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>The initial view of the sail, i.e. before the hook is moved.</string>
							<key>imageIndices</key>
							<string>{1,1}</string>
						</dict>
						<dict>
							<key>soundEffect</key>
							<dict>
								<key>description</key>
								<string>Sound of the ship&apos;s sails unfurling.</string>
								<key>id</key>
								<string>unfurling_sails</string>
								<key>resource</key>
								<string>Chap9_SailDrop.m4a</string>
								<key>customClass</key>
								<string>ASoundEffect</string>
								<key>numLoops</key>
								<integer>-1</integer>
							</dict>
							<key>isToggle</key>
							<true/>
							<key>description</key>
							<string>The animation of the sail unfurling.</string>
							<key>imageIndices</key>
							<string>{1,11}</string>
							<key>duration</key>
							<real>1.1</real>
							<key>transitionsFrom</key>
							<array>
								<string>{1,1}</string>
							</array>
						</dict>
					</array>
					<key>frame</key>
					<array>
						<integer>133</integer>
						<integer>69</integer>
						<integer>295</integer>
						<integer>155</integer>
					</array>
					<key>description</key>
					<string>The top sail on the center mast.</string>
					<key>id</key>
					<string>candles</string>
					<key>customClass</key>
					<string>ATriggeredTextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch9_ship_sails_top_middle</string>
					<key>trigger</key>
					<dict>
						<key>allowsConcurrentTrigger</key>
						<true/>
						<key>type</key>
						<string>TOUCH</string>
						<key>regions</key>
						<array>
							<array>
								<integer>150</integer>
								<integer>69</integer>
								<integer>250</integer>
								<integer>100</integer>
							</array>
						</array>
					</dict>
				</dict>
				<dict>
					<key>trigger</key>
					<dict>
						<key>allowsConcurrentTrigger</key>
						<true/>
						<key>type</key>
						<string>TOUCH</string>
						<key>regions</key>
						<array>
							<array>
								<integer>110</integer>
								<integer>215</integer>
								<integer>335</integer>
								<integer>100</integer>
							</array>
						</array>
					</dict>
					<key>description</key>
					<string>The middle sail on the center mast.</string>
					<key>id</key>
					<string>center_middle_sail</string>
					<key>customClass</key>
					<string>ATriggeredTextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch9_ship_sails_center_middle</string>
					<key>frame</key>
					<array>
						<integer>86</integer>
						<integer>215</integer>
						<integer>385</integer>
						<integer>160</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>The initial view of the sail, i.e. before the hook is moved.</string>
							<key>imageIndices</key>
							<string>{1,1}</string>
						</dict>
						<dict>
							<key>soundEffect</key>
							<dict>
								<key>description</key>
								<string>Sound of the ship&apos;s sails unfurling.</string>
								<key>id</key>
								<string>unfurling_sails</string>
								<key>resource</key>
								<string>Chap9_SailDrop.m4a</string>
								<key>customClass</key>
								<string>ASoundEffect</string>
								<key>numLoops</key>
								<integer>-1</integer>
							</dict>
							<key>isToggle</key>
							<true/>
							<key>description</key>
							<string>The animation of the sail unfurling.</string>
							<key>imageIndices</key>
							<string>{1,11}</string>
							<key>duration</key>
							<real>1.1</real>
							<key>transitionsFrom</key>
							<array>
								<string>{1,1}</string>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>type</key>
					<string>STATICIMAGE</string>
					<key>id</key>
					<string>frontmast</string>
					<key>resource</key>
					<string>chapter9_FrontMast.png</string>
					<key>customClass</key>
					<string>AStaticImage</string>
					<key>frame</key>
					<array>
						<integer>283</integer>
						<integer>21</integer>
						<integer>368</integer>
						<integer>453</integer>
					</array>
				</dict>
				<dict>
					<key>trigger</key>
					<dict>
						<key>allowsConcurrentTrigger</key>
						<true/>
						<key>type</key>
						<string>TOUCH</string>
						<key>regions</key>
						<array>
							<array>
								<integer>314</integer>
								<integer>259</integer>
								<integer>320</integer>
								<integer>165</integer>
							</array>
						</array>
					</dict>
					<key>description</key>
					<string>The middle sail on the front mast.</string>
					<key>id</key>
					<string>center_front_sail</string>
					<key>customClass</key>
					<string>ATriggeredTextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch9_ship_sails_center_front</string>
					<key>frame</key>
					<array>
						<integer>314</integer>
						<integer>259</integer>
						<integer>320</integer>
						<integer>165</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>The initial view of the sail, i.e. before the hook is moved.</string>
							<key>imageIndices</key>
							<string>{1,1}</string>
						</dict>
						<dict>
							<key>isToggle</key>
							<true/>
							<key>soundEffect</key>
							<dict>
								<key>description</key>
								<string>Sound of the ship&apos;s sails unfurling.</string>
								<key>id</key>
								<string>unfurling_sails</string>
								<key>resource</key>
								<string>Chap9_SailDrop.m4a</string>
								<key>customClass</key>
								<string>ASoundEffect</string>
								<key>numLoops</key>
								<integer>-1</integer>
							</dict>
							<key>description</key>
							<string>The animation of the sail unfurling.</string>
							<key>imageIndices</key>
							<string>{1,11}</string>
							<key>duration</key>
							<real>1.1</real>
							<key>transitionsFrom</key>
							<array>
								<string>{1,1}</string>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>trigger</key>
					<dict>
						<key>allowsConcurrentTrigger</key>
						<true/>
						<key>type</key>
						<string>TOUCH</string>
						<key>regions</key>
						<array>
							<array>
								<integer>370</integer>
								<integer>136</integer>
								<integer>210</integer>
								<integer>135</integer>
							</array>
						</array>
					</dict>
					<key>description</key>
					<string>The top sail on the front mast.</string>
					<key>id</key>
					<string>top_front_sail</string>
					<key>customClass</key>
					<string>ATriggeredTextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch9_ship_sails_top_front</string>
					<key>frame</key>
					<array>
						<integer>347</integer>
						<integer>136</integer>
						<integer>255</integer>
						<integer>135</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>The initial view of the sail, i.e. before the hook is moved.</string>
							<key>imageIndices</key>
							<string>{1,1}</string>
						</dict>
						<dict>
							<key>soundEffect</key>
							<dict>
								<key>description</key>
								<string>Sound of the ship&apos;s sails unfurling.</string>
								<key>id</key>
								<string>unfurling_sails</string>
								<key>resource</key>
								<string>Chap9_SailDrop.m4a</string>
								<key>customClass</key>
								<string>ASoundEffect</string>
								<key>numLoops</key>
								<integer>-1</integer>
							</dict>
							<key>isToggle</key>
							<true/>
							<key>description</key>
							<string>The animation of the sail unfurling.</string>
							<key>imageIndices</key>
							<string>{1,11}</string>
							<key>duration</key>
							<real>1.1</real>
							<key>transitionsFrom</key>
							<array>
								<string>{1,1}</string>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>description</key>
					<string>Ambient sound of dockside activities</string>
					<key>id</key>
					<string>dockside_sounds</string>
					<key>resource</key>
					<string>Chap9_AMB.m4a</string>
					<key>customClass</key>
					<string>AAmbientSound</string>
					<key>numLoops</key>
					<integer>-1</integer>
				</dict>
				<dict>
					<key>description</key>
					<string>The left-most sun ray, alternating in opacity behind the ship.</string>
					<key>id</key>
					<string>left_sunray</string>
					<key>customClass</key>
					<string>ASimplePropertyAnimation</string>
					<key>resource</key>
					<string>ray1.png</string>
					<key>frame</key>
					<array>
						<integer>520</integer>
						<integer>90</integer>
						<integer>201</integer>
						<integer>300</integer>
					</array>
					<key>keyPath</key>
					<string>opacity</string>
					<key>repeatType</key>
					<string>CONTINUOUS</string>
					<key>fromValue</key>
					<integer>1</integer>
					<key>toValue</key>
					<real>0.3</real>
					<key>duration</key>
					<real>1.5</real>
				</dict>
				<dict>
					<key>description</key>
					<string>The right-most sun ray, alternating in opacity behind the ship.</string>
					<key>id</key>
					<string>right_sunray</string>
					<key>customClass</key>
					<string>ASimplePropertyAnimation</string>
					<key>resource</key>
					<string>ray2.png</string>
					<key>frame</key>
					<array>
						<integer>760</integer>
						<integer>85</integer>
						<integer>212</integer>
						<integer>326</integer>
					</array>
					<key>keyPath</key>
					<string>opacity</string>
					<key>repeatType</key>
					<string>CONTINUOUS</string>
					<key>fromValue</key>
					<integer>1</integer>
					<key>toValue</key>
					<real>0.2</real>
					<key>duration</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>description</key>
					<string>The pully and the sails that it causes to furl/unfurl</string>
					<key>id</key>
					<string>ship_sails_and_pully</string>
					<key>customClass</key>
					<string>AShipSailsAndPully</string>
					<key>unfurlThreshold</key>
					<integer>160</integer>
					<key>furlThreshold</key>
					<integer>140</integer>
					<key>hookLayer</key>
					<dict>
						<key>resource</key>
						<string>hook_rope.png</string>
						<key>frame</key>
						<array>
							<integer>850</integer>
							<integer>-70</integer>
							<integer>51</integer>
							<integer>283</integer>
						</array>
						<key>minY</key>
						<integer>50</integer>
						<key>maxY</key>
						<integer>250</integer>
					</dict>
					<key>trigger</key>
					<dict>
						<key>type</key>
						<string>PAN</string>
						<key>minTouches</key>
						<integer>1</integer>
						<key>maxTouches</key>
						<integer>1</integer>
						<key>regions</key>
						<array>
							<array>
								<integer>850</integer>
								<integer>170</integer>
								<integer>60</integer>
								<integer>300</integer>
							</array>
						</array>
					</dict>
				</dict>
				<dict>
					<key>type</key>
					<string>STATICIMAGE</string>
					<key>id</key>
					<string>pully</string>
					<key>resource</key>
					<string>woodframe.jpg</string>
					<key>customClass</key>
					<string>AStaticImage</string>
					<key>frame</key>
					<array>
						<integer>827</integer>
						<integer>0</integer>
						<integer>94</integer>
						<integer>111</integer>
					</array>
				</dict>
				<dict>
					<key>description</key>
					<string>Animation of &apos;seagull 1&apos; flying across the page, from left to right.</string>
					<key>id</key>
					<string>seagull_1</string>
					<key>customClass</key>
					<string>ASeagull</string>
					<key>seagullLayer</key>
					<dict>
						<key>id</key>
						<string>seagull_1_layer</string>
						<key>customClass</key>
						<string>ATextureAtlasBasedSequence</string>
						<key>resourceBase</key>
						<string>TI_ch9_seagull_1_</string>
						<key>frame</key>
						<array>
							<integer>42</integer>
							<integer>31</integer>
							<integer>120</integer>
							<integer>95</integer>
						</array>
						<key>duration</key>
						<integer>5</integer>
						<key>fadeThreshold</key>
						<real>1.5</real>
						<key>sequences</key>
						<array>
							<dict>
								<key>imageIndices</key>
								<string>{1,7}</string>
								<key>duration</key>
								<real>0.7</real>
								<key>repeatType</key>
								<string>CONTINUOUS</string>
							</dict>
						</array>
						<key>pathPoints</key>
						<array>
							<string>{178.1, 172.3}</string>
							<string>{505.2, 294.3}</string>
							<string>{783.6, 341.5}</string>
							<string>{1002.9, 346.2}</string>
							<string>{1202.9, 346.2}</string>
						</array>
					</dict>
				</dict>
				<dict>
					<key>description</key>
					<string>Animation of &apos;seagull 2&apos; flying across the page, from left to right.</string>
					<key>id</key>
					<string>seagull_2</string>
					<key>customClass</key>
					<string>ASeagull</string>
					<key>seagullLayer</key>
					<dict>
						<key>id</key>
						<string>seagull_2_layer</string>
						<key>customClass</key>
						<string>ATextureAtlasBasedSequence</string>
						<key>resourceBase</key>
						<string>TI_ch9_seagull_2_</string>
						<key>frame</key>
						<array>
							<integer>25</integer>
							<integer>47</integer>
							<integer>120</integer>
							<integer>95</integer>
						</array>
						<key>duration</key>
						<integer>5</integer>
						<key>fadeThreshold</key>
						<real>1.5</real>
						<key>sequences</key>
						<array>
							<dict>
								<key>imageIndices</key>
								<string>{1,7}</string>
								<key>duration</key>
								<real>0.7</real>
								<key>repeatType</key>
								<string>CONTINUOUS</string>
							</dict>
						</array>
						<key>pathPoints</key>
						<array>
							<string>{182.58984, 129.86328}</string>
							<string>{422.50391, 205.9375}</string>
							<string>{642.15234, 252.47656}</string>
							<string>{803.16406, 271.26562}</string>
							<string>{928.64453, 265.04688}</string>
							<string>{1201.9297, 264.74219}</string>
						</array>
					</dict>
				</dict>
			</array>
			<key>helpDescriptors</key>
			<array>
				<dict>
					<key>type</key>
					<string>TAP</string>
					<key>frame</key>
					<array>
						<integer>400</integer>
						<integer>275</integer>
						<integer>100</integer>
						<integer>100</integer>
					</array>
				</dict>
				<dict>
					<key>type</key>
					<string>TAP</string>
					<key>frame</key>
					<array>
						<integer>150</integer>
						<integer>200</integer>
						<integer>100</integer>
						<integer>100</integer>
					</array>
				</dict>
				<dict>
					<key>type</key>
					<string>TAP</string>
					<key>frame</key>
					<array>
						<integer>150</integer>
						<integer>300</integer>
						<integer>100</integer>
						<integer>100</integer>
					</array>
				</dict>
				<dict>
					<key>type</key>
					<string>TAP</string>
					<key>frame</key>
					<array>
						<integer>400</integer>
						<integer>150</integer>
						<integer>100</integer>
						<integer>100</integer>
					</array>
				</dict>
				<dict>
					<key>type</key>
					<string>TAP</string>
					<key>frame</key>
					<array>
						<integer>225</integer>
						<integer>215</integer>
						<integer>100</integer>
						<integer>100</integer>
					</array>
				</dict>
				<dict>
					<key>type</key>
					<string>TAP</string>
					<key>frame</key>
					<array>
						<integer>225</integer>
						<integer>215</integer>
						<integer>100</integer>
						<integer>100</integer>
					</array>
				</dict>
				<dict>
					<key>type</key>
					<string>TAP</string>
					<key>frame</key>
					<array>
						<integer>225</integer>
						<integer>69</integer>
						<integer>100</integer>
						<integer>100</integer>
					</array>
				</dict>
				<dict>
					<key>type</key>
					<string>SWIPE</string>
					<key>arrowDirection</key>
					<string>DOWN</string>
					<key>frame</key>
					<array>
						<integer>795</integer>
						<integer>135</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>page</key>
			<integer>3</integer>
			<key>elements</key>
			<array>
				<dict>
					<key>description</key>
					<string>The spot animation of the antique gun, firing when tapped.</string>
					<key>id</key>
					<string>ch9_new_gun_spot</string>
					<key>customClass</key>
					<string>ATriggeredTextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch9_new_gun_spot</string>
					<key>frame</key>
					<array>
						<integer>450</integer>
						<integer>45</integer>
						<integer>500</integer>
						<integer>220</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>The initial view of the gun, i.e. before the trigger is pulled.</string>
							<key>imageIndices</key>
							<string>{1,1}</string>
							<key>transitionsFrom</key>
							<array>
								<string>2,29</string>
							</array>
						</dict>
						<dict>
							<key>description</key>
							<string>The gun actually firing.</string>
							<key>imageIndices</key>
							<string>{1,18}</string>
							<key>duration</key>
							<integer>1</integer>
							<key>soundEffect</key>
							<dict>
								<key>id</key>
								<string>gun_spot_shot</string>
								<key>customClass</key>
								<string>ASoundEffect</string>
								<key>resource</key>
								<string>gunshot.m4a</string>
							</dict>
							<key>transitionsFrom</key>
							<array>
								<string>0,1</string>
							</array>
						</dict>
						<dict>
							<key>description</key>
							<string>The flag retracting.</string>
							<key>imageIndices</key>
							<string>{19,10}</string>
							<key>duration</key>
							<real>0.9</real>
							<key>transitionsFrom</key>
							<array>
								<string>1,19</string>
							</array>
						</dict>
					</array>
					<key>trigger</key>
					<dict>
						<key>type</key>
						<string>TOUCH</string>
						<key>regions</key>
						<array>
							<array>
								<integer>420</integer>
								<integer>65</integer>
								<integer>500</integer>
								<integer>220</integer>
							</array>
						</array>
					</dict>
				</dict>
			</array>
			<key>helpDescriptors</key>
			<array>
				<dict>
					<key>type</key>
					<string>TAP</string>
					<key>frame</key>
					<array>
						<integer>730</integer>
						<integer>110</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
