<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pages</key>
	<array>
		<dict>
			<key>page</key>
			<integer>1</integer>
			<key>elements</key>
			<array>
				<dict>
					<key>description</key>
					<string>War at sea.</string>
					<key>id</key>
					<string>war_at_sea_ambient</string>
					<key>customClass</key>
					<string>AAmbientSound</string>
					<key>resource</key>
					<string>Chap17_Ambient_Ongoing.m4a</string>
					<key>numLoops</key>
					<integer>-1</integer>
				</dict>
				<dict>
					<key>description</key>
					<string>The entire War At Sea composite animation.</string>
					<key>id</key>
					<string>war_at_sea</string>
					<key>customClass</key>
					<string>AWarAtSea</string>
					<key>backgroundLayer</key>
					<dict>
						<key>resource</key>
						<string>ch17-background.png</string>
						<key>frame</key>
						<array>
							<integer>12</integer>
							<integer>12</integer>
							<integer>1000</integer>
							<integer>664</integer>
						</array>
					</dict>
					<key>boatLayer</key>
					<dict>
						<key>resource</key>
						<string>ch17-boat.png</string>
						<key>frame</key>
						<array>
							<integer>12</integer>
							<integer>145</integer>
							<integer>942</integer>
							<integer>468</integer>
						</array>
						<key>smolletAnimation</key>
						<dict>
							<key>description</key>
							<string>Captain Smollet yelling Ready, Hold, Fire!</string>
							<key>id</key>
							<string>smollet_ready_hold_fire</string>
							<key>customClass</key>
							<string>ATriggeredTextureAtlasBasedSequence</string>
							<key>resourceBase</key>
							<string>TI_ch17_capt_talks</string>
							<key>frame</key>
							<array>
								<integer>346</integer>
								<integer>185</integer>
								<integer>53</integer>
								<integer>83</integer>
							</array>
							<key>sequences</key>
							<array>
								<dict>
									<key>description</key>
									<string>Captain Smollet, silent...</string>
									<key>imageIndices</key>
									<string>{1,1}</string>
									<key>transitionsFrom</key>
									<array>
										<string>1,42</string>
									</array>
								</dict>
								<dict>
									<key>description</key>
									<string>Captain Smollet yelling Ready, Hold... Fire!</string>
									<key>imageIndices</key>
									<string>{1,41}</string>
									<key>duration</key>
									<real>4.1</real>
									<key>fadeInDuration</key>
									<integer>0</integer>
									<key>soundEffect</key>
									<dict>
										<key>description</key>
										<string>The Captain yelling...</string>
										<key>id</key>
										<string>smollet_yelling</string>
										<key>resource</key>
										<string>Chap17_DLG_CaptainSmollet_ReadyHoldFire.m4a</string>
										<key>customClass</key>
										<string>AAmbientSound</string>
									</dict>
									<key>postExecutionNotification</key>
									<string>CH17_FIRE_SHOT</string>
									<key>transitionsFrom</key>
									<array>
										<string>0,1</string>
									</array>
								</dict>
							</array>
						</dict>
						<key>rifleHammerAnimation</key>
						<dict>
							<key>description</key>
							<string>The rifle hammer sequence precipitating the gunshot.</string>
							<key>id</key>
							<string>rifle_hammer</string>
							<key>customClass</key>
							<string>ATriggeredTextureAtlasBasedSequence</string>
							<key>resourceBase</key>
							<string>TI_ch17_rifle_fires_hammer</string>
							<key>frame</key>
							<array>
								<integer>378</integer>
								<integer>42</integer>
								<integer>30</integer>
								<integer>25</integer>
							</array>
							<key>sequences</key>
							<array>
								<dict>
									<key>description</key>
									<string>The hammer, before firing.</string>
									<key>imageIndices</key>
									<string>{1,1}</string>
									<key>transitionsFrom</key>
									<array>
										<string>1,7</string>
									</array>
								</dict>
								<dict>
									<key>description</key>
									<string>The hammer precipitating the firing.</string>
									<key>imageIndices</key>
									<string>{1,6}</string>
									<key>duration</key>
									<real>0.6</real>
									<key>postExecutionNotification</key>
									<string>CH17_SHOT_FIRED</string>
									<key>transitionsFrom</key>
									<array>
										<string>0,1</string>
									</array>
								</dict>
							</array>
							<key>trigger</key>
							<dict>
								<key>type</key>
								<string>NOTIFICATION</string>
								<key>name</key>
								<string>CH17_FIRE_SHOT</string>
								<key>dataValue</key>
								<integer>0</integer>
							</dict>
						</dict>
						<key>muzzleFlashAnimation</key>
						<dict>
							<key>description</key>
							<string>The muzzle flash from the fired rifle.</string>
							<key>id</key>
							<string>muzzle_flash</string>
							<key>customClass</key>
							<string>ATriggeredTextureAtlasBasedSequence</string>
							<key>resourceBase</key>
							<string>TI_ch17_rifle_fires_pop</string>
							<key>frame</key>
							<array>
								<integer>812</integer>
								<integer>0</integer>
								<integer>97</integer>
								<integer>107</integer>
							</array>
							<key>sequences</key>
							<array>
								<dict>
									<key>description</key>
									<string>The muzzle, before the flash.</string>
									<key>imageIndices</key>
									<string>{1,1}</string>
									<key>transitionsFrom</key>
									<array>
										<string>1,16</string>
									</array>
								</dict>
								<dict>
									<key>description</key>
									<string>The muzzle flash itself.</string>
									<key>imageIndices</key>
									<string>{1,15}</string>
									<key>duration</key>
									<real>1.5</real>
									<key>postExecutionNotification</key>
									<string>CH17_MUZZLE_FLASHED</string>
									<key>soundEffect</key>
									<dict>
										<key>description</key>
										<string>The sound of the rifle firing.</string>
										<key>id</key>
										<string>rifle_firing</string>
										<key>resource</key>
										<string>Chap17_Gunshot2.m4a</string>
										<key>customClass</key>
										<string>ASoundEffect</string>
										<key>numLoops</key>
										<integer>0</integer>
									</dict>
									<key>transitionsFrom</key>
									<array>
										<string>0,1</string>
									</array>
								</dict>
							</array>
							<key>trigger</key>
							<dict>
								<key>type</key>
								<string>NOTIFICATION</string>
								<key>name</key>
								<string>CH17_SHOT_FIRED</string>
								<key>dataValue</key>
								<integer>0</integer>
							</dict>
						</dict>
						<key>muzzleSmokeAnimation</key>
						<dict>
							<key>description</key>
							<string>The smoke from the muzzle after the rifle has been fired.</string>
							<key>id</key>
							<string>muzzle_smoke</string>
							<key>customClass</key>
							<string>ATriggeredTextureAtlasBasedSequence</string>
							<key>resourceBase</key>
							<string>TI_ch17_rifle_fires_smoke_25f</string>
							<key>frame</key>
							<array>
								<integer>206</integer>
								<integer>-95</integer>
								<integer>662</integer>
								<integer>153</integer>
							</array>
							<key>sequences</key>
							<array>
								<dict>
									<key>description</key>
									<string>The muzzle, just before the smoke...</string>
									<key>imageIndices</key>
									<string>{1,1}</string>
									<key>transitionsFrom</key>
									<array>
										<string>1,27</string>
									</array>
									<key>propertyEffects</key>
									<array>
										<dict>
											<key>offset</key>
											<string>AFTER</string>
											<key>effects</key>
											<array>
												<dict>
													<key>id</key>
													<string>muzzleLayerReset</string>
													<key>property</key>
													<string>opacity</string>
													<key>fromValue</key>
													<integer>0</integer>
													<key>toValue</key>
													<integer>1</integer>
													<key>duration</key>
													<real>0.01</real>
												</dict>
											</array>
										</dict>
									</array>
								</dict>
								<dict>
									<key>description</key>
									<string>The muzzle smoke itself.</string>
									<key>imageIndices</key>
									<string>{1,26}</string>
									<key>duration</key>
									<real>2.6</real>
									<key>transitionsFrom</key>
									<array>
										<string>0,1</string>
									</array>
									<key>propertyEffects</key>
									<array>
										<dict>
											<key>offset</key>
											<string>AFTER</string>
											<key>effects</key>
											<array>
												<dict>
													<key>id</key>
													<string>muzzleSmokeDissipation</string>
													<key>property</key>
													<string>opacity</string>
													<key>fromValue</key>
													<integer>1</integer>
													<key>toValue</key>
													<integer>0</integer>
													<key>duration</key>
													<real>1.5</real>
												</dict>
											</array>
										</dict>
									</array>
								</dict>
							</array>
							<key>trigger</key>
							<dict>
								<key>type</key>
								<string>NOTIFICATION</string>
								<key>name</key>
								<string>CH17_MUZZLE_FLASHED</string>
								<key>dataValue</key>
								<integer>0</integer>
							</dict>
						</dict>
					</dict>
					<key>wavesLayer</key>
					<dict>
						<key>resource</key>
						<string>ch17-waves.png</string>
						<key>frame</key>
						<array>
							<integer>12</integer>
							<integer>473</integer>
							<integer>1000</integer>
							<integer>263</integer>
						</array>
					</dict>
					<key>triggers</key>
					<array>
						<dict>
							<key>type</key>
							<string>TOUCH</string>
							<key>regions</key>
							<array>
								<array>
									<integer>200</integer>
									<integer>200</integer>
									<integer>600</integer>
									<integer>400</integer>
								</array>
							</array>
						</dict>
					</array>
				</dict>
			</array>
			<key>helpDescriptors</key>
			<array>
				<dict>
					<key>type</key>
					<string>TAP</string>
					<key>frame</key>
					<array>
						<integer>210</integer>
						<integer>250</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
