<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pages</key>
	<array>
		<dict>
			<key>page</key>
			<integer>0</integer>
			<key>elements</key>
			<array>
				<dict>
					<key>description</key>
					<string>Ambient sound of the interior of Long John Silver&apos;s cabin.</string>
					<key>id</key>
					<string>ljs_cabin</string>
					<key>resource</key>
					<string>Chap10a_AMB_ShipInterior.m4a</string>
					<key>customClass</key>
					<string>AAmbientSound</string>
					<key>maxDuration</key>
					<integer>8</integer>
					<key>fadeOutDuration</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>description</key>
					<string>The candles on the wall above Long John Silver&apos;s bed.</string>
					<key>id</key>
					<string>candles</string>
					<key>customClass</key>
					<string>ATriggeredTextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch10_candles</string>
					<key>frame</key>
					<array>
						<integer>115</integer>
						<integer>75</integer>
						<integer>134</integer>
						<integer>138</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>The candles burning - this is the base sequence.</string>
							<key>imageIndices</key>
							<string>{1,5}</string>
							<key>duration</key>
							<real>0.5</real>
							<key>repeatType</key>
							<string>CONTINUOUS</string>
							<key>transitionsFrom</key>
							<array>
								<string>2,46</string>
							</array>
						</dict>
						<dict>
							<key>description</key>
							<string>The candles being extinguished.</string>
							<key>imageIndices</key>
							<string>{6,30}</string>
							<key>duration</key>
							<real>3</real>
							<key>transitionsFrom</key>
							<array>
								<string>0,1</string>
								<string>0,2</string>
								<string>0,3</string>
								<string>0,4</string>
								<string>0,5</string>
							</array>
						</dict>
						<dict>
							<key>description</key>
							<string>The candles being re-ignited.</string>
							<key>imageIndices</key>
							<string>{36,10}</string>
							<key>duration</key>
							<integer>1</integer>
							<key>transitionsFrom</key>
							<array>
								<string>1,30</string>
								<string>1,31</string>
								<string>1,32</string>
								<string>1,33</string>
								<string>1,34</string>
								<string>1,35</string>
								<string>1,36</string>
							</array>
						</dict>
					</array>
					<key>stepTriggerRequired</key>
					<true/>
					<key>autoResetToBase</key>
					<true/>
					<key>trigger</key>
					<dict>
						<key>type</key>
						<string>TOUCH</string>
						<key>regions</key>
						<array>
							<array>
								<integer>60</integer>
								<integer>60</integer>
								<integer>300</integer>
								<integer>240</integer>
							</array>
						</array>
					</dict>
				</dict>
				<dict>
					<key>description</key>
					<string>Long John Silver&apos;s parrot - squawks when touched.</string>
					<key>id</key>
					<string>parrot_squawk</string>
					<key>customClass</key>
					<string>ATriggeredTextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch10_parrot_squawks</string>
					<key>frame</key>
					<array>
						<integer>250</integer>
						<integer>76</integer>
						<integer>144</integer>
						<integer>167</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>The initial view of the parrot, sitting quietly on its perch.</string>
							<key>imageIndices</key>
							<string>{1,1}</string>
							<key>transitionsFrom</key>
							<array>
								<string>{1,18}</string>
							</array>
						</dict>
						<dict>
							<key>description</key>
							<string>The parrot squawking.</string>
							<key>imageIndices</key>
							<string>{1,18}</string>
							<key>duration</key>
							<real>1.8</real>
							<key>transitionsFrom</key>
							<array>
								<string>{1,1}</string>
							</array>
							<key>soundEffect</key>
							<dict>
								<key>description</key>
								<string>The sounds made by Long John Silver&apos;s parrot.</string>
								<key>id</key>
								<string>squawking_parrot</string>
								<key>customClass</key>
								<string>ARandomSoundEffect</string>
								<key>resourceNames</key>
								<array>
									<string>Chap10a_ParrotSquawk1.m4a</string>
									<string>Chap10a_ParrotSquawk6.m4a</string>
									<string>Chap10a_ParrotSquawk7.m4a</string>
								</array>
							</dict>
						</dict>
					</array>
					<key>trigger</key>
					<dict>
						<key>type</key>
						<string>TOUCH</string>
						<key>regions</key>
						<array>
							<array>
								<integer>250</integer>
								<integer>76</integer>
								<integer>144</integer>
								<integer>167</integer>
							</array>
						</array>
					</dict>
				</dict>
				<dict>
					<key>description</key>
					<string>The pots on the cabin wall, swaying with the movement of the ship.</string>
					<key>id</key>
					<string>swaying_pots</string>
					<key>customClass</key>
					<string>ATextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch10_pots_sway</string>
					<key>frame</key>
					<array>
						<integer>363</integer>
						<integer>74</integer>
						<integer>152</integer>
						<integer>155</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>The swaying pots.</string>
							<key>imageIndices</key>
							<string>{1,30}</string>
							<key>duration</key>
							<real>3</real>
							<key>repeatType</key>
							<string>CONTINUOUS</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>description</key>
					<string>The pot of _something_  boiling on the hotplate beside Long John Silver&apos;s bed.</string>
					<key>id</key>
					<string>boiling_pot</string>
					<key>customClass</key>
					<string>ATextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch10_pot_boils</string>
					<key>frame</key>
					<array>
						<integer>84</integer>
						<integer>446</integer>
						<integer>104</integer>
						<integer>206</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>The boiling pot</string>
							<key>imageIndices</key>
							<string>{1,10}</string>
							<key>duration</key>
							<integer>1</integer>
							<key>repeatType</key>
							<string>CONTINUOUS</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>description</key>
					<string>The small ship that bobs above the &quot;Chapter 10&quot; header.</string>
					<key>id</key>
					<string>ch10_header</string>
					<key>customClass</key>
					<string>ATextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch10_header</string>
					<key>frame</key>
					<array>
						<integer>697</integer>
						<integer>107</integer>
						<integer>60</integer>
						<integer>70</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>The bobbing ship.</string>
							<key>imageIndices</key>
							<string>{1,20}</string>
							<key>duration</key>
							<integer>2</integer>
							<key>repeatType</key>
							<string>CONTINUOUS</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>description</key>
					<string>LJS telling tall tales.</string>
					<key>id</key>
					<string>LJS_tall_tales</string>
					<key>customClass</key>
					<string>ATriggeredTextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch10a_LJS_talks</string>
					<key>frame</key>
					<array>
						<integer>168</integer>
						<integer>287</integer>
						<integer>25</integer>
						<integer>17</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>LJS silent, contemplating...</string>
							<key>imageIndices</key>
							<string>{1,1}</string>
							<key>transitionsFrom</key>
							<array>
								<string>1,91</string>
							</array>
						</dict>
						<dict>
							<key>description</key>
							<string>LJS_tale</string>
							<key>imageIndices</key>
							<string>{1,91}</string>
							<key>duration</key>
							<integer>4</integer>
							<key>soundEffect</key>
							<dict>
								<key>description</key>
								<string>Various versions of LJS telling stories.</string>
								<key>id</key>
								<string>ljs_telling_a_tale</string>
								<key>customClass</key>
								<string>ASoundEffect</string>
								<key>resource</key>
								<string>Chap10a_DLG_LongJohnSilver_WILD4.m4a</string>
							</dict>
							<key>transitionsFrom</key>
							<array>
								<string>0,1</string>
							</array>
						</dict>
					</array>
					<key>trigger</key>
					<dict>
						<key>type</key>
						<string>TOUCH</string>
						<key>regions</key>
						<array>
							<array>
								<integer>120</integer>
								<integer>320</integer>
								<integer>200</integer>
								<integer>300</integer>
							</array>
						</array>
					</dict>
				</dict>
			</array>
			<key>helpDescriptors</key>
			<array>
				<dict>
					<key>type</key>
					<string>TAP</string>
					<key>frame</key>
					<array>
						<integer>275</integer>
						<integer>75</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
				<dict>
					<key>type</key>
					<string>TAP</string>
					<key>frame</key>
					<array>
						<integer>140</integer>
						<integer>100</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
				<dict>
					<key>type</key>
					<string>TAP</string>
					<key>frame</key>
					<array>
						<integer>155</integer>
						<integer>280</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>helpDescriptors</key>
			<array>
				<dict>
					<key>type</key>
					<string>TAP</string>
					<key>frame</key>
					<array>
						<integer>600</integer>
						<integer>100</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
			</array>
			<key>page</key>
			<integer>3</integer>
			<key>elements</key>
			<array>
				<dict>
					<key>description</key>
					<string>the ship</string>
					<key>id</key>
					<string>ship</string>
					<key>customClass</key>
					<string>ATextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>Chapter10_Ship_</string>
					<key>frame</key>
					<array>
						<integer>620</integer>
						<integer>210</integer>
						<integer>184</integer>
						<integer>176</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>The bobbing ship.</string>
							<key>imageIndices</key>
							<string>{1,29}</string>
							<key>duration</key>
							<integer>4</integer>
							<key>repeatType</key>
							<string>CONTINUOUS</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>description</key>
					<string>Ambient sounds of the Hispanola in rough seas.</string>
					<key>id</key>
					<string>rough_seas</string>
					<key>resource</key>
					<string>Chap10b_AmbientIntro.m4a</string>
					<key>customClass</key>
					<string>AAmbientSound</string>
					<key>maxDuration</key>
					<integer>5</integer>
					<key>fadeOutDuration</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>description</key>
					<string>Rain hitting the Hispanola (1).</string>
					<key>id</key>
					<string>rain_1</string>
					<key>customClass</key>
					<string>ASimplePropertyAnimation</string>
					<key>resource</key>
					<string>TI_ch10b_rain_option_1a.png</string>
					<key>frame</key>
					<array>
						<integer>510</integer>
						<integer>70</integer>
						<integer>433</integer>
						<integer>577</integer>
					</array>
					<key>keyPath</key>
					<string>opacity</string>
					<key>duration</key>
					<real>0.4</real>
					<key>fromValue</key>
					<integer>1</integer>
					<key>toValue</key>
					<integer>0</integer>
					<key>repeatType</key>
					<string>CONTINUOUS</string>
					<key>autoReverse</key>
					<true/>
				</dict>
				<dict>
					<key>description</key>
					<string>Rain hitting the Hispanola (2).</string>
					<key>id</key>
					<string>rain_2</string>
					<key>customClass</key>
					<string>ASimplePropertyAnimation</string>
					<key>resource</key>
					<string>TI_ch10b_rain_option_1b.png</string>
					<key>frame</key>
					<array>
						<integer>510</integer>
						<integer>70</integer>
						<integer>433</integer>
						<integer>577</integer>
					</array>
					<key>keyPath</key>
					<string>opacity</string>
					<key>duration</key>
					<real>0.5</real>
					<key>fromValue</key>
					<integer>1</integer>
					<key>toValue</key>
					<integer>0</integer>
					<key>repeatType</key>
					<string>CONTINUOUS</string>
					<key>autoReverse</key>
					<true/>
				</dict>
				<dict>
					<key>description</key>
					<string>Rain hitting the Hispanola (3).</string>
					<key>id</key>
					<string>rain_3</string>
					<key>customClass</key>
					<string>ASimplePropertyAnimation</string>
					<key>resource</key>
					<string>TI_ch10b_rain_option_1c.png</string>
					<key>frame</key>
					<array>
						<integer>510</integer>
						<integer>70</integer>
						<integer>433</integer>
						<integer>577</integer>
					</array>
					<key>keyPath</key>
					<string>opacity</string>
					<key>duration</key>
					<real>0.6</real>
					<key>fromValue</key>
					<integer>1</integer>
					<key>toValue</key>
					<integer>0</integer>
					<key>repeatType</key>
					<string>CONTINUOUS</string>
					<key>autoReverse</key>
					<true/>
				</dict>
				<dict>
					<key>description</key>
					<string>The animation of the lightning illuminating the sailor.</string>
					<key>id</key>
					<string>lightning</string>
					<key>customClass</key>
					<string>ATriggeredTextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch10_lightning</string>
					<key>trigger</key>
					<dict>
						<key>type</key>
						<string>TOUCH</string>
						<key>regions</key>
						<array>
							<array>
								<integer>524</integer>
								<integer>70</integer>
								<integer>500</integer>
								<integer>600</integer>
							</array>
						</array>
					</dict>
					<key>frame</key>
					<array>
						<integer>704</integer>
						<integer>163</integer>
						<integer>253</integer>
						<integer>453</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>soundEffect</key>
							<dict>
								<key>delay</key>
								<real>0.2</real>
								<key>description</key>
								<string>Thunder to accompany lighting flash</string>
								<key>type</key>
								<string>SOUNDEFFECT</string>
								<key>id</key>
								<string>ljs_parley</string>
								<key>resource</key>
								<string>Chap10b_thunder.m4a</string>
								<key>customClass</key>
								<string>ASoundEffect</string>
							</dict>
							<key>description</key>
							<string>The lightning, flashing.</string>
							<key>imageIndices</key>
							<string>{1,12}</string>
							<key>duration</key>
							<real>1.2</real>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
