<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pages</key>
	<array>
		<dict>
			<key>page</key>
			<integer>0</integer>
			<key>elements</key>
			<array>
				<dict>
					<key>description</key>
					<string>The party!</string>
					<key>id</key>
					<string>the_party</string>
					<key>customClass</key>
					<string>AAmbientSound</string>
					<key>resource</key>
					<string>Chap19_Ambient_Intro_Sized.m4a</string>
					<key>maxDuration</key>
					<integer>12</integer>
					<key>fadeOutDuration</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>description</key>
					<string>The stars, twinkling in the sky (1).</string>
					<key>id</key>
					<string>ch_19_stars_1</string>
					<key>customClass</key>
					<string>ASimplePropertyAnimation</string>
					<key>resource</key>
					<string>ch19_stars1.png</string>
					<key>frame</key>
					<array>
						<integer>0</integer>
						<integer>0</integer>
						<integer>433</integer>
						<integer>273</integer>
					</array>
					<key>keyPath</key>
					<string>opacity</string>
					<key>fromValue</key>
					<integer>1</integer>
					<key>toValue</key>
					<real>0.5</real>
					<key>duration</key>
					<real>1.25</real>
					<key>repeatType</key>
					<string>CONTINUOUS</string>
				</dict>
				<dict>
					<key>description</key>
					<string>The stars, twinkling in the sky (2).</string>
					<key>id</key>
					<string>ch_19_stars_2</string>
					<key>customClass</key>
					<string>ASimplePropertyAnimation</string>
					<key>resource</key>
					<string>ch19_stars2.png</string>
					<key>frame</key>
					<array>
						<integer>0</integer>
						<integer>0</integer>
						<integer>433</integer>
						<integer>273</integer>
					</array>
					<key>keyPath</key>
					<string>opacity</string>
					<key>fromValue</key>
					<integer>1</integer>
					<key>toValue</key>
					<real>0.5</real>
					<key>duration</key>
					<real>1.25</real>
					<key>repeatType</key>
					<string>CONTINUOUS</string>
				</dict>
				<dict>
					<key>description</key>
					<string>The fire!</string>
					<key>id</key>
					<string>huge_fire</string>
					<key>customClass</key>
					<string>ATextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch19_fire</string>
					<key>frame</key>
					<array>
						<integer>117</integer>
						<integer>78</integer>
						<integer>374</integer>
						<integer>284</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>The huge fire, lighting up the night...</string>
							<key>imageIndices</key>
							<string>{1,7}</string>
							<key>duration</key>
							<real>0.7</real>
							<key>repeatType</key>
							<string>CONTINUOUS</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>description</key>
					<string>Pirate 1 burping.</string>
					<key>id</key>
					<string>pirate1_burp</string>
					<key>customClass</key>
					<string>ATriggeredSoundEffect</string>
					<key>resource</key>
					<string>Chap19_Burp1.m4a</string>
					<key>trigger</key>
					<dict>
						<key>type</key>
						<string>TOUCH</string>
						<key>regions</key>
						<array>
							<array>
								<integer>200</integer>
								<integer>290</integer>
								<integer>50</integer>
								<integer>50</integer>
							</array>
						</array>
					</dict>
				</dict>
				<dict>
					<key>description</key>
					<string>Pirate 2 burping.</string>
					<key>id</key>
					<string>pirate2_burp</string>
					<key>customClass</key>
					<string>ATriggeredSoundEffect</string>
					<key>resource</key>
					<string>Chap19_Burp3.m4a</string>
					<key>trigger</key>
					<dict>
						<key>type</key>
						<string>TOUCH</string>
						<key>regions</key>
						<array>
							<array>
								<integer>300</integer>
								<integer>270</integer>
								<integer>50</integer>
								<integer>50</integer>
							</array>
						</array>
					</dict>
				</dict>
				<dict>
					<key>description</key>
					<string>Pirate 3 burping.</string>
					<key>id</key>
					<string>pirate3_burp</string>
					<key>customClass</key>
					<string>ATriggeredSoundEffect</string>
					<key>resource</key>
					<string>Chap19_Burp6.m4a</string>
					<key>trigger</key>
					<dict>
						<key>type</key>
						<string>TOUCH</string>
						<key>regions</key>
						<array>
							<array>
								<integer>370</integer>
								<integer>300</integer>
								<integer>50</integer>
								<integer>50</integer>
							</array>
						</array>
					</dict>
				</dict>
				<dict>
					<key>description</key>
					<string>Pirate 4 burping.</string>
					<key>id</key>
					<string>pirate4_burp</string>
					<key>customClass</key>
					<string>ATriggeredSoundEffect</string>
					<key>resource</key>
					<string>Chap19_Burp7.m4a</string>
					<key>trigger</key>
					<dict>
						<key>type</key>
						<string>TOUCH</string>
						<key>regions</key>
						<array>
							<array>
								<integer>410</integer>
								<integer>290</integer>
								<integer>50</integer>
								<integer>50</integer>
							</array>
						</array>
					</dict>
				</dict>
			</array>
			<key>helpDescriptors</key>
			<array>
				<dict>
					<key>type</key>
					<string>TAP</string>
					<key>frame</key>
					<array>
						<integer>185</integer>
						<integer>255</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
				<dict>
					<key>type</key>
					<string>TAP</string>
					<key>frame</key>
					<array>
						<integer>245</integer>
						<integer>225</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
				<dict>
					<key>type</key>
					<string>TAP</string>
					<key>frame</key>
					<array>
						<integer>320</integer>
						<integer>250</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
				<dict>
					<key>type</key>
					<string>TAP</string>
					<key>frame</key>
					<array>
						<integer>400</integer>
						<integer>250</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
