<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pages</key>
	<array>
		<dict>
			<key>page</key>
			<integer>0</integer>
			<key>elements</key>
			<array/>
		</dict>
		<dict>
			<key>page</key>
			<integer>1</integer>
			<key>elements</key>
			<array>
				<dict>
					<key>description</key>
					<string>Telescope</string>
					<key>id</key>
					<string>telescope_header</string>
					<key>customClass</key>
					<string>ATextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch1_header</string>
					<key>frame</key>
					<array>
						<integer>704</integer>
						<integer>149</integer>
						<integer>52</integer>
						<integer>17</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>telescope header</string>
							<key>imageIndices</key>
							<string>{1,14}</string>
							<key>duration</key>
							<integer>2</integer>
							<key>repeatType</key>
							<string>CONTINUOUS_WITH_DELAY</string>
							<key>repeatDelay</key>
							<real>2.4</real>
						</dict>
					</array>
				</dict>
				<dict>
					<key>description</key>
					<string>Ambient sound of the leaves blowing by the &apos;Admiral Benbow&apos; sign.</string>
					<key>id</key>
					<string>leaves_into</string>
					<key>resource</key>
					<string>Chap1_ChickenCluck_withAMB_loop.m4a</string>
					<key>customClass</key>
					<string>AAmbientSound</string>
					<key>maxDuration</key>
					<integer>8</integer>
					<key>fadeOutDuration</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>description</key>
					<string>The sound made by the Captain.</string>
					<key>id</key>
					<string>captain</string>
					<key>resource</key>
					<string>Chap1b_DLG_BillyBones_Hmm1.m4a</string>
					<key>customClass</key>
					<string>ATriggeredSoundEffect</string>
					<key>trigger</key>
					<dict>
						<key>type</key>
						<string>TOUCH</string>
						<key>regions</key>
						<array>
							<array>
								<integer>175</integer>
								<integer>230</integer>
								<integer>200</integer>
								<integer>300</integer>
							</array>
						</array>
					</dict>
				</dict>
				<dict>
					<key>description</key>
					<string>Animation of the &apos;squawking cockerel&apos;. Normally pecking, when the cockerel is touched it startles and emits a loud squawk.</string>
					<key>id</key>
					<string>squawking_cockerel</string>
					<key>customClass</key>
					<string>ATriggeredTextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch1_cockerel</string>
					<key>frame</key>
					<array>
						<integer>185</integer>
						<integer>521</integer>
						<integer>190</integer>
						<integer>132</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>The cockerel packing sequence. The first element in the sequence is the base sequence and is assumed to repeat.</string>
							<key>imageIndices</key>
							<string>{1,10}</string>
							<key>duration</key>
							<integer>1</integer>
							<key>repeatType</key>
							<string>CONTINUOUS</string>
							<key>transitionsFrom</key>
							<array>
								<string>3,27</string>
							</array>
						</dict>
						<dict>
							<key>description</key>
							<string>Transition to the squawking sequence from a head down position.</string>
							<key>imageIndices</key>
							<string>{11,3}</string>
							<key>duration</key>
							<real>0.5</real>
							<key>numRepeats</key>
							<integer>0</integer>
							<key>transitionsFrom</key>
							<array>
								<string>0,5</string>
								<string>0,7</string>
								<string>0,9</string>
							</array>
						</dict>
						<dict>
							<key>description</key>
							<string>Transition to the squawking sequence from a head up position.</string>
							<key>imageIndices</key>
							<string>{14,3}</string>
							<key>duration</key>
							<real>0.5</real>
							<key>numRepeats</key>
							<integer>0</integer>
							<key>transitionsFrom</key>
							<array>
								<string>0,1</string>
								<string>0,2</string>
								<string>0,3</string>
								<string>0,4</string>
								<string>0,10</string>
							</array>
						</dict>
						<dict>
							<key>description</key>
							<string>The squawking sequence itself.</string>
							<key>imageIndices</key>
							<string>{17,10}</string>
							<key>duration</key>
							<integer>1</integer>
							<key>numRepeats</key>
							<integer>0</integer>
							<key>soundEffect</key>
							<dict>
								<key>description</key>
								<string>The sound made by the squawking chicken.</string>
								<key>type</key>
								<string>AMBIENTSOUND</string>
								<key>id</key>
								<string>squawking_chicken</string>
								<key>resource</key>
								<string>Chap1b_Chicken4.m4a</string>
								<key>customClass</key>
								<string>AAmbientSound</string>
								<key>numLoops</key>
								<integer>0</integer>
							</dict>
							<key>transitionsFrom</key>
							<array>
								<string>1,14</string>
								<string>2,17</string>
							</array>
						</dict>
					</array>
					<key>trigger</key>
					<dict>
						<key>type</key>
						<string>TOUCH</string>
						<key>regions</key>
						<array>
							<array>
								<integer>185</integer>
								<integer>521</integer>
								<integer>190</integer>
								<integer>132</integer>
							</array>
						</array>
					</dict>
				</dict>
				<dict>
					<key>description</key>
					<string>Animation for the &apos;Admiral Benbow&apos; sign. The sign is knocked off its right hinge by shaking the device and then swings in response to tilting of the device.</string>
					<key>id</key>
					<string>admiral_benbow_sign</string>
					<key>resource</key>
					<string>sign.png</string>
					<key>customClass</key>
					<string>ASign</string>
					<key>frame</key>
					<array>
						<integer>159</integer>
						<integer>90</integer>
						<integer>143</integer>
						<integer>173</integer>
					</array>
					<key>anchorPoint</key>
					<array>
						<integer>34</integer>
						<integer>13</integer>
					</array>
					<key>animationProperties</key>
					<dict>
						<key>keyPath</key>
						<string>transform.rotation.z</string>
						<key>duration</key>
						<integer>3</integer>
						<key>omega</key>
						<integer>20</integer>
						<key>zeta</key>
						<real>0.33</real>
						<key>startValue</key>
						<integer>360</integer>
						<key>endValue</key>
						<integer>320</integer>
						<key>steps</key>
						<integer>99</integer>
					</dict>
					<key>soundEffect</key>
					<dict>
						<key>description</key>
						<string>The sound of the Admiral Benbow sign being knocked off its hinges.</string>
						<key>id</key>
						<string>benbow_sign</string>
						<key>resource</key>
						<string>Chap1b_SignBreaking.m4a</string>
						<key>customClass</key>
						<string>ASoundEffect</string>
					</dict>
					<key>trigger</key>
					<dict>
						<key>type</key>
						<string>TOUCH</string>
						<key>regions</key>
						<array>
							<array>
								<integer>159</integer>
								<integer>90</integer>
								<integer>143</integer>
								<integer>173</integer>
							</array>
						</array>
					</dict>
				</dict>
				<dict>
					<key>description</key>
					<string>Animation of the leaves blowing around the page, highlighting the interactive elements.</string>
					<key>id</key>
					<string>blowing_leaves</string>
					<key>customClass</key>
					<string>ATextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch1_leaves</string>
					<key>frame</key>
					<array>
						<integer>100</integer>
						<integer>80</integer>
						<integer>340</integer>
						<integer>340</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>The leaves swirling around the &apos;Admiral Benbow&apos; sign.</string>
							<key>imageIndices</key>
							<string>{1,25}</string>
							<key>duration</key>
							<real>2.5</real>
						</dict>
					</array>
				</dict>
			</array>
			<key>helpDescriptors</key>
			<array>
				<dict>
					<key>type</key>
					<string>SHAKE_AND_ROTATE</string>
					<key>frame</key>
					<array>
						<integer>125</integer>
						<integer>120</integer>
						<integer>212</integer>
						<integer>106</integer>
					</array>
				</dict>
				<dict>
					<key>type</key>
					<string>TAP</string>
					<key>frame</key>
					<array>
						<integer>250</integer>
						<integer>280</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
				<dict>
					<key>type</key>
					<string>TAP</string>
					<key>frame</key>
					<array>
						<integer>240</integer>
						<integer>550</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>page</key>
			<integer>2</integer>
			<key>elements</key>
			<array>
				<dict>
					<key>description</key>
					<string>User-initiated collapse/extension of the spyglass.</string>
					<key>id</key>
					<string>spyglass</string>
					<key>customClass</key>
					<string>ASpyglass</string>
					<key>onView</key>
					<true/>
					<key>frame</key>
					<array>
						<integer>547</integer>
						<integer>310</integer>
						<integer>365</integer>
						<integer>123</integer>
					</array>
					<key>segments</key>
					<array>
						<dict>
							<key>resource</key>
							<string>1-spyglass.png</string>
							<key>frame</key>
							<array>
								<integer>0</integer>
								<integer>2</integer>
								<integer>116</integer>
								<integer>107</integer>
							</array>
							<key>minX</key>
							<integer>20</integer>
						</dict>
						<dict>
							<key>resource</key>
							<string>2-spyglass.png</string>
							<key>frame</key>
							<array>
								<integer>111</integer>
								<integer>0</integer>
								<integer>108</integer>
								<integer>110</integer>
							</array>
							<key>minX</key>
							<integer>92</integer>
							<key>maxX</key>
							<integer>164</integer>
							<key>collapseStartX</key>
							<integer>212</integer>
							<key>extensionStartX</key>
							<integer>212</integer>
							<key>closeTriggerX</key>
							<integer>93</integer>
							<key>openTriggerX</key>
							<integer>163</integer>
							<key>closeSound</key>
							<string>Telescope_Close_2ndPart_ClickOnly.m4a</string>
							<key>openSound</key>
							<string>Telescope_Open_2ndPart_ClickOnly.m4a</string>
						</dict>
						<dict>
							<key>resource</key>
							<string>3-spyglass.png</string>
							<key>frame</key>
							<array>
								<integer>218</integer>
								<integer>-12</integer>
								<integer>148</integer>
								<integer>135</integer>
							</array>
							<key>minX</key>
							<integer>140</integer>
							<key>maxX</key>
							<integer>291</integer>
							<key>closeTriggerX</key>
							<integer>212</integer>
							<key>openTriggerX</key>
							<integer>212</integer>
							<key>closeSound</key>
							<string>Telescope_Close_1stPart_ClickOnly.m4a</string>
							<key>openSound</key>
							<string>Telescope_Open_1stPart_ClickOnly.m4a</string>
						</dict>
					</array>
					<key>trigger</key>
					<dict>
						<key>description</key>
						<string>A PAN trigger fires when the user &apos;drags&apos; his finger on a hotspot (defined by one or more regions).</string>
						<key>type</key>
						<string>PAN</string>
						<key>minTouches</key>
						<integer>1</integer>
						<key>maxTouches</key>
						<integer>1</integer>
						<key>regions</key>
						<array>
							<array>
								<integer>400</integer>
								<integer>300</integer>
								<integer>550</integer>
								<integer>200</integer>
							</array>
						</array>
					</dict>
				</dict>
			</array>
			<key>helpDescriptors</key>
			<array>
				<dict>
					<key>type</key>
					<string>SWIPE</string>
					<key>arrowDirection</key>
					<string>LEFT</string>
					<key>frame</key>
					<array>
						<integer>730</integer>
						<integer>310</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>page</key>
			<integer>3</integer>
			<key>elements</key>
			<array/>
		</dict>
		<dict>
			<key>page</key>
			<integer>4</integer>
			<key>elements</key>
			<array/>
		</dict>
		<dict>
			<key>page</key>
			<integer>5</integer>
			<key>elements</key>
			<array>
				<dict>
					<key>description</key>
					<string>Ambient sounds of the sea as heard near the Admiral Benbow</string>
					<key>id</key>
					<string>admiral_benbow</string>
					<key>resource</key>
					<string>Chap1c_Ambient_Intro.m4a</string>
					<key>customClass</key>
					<string>AAmbientSound</string>
				</dict>
				<dict>
					<key>description</key>
					<string>Animation of the smoke rising from the chimney of the Admiral Benbow inn.</string>
					<key>id</key>
					<string>benbow_smoke</string>
					<key>customClass</key>
					<string>ATextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch1b_smoke</string>
					<key>frame</key>
					<array>
						<integer>657</integer>
						<integer>77</integer>
						<integer>55</integer>
						<integer>65</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>imageIndices</key>
							<string>{1,22}</string>
							<key>duration</key>
							<real>2.2</real>
							<key>repeatType</key>
							<string>CONTINUOUS</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>description</key>
					<string>Animation of a wave crashing below the Admiral Benbow inn.</string>
					<key>id</key>
					<string>benbow_wave_1</string>
					<key>customClass</key>
					<string>ATextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch1b_waves1_</string>
					<key>frame</key>
					<array>
						<integer>527</integer>
						<integer>124</integer>
						<integer>45</integer>
						<integer>25</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>imageIndices</key>
							<string>{1,12}</string>
							<key>duration</key>
							<real>1.2</real>
							<key>repeatType</key>
							<string>CONTINUOUS_WITH_DELAY</string>
							<key>repeatDelay</key>
							<integer>2</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>description</key>
					<string>Animation of a wave crashing &apos;way below the Admiral Benbow inn.</string>
					<key>id</key>
					<string>benbow_wave_2</string>
					<key>customClass</key>
					<string>ATextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch1b_waves2_</string>
					<key>frame</key>
					<array>
						<integer>689</integer>
						<integer>606</integer>
						<integer>100</integer>
						<integer>42</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>imageIndices</key>
							<string>{1,12}</string>
							<key>duration</key>
							<real>1.2</real>
							<key>repeatType</key>
							<string>CONTINUOUS_WITH_DELAY</string>
							<key>repeatDelay</key>
							<real>2.3</real>
						</dict>
					</array>
				</dict>
				<dict>
					<key>description</key>
					<string>Animation of &apos;seagull 1&apos; flying across the page.</string>
					<key>id</key>
					<string>seagull_1</string>
					<key>customClass</key>
					<string>ASeagull</string>
					<key>seagullLayer</key>
					<dict>
						<key>id</key>
						<string>seagull_1_layer</string>
						<key>customClass</key>
						<string>ATriggeredTextureAtlasBasedSequence</string>
						<key>resourceBase</key>
						<string>TI_ch1b_seagull_2_1_</string>
						<key>frame</key>
						<array>
							<integer>950</integer>
							<integer>390</integer>
							<integer>120</integer>
							<integer>95</integer>
						</array>
						<key>duration</key>
						<string>3.5</string>
						<key>fadeThreshold</key>
						<integer>1</integer>
						<key>sequences</key>
						<array>
							<dict>
								<key>imageIndices</key>
								<string>{1,7}</string>
								<key>duration</key>
								<real>0.7</real>
								<key>repeatType</key>
								<string>CONTINUOUS</string>
							</dict>
						</array>
						<key>pathPoints</key>
						<array>
							<string>{901, 459}</string>
							<string>{791, 524}</string>
							<string>{719, 544}</string>
							<string>{646, 556}</string>
							<string>{560, 560}</string>
							<string>{447, 565}</string>
							<string>{327, 564}</string>
							<string>{201, 564}</string>
							<string>{112, 557}</string>
							<string>{9, 524}</string>
						</array>
					</dict>
					<key>trigger</key>
					<dict>
						<key>type</key>
						<string>TOUCH</string>
						<key>regions</key>
						<array>
							<array>
								<integer>550</integer>
								<integer>70</integer>
								<integer>200</integer>
								<integer>600</integer>
							</array>
						</array>
					</dict>
				</dict>
				<dict>
					<key>description</key>
					<string>Animation of &apos;seagull 2&apos; flying across the page.</string>
					<key>id</key>
					<string>seagull_2</string>
					<key>customClass</key>
					<string>ASeagull</string>
					<key>seagullLayer</key>
					<dict>
						<key>id</key>
						<string>seagull_2_layer</string>
						<key>customClass</key>
						<string>ATriggeredTextureAtlasBasedSequence</string>
						<key>resourceBase</key>
						<string>TI_ch1b_seagull_2_2_</string>
						<key>frame</key>
						<array>
							<integer>950</integer>
							<integer>507</integer>
							<integer>120</integer>
							<integer>95</integer>
						</array>
						<key>duration</key>
						<integer>3</integer>
						<key>fadeThreshold</key>
						<real>0.75</real>
						<key>sequences</key>
						<array>
							<dict>
								<key>imageIndices</key>
								<string>{1,7}</string>
								<key>duration</key>
								<real>0.85</real>
								<key>repeatType</key>
								<string>CONTINUOUS</string>
							</dict>
						</array>
						<key>pathPoints</key>
						<array>
							<string>{927, 545}</string>
							<string>{837, 612}</string>
							<string>{693, 649}</string>
							<string>{530, 663}</string>
							<string>{394, 665}</string>
							<string>{246, 653}</string>
							<string>{140, 638}</string>
							<string>{77, 628}</string>
							<string>{9, 606}</string>
						</array>
					</dict>
					<key>trigger</key>
					<dict>
						<key>type</key>
						<string>TOUCH</string>
						<key>regions</key>
						<array>
							<array>
								<integer>750</integer>
								<integer>70</integer>
								<integer>200</integer>
								<integer>600</integer>
							</array>
						</array>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
