<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pages</key>
	<array>
		<dict>
			<key>page</key>
			<integer>0</integer>
			<key>elements</key>
			<array>
				<dict>
					<key>description</key>
					<string>Telescope</string>
					<key>id</key>
					<string>telescope_header</string>
					<key>customClass</key>
					<string>ATextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch1_header</string>
					<key>frame</key>
					<array>
						<integer>276</integer>
						<integer>149</integer>
						<integer>52</integer>
						<integer>17</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>telescope header</string>
							<key>imageIndices</key>
							<string>{1,14}</string>
							<key>duration</key>
							<integer>2</integer>
							<key>repeatType</key>
							<string>CONTINUOUS_WITH_DELAY</string>
							<key>repeatDelay</key>
							<real>2.4</real>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>page</key>
			<integer>1</integer>
			<key>elements</key>
			<array>
				<dict>
					<key>description</key>
					<string>Ambient sounds of a busy street.</string>
					<key>id</key>
					<string>busy_street</string>
					<key>resource</key>
					<string>Chap8_AMB_Sized.m4a</string>
					<key>customClass</key>
					<string>AAmbientSound</string>
					<key>numLoops</key>
					<integer>-1</integer>
				</dict>
				<dict>
					<key>trigger</key>
					<dict>
						<key>type</key>
						<string>TOUCH</string>
						<key>regions</key>
						<array>
							<array>
								<integer>130</integer>
								<integer>300</integer>
								<integer>65</integer>
								<integer>110</integer>
							</array>
						</array>
					</dict>
					<key>description</key>
					<string>The spyglass sign.</string>
					<key>id</key>
					<string>spyglass_sign</string>
					<key>customClass</key>
					<string>ATriggeredTextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch8_spyglass_sign</string>
					<key>frame</key>
					<array>
						<integer>145</integer>
						<integer>282</integer>
						<integer>65</integer>
						<integer>105</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>The spyglass sign winking</string>
							<key>imageIndices</key>
							<string>{1,45}</string>
							<key>duration</key>
							<real>4.5</real>
						</dict>
					</array>
				</dict>
				<dict>
					<key>description</key>
					<string>The fluttering ribboon.</string>
					<key>id</key>
					<string>fluttering_ribbon</string>
					<key>customClass</key>
					<string>ATextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch8_hat_ribbon_flutter</string>
					<key>frame</key>
					<array>
						<integer>596</integer>
						<integer>345</integer>
						<integer>40</integer>
						<integer>35</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>The ribbon fluttering.</string>
							<key>imageIndices</key>
							<string>{1,7}</string>
							<key>duration</key>
							<real>0.7</real>
							<key>repeatType</key>
							<string>CONTINUOUS</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>trigger</key>
					<dict>
						<key>type</key>
						<string>TOUCH</string>
						<key>regions</key>
						<array>
							<array>
								<integer>0</integer>
								<integer>400</integer>
								<integer>100</integer>
								<integer>200</integer>
							</array>
						</array>
					</dict>
					<key>description</key>
					<string>The man walking in and out of the doorway under the sign.</string>
					<key>id</key>
					<string>man_under_sign</string>
					<key>customClass</key>
					<string>ATriggeredTextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch8_man_under_sign</string>
					<key>frame</key>
					<array>
						<integer>78</integer>
						<integer>415</integer>
						<integer>85</integer>
						<integer>130</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>imageIndices</key>
							<string>{1,14}</string>
							<key>duration</key>
							<real>1.7</real>
							<key>transitionsFrom</key>
							<array>
								<string>0,8</string>
							</array>
						</dict>
						<dict>
							<key>imageIndices</key>
							<string>{0,14}</string>
							<key>duration</key>
							<real>0.7</real>
							<key>transitionsFrom</key>
							<array>
								<string>1,15</string>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>description</key>
					<string>The dog barking and chasing the 2 guys carrying a huge fish.</string>
					<key>id</key>
					<string>barking_dog</string>
					<key>customClass</key>
					<string>ATriggeredTextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch8_dog</string>
					<key>frame</key>
					<array>
						<integer>402</integer>
						<integer>570</integer>
						<integer>65</integer>
						<integer>50</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>The dog just wagging his tail.</string>
							<key>imageIndices</key>
							<string>{1,4}</string>
							<key>duration</key>
							<real>0.4</real>
							<key>repeatType</key>
							<string>CONTINUOUS</string>
							<key>transitionsFrom</key>
							<array>
								<string>1,25</string>
							</array>
						</dict>
						<dict>
							<key>description</key>
							<string>The dog barking and wagging his tail.</string>
							<key>imageIndices</key>
							<string>{5,20}</string>
							<key>duration</key>
							<real>2</real>
							<key>soundEffect</key>
							<dict>
								<key>description</key>
								<string>The dog&apos;s bark.</string>
								<key>type</key>
								<string>SOUNDEFFECT</string>
								<key>id</key>
								<string>dog_bark</string>
								<key>customClass</key>
								<string>ASoundEffect</string>
								<key>resource</key>
								<string>Chap8_DogBark1 1.m4a</string>
							</dict>
							<key>transitionsFrom</key>
							<array>
								<string>0,1</string>
								<string>0,2</string>
								<string>0,3</string>
								<string>0,4</string>
							</array>
						</dict>
					</array>
					<key>trigger</key>
					<dict>
						<key>type</key>
						<string>TOUCH</string>
						<key>regions</key>
						<array>
							<array>
								<integer>370</integer>
								<integer>535</integer>
								<integer>140</integer>
								<integer>140</integer>
							</array>
						</array>
					</dict>
				</dict>
				<dict>
					<key>trigger</key>
					<dict>
						<key>type</key>
						<string>TOUCH</string>
						<key>regions</key>
						<array>
							<array>
								<integer>460</integer>
								<integer>480</integer>
								<integer>120</integer>
								<integer>230</integer>
							</array>
						</array>
					</dict>
					<key>description</key>
					<string>The black pirate waving on the bow of the ship.</string>
					<key>id</key>
					<string>black_pirate</string>
					<key>customClass</key>
					<string>ATriggeredTextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch8_black_pirate</string>
					<key>frame</key>
					<array>
						<integer>454</integer>
						<integer>438</integer>
						<integer>175</integer>
						<integer>210</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>The pirate waving.</string>
							<key>imageIndices</key>
							<string>{1,12}</string>
							<key>duration</key>
							<real>1.2</real>
						</dict>
					</array>
				</dict>
				<dict>
					<key>description</key>
					<string>The bobbing ship with a painter onboard.</string>
					<key>id</key>
					<string>bobbing_painter</string>
					<key>customClass</key>
					<string>ABobbingPainter</string>
					<key>bobbingShipLayer</key>
					<dict>
						<key>description</key>
						<string>The ship bobbing at anchor.</string>
						<key>id</key>
						<string>bobbing_ship</string>
						<key>customClass</key>
						<string>APositionAnimation</string>
						<key>resource</key>
						<string>TI_ch8_ship.png</string>
						<key>frame</key>
						<array>
							<integer>764</integer>
							<integer>309</integer>
							<integer>227</integer>
							<integer>315</integer>
						</array>
						<key>xDelta</key>
						<real>0</real>
						<key>yDelta</key>
						<integer>20</integer>
						<key>timingFunctionName</key>
						<string>EaseInEaseOut</string>
						<key>autoReverse</key>
						<true/>
						<key>duration</key>
						<integer>3</integer>
						<key>updateToFinalPosition</key>
						<false/>
						<key>repeatType</key>
						<string>CONTINUOUS</string>
						<key>painterAnimation</key>
						<dict>
							<key>description</key>
							<string>The man painting the ship&apos;s figurehead.</string>
							<key>id</key>
							<string>ship_painter</string>
							<key>customClass</key>
							<string>ATextureAtlasBasedSequence</string>
							<key>resourceBase</key>
							<string>TI_ch8_painter</string>
							<key>frame</key>
							<array>
								<integer>96</integer>
								<integer>35</integer>
								<integer>38</integer>
								<integer>40</integer>
							</array>
							<key>sequences</key>
							<array>
								<dict>
									<key>imageIndices</key>
									<string>{1,15}</string>
									<key>duration</key>
									<real>1.5</real>
									<key>repeatType</key>
									<string>CONTINUOUS_WITH_DELAY</string>
									<key>repeatDelay</key>
									<real>1.5</real>
								</dict>
							</array>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>description</key>
					<string>The chain holding the bobbing ship.</string>
					<key>id</key>
					<string>ship_chain</string>
					<key>customClass</key>
					<string>ATextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch8_ship_chain</string>
					<key>frame</key>
					<array>
						<integer>793</integer>
						<integer>440</integer>
						<integer>124</integer>
						<integer>217</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>The chain tightening and relaxing, tightening and relaxing, ...</string>
							<key>imageIndices</key>
							<string>{1,39}</string>
							<key>duration</key>
							<integer>6</integer>
							<key>repeatType</key>
							<string>CONTINUOUS</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>description</key>
					<string>Foreground layer behind which the ship will bob.</string>
					<key>id</key>
					<string>foreground_layer</string>
					<key>customClass</key>
					<string>AStaticImage</string>
					<key>resource</key>
					<string>foreground.png</string>
					<key>frame</key>
					<array>
						<integer>647</integer>
						<integer>347</integer>
						<integer>378</integer>
						<integer>399</integer>
					</array>
				</dict>
				<dict>
					<key>description</key>
					<string>The cargo that can be moved vertically with a finger swipe.</string>
					<key>id</key>
					<string>cargo_and_pully</string>
					<key>customClass</key>
					<string>ACargoAndPully</string>
					<key>cargoView</key>
					<dict>
						<key>resource</key>
						<string>box.png</string>
						<key>frame</key>
						<array>
							<integer>483</integer>
							<integer>0</integer>
							<integer>76</integer>
							<integer>229</integer>
						</array>
						<key>minY</key>
						<integer>100</integer>
						<key>maxY</key>
						<integer>225</integer>
						<key>cargoDownSoundEffect</key>
						<string>Chap8_PulleyDown.m4a</string>
						<key>cargoUpSoundEffect</key>
						<string>Chap8_PulleyUp.m4a</string>
					</dict>
					<key>trigger</key>
					<dict>
						<key>type</key>
						<string>PAN</string>
						<key>minTouches</key>
						<integer>1</integer>
						<key>maxTouches</key>
						<integer>1</integer>
						<key>regions</key>
						<array>
							<array>
								<integer>480</integer>
								<integer>100</integer>
								<integer>100</integer>
								<integer>225</integer>
							</array>
						</array>
					</dict>
				</dict>
				<dict>
					<key>description</key>
					<string>The layer hiding the rope holding the cargo.</string>
					<key>id</key>
					<string>rope_hide_layer</string>
					<key>customClass</key>
					<string>AStaticImage</string>
					<key>resource</key>
					<string>hide_layer.png</string>
					<key>frame</key>
					<array>
						<integer>482</integer>
						<integer>0</integer>
						<integer>48</integer>
						<integer>114</integer>
					</array>
				</dict>
				<dict>
					<key>description</key>
					<string>Jim, contemplating...</string>
					<key>id</key>
					<string>jim_contemplating</string>
					<key>customClass</key>
					<string>ATriggeredSoundEffect</string>
					<key>resource</key>
					<string>Jim_Hmm.m4a</string>
					<key>trigger</key>
					<dict>
						<key>type</key>
						<string>TOUCH</string>
						<key>regions</key>
						<array>
							<array>
								<integer>290</integer>
								<integer>435</integer>
								<integer>100</integer>
								<integer>100</integer>
							</array>
						</array>
					</dict>
				</dict>
				<dict>
					<key>description</key>
					<string>The smoke rising from Smollet&apos;s pipe.</string>
					<key>id</key>
					<string>pipe_smoke</string>
					<key>customClass</key>
					<string>ATextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch8_smollet_pipe_smoke</string>
					<key>frame</key>
					<array>
						<integer>321</integer>
						<integer>357</integer>
						<integer>14</integer>
						<integer>40</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>imageIndices</key>
							<string>{1,25}</string>
							<key>duration</key>
							<real>2.5</real>
							<key>repeatType</key>
							<string>CONTINUOUS</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>description</key>
					<string>The huge fish being carried by the two fishermen.</string>
					<key>id</key>
					<string>huge_fish</string>
					<key>customClass</key>
					<string>ATextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch8_fish</string>
					<key>frame</key>
					<array>
						<integer>278</integer>
						<integer>556</integer>
						<integer>103</integer>
						<integer>79</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>imageIndices</key>
							<string>{1,15}</string>
							<key>duration</key>
							<real>1.5</real>
							<key>repeatType</key>
							<string>CONTINUOUS</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>description</key>
					<string>The police checking things out.</string>
					<key>id</key>
					<string>the_police</string>
					<key>customClass</key>
					<string>ATextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch8_police</string>
					<key>frame</key>
					<array>
						<integer>48</integer>
						<integer>641</integer>
						<integer>100</integer>
						<integer>80</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>imageIndices</key>
							<string>{1,24}</string>
							<key>duration</key>
							<real>2.4</real>
							<key>repeatType</key>
							<string>CONTINUOUS_WITH_DELAY</string>
							<key>repeatDelay</key>
							<real>1.5</real>
						</dict>
					</array>
				</dict>
				<dict>
					<key>description</key>
					<string>The ears of the horse, twitching.</string>
					<key>id</key>
					<string>horse_ears</string>
					<key>customClass</key>
					<string>ATextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch8_horse_ears</string>
					<key>frame</key>
					<array>
						<integer>417</integer>
						<integer>338</integer>
						<integer>18</integer>
						<integer>17</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>imageIndices</key>
							<string>{1,5}</string>
							<key>duration</key>
							<real>0.5</real>
							<key>repeatType</key>
							<string>CONTINUOUS_WITH_DELAY</string>
							<key>repeatDelay</key>
							<integer>2</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>description</key>
					<string>A man on the street, doffing his hat.</string>
					<key>id</key>
					<string>hat_doff</string>
					<key>customClass</key>
					<string>ATextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch8_man_doffs_hat</string>
					<key>frame</key>
					<array>
						<integer>669</integer>
						<integer>309</integer>
						<integer>50</integer>
						<integer>50</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>imageIndices</key>
							<string>{1,20}</string>
							<key>duration</key>
							<real>2</real>
							<key>repeatType</key>
							<string>CONTINUOUS_WITH_DELAY</string>
							<key>repeatDelay</key>
							<integer>5</integer>
						</dict>
					</array>
				</dict>
			</array>
			<key>helpDescriptors</key>
			<array>
				<dict>
					<key>description</key>
					<string>Help icon for the movable cargo.</string>
					<key>type</key>
					<string>SWIPE</string>
					<key>arrowDirection</key>
					<string>DOWN</string>
					<key>frame</key>
					<array>
						<integer>468</integer>
						<integer>110</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
				<dict>
					<key>description</key>
					<string>Help icon for the barking dog.</string>
					<key>type</key>
					<string>TAP</string>
					<key>frame</key>
					<array>
						<integer>383</integer>
						<integer>542</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
				<dict>
					<key>description</key>
					<string>Help icon for Jim.</string>
					<key>type</key>
					<string>TAP</string>
					<key>frame</key>
					<array>
						<integer>290</integer>
						<integer>435</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>page</key>
			<integer>3</integer>
			<key>elements</key>
			<array>
				<dict>
					<key>description</key>
					<string>Ambient sounds of a quiet cabin on the ship</string>
					<key>id</key>
					<string>quiet_cabin</string>
					<key>resource</key>
					<string>CHap8b_AMB_Sized_WithTaps-r2.m4a</string>
					<key>customClass</key>
					<string>AAmbientSound</string>
				</dict>
				<dict>
					<key>description</key>
					<string>The cups hanging on the beam near LJS&apos;s head.</string>
					<key>id</key>
					<string>swinging_cups</string>
					<key>customClass</key>
					<string>ACups</string>
					<key>leftCupLayer</key>
					<dict>
						<key>resource</key>
						<string>tankard1.png</string>
						<key>frame</key>
						<array>
							<integer>393</integer>
							<integer>90</integer>
							<integer>61</integer>
							<integer>61</integer>
						</array>
						<key>anchorPoint</key>
						<array>
							<integer>24</integer>
							<integer>4</integer>
						</array>
					</dict>
					<key>rightCupLayer</key>
					<dict>
						<key>resource</key>
						<string>tankard2.png</string>
						<key>frame</key>
						<array>
							<integer>427</integer>
							<integer>136</integer>
							<integer>69</integer>
							<integer>65</integer>
						</array>
						<key>anchorPoint</key>
						<array>
							<integer>42</integer>
							<integer>6</integer>
						</array>
					</dict>
					<key>triggers</key>
					<array>
						<dict>
							<key>type</key>
							<string>TILT</string>
							<key>tiltNotificationEvent</key>
							<string>ALWAYS</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>description</key>
					<string>Animation of a rum bottle rolling on the floor.</string>
					<key>id</key>
					<string>bottle_roll</string>
					<key>customClass</key>
					<string>ARollingBottle</string>
					<key>rollingSequences</key>
					<dict>
						<key>resourceBase</key>
						<string>TI_ch8_bottle_roll</string>
						<key>frame</key>
						<array>
							<integer>200</integer>
							<integer>520</integer>
							<integer>238</integer>
							<integer>92</integer>
						</array>
						<key>sequences</key>
						<array>
							<dict>
								<key>description</key>
								<string>The complete rolling sequence.</string>
								<key>imageIndices</key>
								<string>{1,30}</string>
								<key>unpatterned</key>
								<true/>
								<key>initialFrame</key>
								<integer>15</integer>
							</dict>
						</array>
						<key>singleTurnSoundEffect</key>
						<string>Chap8b_BottleSnippet1.m4a</string>
						<key>l2RSoundEffect</key>
						<string>Chap8.2_BottleRoll2-V2.m4a</string>
						<key>r2LSoundEffect</key>
						<string>Chap8.2_BottleRoll2.m4a</string>
					</dict>
					<key>trigger</key>
					<dict>
						<key>type</key>
						<string>TILT</string>
						<key>tiltNotificationEvent</key>
						<string>ALWAYS</string>
					</dict>
				</dict>
				<dict>
					<key>description</key>
					<string>The table on which the mysterious fingers are tapping.</string>
					<key>id</key>
					<string>tapping_table</string>
					<key>customClass</key>
					<string>AStaticImage</string>
					<key>resource</key>
					<string>table.png</string>
					<key>frame</key>
					<array>
						<integer>375</integer>
						<integer>490</integer>
						<integer>138</integer>
						<integer>161</integer>
					</array>
				</dict>
				<dict>
					<key>description</key>
					<string>The mysterious fingers tapping on the table.</string>
					<key>id</key>
					<string>tapping_fingers</string>
					<key>customClass</key>
					<string>ATextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch8_fingers_tapping</string>
					<key>frame</key>
					<array>
						<integer>413</integer>
						<integer>546</integer>
						<integer>100</integer>
						<integer>65</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>The fingers drumming.</string>
							<key>imageIndices</key>
							<string>{1,11}</string>
							<key>duration</key>
							<real>1.1</real>
							<key>repeatType</key>
							<string>CONTINUOUS</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>description</key>
					<string>LJS laughing</string>
					<key>id</key>
					<string>ljs_laughing</string>
					<key>customClass</key>
					<string>ATriggeredTextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch8_LJS_laughs</string>
					<key>frame</key>
					<array>
						<integer>149</integer>
						<integer>109</integer>
						<integer>260</integer>
						<integer>208</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>LJS, silent, before laughing.</string>
							<key>imageIndices</key>
							<string>{1,1}</string>
							<key>duration</key>
							<integer>1</integer>
							<key>repeatType</key>
							<string>CONTINUOUS</string>
							<key>transitionsFrom</key>
							<array>
								<string>1,21</string>
							</array>
						</dict>
						<dict>
							<key>description</key>
							<string>LJS laughing.</string>
							<key>imageIndices</key>
							<string>{1,21}</string>
							<key>duration</key>
							<real>2.1</real>
							<key>transitionsFrom</key>
							<array>
								<string>0,1</string>
							</array>
							<key>soundEffect</key>
							<dict>
								<key>description</key>
								<string>LJS laughing</string>
								<key>type</key>
								<string>SOUNDEFFECT</string>
								<key>id</key>
								<string>ljs_laugh</string>
								<key>customClass</key>
								<string>ASoundEffect</string>
								<key>resource</key>
								<string>Chap8b_DLG_LongJohnSilver_Laughs2.m4a</string>
							</dict>
						</dict>
					</array>
					<key>trigger</key>
					<dict>
						<key>type</key>
						<string>TOUCH</string>
						<key>regions</key>
						<array>
							<array>
								<integer>149</integer>
								<integer>109</integer>
								<integer>260</integer>
								<integer>208</integer>
							</array>
						</array>
					</dict>
				</dict>
			</array>
			<key>helpDescriptors</key>
			<array>
				<dict>
					<key>type</key>
					<string>TAP</string>
					<key>frame</key>
					<array>
						<integer>250</integer>
						<integer>190</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
				<dict>
					<key>type</key>
					<string>ROTATE</string>
					<key>frame</key>
					<array>
						<integer>250</integer>
						<integer>535</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
