<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pages</key>
	<array>
		<dict>
			<key>page</key>
			<integer>0</integer>
			<key>elements</key>
			<array>
				<dict>
					<key>description</key>
					<string>The chapter header.</string>
					<key>id</key>
					<string>ch5_header</string>
					<key>customClass</key>
					<string>ATextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch5_header</string>
					<key>frame</key>
					<array>
						<integer>243</integer>
						<integer>130</integer>
						<integer>110</integer>
						<integer>40</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>The animated stick header.</string>
							<key>imageIndices</key>
							<string>{1,15}</string>
							<key>duration</key>
							<real>1.5</real>
							<key>repeatType</key>
							<string>CONTINUOUS_WITH_DELAY</string>
							<key>repeatDelay</key>
							<integer>2</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>page</key>
			<integer>2</integer>
			<key>elements</key>
			<array>
				<dict>
					<key>description</key>
					<string>Ambient sound of the night.</string>
					<key>id</key>
					<string>the_night</string>
					<key>resource</key>
					<string>Chap5_ForestNightAmbience5b.m4a</string>
					<key>customClass</key>
					<string>AAmbientSound</string>
					<key>numLoops</key>
					<integer>-1</integer>
				</dict>
				<dict>
					<key>description</key>
					<string>Ambient sound of horses galloping.</string>
					<key>id</key>
					<string>horses_galloping</string>
					<key>resource</key>
					<string>Chap5_HorseGallup4.m4a</string>
					<key>customClass</key>
					<string>AAmbientSound</string>
				</dict>
				<dict>
					<key>description</key>
					<string>Pew screaming!</string>
					<key>id</key>
					<string>pew_screaming</string>
					<key>resource</key>
					<string>Chap5_DLG_Pew_Ahh_Longer.m4a</string>
					<key>customClass</key>
					<string>AAmbientSound</string>
				</dict>
				<dict>
					<key>description</key>
					<string>Dust disturbed by the horses&apos; hooves. (1)</string>
					<key>id</key>
					<string>dust_1</string>
					<key>customClass</key>
					<string>APositionAnimation</string>
					<key>resource</key>
					<string>dust1.png</string>
					<key>frame</key>
					<array>
						<integer>204</integer>
						<integer>600</integer>
						<integer>262</integer>
						<integer>80</integer>
					</array>
					<key>duration</key>
					<integer>5</integer>
					<key>xDelta</key>
					<integer>40</integer>
					<key>yDelta</key>
					<integer>-30</integer>
				</dict>
				<dict>
					<key>description</key>
					<string>Dust disturbed by the horses&apos; hooves. (2)</string>
					<key>id</key>
					<string>dust_2</string>
					<key>customClass</key>
					<string>APositionAnimation</string>
					<key>resource</key>
					<string>dust2.png</string>
					<key>frame</key>
					<array>
						<integer>200</integer>
						<integer>500</integer>
						<integer>174</integer>
						<integer>140</integer>
					</array>
					<key>duration</key>
					<integer>7</integer>
					<key>xDelta</key>
					<integer>40</integer>
					<key>yDelta</key>
					<integer>-30</integer>
				</dict>
				<dict>
					<key>description</key>
					<string>Dust disturbed by the horses&apos; hooves. (3)</string>
					<key>id</key>
					<string>dust_3</string>
					<key>customClass</key>
					<string>APositionAnimation</string>
					<key>resource</key>
					<string>dust3.png</string>
					<key>frame</key>
					<array>
						<integer>266</integer>
						<integer>654</integer>
						<integer>222</integer>
						<integer>166</integer>
					</array>
					<key>duration</key>
					<integer>6</integer>
					<key>xDelta</key>
					<integer>40</integer>
					<key>yDelta</key>
					<integer>-30</integer>
				</dict>
				<dict>
					<key>description</key>
					<string>Dust disturbed by the horses&apos; hooves. (4)</string>
					<key>id</key>
					<string>dust_4</string>
					<key>customClass</key>
					<string>APositionAnimation</string>
					<key>resource</key>
					<string>dust4.png</string>
					<key>frame</key>
					<array>
						<integer>428</integer>
						<integer>455</integer>
						<integer>349</integer>
						<integer>299</integer>
					</array>
					<key>duration</key>
					<integer>10</integer>
					<key>xDelta</key>
					<integer>40</integer>
					<key>yDelta</key>
					<integer>-30</integer>
				</dict>
				<dict>
					<key>description</key>
					<string>Dust disturbed by the horses&apos; hooves. (5)</string>
					<key>id</key>
					<string>dust_5</string>
					<key>customClass</key>
					<string>APositionAnimation</string>
					<key>resource</key>
					<string>dust5.png</string>
					<key>frame</key>
					<array>
						<integer>775</integer>
						<integer>422</integer>
						<integer>230</integer>
						<integer>240</integer>
					</array>
					<key>duration</key>
					<integer>8</integer>
					<key>xDelta</key>
					<integer>40</integer>
					<key>yDelta</key>
					<integer>-30</integer>
				</dict>
				<dict>
					<key>description</key>
					<string>The riders.</string>
					<key>id</key>
					<string>the_riders</string>
					<key>customClass</key>
					<string>AStaticImage</string>
					<key>resource</key>
					<string>riders.png</string>
					<key>frame</key>
					<array>
						<integer>134</integer>
						<integer>10</integer>
						<integer>863</integer>
						<integer>648</integer>
					</array>
				</dict>
				<dict>
					<key>description</key>
					<string>The lantern held by the rearward-most rider, swinging because of the horse&apos;s motion.</string>
					<key>id</key>
					<string>swinging_lantern</string>
					<key>customClass</key>
					<string>ALantern</string>
					<key>resource</key>
					<string>lantern.png</string>
					<key>frame</key>
					<array>
						<integer>650</integer>
						<integer>100</integer>
						<integer>115</integer>
						<integer>106</integer>
					</array>
					<key>anchorPoint</key>
					<array>
						<integer>58</integer>
						<integer>0</integer>
					</array>
					<key>lanternSoundEffect</key>
					<string>Chap5_Lantern2.m4a</string>
					<key>triggers</key>
					<array>
						<dict>
							<key>type</key>
							<string>TILT</string>
							<key>tiltNotificationEvent</key>
							<string>ALWAYS</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>description</key>
					<string>The moon, pulsing in the sky.</string>
					<key>id</key>
					<string>pulsing_moon</string>
					<key>customClass</key>
					<string>ASimplePropertyAnimation</string>
					<key>resource</key>
					<string>moon.png</string>
					<key>frame</key>
					<array>
						<integer>20</integer>
						<integer>0</integer>
						<integer>192</integer>
						<integer>180</integer>
					</array>
					<key>keyPath</key>
					<string>opacity</string>
					<key>fromValue</key>
					<integer>1</integer>
					<key>toValue</key>
					<real>0.5</real>
					<key>duration</key>
					<integer>4</integer>
					<key>repeatType</key>
					<string>CONTINUOUS</string>
				</dict>
				<dict>
					<key>description</key>
					<string>The stars, twinkling in the sky (1).</string>
					<key>id</key>
					<string>stars_1</string>
					<key>customClass</key>
					<string>ASimplePropertyAnimation</string>
					<key>resource</key>
					<string>stars1.png</string>
					<key>frame</key>
					<array>
						<integer>23</integer>
						<integer>10</integer>
						<integer>309</integer>
						<integer>243</integer>
					</array>
					<key>keyPath</key>
					<string>opacity</string>
					<key>fromValue</key>
					<integer>1</integer>
					<key>toValue</key>
					<real>0.6</real>
					<key>duration</key>
					<real>1.6</real>
					<key>repeatType</key>
					<string>CONTINUOUS</string>
				</dict>
				<dict>
					<key>description</key>
					<string>The stars, twinkling in the sky (2).</string>
					<key>id</key>
					<string>stars_2</string>
					<key>customClass</key>
					<string>ASimplePropertyAnimation</string>
					<key>resource</key>
					<string>stars2.png</string>
					<key>frame</key>
					<array>
						<integer>23</integer>
						<integer>20</integer>
						<integer>309</integer>
						<integer>243</integer>
					</array>
					<key>keyPath</key>
					<string>opacity</string>
					<key>fromValue</key>
					<integer>1</integer>
					<key>toValue</key>
					<real>0.4</real>
					<key>duration</key>
					<integer>1</integer>
					<key>repeatType</key>
					<string>CONTINUOUS</string>
				</dict>
				<dict>
					<key>description</key>
					<string>The animation of Pew&apos;s cane</string>
					<key>id</key>
					<string>pews_cane</string>
					<key>resource</key>
					<string>stick.png</string>
					<key>customClass</key>
					<string>ACane</string>
					<key>objectWallCollisionSoundEffect</key>
					<string>Chap3_CaneTap3.m4a</string>
					<key>frame</key>
					<array>
						<integer>50</integer>
						<integer>500</integer>
						<integer>192</integer>
						<integer>61</integer>
					</array>
					<key>anchorPoint</key>
					<array>
						<integer>1</integer>
						<integer>1</integer>
					</array>
					<key>triggers</key>
					<array>
						<dict>
							<key>type</key>
							<string>PAN</string>
							<key>minTouches</key>
							<integer>1</integer>
							<key>maxTouches</key>
							<integer>1</integer>
							<key>regions</key>
							<array>
								<array>
									<integer>240</integer>
									<integer>400</integer>
									<integer>192</integer>
									<integer>61</integer>
								</array>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>description</key>
					<string>Pew falling out of frame.</string>
					<key>id</key>
					<string>pew_falling</string>
					<key>customClass</key>
					<string>APositionAnimation</string>
					<key>resource</key>
					<string>ch5_pg20_falling_pew.png</string>
					<key>frame</key>
					<array>
						<integer>35</integer>
						<integer>473</integer>
						<integer>273</integer>
						<integer>226</integer>
					</array>
					<key>xDelta</key>
					<integer>-286</integer>
					<key>yDelta</key>
					<integer>748</integer>
					<key>duration</key>
					<integer>40</integer>
				</dict>
			</array>
			<key>helpDescriptors</key>
			<array>
				<dict>
					<key>type</key>
					<string>ROTATE</string>
					<key>frame</key>
					<array>
						<integer>655</integer>
						<integer>90</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
				<dict>
					<key>type</key>
					<string>SWIPE</string>
					<key>arrowDirection</key>
					<string>DOWN</string>
					<key>frame</key>
					<array>
						<integer>300</integer>
						<integer>385</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
