<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pages</key>
	<array>
		<dict>
			<key>page</key>
			<integer>0</integer>
			<key>elements</key>
			<array>
				<dict>
					<key>description</key>
					<string>The storm at sea.</string>
					<key>id</key>
					<string>the_storm</string>
					<key>customClass</key>
					<string>AAmbientSound</string>
					<key>resource</key>
					<string>Chap23_AMB_Sized.m4a</string>
				</dict>
				<dict>
					<key>description</key>
					<string>The stars, twinkling in the sky (1).</string>
					<key>id</key>
					<string>ch_23_stars_1</string>
					<key>customClass</key>
					<string>ASimplePropertyAnimation</string>
					<key>resource</key>
					<string>ch23_stars1.png</string>
					<key>frame</key>
					<array>
						<integer>75</integer>
						<integer>70</integer>
						<integer>433</integer>
						<integer>376</integer>
					</array>
					<key>keyPath</key>
					<string>opacity</string>
					<key>fromValue</key>
					<integer>1</integer>
					<key>toValue</key>
					<real>0.6</real>
					<key>duration</key>
					<integer>1</integer>
					<key>repeatType</key>
					<string>CONTINUOUS</string>
					<key>updateToFinalValue</key>
					<false/>
				</dict>
				<dict>
					<key>description</key>
					<string>The stars, twinkling in the sky (2).</string>
					<key>id</key>
					<string>ch_23_stars_2</string>
					<key>customClass</key>
					<string>ASimplePropertyAnimation</string>
					<key>resource</key>
					<string>ch23_stars2.png</string>
					<key>frame</key>
					<array>
						<integer>75</integer>
						<integer>70</integer>
						<integer>433</integer>
						<integer>376</integer>
					</array>
					<key>keyPath</key>
					<string>opacity</string>
					<key>fromValue</key>
					<integer>1</integer>
					<key>toValue</key>
					<real>0.8</real>
					<key>duration</key>
					<real>0.8</real>
					<key>repeatType</key>
					<string>CONTINUOUS</string>
					<key>updateToFinalValue</key>
					<false/>
				</dict>
				<dict>
					<key>description</key>
					<string>Animation of Jim in a small boat in rough seas.</string>
					<key>id</key>
					<string>rough_seas</string>
					<key>customClass</key>
					<string>ARoughSeas</string>
					<key>shipLayer</key>
					<dict>
						<key>resource</key>
						<string>layerback.png</string>
						<key>frame</key>
						<array>
							<integer>70</integer>
							<integer>78</integer>
							<integer>445</integer>
							<integer>520</integer>
						</array>
					</dict>
					<key>seaLayer</key>
					<dict>
						<key>resource</key>
						<string>layerfront.png</string>
						<key>frame</key>
						<array>
							<integer>70</integer>
							<integer>222</integer>
							<integer>445</integer>
							<integer>464</integer>
						</array>
						<key>xDelta</key>
						<integer>0</integer>
						<key>yDelta</key>
						<integer>-18</integer>
						<key>repeatType</key>
						<string>CONTINUOUS</string>
						<key>duration</key>
						<integer>3</integer>
						<key>autoReverse</key>
						<true/>
						<key>timingFunctionName</key>
						<string>EaseInEaseOut</string>
					</dict>
					<key>borderLayer</key>
					<dict>
						<key>resource</key>
						<string>border.png</string>
						<key>frame</key>
						<array>
							<integer>70</integer>
							<integer>70</integer>
							<integer>445</integer>
							<integer>616</integer>
						</array>
					</dict>
					<key>flickeringLightLayer</key>
					<dict>
						<key>description</key>
						<string>The ship&apos;s light, flickering in the storm.</string>
						<key>id</key>
						<string>ship_light_flicker</string>
						<key>customClass</key>
						<string>ATextureAtlasBasedSequence</string>
						<key>resourceBase</key>
						<string>TI_ch23_ship_light_flicker</string>
						<key>frame</key>
						<array>
							<integer>235</integer>
							<integer>245</integer>
							<integer>122</integer>
							<integer>120</integer>
						</array>
						<key>sequences</key>
						<array>
							<dict>
								<key>description</key>
								<string>The flickering light.</string>
								<key>imageIndices</key>
								<string>{1,7}</string>
								<key>duration</key>
								<real>0.7</real>
								<key>repeatType</key>
								<string>CONTINUOUS</string>
							</dict>
						</array>
					</dict>
					<key>choppyWave1Layer</key>
					<dict>
						<key>description</key>
						<string>Choppy wave 1.</string>
						<key>id</key>
						<string>wave_1</string>
						<key>customClass</key>
						<string>ATextureAtlasBasedSequence</string>
						<key>resourceBase</key>
						<string>TI_ch23_wave1</string>
						<key>frame</key>
						<array>
							<integer>10</integer>
							<integer>211</integer>
							<integer>127</integer>
							<integer>102</integer>
						</array>
						<key>sequences</key>
						<array>
							<dict>
								<key>description</key>
								<string>Wave 1 </string>
								<key>imageIndices</key>
								<string>{1,10}</string>
								<key>duration</key>
								<real>1.2</real>
								<key>repeatType</key>
								<string>CONTINUOUS</string>
							</dict>
						</array>
					</dict>
					<key>choppyWave2Layer</key>
					<dict>
						<key>description</key>
						<string>Wave 2</string>
						<key>id</key>
						<string>wave_2</string>
						<key>customClass</key>
						<string>ATextureAtlasBasedSequence</string>
						<key>resourceBase</key>
						<string>TI_ch23_wave2</string>
						<key>frame</key>
						<array>
							<integer>350</integer>
							<integer>10</integer>
							<integer>91</integer>
							<integer>153</integer>
						</array>
						<key>sequences</key>
						<array>
							<dict>
								<key>description</key>
								<string>Wave 2</string>
								<key>imageIndices</key>
								<string>{1,10}</string>
								<key>duration</key>
								<real>1.4</real>
								<key>repeatType</key>
								<string>CONTINUOUS</string>
							</dict>
						</array>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
