<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pages</key>
	<array>
		<dict>
			<key>page</key>
			<integer>0</integer>
			<key>elements</key>
			<array>
				<dict>
					<key>description</key>
					<string>Digging in the jungle.</string>
					<key>id</key>
					<string>jungle_dig</string>
					<key>customClass</key>
					<string>AAmbientSound</string>
					<key>resource</key>
					<string>Chap32_AMB_Sized.m4a</string>
				</dict>
				<dict>
					<key>description</key>
					<string>The pirate waving a sign.</string>
					<key>id</key>
					<string>pirate_wave_sign</string>
					<key>customClass</key>
					<string>ATextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch32_pirate_wave_sign</string>
					<key>frame</key>
					<array>
						<integer>225</integer>
						<integer>454</integer>
						<integer>55</integer>
						<integer>65</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>The pirate waving a sign.</string>
							<key>imageIndices</key>
							<string>{1,15}</string>
							<key>duration</key>
							<real>1.5</real>
							<key>repeatType</key>
							<string>CONTINUOUS</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>description</key>
					<string>Funny Ben 1</string>
					<key>id</key>
					<string>funny_ben_1</string>
					<key>customClass</key>
					<string>ATriggeredTextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch32_funny_ben_1</string>
					<key>frame</key>
					<array>
						<integer>105</integer>
						<integer>533</integer>
						<integer>189</integer>
						<integer>121</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>Ben hiding...</string>
							<key>imageIndices</key>
							<string>{1,1}</string>
							<key>transitionsFrom</key>
							<array>
								<string>1,16</string>
							</array>
						</dict>
						<dict>
							<key>description</key>
							<string>Ben popping up in the foreground.</string>
							<key>imageIndices</key>
							<string>{1,15}</string>
							<key>duration</key>
							<real>1.5</real>
							<key>transitionsFrom</key>
							<array>
								<string>0,1</string>
							</array>
						</dict>
					</array>
					<key>trigger</key>
					<dict>
						<key>type</key>
						<string>NOTIFICATION</string>
						<key>name</key>
						<string>FUNNY_BEN_1</string>
						<key>dataValue</key>
						<integer>0</integer>
					</dict>
				</dict>
				<dict>
					<key>description</key>
					<string>Funny Ben 2</string>
					<key>id</key>
					<string>funny_ben_2</string>
					<key>customClass</key>
					<string>ATriggeredTextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch32_funny_ben_2</string>
					<key>frame</key>
					<array>
						<integer>159</integer>
						<integer>352</integer>
						<integer>49</integer>
						<integer>51</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>Ben hiding...</string>
							<key>imageIndices</key>
							<string>{1,1}</string>
							<key>transitionsFrom</key>
							<array>
								<string>1,16</string>
							</array>
						</dict>
						<dict>
							<key>description</key>
							<string>Ben popping up in the background.</string>
							<key>imageIndices</key>
							<string>{1,15}</string>
							<key>duration</key>
							<real>1.5</real>
							<key>transitionsFrom</key>
							<array>
								<string>0,1</string>
							</array>
						</dict>
					</array>
					<key>trigger</key>
					<dict>
						<key>type</key>
						<string>NOTIFICATION</string>
						<key>name</key>
						<string>FUNNY_BEN_2</string>
						<key>dataValue</key>
						<integer>0</integer>
					</dict>
				</dict>
				<dict>
					<key>description</key>
					<string>Funny Ben 3</string>
					<key>id</key>
					<string>funny_ben_3</string>
					<key>customClass</key>
					<string>ATriggeredTextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch32_funny_ben_3</string>
					<key>frame</key>
					<array>
						<integer>258</integer>
						<integer>292</integer>
						<integer>47</integer>
						<integer>50</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>Ben hiding...</string>
							<key>imageIndices</key>
							<string>{1,1}</string>
							<key>transitionsFrom</key>
							<array>
								<string>1,16</string>
							</array>
						</dict>
						<dict>
							<key>description</key>
							<string>Ben popping up in the background.</string>
							<key>imageIndices</key>
							<string>{1,15}</string>
							<key>duration</key>
							<real>1.5</real>
							<key>transitionsFrom</key>
							<array>
								<string>0,1</string>
							</array>
						</dict>
					</array>
					<key>trigger</key>
					<dict>
						<key>type</key>
						<string>NOTIFICATION</string>
						<key>name</key>
						<string>FUNNY_BEN_3</string>
						<key>dataValue</key>
						<integer>0</integer>
					</dict>
				</dict>
				<dict>
					<key>description</key>
					<string>Funny Ben 4</string>
					<key>id</key>
					<string>funny_ben_4</string>
					<key>customClass</key>
					<string>ATriggeredTextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch32_funny_ben_4</string>
					<key>frame</key>
					<array>
						<integer>318</integer>
						<integer>222</integer>
						<integer>42</integer>
						<integer>45</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>Ben hiding...</string>
							<key>imageIndices</key>
							<string>{1,1}</string>
							<key>transitionsFrom</key>
							<array>
								<string>1,16</string>
							</array>
						</dict>
						<dict>
							<key>description</key>
							<string>Ben popping up in the background.</string>
							<key>imageIndices</key>
							<string>{1,15}</string>
							<key>duration</key>
							<real>1.5</real>
							<key>transitionsFrom</key>
							<array>
								<string>0,1</string>
							</array>
						</dict>
					</array>
					<key>trigger</key>
					<dict>
						<key>type</key>
						<string>NOTIFICATION</string>
						<key>name</key>
						<string>FUNNY_BEN_4</string>
						<key>dataValue</key>
						<integer>0</integer>
					</dict>
				</dict>
				<dict>
					<key>description</key>
					<string>A random generator of Notifications.</string>
					<key>id</key>
					<string>random_notification_generator</string>
					<key>customClass</key>
					<string>ARandomNotificationGenerator</string>
					<key>notificationNameBase</key>
					<string>FUNNY_BEN_</string>
					<key>suffixes</key>
					<array>
						<string>1</string>
						<string>2</string>
						<string>3</string>
						<string>4</string>
					</array>
					<key>minDelay</key>
					<integer>2</integer>
					<key>maxDelay</key>
					<integer>5</integer>
				</dict>
				<dict>
					<key>description</key>
					<string>The pirate waving the sign delivers the bad news!</string>
					<key>id</key>
					<string>all_gone</string>
					<key>customClass</key>
					<string>ATriggeredSoundEffect</string>
					<key>resource</key>
					<string>Chap32_DLG_Pirate_ItsAllGone.m4a</string>
					<key>trigger</key>
					<dict>
						<key>type</key>
						<string>TOUCH</string>
						<key>regions</key>
						<array>
							<array>
								<integer>210</integer>
								<integer>500</integer>
								<integer>50</integer>
								<integer>50</integer>
							</array>
						</array>
					</dict>
				</dict>
				<dict>
					<key>description</key>
					<string>Eyes header.</string>
					<key>id</key>
					<string>eyes_header</string>
					<key>customClass</key>
					<string>ATextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch15_header_eyes</string>
					<key>frame</key>
					<array>
						<integer>686</integer>
						<integer>127</integer>
						<integer>80</integer>
						<integer>40</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>The header eyes.</string>
							<key>imageIndices</key>
							<string>{1,40}</string>
							<key>duration</key>
							<real>4</real>
							<key>repeatType</key>
							<string>CONTINUOUS</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>helpDescriptors</key>
			<array>
				<dict>
					<key>type</key>
					<string>TAP</string>
					<key>frame</key>
					<array>
						<integer>193</integer>
						<integer>475</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>page</key>
			<integer>2</integer>
			<key>elements</key>
			<array>
				<dict>
					<key>description</key>
					<string>The eyes of Ben Gunn spot.</string>
					<key>id</key>
					<string>ben_gunn_eyes_spot</string>
					<key>customClass</key>
					<string>AEyes</string>
					<key>minX</key>
					<integer>725</integer>
					<key>minY</key>
					<integer>365</integer>
					<key>maxX</key>
					<integer>745</integer>
					<key>maxY</key>
					<integer>371</integer>
					<key>socketLayer</key>
					<dict>
						<key>resource</key>
						<string>eyes_1.png</string>
						<key>frame</key>
						<array>
							<integer>500</integer>
							<integer>250</integer>
							<integer>468</integer>
							<integer>294</integer>
						</array>
					</dict>
					<key>eyesLayer</key>
					<dict>
						<key>resource</key>
						<string>eyes_2.png</string>
						<key>frame</key>
						<array>
							<integer>672</integer>
							<integer>348</integer>
							<integer>126</integer>
							<integer>40</integer>
						</array>
					</dict>
					<key>trigger</key>
					<dict>
						<key>type</key>
						<string>PAN</string>
						<key>minTouches</key>
						<integer>1</integer>
						<key>maxTouches</key>
						<integer>1</integer>
						<key>regions</key>
						<array>
							<array>
								<integer>100</integer>
								<integer>0</integer>
								<integer>824</integer>
								<integer>768</integer>
							</array>
						</array>
					</dict>
				</dict>
			</array>
			<key>helpDescriptors</key>
			<array>
				<dict>
					<key>type</key>
					<string>SWIPE</string>
					<key>arrowDirection</key>
					<string>RIGHT</string>
					<key>frame</key>
					<array>
						<integer>675</integer>
						<integer>395</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
