<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pages</key>
	<array>
		<dict>
			<key>page</key>
			<integer>0</integer>
			<key>elements</key>
			<array>
				<dict>
					<key>description</key>
					<string>ChestAndSword_0</string>
					<key>id</key>
					<string>ChestAndSword_0</string>
					<key>customClass</key>
					<string>ATextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>ChestAndSword_0</string>
					<key>frame</key>
					<array>
						<integer>667</integer>
						<integer>106</integer>
						<integer>120</integer>
						<integer>100</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>ChestAndSword_0</string>
							<key>imageIndices</key>
							<string>{1,19}</string>
							<key>duration</key>
							<integer>2</integer>
							<key>repeatType</key>
							<string>CONTINUOUS</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>description</key>
					<string>Treasure laugh.</string>
					<key>id</key>
					<string>treasure_laugh</string>
					<key>customClass</key>
					<string>AAmbientSound</string>
					<key>resource</key>
					<string>Chap33_Ambient_Intro_Sized.m4a</string>
				</dict>
				<dict>
					<key>description</key>
					<string>The gold shining in the treasure room.</string>
					<key>id</key>
					<string>gold_shine</string>
					<key>customClass</key>
					<string>ATextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch33_gold_shine</string>
					<key>frame</key>
					<array>
						<integer>113</integer>
						<integer>179</integer>
						<integer>400</integer>
						<integer>474</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>The shining gold.</string>
							<key>imageIndices</key>
							<string>{1,20}</string>
							<key>duration</key>
							<integer>2</integer>
							<key>repeatType</key>
							<string>CONTINUOUS</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>description</key>
					<string>The &apos;gold swipe&apos; animation sequence</string>
					<key>id</key>
					<string>gold_swipe</string>
					<key>customClass</key>
					<string>AGoldSwipe</string>
					<key>swipe1Layer</key>
					<dict>
						<key>description</key>
						<string>The animation played in response to the first swipe of the reader&apos;s finger.</string>
						<key>id</key>
						<string>swipe_1</string>
						<key>customClass</key>
						<string>ATriggeredTextureAtlasBasedSequence</string>
						<key>resourceBase</key>
						<string>Chapter33_Coins1_</string>
						<key>frame</key>
						<array>
							<integer>350</integer>
							<integer>524</integer>
							<integer>180</integer>
							<integer>127</integer>
						</array>
						<key>sequences</key>
						<array>
							<dict>
								<key>imageIndices</key>
								<string>{1,1}</string>
								<key>transitionsFrom</key>
								<array>
									<string>1,10</string>
								</array>
							</dict>
							<dict>
								<key>imageIndices</key>
								<string>{1,10}</string>
								<key>duration</key>
								<real>0.7</real>
								<key>soundEffect</key>
								<dict>
									<key>description</key>
									<string>The sound made by the coins falling off the treasure chest.</string>
									<key>id</key>
									<string>swipe_1_sound</string>
									<key>resource</key>
									<string>Chap33_CoinsFalling2.m4a</string>
									<key>customClass</key>
									<string>AAmbientSound</string>
									<key>numLoops</key>
									<integer>0</integer>
								</dict>
								<key>postExecutionNotification</key>
								<string>swipe1Sequence</string>
								<key>transitionsFrom</key>
								<array>
									<string>0,1</string>
								</array>
							</dict>
						</array>
					</dict>
					<key>swipe2Layer</key>
					<dict>
						<key>description</key>
						<string>The animation played in response to the second swipe of the reader&apos;s finger.</string>
						<key>id</key>
						<string>swipe_2</string>
						<key>customClass</key>
						<string>ATriggeredTextureAtlasBasedSequence</string>
						<key>resourceBase</key>
						<string>Chapter33_Coins2_</string>
						<key>frame</key>
						<array>
							<integer>370</integer>
							<integer>524</integer>
							<integer>126</integer>
							<integer>127</integer>
						</array>
						<key>sequences</key>
						<array>
							<dict>
								<key>imageIndices</key>
								<string>{1,1}</string>
								<key>transitionsFrom</key>
								<array>
									<string>1,10</string>
								</array>
							</dict>
							<dict>
								<key>imageIndices</key>
								<string>{1,10}</string>
								<key>duration</key>
								<real>0.7</real>
								<key>soundEffect</key>
								<dict>
									<key>description</key>
									<string>The sound made by the coins falling off the treasure chest.</string>
									<key>id</key>
									<string>swipe_2_sound</string>
									<key>resource</key>
									<string>Chap33_CoinsFalling3.m4a</string>
									<key>customClass</key>
									<string>AAmbientSound</string>
									<key>numLoops</key>
									<integer>0</integer>
								</dict>
								<key>postExecutionNotification</key>
								<string>swipe2Sequence</string>
								<key>transitionsFrom</key>
								<array>
									<string>0,1</string>
								</array>
							</dict>
						</array>
					</dict>
					<key>trigger</key>
					<dict>
						<key>type</key>
						<string>PAN</string>
						<key>minTouches</key>
						<integer>1</integer>
						<key>maxTouches</key>
						<integer>1</integer>
						<key>regions</key>
						<array>
							<array>
								<integer>260</integer>
								<integer>480</integer>
								<integer>300</integer>
								<integer>300</integer>
							</array>
						</array>
					</dict>
				</dict>
			</array>
			<key>helpDescriptors</key>
			<array>
				<dict>
					<key>type</key>
					<string>SWIPE</string>
					<key>frame</key>
					<array>
						<integer>330</integer>
						<integer>495</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
