<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pages</key>
	<array>
		<dict>
			<key>page</key>
			<integer>0</integer>
			<key>elements</key>
			<array/>
		</dict>
		<dict>
			<key>page</key>
			<integer>1</integer>
			<key>elements</key>
			<array>
				<dict>
					<key>description</key>
					<string>The flickable coins.</string>
					<key>id</key>
					<string>flickable_coins</string>
					<key>customClass</key>
					<string>ACoins</string>
					<key>objectObjectCollisionSoundEffect</key>
					<string>Chap34_Coin1.m4a</string>
					<key>objectWallCollisionSoundEffect</key>
					<string>Chap34_CoinAlt3.m4a</string>
					<key>coin1</key>
					<dict>
						<key>resource</key>
						<string>coin_1.png</string>
						<key>frame</key>
						<array>
							<integer>50</integer>
							<integer>648</integer>
							<integer>100</integer>
							<integer>100</integer>
						</array>
					</dict>
					<key>coin2</key>
					<dict>
						<key>resource</key>
						<string>coin_2.png</string>
						<key>frame</key>
						<array>
							<integer>256</integer>
							<integer>648</integer>
							<integer>100</integer>
							<integer>100</integer>
						</array>
					</dict>
					<key>coin3</key>
					<dict>
						<key>resource</key>
						<string>coin_1.png</string>
						<key>frame</key>
						<array>
							<integer>462</integer>
							<integer>648</integer>
							<integer>100</integer>
							<integer>100</integer>
						</array>
					</dict>
					<key>coin4</key>
					<dict>
						<key>resource</key>
						<string>coin_2.png</string>
						<key>frame</key>
						<array>
							<integer>668</integer>
							<integer>648</integer>
							<integer>100</integer>
							<integer>100</integer>
						</array>
					</dict>
					<key>coin5</key>
					<dict>
						<key>resource</key>
						<string>coin_1.png</string>
						<key>frame</key>
						<array>
							<integer>874</integer>
							<integer>648</integer>
							<integer>100</integer>
							<integer>100</integer>
						</array>
					</dict>
				</dict>
			</array>
			<key>helpDescriptors</key>
			<array/>
		</dict>
		<dict>
			<key>page</key>
			<integer>2</integer>
			<key>elements</key>
			<array>
				<dict>
					<key>description</key>
					<string>The shine on the chest&apos;s lock.</string>
					<key>id</key>
					<string>lock_shine</string>
					<key>customClass</key>
					<string>ATextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch34b_lock_shine</string>
					<key>frame</key>
					<array>
						<integer>645</integer>
						<integer>297</integer>
						<integer>79</integer>
						<integer>73</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>imageIndices</key>
							<string>{1,12}</string>
							<key>duration</key>
							<real>1.2</real>
							<key>repeatType</key>
							<string>CONTINUOUS_WITH_DELAY</string>
							<key>repeatDelay</key>
							<integer>2</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>description</key>
					<string>The shine on the sword beside the chest.</string>
					<key>id</key>
					<string>sword_shine</string>
					<key>customClass</key>
					<string>ATextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch34b_sword_shine</string>
					<key>frame</key>
					<array>
						<integer>810</integer>
						<integer>276</integer>
						<integer>61</integer>
						<integer>138</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>imageIndices</key>
							<string>{1,15}</string>
							<key>duration</key>
							<real>1.5</real>
							<key>repeatType</key>
							<string>CONTINUOUS_WITH_DELAY</string>
							<key>repeatDelay</key>
							<real>2.1</real>
						</dict>
					</array>
				</dict>
				<dict>
					<key>description</key>
					<string>The sound of a lock made when the chest is touched.</string>
					<key>id</key>
					<string>lock_sound</string>
					<key>resource</key>
					<string>Chap4_ChestLocked1.m4a</string>
					<key>customClass</key>
					<string>ATriggeredSoundEffect</string>
					<key>trigger</key>
					<dict>
						<key>type</key>
						<string>TOUCH</string>
						<key>regions</key>
						<array>
							<array>
								<integer>540</integer>
								<integer>245</integer>
								<integer>260</integer>
								<integer>200</integer>
							</array>
						</array>
					</dict>
				</dict>
			</array>
			<key>helpDescriptors</key>
			<array>
				<dict>
					<key>type</key>
					<string>TAP</string>
					<key>frame</key>
					<array>
						<integer>622</integer>
						<integer>287</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>page</key>
			<integer>4</integer>
			<key>elements</key>
			<array>
				<dict>
					<key>description</key>
					<string>The End!</string>
					<key>id</key>
					<string>the_end</string>
					<key>customClass</key>
					<string>AAmbientSound</string>
					<key>resource</key>
					<string>Chap34_AmbientIntro.m4a</string>
					<key>maxDuration</key>
					<integer>15</integer>
					<key>fadeOutDuration</key>
					<integer>5</integer>
				</dict>
				<dict>
					<key>description</key>
					<string>The sunset at the end of the book.</string>
					<key>id</key>
					<string>sunset</string>
					<key>customClass</key>
					<string>ASunset</string>
					<key>sunLayer</key>
					<dict>
						<key>resource</key>
						<string>ch34_sun.png</string>
						<key>frame</key>
						<array>
							<integer>680</integer>
							<integer>200</integer>
							<integer>250</integer>
							<integer>245</integer>
						</array>
					</dict>
					<key>foregroundLayer</key>
					<dict>
						<key>resource</key>
						<string>ch34_foreground.png</string>
						<key>frame</key>
						<array>
							<integer>0</integer>
							<integer>0</integer>
							<integer>1024</integer>
							<integer>748</integer>
						</array>
					</dict>
					<key>pirates</key>
					<array>
						<dict>
							<key>description</key>
							<string>Left pirate</string>
							<key>id</key>
							<string>left_pirate</string>
							<key>customClass</key>
							<string>ATextureAtlasBasedSequence</string>
							<key>resourceBase</key>
							<string>TI_ch34_left_pirate</string>
							<key>frame</key>
							<array>
								<integer>146</integer>
								<integer>539</integer>
								<integer>38</integer>
								<integer>37</integer>
							</array>
							<key>sequences</key>
							<array>
								<dict>
									<key>description</key>
									<string>The left-most drunk pirate.</string>
									<key>imageIndices</key>
									<string>{1,35}</string>
									<key>duration</key>
									<real>3.5</real>
									<key>repeatType</key>
									<string>CONTINUOUS</string>
								</dict>
							</array>
						</dict>
						<dict>
							<key>description</key>
							<string>Center pirate</string>
							<key>id</key>
							<string>center_pirate</string>
							<key>customClass</key>
							<string>ATextureAtlasBasedSequence</string>
							<key>resourceBase</key>
							<string>TI_ch34_center_pirate</string>
							<key>frame</key>
							<array>
								<integer>212</integer>
								<integer>566</integer>
								<integer>102</integer>
								<integer>96</integer>
							</array>
							<key>sequences</key>
							<array>
								<dict>
									<key>description</key>
									<string>The center drunk pirate.</string>
									<key>imageIndices</key>
									<string>{1,21}</string>
									<key>duration</key>
									<real>2.1</real>
									<key>repeatType</key>
									<string>CONTINUOUS</string>
								</dict>
							</array>
						</dict>
						<dict>
							<key>description</key>
							<string>Right pirate</string>
							<key>id</key>
							<string>right_pirate</string>
							<key>customClass</key>
							<string>ATextureAtlasBasedSequence</string>
							<key>resourceBase</key>
							<string>TI_ch34_right_pirate</string>
							<key>frame</key>
							<array>
								<integer>300</integer>
								<integer>409</integer>
								<integer>169</integer>
								<integer>180</integer>
							</array>
							<key>sequences</key>
							<array>
								<dict>
									<key>description</key>
									<string>The right-most drunk pirate.</string>
									<key>imageIndices</key>
									<string>{1,15}</string>
									<key>duration</key>
									<real>1.5</real>
									<key>repeatType</key>
									<string>CONTINUOUS</string>
								</dict>
							</array>
						</dict>
					</array>
					<key>blackLayer</key>
					<dict>
						<key>resource</key>
						<string>ch34_black.png</string>
						<key>frame</key>
						<array>
							<integer>0</integer>
							<integer>0</integer>
							<integer>1024</integer>
							<integer>748</integer>
						</array>
					</dict>
					<key>theEndLayer</key>
					<dict>
						<key>resource</key>
						<string>theend.png</string>
						<key>frame</key>
						<array>
							<integer>580</integer>
							<integer>160</integer>
							<integer>306</integer>
							<integer>93</integer>
						</array>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>page</key>
			<integer>5</integer>
			<key>elements</key>
			<array>
				<dict>
					<key>description</key>
					<string>The &quot;link to Space Dog Books&quot; page.</string>
					<key>id</key>
					<string>sdb_link</string>
					<key>customClass</key>
					<string>ALink</string>
					<key>address</key>
					<string>http://spacedogbooks.com/treasureisland</string>
					<key>trigger</key>
					<dict>
						<key>type</key>
						<string>TOUCH</string>
						<key>regions</key>
						<array>
							<array>
								<integer>100</integer>
								<integer>370</integer>
								<integer>840</integer>
								<integer>60</integer>
							</array>
						</array>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
