<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pages</key>
	<array>
		<dict>
			<key>page</key>
			<integer>0</integer>
			<key>elements</key>
			<array>
				<dict>
					<key>description</key>
					<string>Dinghy_0</string>
					<key>id</key>
					<string>Dinghy_0</string>
					<key>customClass</key>
					<string>ATextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>Dinghy_0</string>
					<key>frame</key>
					<array>
						<integer>686</integer>
						<integer>108</integer>
						<integer>80</integer>
						<integer>80</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>Dinghy_0</string>
							<key>imageIndices</key>
							<string>{1,19}</string>
							<key>duration</key>
							<integer>2</integer>
							<key>repeatType</key>
							<string>CONTINUOUS</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>description</key>
					<string>Jim in the jungle.</string>
					<key>id</key>
					<string>jim_in_the_jungle</string>
					<key>customClass</key>
					<string>AAmbientSound</string>
					<key>resource</key>
					<string>Chap22_AMB_Sized_WithoutSparkle.m4a</string>
					<key>maxDuration</key>
					<integer>28</integer>
					<key>fadeOutDuration</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>description</key>
					<string>The stars, twinkling in the sky (1).</string>
					<key>id</key>
					<string>ch_22_stars_1</string>
					<key>customClass</key>
					<string>ASimplePropertyAnimation</string>
					<key>resource</key>
					<string>ch22_stars1.png</string>
					<key>frame</key>
					<array>
						<integer>0</integer>
						<integer>0</integer>
						<integer>433</integer>
						<integer>190</integer>
					</array>
					<key>keyPath</key>
					<string>opacity</string>
					<key>fromValue</key>
					<integer>1</integer>
					<key>toValue</key>
					<real>0.9</real>
					<key>duration</key>
					<real>0.2</real>
					<key>repeatType</key>
					<string>CONTINUOUS</string>
					<key>updateToFinalValue</key>
					<false/>
				</dict>
				<dict>
					<key>description</key>
					<string>The stars, twinkling in the sky (2).</string>
					<key>id</key>
					<string>ch_22_stars_2</string>
					<key>customClass</key>
					<string>ASimplePropertyAnimation</string>
					<key>resource</key>
					<string>ch22_stars2.png</string>
					<key>frame</key>
					<array>
						<integer>0</integer>
						<integer>0</integer>
						<integer>433</integer>
						<integer>190</integer>
					</array>
					<key>keyPath</key>
					<string>opacity</string>
					<key>fromValue</key>
					<integer>1</integer>
					<key>toValue</key>
					<real>0.8</real>
					<key>duration</key>
					<real>0.3</real>
					<key>repeatType</key>
					<string>CONTINUOUS</string>
					<key>updateToFinalValue</key>
					<false/>
				</dict>
				<dict>
					<key>description</key>
					<string>A shooting star.</string>
					<key>id</key>
					<string>shooting_star</string>
					<key>customClass</key>
					<string>ATriggeredTextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch22_shooting_star</string>
					<key>frame</key>
					<array>
						<integer>160</integer>
						<integer>102</integer>
						<integer>80</integer>
						<integer>25</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>imageIndices</key>
							<string>{1,1}</string>
							<key>transitionsFrom</key>
							<array>
								<string>1,8</string>
							</array>
						</dict>
						<dict>
							<key>imageIndices</key>
							<string>{1,8}</string>
							<key>duration</key>
							<real>0.8</real>
							<key>postExecutionNotification</key>
							<string>CH22_SHOOTING_STAR</string>
							<key>transitionsFrom</key>
							<array>
								<string>0,1</string>
							</array>
						</dict>
					</array>
					<key>trigger</key>
					<dict>
						<key>type</key>
						<string>TOUCH</string>
						<key>regions</key>
						<array>
							<array>
								<integer>90</integer>
								<integer>80</integer>
								<integer>420</integer>
								<integer>200</integer>
							</array>
						</array>
					</dict>
				</dict>
				<dict>
					<key>description</key>
					<string>Jim looks up from the landing.</string>
					<key>id</key>
					<string>jim_looks_up</string>
					<key>customClass</key>
					<string>ATriggeredTextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch22_jim_looks_up</string>
					<key>frame</key>
					<array>
						<integer>340</integer>
						<integer>340</integer>
						<integer>45</integer>
						<integer>50</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>Jim looking down.</string>
							<key>imageIndices</key>
							<string>{1,1}</string>
							<key>transitionsFrom</key>
							<array>
								<string>1,30</string>
							</array>
						</dict>
						<dict>
							<key>description</key>
							<string>Jim looks up, pauses, then looks down again.</string>
							<key>imageIndices</key>
							<string>{1,30}</string>
							<key>duration</key>
							<real>2.5</real>
							<key>transitionsFrom</key>
							<array>
								<string>0,1</string>
							</array>
						</dict>
					</array>
					<key>trigger</key>
					<dict>
						<key>type</key>
						<string>NOTIFICATION</string>
						<key>name</key>
						<string>CH22_SHOOTING_STAR</string>
						<key>dataValue</key>
						<integer>0</integer>
					</dict>
				</dict>
				<dict>
					<key>description</key>
					<string>The dust floating in the moonbeam.</string>
					<key>id</key>
					<string>moonbeam</string>
					<key>customClass</key>
					<string>ALightBeam</string>
					<key>beamLayer</key>
					<dict>
						<key>resource</key>
						<string>beam.png</string>
						<key>frame</key>
						<array>
							<integer>115</integer>
							<integer>80</integer>
							<integer>433</integer>
							<integer>577</integer>
						</array>
					</dict>
					<key>particleAnimation</key>
					<dict>
						<key>id</key>
						<string>particle_animation</string>
						<key>resource</key>
						<string>dust.pex</string>
						<key>frame</key>
						<array>
							<integer>290</integer>
							<integer>80</integer>
							<integer>150</integer>
							<integer>400</integer>
						</array>
						<key>rotation</key>
						<integer>27</integer>
					</dict>
				</dict>
			</array>
			<key>helpDescriptors</key>
			<array>
				<dict>
					<key>type</key>
					<string>TAP</string>
					<key>frame</key>
					<array>
						<integer>200</integer>
						<integer>150</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
