<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pages</key>
	<array>
		<dict>
			<key>page</key>
			<integer>0</integer>
			<key>elements</key>
			<array>
				<dict>
					<key>description</key>
					<string>CrossedPistols_0</string>
					<key>id</key>
					<string>CrossedPistols_0</string>
					<key>customClass</key>
					<string>ATextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>CrossedPistols_0</string>
					<key>frame</key>
					<array>
						<integer>260</integer>
						<integer>100</integer>
						<integer>75</integer>
						<integer>75</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>CrossedPistols_0</string>
							<key>imageIndices</key>
							<string>{1,14}</string>
							<key>duration</key>
							<integer>1</integer>
							<key>repeatType</key>
							<string>CONTINUOUS</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>page</key>
			<integer>2</integer>
			<key>elements</key>
			<array>
				<dict>
					<key>description</key>
					<string>The cork popping out of the wine bottle.</string>
					<key>id</key>
					<string>popping_cork</string>
					<key>customClass</key>
					<string>APoppingCork</string>
					<key>bottleLayer</key>
					<dict>
						<key>resource</key>
						<string>wine_crop_top.png</string>
						<key>frame</key>
						<array>
							<integer>155</integer>
							<integer>140</integer>
							<integer>253</integer>
							<integer>516</integer>
						</array>
					</dict>
					<key>corkAnimation</key>
					<dict>
						<key>description</key>
						<string>The cork popping out of the wine bottle.</string>
						<key>id</key>
						<string>cork_pop</string>
						<key>customClass</key>
						<string>ATriggeredTextureAtlasBasedSequence</string>
						<key>resourceBase</key>
						<string>TI_ch26_spot_cork_pop</string>
						<key>frame</key>
						<array>
							<integer>186</integer>
							<integer>0</integer>
							<integer>194</integer>
							<integer>402</integer>
						</array>
						<key>sequences</key>
						<array>
							<dict>
								<key>description</key>
								<string>The cork still in the bottle....</string>
								<key>imageIndices</key>
								<string>{1,1}</string>
							</dict>
							<dict>
								<key>description</key>
								<string>The cork popping from the bottle.</string>
								<key>imageIndices</key>
								<string>{1,21}</string>
								<key>duration</key>
								<real>2.3</real>
								<key>soundEffect</key>
								<dict>
									<key>description</key>
									<string>The sound made by the cork popping from the bottle.</string>
									<key>id</key>
									<string>popping_cork</string>
									<key>resource</key>
									<string>Chap26_INT_BottleSloshandCorkPop_Merge1.m4a</string>
									<key>customClass</key>
									<string>ASoundEffect</string>
								</dict>
								<key>transitionsFrom</key>
								<array>
									<string>0,1</string>
								</array>
							</dict>
						</array>
					</dict>
					<key>triggers</key>
					<array>
						<dict>
							<key>type</key>
							<string>SHAKE</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>helpDescriptors</key>
			<array>
				<dict>
					<key>type</key>
					<string>SHAKE</string>
					<key>frame</key>
					<array>
						<integer>230</integer>
						<integer>310</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>helpDescriptors</key>
			<array>
				<dict>
					<key>frame</key>
					<array>
						<integer>600</integer>
						<integer>400</integer>
						<integer>100</integer>
						<integer>100</integer>
					</array>
					<key>type</key>
					<string>TAP</string>
				</dict>
				<dict>
					<key>frame</key>
					<array>
						<integer>800</integer>
						<integer>400</integer>
						<integer>100</integer>
						<integer>100</integer>
					</array>
					<key>type</key>
					<string>TAP</string>
				</dict>
			</array>
			<key>page</key>
			<integer>3</integer>
			<key>elements</key>
			<array>
				<dict>
					<key>description</key>
					<string>topleftsail</string>
					<key>id</key>
					<string>topleftsail</string>
					<key>customClass</key>
					<string>ATextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>Chapter26_TopLftSail_</string>
					<key>frame</key>
					<array>
						<integer>510</integer>
						<integer>70</integer>
						<integer>170</integer>
						<integer>270</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>topleftsail</string>
							<key>imageIndices</key>
							<string>{1,25}</string>
							<key>duration</key>
							<integer>2</integer>
							<key>repeatType</key>
							<string>CONTINUOUS</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>description</key>
					<string>Israel falls</string>
					<key>id</key>
					<string>israel_falls</string>
					<key>customClass</key>
					<string>AAmbientSound</string>
					<key>resource</key>
					<string>Chap26_AMB_Sized.m4a</string>
					<key>maxDuration</key>
					<integer>5</integer>
					<key>fadeOutDuration</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>description</key>
					<string>The smoking guns, inadvertently fired.</string>
					<key>id</key>
					<string>smoking_guns</string>
					<key>customClass</key>
					<string>ATextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch26_gunsmoke</string>
					<key>frame</key>
					<array>
						<integer>629</integer>
						<integer>100</integer>
						<integer>117</integer>
						<integer>121</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>Jim&apos;s guns, smoking after being fired.</string>
							<key>imageIndices</key>
							<string>{1,18}</string>
							<key>duration</key>
							<real>1.8</real>
							<key>repeatType</key>
							<string>CONTINUOUS</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>description</key>
					<string>BottomRtSail</string>
					<key>id</key>
					<string>BottomRtSail</string>
					<key>customClass</key>
					<string>ATextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>Chapter26_BottomRtSail_</string>
					<key>frame</key>
					<array>
						<integer>772</integer>
						<integer>180</integer>
						<integer>172</integer>
						<integer>107</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>BottomRtSail</string>
							<key>imageIndices</key>
							<string>{1,25}</string>
							<key>duration</key>
							<integer>2</integer>
							<key>repeatType</key>
							<string>CONTINUOUS</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>description</key>
					<string>bottomleftsail</string>
					<key>id</key>
					<string>bottomleftsail</string>
					<key>customClass</key>
					<string>ATextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>Chapter26_BottomLftSail_</string>
					<key>frame</key>
					<array>
						<integer>510</integer>
						<integer>255</integer>
						<integer>370</integer>
						<integer>369</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>bottomleftsail</string>
							<key>imageIndices</key>
							<string>{1,25}</string>
							<key>duration</key>
							<integer>2</integer>
							<key>repeatType</key>
							<string>CONTINUOUS</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>description</key>
					<string>TopRtSail</string>
					<key>id</key>
					<string>TopRtSail</string>
					<key>customClass</key>
					<string>ATextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>Chapter26_TopRtSail_</string>
					<key>frame</key>
					<array>
						<integer>630</integer>
						<integer>74</integer>
						<integer>115</integer>
						<integer>33</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>TopRtSail</string>
							<key>imageIndices</key>
							<string>{1,25}</string>
							<key>duration</key>
							<integer>2</integer>
							<key>repeatType</key>
							<string>CONTINUOUS</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>waitForTrigger</key>
					<string>YES</string>
					<key>description</key>
					<string>Animation of &apos;seagull 1&apos; flying across the page.</string>
					<key>id</key>
					<string>seagull_1</string>
					<key>customClass</key>
					<string>ASeagull</string>
					<key>seagullLayer</key>
					<dict>
						<key>id</key>
						<string>seagull_1_layer</string>
						<key>customClass</key>
						<string>ATriggeredTextureAtlasBasedSequence</string>
						<key>resourceBase</key>
						<string>TI_ch1b_seagull_2_1_</string>
						<key>frame</key>
						<array>
							<integer>950</integer>
							<integer>390</integer>
							<integer>120</integer>
							<integer>95</integer>
						</array>
						<key>duration</key>
						<string>3.5</string>
						<key>fadeThreshold</key>
						<integer>1</integer>
						<key>sequences</key>
						<array>
							<dict>
								<key>imageIndices</key>
								<string>{1,7}</string>
								<key>duration</key>
								<real>0.7</real>
								<key>repeatType</key>
								<string>CONTINUOUS</string>
							</dict>
						</array>
						<key>pathPoints</key>
						<array>
							<string>{901, 459}</string>
							<string>{791, 524}</string>
							<string>{719, 544}</string>
							<string>{646, 556}</string>
							<string>{560, 560}</string>
							<string>{447, 565}</string>
							<string>{327, 564}</string>
							<string>{201, 564}</string>
							<string>{112, 557}</string>
							<string>{9, 524}</string>
						</array>
					</dict>
					<key>trigger</key>
					<dict>
						<key>type</key>
						<string>TOUCH</string>
						<key>regions</key>
						<array>
							<array>
								<integer>550</integer>
								<integer>70</integer>
								<integer>200</integer>
								<integer>600</integer>
							</array>
						</array>
					</dict>
				</dict>
				<dict>
					<key>waitForTrigger</key>
					<string>YES</string>
					<key>description</key>
					<string>Animation of &apos;seagull 2&apos; flying across the page.</string>
					<key>id</key>
					<string>seagull_2</string>
					<key>customClass</key>
					<string>ASeagull</string>
					<key>seagullLayer</key>
					<dict>
						<key>id</key>
						<string>seagull_2_layer</string>
						<key>customClass</key>
						<string>ATriggeredTextureAtlasBasedSequence</string>
						<key>resourceBase</key>
						<string>TI_ch1b_seagull_2_2_</string>
						<key>frame</key>
						<array>
							<integer>950</integer>
							<integer>507</integer>
							<integer>120</integer>
							<integer>95</integer>
						</array>
						<key>duration</key>
						<integer>3</integer>
						<key>fadeThreshold</key>
						<real>0.75</real>
						<key>sequences</key>
						<array>
							<dict>
								<key>imageIndices</key>
								<string>{1,7}</string>
								<key>duration</key>
								<real>0.85</real>
								<key>repeatType</key>
								<string>CONTINUOUS</string>
							</dict>
						</array>
						<key>pathPoints</key>
						<array>
							<string>{927, 545}</string>
							<string>{837, 612}</string>
							<string>{693, 649}</string>
							<string>{530, 663}</string>
							<string>{394, 665}</string>
							<string>{246, 653}</string>
							<string>{140, 638}</string>
							<string>{77, 628}</string>
							<string>{9, 606}</string>
						</array>
					</dict>
					<key>trigger</key>
					<dict>
						<key>type</key>
						<string>TOUCH</string>
						<key>regions</key>
						<array>
							<array>
								<integer>750</integer>
								<integer>70</integer>
								<integer>200</integer>
								<integer>600</integer>
							</array>
						</array>
					</dict>
				</dict>
				<dict>
					<key>description</key>
					<string>Israel falling</string>
					<key>id</key>
					<string>israel_fallling</string>
					<key>customClass</key>
					<string>APositionAnimation</string>
					<key>resource</key>
					<string>israel.png</string>
					<key>frame</key>
					<array>
						<integer>629</integer>
						<integer>280</integer>
						<integer>178</integer>
						<integer>271</integer>
					</array>
					<key>xDelta</key>
					<integer>20</integer>
					<key>yDelta</key>
					<string>800</string>
					<key>duration</key>
					<integer>30</integer>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
