<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pages</key>
	<array>
		<dict>
			<key>page</key>
			<integer>0</integer>
			<key>elements</key>
			<array>
				<dict>
					<key>description</key>
					<string>Jim at the helm.</string>
					<key>id</key>
					<string>jim_at_the_helm_ambient</string>
					<key>customClass</key>
					<string>AAmbientSound</string>
					<key>resource</key>
					<string>Chap24_AMB_Sized.m4a</string>
					<key>maxDuration</key>
					<integer>5</integer>
					<key>fadeOutDuration</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>description</key>
					<string>Wave 1 crashing into the side of the ship.</string>
					<key>id</key>
					<string>wave_1</string>
					<key>customClass</key>
					<string>ATextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch24_wave1</string>
					<key>frame</key>
					<array>
						<integer>373</integer>
						<integer>381</integer>
						<integer>140</integer>
						<integer>122</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>Wave 1 crashing into the Hispanola.</string>
							<key>imageIndices</key>
							<string>{1,15}</string>
							<key>duration</key>
							<real>1.5</real>
							<key>repeatType</key>
							<string>CONTINUOUS</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>description</key>
					<string>Wave 2 crashing into the side of the ship.</string>
					<key>id</key>
					<string>wave_2</string>
					<key>customClass</key>
					<string>ATextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch24_wave2</string>
					<key>frame</key>
					<array>
						<integer>348</integer>
						<integer>179</integer>
						<integer>166</integer>
						<integer>200</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>Wave 2 crashing into the Hispanola.</string>
							<key>imageIndices</key>
							<string>{1,15}</string>
							<key>duration</key>
							<real>1.8</real>
							<key>repeatType</key>
							<string>CONTINUOUS</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>description</key>
					<string>Jim at the helm.</string>
					<key>id</key>
					<string>jim_at_the_helm</string>
					<key>customClass</key>
					<string>AJimAtTheHelm</string>
					<key>yMovementThreshold</key>
					<integer>500</integer>
					<key>wheelSoundEffect</key>
					<string>Chap24_WheelSpin3.m4a</string>
					<key>wheelLayer</key>
					<dict>
						<key>description</key>
						<string>The ship&apos;s wheel.</string>
						<key>id</key>
						<string>ships_wheel</string>
						<key>customClass</key>
						<string>AStaticImage</string>
						<key>resource</key>
						<string>wheel.png</string>
						<key>frame</key>
						<array>
							<integer>140</integer>
							<integer>192</integer>
							<integer>300</integer>
							<integer>302</integer>
						</array>
					</dict>
					<key>sailPortLayer</key>
					<dict>
						<key>description</key>
						<string>The sail when the ship is heading to port.</string>
						<key>id</key>
						<string>sail_port</string>
						<key>customClass</key>
						<string>ATriggeredTextureAtlasBasedSequence</string>
						<key>resourceBase</key>
						<string>TI_ch24_sail_L2R</string>
						<key>frame</key>
						<array>
							<integer>205</integer>
							<integer>75</integer>
							<integer>261</integer>
							<integer>118</integer>
						</array>
						<key>sequences</key>
						<array>
							<dict>
								<key>imageIndices</key>
								<string>{1,1}</string>
							</dict>
							<dict>
								<key>imageIndices</key>
								<string>{1,11}</string>
								<key>duration</key>
								<real>1.1</real>
								<key>transitionsFrom</key>
								<array>
									<string>0,1</string>
								</array>
								<key>postExecutionNotification</key>
								<string>CH24_TURN_TO_PORT_COMPLETED</string>
							</dict>
						</array>
					</dict>
					<key>sailStarbordLayer</key>
					<dict>
						<key>description</key>
						<string>The sail when the ship is heading to starbord.</string>
						<key>id</key>
						<string>sail_starbord</string>
						<key>customClass</key>
						<string>ATriggeredTextureAtlasBasedSequence</string>
						<key>resourceBase</key>
						<string>TI_ch24_sail_R2L</string>
						<key>frame</key>
						<array>
							<integer>205</integer>
							<integer>75</integer>
							<integer>261</integer>
							<integer>118</integer>
						</array>
						<key>sequences</key>
						<array>
							<dict>
								<key>imageIndices</key>
								<string>{1,1}</string>
							</dict>
							<dict>
								<key>imageIndices</key>
								<string>{1,11}</string>
								<key>duration</key>
								<real>1.1</real>
								<key>transitionsFrom</key>
								<array>
									<string>0,1</string>
								</array>
								<key>postExecutionNotification</key>
								<string>CH24_TURN_TO_STARBORD_COMPLETED</string>
							</dict>
						</array>
					</dict>
					<key>helmLayer</key>
					<dict>
						<key>description</key>
						<string>The structure supporting the ship&apos;s wheel.</string>
						<key>resource</key>
						<string>helm.png</string>
						<key>frame</key>
						<array>
							<integer>247</integer>
							<integer>305</integer>
							<integer>137</integer>
							<integer>237</integer>
						</array>
					</dict>
					<key>ropeCCWLayer</key>
					<dict>
						<key>description</key>
						<string>The CCW ropes.</string>
						<key>id</key>
						<string>ropes_CCW</string>
						<key>customClass</key>
						<string>ATextureAtlasBasedSequence</string>
						<key>resourceBase</key>
						<string>TI_ch24_pulley_ropes_CCW</string>
						<key>frame</key>
						<array>
							<integer>339</integer>
							<integer>528</integer>
							<integer>176</integer>
							<integer>125</integer>
						</array>
						<key>sequences</key>
						<array>
							<dict>
								<key>description</key>
								<string>The ropes moving CCW.</string>
								<key>imageIndices</key>
								<string>{1,10}</string>
								<key>duration</key>
								<integer>1</integer>
								<key>repeatType</key>
								<string>CONTINUOUS</string>
							</dict>
						</array>
					</dict>
					<key>ropeCWLayer</key>
					<dict>
						<key>description</key>
						<string>The CW ropes.</string>
						<key>id</key>
						<string>ropes_CW</string>
						<key>customClass</key>
						<string>ATextureAtlasBasedSequence</string>
						<key>resourceBase</key>
						<string>TI_ch24_pulley_ropes_CW</string>
						<key>frame</key>
						<array>
							<integer>339</integer>
							<integer>528</integer>
							<integer>176</integer>
							<integer>125</integer>
						</array>
						<key>sequences</key>
						<array>
							<dict>
								<key>description</key>
								<string>The ropes moving CCW.</string>
								<key>imageIndices</key>
								<string>{1,10}</string>
								<key>duration</key>
								<integer>1</integer>
								<key>repeatType</key>
								<string>CONTINUOUS</string>
							</dict>
						</array>
					</dict>
					<key>trigger</key>
					<dict>
						<key>type</key>
						<string>PAN</string>
						<key>minTouches</key>
						<integer>1</integer>
						<key>maxTouches</key>
						<integer>1</integer>
						<key>regions</key>
						<array>
							<array>
								<integer>140</integer>
								<integer>190</integer>
								<integer>300</integer>
								<integer>300</integer>
							</array>
						</array>
					</dict>
				</dict>
			</array>
			<key>helpDescriptors</key>
			<array>
				<dict>
					<key>type</key>
					<string>SWIPE</string>
					<key>arrowDirection</key>
					<string>UP</string>
					<key>frame</key>
					<array>
						<integer>110</integer>
						<integer>285</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
				<dict>
					<key>type</key>
					<string>SWIPE</string>
					<key>arrowDirection</key>
					<string>DOWN</string>
					<key>frame</key>
					<array>
						<integer>370</integer>
						<integer>285</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>page</key>
			<integer>3</integer>
			<key>elements</key>
			<array>
				<dict>
					<key>description</key>
					<string>The compass spot illustration.</string>
					<key>id</key>
					<string>compass_spot</string>
					<key>customClass</key>
					<string>ACompass</string>
					<key>compassLayer</key>
					<dict>
						<key>resource</key>
						<string>hand_compass.png</string>
						<key>frame</key>
						<array>
							<integer>145</integer>
							<integer>120</integer>
							<integer>292</integer>
							<integer>359</integer>
						</array>
					</dict>
					<key>needleLayer</key>
					<dict>
						<key>resource</key>
						<string>compass_needle.png</string>
						<key>frame</key>
						<array>
							<integer>254</integer>
							<integer>225</integer>
							<integer>65</integer>
							<integer>188</integer>
						</array>
					</dict>
					<key>triggers</key>
					<array>
						<dict>
							<key>type</key>
							<string>TILT</string>
							<key>tiltNotificationEvent</key>
							<string>ALWAYS</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>helpDescriptors</key>
			<array>
				<dict>
					<key>type</key>
					<string>ROTATE</string>
					<key>frame</key>
					<array>
						<integer>235</integer>
						<integer>265</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
