<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pages</key>
	<array>
		<dict>
			<key>page</key>
			<integer>0</integer>
			<key>elements</key>
			<array>
				<dict>
					<key>description</key>
					<string>The parley...</string>
					<key>id</key>
					<string>the_parley</string>
					<key>customClass</key>
					<string>AAmbientSound</string>
					<key>resource</key>
					<string>Chap20_AMB_Sized.m4a</string>
					<key>maxDuration</key>
					<integer>28</integer>
					<key>fadeOutDuration</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>description</key>
					<string>The smoking pipe chapter header.</string>
					<key>id</key>
					<string>smoking_pipe</string>
					<key>customClass</key>
					<string>ATextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch20_header</string>
					<key>frame</key>
					<array>
						<integer>694</integer>
						<integer>110</integer>
						<integer>70</integer>
						<integer>60</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>The smoking pipe.</string>
							<key>imageIndices</key>
							<string>{1,15}</string>
							<key>duration</key>
							<real>1.5</real>
							<key>repeatType</key>
							<string>CONTINUOUS</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>description</key>
					<string>The background.</string>
					<key>id</key>
					<string>background</string>
					<key>customClass</key>
					<string>AStaticImage</string>
					<key>resource</key>
					<string>TI_ch20_background.png</string>
					<key>frame</key>
					<array>
						<integer>79</integer>
						<integer>76</integer>
						<integer>433</integer>
						<integer>577</integer>
					</array>
				</dict>
				<dict>
					<key>description</key>
					<string>background whisps</string>
					<key>id</key>
					<string>background whisps</string>
					<key>customClass</key>
					<string>ATextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>Chapter20_Whisps_</string>
					<key>frame</key>
					<array>
						<integer>80</integer>
						<integer>74</integer>
						<integer>433</integer>
						<integer>488</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>The smoking pipe.</string>
							<key>imageIndices</key>
							<string>{1,44}</string>
							<key>duration</key>
							<integer>4</integer>
							<key>repeatType</key>
							<string>CONTINUOUS</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>description</key>
					<string>LJS, in all his finery.</string>
					<key>id</key>
					<string>ljs_finery</string>
					<key>customClass</key>
					<string>AStaticImage</string>
					<key>resource</key>
					<string>TI_ch20_LJS.png</string>
					<key>frame</key>
					<array>
						<integer>132</integer>
						<integer>113</integer>
						<integer>189</integer>
						<integer>223</integer>
					</array>
				</dict>
				<dict>
					<key>description</key>
					<string>The fluttering feathers on LJS&apos; hat.</string>
					<key>id</key>
					<string>ljs_hat_feathers</string>
					<key>customClass</key>
					<string>ATextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch20_hat_feathers</string>
					<key>frame</key>
					<array>
						<integer>157</integer>
						<integer>81</integer>
						<integer>85</integer>
						<integer>65</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>The fluttering feathers.</string>
							<key>imageIndices</key>
							<string>{1,8}</string>
							<key>duration</key>
							<real>0.8</real>
							<key>repeatType</key>
							<string>CONTINUOUS</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>description</key>
					<string>LJS stating the purpose of his &apos;visit&apos;.</string>
					<key>id</key>
					<string>ljs_talks</string>
					<key>customClass</key>
					<string>ATriggeredTextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch20_LJS_dialog_</string>
					<key>frame</key>
					<array>
						<integer>236</integer>
						<integer>149</integer>
						<integer>47</integer>
						<integer>48</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>LJS silent...</string>
							<key>imageIndices</key>
							<string>{1,1}</string>
							<key>transitionsFrom</key>
							<array>
								<string>1,9</string>
							</array>
						</dict>
						<dict>
							<key>description</key>
							<string>LJS talking.</string>
							<key>imageIndices</key>
							<string>{1,18}</string>
							<key>duration</key>
							<real>1.8</real>
							<key>soundEffect</key>
							<dict>
								<key>description</key>
								<string>LJS stating the purpose of his visit...</string>
								<key>type</key>
								<string>SOUNDEFFECT</string>
								<key>id</key>
								<string>ljs_parley</string>
								<key>resource</key>
								<string>Chap20_DLG_LongJohnSilver_ComeToParley.m4a</string>
								<key>customClass</key>
								<string>ASoundEffect</string>
							</dict>
							<key>transitionsFrom</key>
							<array>
								<string>0,1</string>
							</array>
						</dict>
					</array>
					<key>trigger</key>
					<dict>
						<key>type</key>
						<string>TOUCH</string>
						<key>regions</key>
						<array>
							<array>
								<integer>40</integer>
								<integer>80</integer>
								<integer>220</integer>
								<integer>200</integer>
							</array>
						</array>
					</dict>
				</dict>
			</array>
			<key>helpDescriptors</key>
			<array>
				<dict>
					<key>type</key>
					<string>TAP</string>
					<key>frame</key>
					<array>
						<integer>165</integer>
						<integer>145</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>page</key>
			<integer>2</integer>
			<key>elements</key>
			<array>
				<dict>
					<key>description</key>
					<string>Long John Silver&apos;s pipe spot.</string>
					<key>id</key>
					<string>LJS_pipe_spot</string>
					<key>customClass</key>
					<string>APipe</string>
					<key>minX</key>
					<integer>120</integer>
					<key>minY</key>
					<integer>275</integer>
					<key>maxX</key>
					<integer>470</integer>
					<key>maxY</key>
					<integer>550</integer>
					<key>pipeLayer</key>
					<dict>
						<key>resource</key>
						<string>pipe.png</string>
						<key>frame</key>
						<array>
							<integer>120</integer>
							<integer>335</integer>
							<integer>314</integer>
							<integer>185</integer>
						</array>
						<key>dropZone</key>
						<array>
							<integer>335</integer>
							<integer>410</integer>
							<integer>90</integer>
							<integer>80</integer>
						</array>
					</dict>
					<key>tobaccoLayer</key>
					<dict>
						<key>resource</key>
						<string>tobacco.png</string>
						<key>frame</key>
						<array>
							<integer>215</integer>
							<integer>275</integer>
							<integer>99</integer>
							<integer>102</integer>
						</array>
					</dict>
					<key>flameLayer</key>
					<dict>
						<key>resource</key>
						<string>flame.png</string>
						<key>frame</key>
						<array>
							<integer>335</integer>
							<integer>275</integer>
							<integer>91</integer>
							<integer>113</integer>
						</array>
					</dict>
					<key>smokeLayer</key>
					<dict>
						<key>description</key>
						<string>The smoke from the lit pipe.</string>
						<key>id</key>
						<string>smoke_layer</string>
						<key>customClass</key>
						<string>ATextureAtlasBasedSequence</string>
						<key>resourceBase</key>
						<string>TI_ch20_spot_pipe_smoke</string>
						<key>frame</key>
						<array>
							<integer>338</integer>
							<integer>212</integer>
							<integer>105</integer>
							<integer>200</integer>
						</array>
						<key>sequences</key>
						<array>
							<dict>
								<key>imageIndices</key>
								<string>{1,25}</string>
								<key>duration</key>
								<real>2.5</real>
							</dict>
						</array>
					</dict>
					<key>trigger</key>
					<dict>
						<key>type</key>
						<string>TOUCH</string>
						<key>regions</key>
						<array>
							<array>
								<integer>120</integer>
								<integer>275</integer>
								<integer>350</integer>
								<integer>350</integer>
							</array>
						</array>
					</dict>
				</dict>
			</array>
			<key>helpDescriptors</key>
			<array>
				<dict>
					<key>type</key>
					<string>TAP</string>
					<key>frame</key>
					<array>
						<integer>300</integer>
						<integer>300</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
