<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pages</key>
	<array>
		<dict>
			<key>page</key>
			<integer>0</integer>
			<key>elements</key>
			<array>
				<dict>
					<key>description</key>
					<string>The chapter header.</string>
					<key>id</key>
					<string>ch6_header</string>
					<key>customClass</key>
					<string>ATextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>XMarksSpot_0</string>
					<key>frame</key>
					<array>
						<integer>705</integer>
						<integer>120</integer>
						<integer>44</integer>
						<integer>57</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>x marks the spot</string>
							<key>imageIndices</key>
							<string>{1,19}</string>
							<key>duration</key>
							<real>1.5</real>
							<key>repeatType</key>
							<string>CONTINUOUS_WITH_DELAY</string>
							<key>repeatDelay</key>
							<integer>2</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>description</key>
					<string>Ambient sound of the cat purring by the fire.</string>
					<key>id</key>
					<string>cat_purr</string>
					<key>resource</key>
					<string>Chap6_AmbientIntro.m4a</string>
					<key>customClass</key>
					<string>AAmbientSound</string>
				</dict>
				<dict>
					<key>description</key>
					<string>The flickering candles of the chandelier</string>
					<key>id</key>
					<string>chandelier_flames</string>
					<key>customClass</key>
					<string>ATextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch6_chandelier_flames</string>
					<key>frame</key>
					<array>
						<integer>253</integer>
						<integer>109</integer>
						<integer>100</integer>
						<integer>40</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>imageIndices</key>
							<string>{1,5}</string>
							<key>duration</key>
							<real>0.5</real>
							<key>repeatType</key>
							<string>CONTINUOUS</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>description</key>
					<string>Doctor Livesey&apos;s mouth movement</string>
					<key>id</key>
					<string>doctor_mouth</string>
					<key>customClass</key>
					<string>ATriggeredTextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch6_doctor_mouth_sync</string>
					<key>frame</key>
					<array>
						<integer>245</integer>
						<integer>210</integer>
						<integer>30</integer>
						<integer>45</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>Doctor Livesey&apos;s mouth closed.</string>
							<key>imageIndices</key>
							<string>{1,1}</string>
							<key>transitionsFrom</key>
							<array>
								<string>1,39</string>
							</array>
						</dict>
						<dict>
							<key>description</key>
							<string>Doctor Livesey&apos;s mouth moving.</string>
							<key>imageIndices</key>
							<string>{1,39}</string>
							<key>duration</key>
							<real>3.9</real>
							<key>soundEffect</key>
							<dict>
								<key>id</key>
								<string>doctor_livesey_talking</string>
								<key>resource</key>
								<string>Chap6_DLG_DoctorLivesey_NotOneOfUs.m4a</string>
								<key>customClass</key>
								<string>ASoundEffect</string>
							</dict>
							<key>transitionsFrom</key>
							<array>
								<string>0,1</string>
							</array>
						</dict>
					</array>
					<key>trigger</key>
					<dict>
						<key>type</key>
						<string>TOUCH</string>
						<key>regions</key>
						<array>
							<array>
								<integer>50</integer>
								<integer>200</integer>
								<integer>200</integer>
								<integer>300</integer>
							</array>
						</array>
					</dict>
				</dict>
				<dict>
					<key>description</key>
					<string>Squire Trelawney&apos;s mouth movement</string>
					<key>id</key>
					<string>squire_mouth</string>
					<key>customClass</key>
					<string>ATriggeredTextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch6_squire_mouth_sync</string>
					<key>frame</key>
					<array>
						<integer>349</integer>
						<integer>175</integer>
						<integer>44</integer>
						<integer>40</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>Squire Trelawney&apos;s mouth closed.</string>
							<key>imageIndices</key>
							<string>{1,1}</string>
							<key>transitionsFrom</key>
							<array>
								<string>1,27</string>
							</array>
						</dict>
						<dict>
							<key>description</key>
							<string>Squire Trelawney&apos;s mouth moving.</string>
							<key>imageIndices</key>
							<string>{1,27}</string>
							<key>duration</key>
							<real>2.7</real>
							<key>soundEffect</key>
							<dict>
								<key>id</key>
								<string>squire_trelawney_speaking</string>
								<key>resource</key>
								<string>Chap6_DLG_Tralawney_IllHaveThatTreasure.m4a</string>
								<key>customClass</key>
								<string>ASoundEffect</string>
							</dict>
							<key>transitionsFrom</key>
							<array>
								<string>0,1</string>
							</array>
						</dict>
					</array>
					<key>trigger</key>
					<dict>
						<key>type</key>
						<string>TOUCH</string>
						<key>regions</key>
						<array>
							<array>
								<integer>340</integer>
								<integer>170</integer>
								<integer>200</integer>
								<integer>300</integer>
							</array>
						</array>
					</dict>
				</dict>
				<dict>
					<key>descripton</key>
					<string>The smoke from Squire Trelawney&apos;s pipe.</string>
					<key>id</key>
					<string>trelawney_smoke</string>
					<key>customClass</key>
					<string>ATextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch6_pipe_smoke</string>
					<key>frame</key>
					<array>
						<integer>325</integer>
						<integer>170</integer>
						<integer>25</integer>
						<integer>50</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>imageIndices</key>
							<string>{1,25}</string>
							<key>duration</key>
							<real>2.5</real>
							<key>repeatType</key>
							<string>CONTINUOUS</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>descripton</key>
					<string>The firelight flickering on the floor.</string>
					<key>id</key>
					<string>fire_shadow</string>
					<key>customClass</key>
					<string>ATextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch6_fire_shadow</string>
					<key>frame</key>
					<array>
						<integer>345</integer>
						<integer>499</integer>
						<integer>170</integer>
						<integer>165</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>imageIndices</key>
							<string>{1,8}</string>
							<key>duration</key>
							<real>0.8</real>
							<key>repeatType</key>
							<string>CONTINUOUS</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>description</key>
					<string>Jim&apos;s mouth movement.</string>
					<key>id</key>
					<string>jim_mouth</string>
					<key>customClass</key>
					<string>ATriggeredTextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch6_Jim_mouth_sync</string>
					<key>frame</key>
					<array>
						<integer>227</integer>
						<integer>378</integer>
						<integer>40</integer>
						<integer>29</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>Jim&apos;s mouth closed.</string>
							<key>imageIndices</key>
							<string>{1,1}</string>
							<key>transitionsFrom</key>
							<array>
								<string>1,10</string>
							</array>
						</dict>
						<dict>
							<key>description</key>
							<string>Jim&apos;s mouth moving.</string>
							<key>imageIndices</key>
							<string>{1,10}</string>
							<key>duration</key>
							<integer>1</integer>
							<key>soundEffect</key>
							<dict>
								<key>id</key>
								<string>jim_talking</string>
								<key>resource</key>
								<string>WILD_DLG_Jim_WhatsThatSir.m4a</string>
								<key>customClass</key>
								<string>ASoundEffect</string>
							</dict>
							<key>transitionsFrom</key>
							<array>
								<string>0,1</string>
							</array>
						</dict>
					</array>
					<key>trigger</key>
					<dict>
						<key>type</key>
						<string>TOUCH</string>
						<key>regions</key>
						<array>
							<array>
								<integer>135</integer>
								<integer>380</integer>
								<integer>200</integer>
								<integer>300</integer>
							</array>
						</array>
					</dict>
				</dict>
			</array>
			<key>helpDescriptors</key>
			<array>
				<dict>
					<key>type</key>
					<string>TAP</string>
					<key>frame</key>
					<array>
						<integer>145</integer>
						<integer>210</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
				<dict>
					<key>type</key>
					<string>TAP</string>
					<key>frame</key>
					<array>
						<integer>365</integer>
						<integer>210</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
				<dict>
					<key>type</key>
					<string>TAP</string>
					<key>frame</key>
					<array>
						<integer>135</integer>
						<integer>380</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
