<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pages</key>
	<array>
		<dict>
			<key>page</key>
			<integer>0</integer>
			<key>elements</key>
			<array>
				<dict>
					<key>description</key>
					<string>crabs</string>
					<key>id</key>
					<string>crabs</string>
					<key>customClass</key>
					<string>ATextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>crabexporter_0</string>
					<key>frame</key>
					<array>
						<integer>350</integer>
						<integer>550</integer>
						<integer>100</integer>
						<integer>100</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>The header eyes.</string>
							<key>imageIndices</key>
							<string>{1,23}</string>
							<key>duration</key>
							<integer>2</integer>
							<key>repeatType</key>
							<string>CONTINUOUS</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>description</key>
					<string>Jungle sounds.</string>
					<key>id</key>
					<string>ben_in_the_jungle</string>
					<key>customClass</key>
					<string>AAmbientSound</string>
					<key>resource</key>
					<string>Chap15_AMB.m4a</string>
				</dict>
				<dict>
					<key>description</key>
					<string>Eyes header.</string>
					<key>id</key>
					<string>eyes_header</string>
					<key>customClass</key>
					<string>ATextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch15_header_eyes</string>
					<key>frame</key>
					<array>
						<integer>686</integer>
						<integer>127</integer>
						<integer>80</integer>
						<integer>40</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>The header eyes.</string>
							<key>imageIndices</key>
							<string>{1,40}</string>
							<key>duration</key>
							<real>4</real>
							<key>repeatType</key>
							<string>CONTINUOUS</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>description</key>
					<string>Ben talking.</string>
					<key>id</key>
					<string>ben_talking</string>
					<key>customClass</key>
					<string>ATriggeredTextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch15_ben_lip_sync</string>
					<key>frame</key>
					<array>
						<integer>259</integer>
						<integer>348</integer>
						<integer>90</integer>
						<integer>64</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>Ben, silent, before asking for a piece of cheese.</string>
							<key>imageIndices</key>
							<string>{1,1}</string>
							<key>duration</key>
							<integer>1</integer>
							<key>transitionsFrom</key>
							<array>
								<string>1,61</string>
							</array>
						</dict>
						<dict>
							<key>description</key>
							<string>Ben asking for a piece of cheese.</string>
							<key>imageIndices</key>
							<string>{1,61}</string>
							<key>duration</key>
							<real>6.1</real>
							<key>transitionsFrom</key>
							<array>
								<string>0,1</string>
							</array>
							<key>soundEffect</key>
							<dict>
								<key>description</key>
								<string>Ben asking for a piece of cheese.</string>
								<key>type</key>
								<string>SOUNDEFFECT</string>
								<key>id</key>
								<string>ben_cheese</string>
								<key>customClass</key>
								<string>ASoundEffect</string>
								<key>resource</key>
								<string>Chap15_DLG_BenGunn_PieceOfCheese.m4a</string>
								<key>trigger</key>
								<dict>
									<key>type</key>
									<string>TOUCH</string>
									<key>regions</key>
									<array>
										<array>
											<integer>150</integer>
											<integer>300</integer>
											<integer>200</integer>
											<integer>200</integer>
										</array>
									</array>
								</dict>
							</dict>
						</dict>
					</array>
					<key>trigger</key>
					<dict>
						<key>type</key>
						<string>TOUCH</string>
						<key>regions</key>
						<array>
							<array>
								<integer>200</integer>
								<integer>330</integer>
								<integer>200</integer>
								<integer>200</integer>
							</array>
						</array>
					</dict>
				</dict>
				<dict>
					<key>description</key>
					<string>Ben blinking.</string>
					<key>id</key>
					<string>ben_blinking</string>
					<key>customClass</key>
					<string>ATextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch15_ben_blinks_clean</string>
					<key>frame</key>
					<array>
						<integer>259</integer>
						<integer>324</integer>
						<integer>70</integer>
						<integer>25</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>Ben blinking in the sun.</string>
							<key>imageIndices</key>
							<string>{1,5}</string>
							<key>duration</key>
							<real>0.5</real>
							<key>repeatType</key>
							<string>CONTINUOUS_WITH_RANDOM_DELAY</string>
							<key>repeatDelayMin</key>
							<real>1.5</real>
							<key>repeatDelayMax</key>
							<real>2.5</real>
						</dict>
					</array>
				</dict>
				<dict>
					<key>description</key>
					<string>The glint from the head of Ben&apos;s spear.</string>
					<key>type</key>
					<string>IMAGESEQUENCE</string>
					<key>animationType</key>
					<string>CUSTOM</string>
					<key>id</key>
					<string>spearhead_shine</string>
					<key>customClass</key>
					<string>ATextureAtlasBasedSequence</string>
					<key>onLayer</key>
					<true/>
					<key>resourceBase</key>
					<string>TI_ch15_spearhead_shine</string>
					<key>frame</key>
					<array>
						<integer>455</integer>
						<integer>402</integer>
						<integer>50</integer>
						<integer>44</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>The spearhead glinting in the sun.</string>
							<key>imageIndices</key>
							<string>{1,12}</string>
							<key>duration</key>
							<real>1.2</real>
							<key>repeatType</key>
							<string>CONTINUOUS</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>helpDescriptors</key>
			<array>
				<dict>
					<key>type</key>
					<string>TAP</string>
					<key>frame</key>
					<array>
						<integer>170</integer>
						<integer>315</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>page</key>
			<integer>2</integer>
			<key>elements</key>
			<array>
				<dict>
					<key>description</key>
					<string>The eyes of Ben Gunn spot.</string>
					<key>id</key>
					<string>ben_gunn_eyes_spot</string>
					<key>customClass</key>
					<string>AEyes</string>
					<key>minX</key>
					<integer>725</integer>
					<key>minY</key>
					<integer>565</integer>
					<key>maxX</key>
					<integer>745</integer>
					<key>maxY</key>
					<integer>571</integer>
					<key>socketLayer</key>
					<dict>
						<key>resource</key>
						<string>eyes_1.png</string>
						<key>frame</key>
						<array>
							<integer>500</integer>
							<integer>450</integer>
							<integer>468</integer>
							<integer>294</integer>
						</array>
					</dict>
					<key>eyesLayer</key>
					<dict>
						<key>resource</key>
						<string>eyes_2.png</string>
						<key>frame</key>
						<array>
							<integer>672</integer>
							<integer>548</integer>
							<integer>126</integer>
							<integer>40</integer>
						</array>
					</dict>
					<key>trigger</key>
					<dict>
						<key>type</key>
						<string>PAN</string>
						<key>minTouches</key>
						<integer>1</integer>
						<key>maxTouches</key>
						<integer>1</integer>
						<key>regions</key>
						<array>
							<array>
								<integer>100</integer>
								<integer>0</integer>
								<integer>824</integer>
								<integer>768</integer>
							</array>
						</array>
					</dict>
				</dict>
			</array>
			<key>helpDescriptors</key>
			<array>
				<dict>
					<key>type</key>
					<string>SWIPE</string>
					<key>arrowDirection</key>
					<string>RIGHT</string>
					<key>frame</key>
					<array>
						<integer>680</integer>
						<integer>610</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
