<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pages</key>
	<array>
		<dict>
			<key>page</key>
			<integer>0</integer>
			<key>elements</key>
			<array>
				<dict>
					<key>description</key>
					<string>bottle breaking</string>
					<key>id</key>
					<string>bottle_header</string>
					<key>customClass</key>
					<string>ATextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>Bottle_0</string>
					<key>frame</key>
					<array>
						<integer>666</integer>
						<integer>103</integer>
						<integer>80</integer>
						<integer>80</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>bottle header</string>
							<key>imageIndices</key>
							<string>{1,19}</string>
							<key>duration</key>
							<integer>2</integer>
							<key>repeatType</key>
							<string>CONTINUOUS_WITH_DELAY</string>
							<key>repeatDelay</key>
							<real>2.4</real>
						</dict>
					</array>
				</dict>
				<dict>
					<key>description</key>
					<string>Ambient sound of the wind whistling in the door</string>
					<key>id</key>
					<string>whistling_wind</string>
					<key>resource</key>
					<string>Chap2_AMB_Sized.m4a</string>
					<key>customClass</key>
					<string>AAmbientSound</string>
				</dict>
				<dict>
					<key>description</key>
					<string>Animation of the Captain doffing his hat while standing at the door.</string>
					<key>id</key>
					<string>captain_doffing</string>
					<key>customClass</key>
					<string>AZRotation</string>
					<key>resourceBase</key>
					<string>arm3.png</string>
					<key>frame</key>
					<array>
						<integer>158</integer>
						<integer>52</integer>
						<integer>128</integer>
						<integer>128</integer>
					</array>
					<key>repeatType</key>
					<string>CONTINUOUS</string>
					<key>timingFunctionName</key>
					<string>EaseInEaseOut</string>
					<key>duration</key>
					<real>1.5</real>
					<key>anchorPoint</key>
					<string>{1.0,1.0}</string>
					<key>startAngle</key>
					<integer>0</integer>
					<key>endAngle</key>
					<integer>30</integer>
				</dict>
				<dict>
					<key>description</key>
					<string>Animation of the tea dripping continuously from the kettle into the cup.</string>
					<key>id</key>
					<string>dripping_tea</string>
					<key>customClass</key>
					<string>ATextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch2_tea_drip</string>
					<key>frame</key>
					<array>
						<integer>386</integer>
						<integer>357</integer>
						<integer>80</integer>
						<integer>56</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>The entire tea dripping sequence.</string>
							<key>imageIndices</key>
							<string>{1,21}</string>
							<key>duration</key>
							<real>2.1</real>
							<key>repeatType</key>
							<string>CONTINUOUS</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>description</key>
					<string>Animation of leaves blowing across the screen.</string>
					<key>id</key>
					<string>blown_leaves</string>
					<key>customClass</key>
					<string>ABlownLeaves</string>
					<key>leaf1Layer</key>
					<dict>
						<key>resource</key>
						<string>small_leaf1.png</string>
						<key>frame</key>
						<array>
							<integer>133</integer>
							<integer>288</integer>
							<integer>60</integer>
							<integer>60</integer>
						</array>
						<key>duration</key>
						<integer>3</integer>
						<key>fadeThreshold</key>
						<real>0.75</real>
						<key>pathPoints</key>
						<array>
							<string>{201, 362}</string>
							<string>{291, 396}</string>
							<string>{301, 381}</string>
							<string>{293, 366}</string>
							<string>{280, 363}</string>
							<string>{272, 398}</string>
							<string>{287, 422}</string>
							<string>{349, 432}</string>
							<string>{408, 475}</string>
							<string>{485, 498}</string>
							<string>{513, 489}</string>
							<string>{506, 467}</string>
							<string>{480, 460}</string>
							<string>{464, 476}</string>
							<string>{483, 523}</string>
							<string>{569, 545}</string>
							<string>{672, 558}</string>
							<string>{740, 559}</string>
							<string>{871, 554}</string>
							<string>{977, 547}</string>
							<string>{1148, 525}</string>
							<string>{1141, 526}</string>
						</array>
					</dict>
					<key>leaf2Layer</key>
					<dict>
						<key>resource</key>
						<string>small_leaf2.png</string>
						<key>frame</key>
						<array>
							<integer>124</integer>
							<integer>241</integer>
							<integer>62</integer>
							<integer>37</integer>
						</array>
						<key>duration</key>
						<integer>5</integer>
						<key>fadeThreshold</key>
						<real>0.75</real>
						<key>pathPoints</key>
						<array>
							<string>{171,301}</string>
							<string>{206,354}</string>
							<string>{253,404}</string>
							<string>{309,408}</string>
							<string>{353,389}</string>
							<string>{360,351}</string>
							<string>{348,327}</string>
							<string>{318,322}</string>
							<string>{303,346}</string>
							<string>{313,382}</string>
							<string>{340,402}</string>
							<string>{389,427}</string>
							<string>{460,429}</string>
							<string>{489,401}</string>
							<string>{493,346}</string>
							<string>{463,324}</string>
							<string>{383,333}</string>
							<string>{402,410}</string>
							<string>{494,455}</string>
							<string>{546,456}</string>
							<string>{601,453}</string>
							<string>{642,444}</string>
							<string>{674,396}</string>
							<string>{593,369}</string>
							<string>{592,428}</string>
							<string>{672,487}</string>
							<string>{755,483}</string>
							<string>{816,429}</string>
							<string>{881,389}</string>
							<string>{925,389}</string>
							<string>{978,411}</string>
							<string>{993,461}</string>
							<string>{979,497}</string>
							<string>{914,514}</string>
							<string>{885,497}</string>
							<string>{887,448}</string>
							<string>{909,406}</string>
							<string>{953,391}</string>
							<string>{1006,370}</string>
							<string>{1079,339}</string>
							<string>{1130,325}</string>
						</array>
					</dict>
					<key>leaf3Layer</key>
					<dict>
						<key>resource</key>
						<string>small_leaf3.png</string>
						<key>frame</key>
						<array>
							<integer>111</integer>
							<integer>342</integer>
							<integer>56</integer>
							<integer>55</integer>
						</array>
						<key>duration</key>
						<integer>4</integer>
						<key>fadeThreshold</key>
						<real>0.75</real>
						<key>pathPoints</key>
						<array>
							<string>{200,385}</string>
							<string>{271,376}</string>
							<string>{267,349}</string>
							<string>{245,365}</string>
							<string>{268,418}</string>
							<string>{348,434}</string>
							<string>{388,433}</string>
							<string>{508,466}</string>
							<string>{592,495}</string>
							<string>{714,516}</string>
							<string>{782,534}</string>
							<string>{843,585}</string>
							<string>{894,656}</string>
							<string>{887,699}</string>
							<string>{830,712}</string>
							<string>{776,689}</string>
							<string>{799,632}</string>
							<string>{914,613}</string>
							<string>{990,616}</string>
							<string>{1157,637}</string>
							<string>{1160,636}</string>
						</array>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>page</key>
			<integer>1</integer>
			<key>elements</key>
			<array>
				<dict>
					<key>description</key>
					<string>The flickable leaves.</string>
					<key>id</key>
					<string>leaves</string>
					<key>customClass</key>
					<string>ALeaves</string>
					<key>frame</key>
					<array>
						<integer>0</integer>
						<integer>0</integer>
						<integer>1024</integer>
						<integer>748</integer>
					</array>
					<key>resources</key>
					<array>
						<dict>
							<key>resource</key>
							<string>leaf1.png</string>
							<key>frame</key>
							<array>
								<integer>20</integer>
								<integer>600</integer>
								<integer>133</integer>
								<integer>103</integer>
							</array>
						</dict>
						<dict>
							<key>resource</key>
							<string>leaf2.png</string>
							<key>frame</key>
							<array>
								<integer>500</integer>
								<integer>600</integer>
								<integer>190</integer>
								<integer>129</integer>
							</array>
						</dict>
						<dict>
							<key>resource</key>
							<string>leaf3.png</string>
							<key>frame</key>
							<array>
								<integer>700</integer>
								<integer>600</integer>
								<integer>199</integer>
								<integer>156</integer>
							</array>
						</dict>
					</array>
					<key>trigger</key>
					<dict>
						<key>type</key>
						<string>PAN</string>
						<key>minTouches</key>
						<integer>1</integer>
						<key>maxTouches</key>
						<integer>1</integer>
						<key>regions</key>
						<array>
							<array>
								<integer>225</integer>
								<integer>600</integer>
								<integer>100</integer>
								<integer>100</integer>
							</array>
						</array>
					</dict>
				</dict>
			</array>
			<key>helpDescriptors</key>
			<array>
				<dict>
					<key>type</key>
					<string>SWIPE</string>
					<key>arrowDirection</key>
					<string>UP</string>
					<key>frame</key>
					<array>
						<integer>30</integer>
						<integer>620</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
				<dict>
					<key>type</key>
					<string>SWIPE</string>
					<key>arrowDirection</key>
					<string>UP</string>
					<key>frame</key>
					<array>
						<integer>560</integer>
						<integer>620</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
				<dict>
					<key>type</key>
					<string>SWIPE</string>
					<key>arrowDirection</key>
					<string>UP</string>
					<key>frame</key>
					<array>
						<integer>740</integer>
						<integer>620</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>page</key>
			<integer>2</integer>
			<key>elements</key>
			<array>
				<dict>
					<key>description</key>
					<string>Spot animation of rum sloshing around in a rum bottle.</string>
					<key>id</key>
					<string>rum_bottle</string>
					<key>customClass</key>
					<string>ARumBottle</string>
					<key>rumBottleSoundEffect</key>
					<string>Chap2_INT_BottleSloshFIX2.m4a</string>
					<key>sloshingSequence1</key>
					<dict>
						<key>resourceBase</key>
						<string>TI_ch2_rum_bottle_0</string>
						<key>frame</key>
						<array>
							<integer>525</integer>
							<integer>385</integer>
							<integer>420</integer>
							<integer>300</integer>
						</array>
						<key>sequences</key>
						<array>
							<dict>
								<key>description</key>
								<string>The rum in the bottle.</string>
								<key>imageIndices</key>
								<string>{1,39}</string>
								<key>unpatterned</key>
								<true/>
								<key>initialFrame</key>
								<integer>20</integer>
							</dict>
						</array>
					</dict>
					<key>trigger</key>
					<dict>
						<key>type</key>
						<string>TILT</string>
						<key>tiltNotificationEvent</key>
						<string>ALWAYS</string>
					</dict>
				</dict>
			</array>
			<key>helpDescriptors</key>
			<array>
				<dict>
					<key>type</key>
					<string>ROTATE</string>
					<key>frame</key>
					<array>
						<integer>720</integer>
						<integer>460</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
