<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pages</key>
	<array>
		<dict>
			<key>page</key>
			<integer>0</integer>
			<key>elements</key>
			<array>
				<dict>
					<key>description</key>
					<string>Knife</string>
					<key>id</key>
					<string>Knife</string>
					<key>customClass</key>
					<string>ATextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>Knife_0</string>
					<key>frame</key>
					<array>
						<integer>250</integer>
						<integer>140</integer>
						<integer>90</integer>
						<integer>45</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>telescope header</string>
							<key>imageIndices</key>
							<string>{1,19}</string>
							<key>duration</key>
							<integer>1</integer>
							<key>repeatType</key>
							<string>CONTINUOUS</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>page</key>
			<integer>1</integer>
			<key>elements</key>
			<array>
				<dict>
					<key>description</key>
					<string>Jims jump</string>
					<key>id</key>
					<string>Jims jump</string>
					<key>customClass</key>
					<string>ATextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>Chapter14_Jim_</string>
					<key>frame</key>
					<array>
						<integer>400</integer>
						<integer>238</integer>
						<integer>544</integer>
						<integer>256</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>jims jump</string>
							<key>imageIndices</key>
							<string>{1,44}</string>
							<key>duration</key>
							<integer>4</integer>
							<key>repeatType</key>
							<string>NONE</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>description</key>
					<string>Ambient sounds of the jungle.</string>
					<key>id</key>
					<string>the_jungle</string>
					<key>resource</key>
					<string>Chap14_AMB_Jungle.m4a</string>
					<key>customClass</key>
					<string>AAmbientSound</string>
					<key>numLoops</key>
					<integer>-1</integer>
				</dict>
				<dict>
					<key>description</key>
					<string>The seductively shifting plant tentacles.</string>
					<key>id</key>
					<string>plant_tentacles</string>
					<key>customClass</key>
					<string>ATextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch14_plant_tentacles</string>
					<key>frame</key>
					<array>
						<integer>385</integer>
						<integer>527</integer>
						<integer>110</integer>
						<integer>150</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>The purple plant tentacles.</string>
							<key>imageIndices</key>
							<string>{1,7}</string>
							<key>duration</key>
							<real>0.7</real>
							<key>repeatType</key>
							<string>CONTINUOUS</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>description</key>
					<string>The quirky bird.</string>
					<key>id</key>
					<string>quirky_bird</string>
					<key>customClass</key>
					<string>ATriggeredTextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch14_bird</string>
					<key>frame</key>
					<array>
						<integer>850</integer>
						<integer>550</integer>
						<integer>155</integer>
						<integer>190</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>The hidden bird sequence.</string>
							<key>imageIndices</key>
							<string>{1,20}</string>
							<key>duration</key>
							<real>2</real>
							<key>repeatType</key>
							<string>CONTINUOUS</string>
						</dict>
						<dict>
							<key>description</key>
							<string>Transition to the bird&apos;s head up position</string>
							<key>imageIndices</key>
							<string>{21,7}</string>
							<key>duration</key>
							<real>0.7</real>
							<key>soundEffect</key>
							<dict>
								<key>description</key>
								<string>The jungle bird squawking after it has been disturbed.</string>
								<key>id</key>
								<string>jungle_bird_squawk</string>
								<key>resource</key>
								<string>Chap14_BirdSquak1.m4a</string>
								<key>customClass</key>
								<string>ASoundEffect</string>
							</dict>
							<key>transitionsFrom</key>
							<array>
								<string>0,1</string>
								<string>0,2</string>
								<string>0,3</string>
								<string>0,4</string>
								<string>0,5</string>
								<string>0,6</string>
								<string>0,7</string>
								<string>0,8</string>
								<string>0,9</string>
								<string>0,10</string>
								<string>0,11</string>
								<string>0,12</string>
								<string>0,13</string>
								<string>0,14</string>
								<string>0,15</string>
								<string>0,16</string>
								<string>0,17</string>
								<string>0,18</string>
								<string>0,19</string>
							</array>
						</dict>
						<dict>
							<key>description</key>
							<string>The bird&apos;s head up position.</string>
							<key>imageIndices</key>
							<string>{28,22}</string>
							<key>duration</key>
							<real>3</real>
							<key>repeatType</key>
							<string>CONTINUOUS</string>
							<key>transitionsFrom</key>
							<array>
								<string>1,28</string>
							</array>
						</dict>
					</array>
					<key>trigger</key>
					<dict>
						<key>type</key>
						<string>TOUCH</string>
						<key>regions</key>
						<array>
							<array>
								<integer>720</integer>
								<integer>550</integer>
								<integer>280</integer>
								<integer>190</integer>
							</array>
						</array>
					</dict>
				</dict>
				<dict>
					<key>description</key>
					<string>Jim gasping as he leaps...</string>
					<key>id</key>
					<string>jim_gasping</string>
					<key>customClass</key>
					<string>ASoundEffect</string>
					<key>resource</key>
					<string>Chap14_DLG_Jim_Gasp.m4a</string>
					<key>trigger</key>
					<dict>
						<key>type</key>
						<string>TOUCH</string>
						<key>regions</key>
						<array>
							<array>
								<integer>600</integer>
								<integer>300</integer>
								<integer>200</integer>
								<integer>200</integer>
							</array>
						</array>
					</dict>
				</dict>
				<dict>
					<key>description</key>
					<string>The large yellow eyes in the jungle.</string>
					<key>id</key>
					<string>large_eyes</string>
					<key>customClass</key>
					<string>ATriggeredTextureAtlasBasedSequence</string>
					<key>trigger</key>
					<dict>
						<key>type</key>
						<string>TOUCH</string>
						<key>regions</key>
						<array>
							<array>
								<integer>60</integer>
								<integer>500</integer>
								<integer>300</integer>
								<integer>228</integer>
							</array>
						</array>
					</dict>
					<key>resourceBase</key>
					<string>TI_ch14_yellow_eyes_lg</string>
					<key>frame</key>
					<array>
						<integer>118</integer>
						<integer>550</integer>
						<integer>30</integer>
						<integer>10</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>imageIndices</key>
							<string>{1,5}</string>
							<key>duration</key>
							<real>0.5</real>
							<key>repeatType</key>
							<string>CONTINUOUS_WITH_DELAY</string>
							<key>repeatDelay</key>
							<integer>10</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>trigger</key>
					<dict>
						<key>type</key>
						<string>TOUCH</string>
						<key>regions</key>
						<array>
							<array>
								<integer>800</integer>
								<integer>200</integer>
								<integer>224</integer>
								<integer>228</integer>
							</array>
						</array>
					</dict>
					<key>description</key>
					<string>The medium yellow eyes in the jungle.</string>
					<key>id</key>
					<string>medium_eyes</string>
					<key>customClass</key>
					<string>ATriggeredTextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch14_yellow_eyes_md</string>
					<key>frame</key>
					<array>
						<integer>893</integer>
						<integer>277</integer>
						<integer>18</integer>
						<integer>5</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>imageIndices</key>
							<string>{1,5}</string>
							<key>duration</key>
							<real>0.5</real>
							<key>repeatType</key>
							<string>CONTINUOUS_WITH_DELAY</string>
							<key>repeatDelay</key>
							<integer>10</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>trigger</key>
					<dict>
						<key>type</key>
						<string>TOUCH</string>
						<key>regions</key>
						<array>
							<array>
								<integer>200</integer>
								<integer>500</integer>
								<integer>300</integer>
								<integer>228</integer>
							</array>
						</array>
					</dict>
					<key>description</key>
					<string>The small yellow eyes in the jungle.</string>
					<key>id</key>
					<string>small_eyes</string>
					<key>customClass</key>
					<string>ATriggeredTextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch14_yellow_eyes_sm</string>
					<key>frame</key>
					<array>
						<integer>307</integer>
						<integer>489</integer>
						<integer>10</integer>
						<integer>4</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>imageIndices</key>
							<string>{1,5}</string>
							<key>duration</key>
							<real>0.5</real>
							<key>repeatType</key>
							<string>CONTINUOUS_WITH_DELAY</string>
							<key>repeatDelay</key>
							<real>2.8</real>
						</dict>
					</array>
				</dict>
			</array>
			<key>helpDescriptors</key>
			<array>
				<dict>
					<key>type</key>
					<string>TAP</string>
					<key>frame</key>
					<array>
						<integer>860</integer>
						<integer>595</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
