<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pages</key>
	<array>
		<dict>
			<key>page</key>
			<integer>0</integer>
			<key>elements</key>
			<array>
				<dict>
					<key>description</key>
					<string>Seagulls flapping their wings (header).</string>
					<key>id</key>
					<string>seagulls_header</string>
					<key>customClass</key>
					<string>ATextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch7_header</string>
					<key>frame</key>
					<array>
						<integer>235</integer>
						<integer>127</integer>
						<integer>130</integer>
						<integer>45</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>The flying gulls.</string>
							<key>imageIndices</key>
							<string>{1,48}</string>
							<key>duration</key>
							<integer>4</integer>
							<key>repeatType</key>
							<string>CONTINUOUS</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>page</key>
			<integer>1</integer>
			<key>elements</key>
			<array>
				<dict>
					<key>description</key>
					<string>Ambient sound of the streets or Bristol.</string>
					<key>id</key>
					<string>streets_of_bristol</string>
					<key>resource</key>
					<string>Chap7_AMB_Loop_withLowBells.m4a</string>
					<key>customClass</key>
					<string>AAmbientSound</string>
					<key>numLoops</key>
					<integer>-1</integer>
				</dict>
				<dict>
					<key>description</key>
					<string>Ambient sound of a horse and carriage.</string>
					<key>id</key>
					<string>horse_and_carriage_ambient</string>
					<key>resource</key>
					<string>Chap7_Horse_rev1_NoBells.m4a</string>
					<key>customClass</key>
					<string>AAmbientSound</string>
					<key>numLoops</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>description</key>
					<string>The first of the springy boats.</string>
					<key>id</key>
					<string>boat_1</string>
					<key>resource</key>
					<string>ch7_boat1.png</string>
					<key>customClass</key>
					<string>ATriggeredSpringAnimation</string>
					<key>frame</key>
					<array>
						<integer>171</integer>
						<integer>24</integer>
						<integer>195</integer>
						<integer>86</integer>
					</array>
					<key>keyPath</key>
					<string>position.y</string>
					<key>maximumExtension</key>
					<integer>20</integer>
					<key>springTension</key>
					<real>0.55</real>
					<key>duration</key>
					<real>2.5</real>
					<key>trigger</key>
					<dict>
						<key>type</key>
						<string>TOUCH</string>
						<key>regions</key>
						<array>
							<array>
								<integer>171</integer>
								<integer>24</integer>
								<integer>195</integer>
								<integer>86</integer>
							</array>
						</array>
					</dict>
				</dict>
				<dict>
					<key>description</key>
					<string>The second of the springy boats.</string>
					<key>id</key>
					<string>boat_2</string>
					<key>resource</key>
					<string>ch7_boat2.png</string>
					<key>customClass</key>
					<string>ATriggeredSpringAnimation</string>
					<key>frame</key>
					<array>
						<integer>374</integer>
						<integer>26</integer>
						<integer>43</integer>
						<integer>161</integer>
					</array>
					<key>keyPath</key>
					<string>position.y</string>
					<key>maximumExtension</key>
					<integer>30</integer>
					<key>springTension</key>
					<real>0.5</real>
					<key>duration</key>
					<real>2.7</real>
					<key>trigger</key>
					<dict>
						<key>type</key>
						<string>TOUCH</string>
						<key>regions</key>
						<array>
							<array>
								<integer>374</integer>
								<integer>26</integer>
								<integer>43</integer>
								<integer>161</integer>
							</array>
						</array>
					</dict>
				</dict>
				<dict>
					<key>description</key>
					<string>The third of the springy boats.</string>
					<key>id</key>
					<string>boat_3</string>
					<key>resource</key>
					<string>ch7_boat3.png</string>
					<key>customClass</key>
					<string>ATriggeredSpringAnimation</string>
					<key>frame</key>
					<array>
						<integer>437</integer>
						<integer>28</integer>
						<integer>30</integer>
						<integer>161</integer>
					</array>
					<key>keyPath</key>
					<string>position.y</string>
					<key>maximumExtension</key>
					<integer>25</integer>
					<key>springTension</key>
					<real>0.66</real>
					<key>duration</key>
					<real>2.5</real>
					<key>trigger</key>
					<dict>
						<key>type</key>
						<string>TOUCH</string>
						<key>regions</key>
						<array>
							<array>
								<integer>437</integer>
								<integer>28</integer>
								<integer>30</integer>
								<integer>161</integer>
							</array>
						</array>
					</dict>
				</dict>
				<dict>
					<key>description</key>
					<string>The fourth of the springy boats.</string>
					<key>id</key>
					<string>boat_4</string>
					<key>resource</key>
					<string>ch7_boat4.png</string>
					<key>customClass</key>
					<string>ATriggeredSpringAnimation</string>
					<key>frame</key>
					<array>
						<integer>669</integer>
						<integer>60</integer>
						<integer>204</integer>
						<integer>97</integer>
					</array>
					<key>keyPath</key>
					<string>position.y</string>
					<key>maximumExtension</key>
					<integer>25</integer>
					<key>springTension</key>
					<real>0.4</real>
					<key>duration</key>
					<real>3</real>
					<key>trigger</key>
					<dict>
						<key>type</key>
						<string>TOUCH</string>
						<key>regions</key>
						<array>
							<array>
								<integer>669</integer>
								<integer>60</integer>
								<integer>204</integer>
								<integer>97</integer>
							</array>
						</array>
					</dict>
				</dict>
				<dict>
					<key>description</key>
					<string>The fifth of the springy boats.</string>
					<key>id</key>
					<string>boat_5</string>
					<key>resource</key>
					<string>ch7_boat5.png</string>
					<key>customClass</key>
					<string>ATriggeredSpringAnimation</string>
					<key>frame</key>
					<array>
						<integer>820</integer>
						<integer>18</integer>
						<integer>119</integer>
						<integer>151</integer>
					</array>
					<key>keyPath</key>
					<string>position.y</string>
					<key>maximumExtension</key>
					<integer>20</integer>
					<key>springTension</key>
					<real>0.45</real>
					<key>duration</key>
					<integer>4</integer>
					<key>trigger</key>
					<dict>
						<key>type</key>
						<string>TOUCH</string>
						<key>regions</key>
						<array>
							<array>
								<integer>820</integer>
								<integer>18</integer>
								<integer>119</integer>
								<integer>151</integer>
							</array>
						</array>
					</dict>
				</dict>
				<dict>
					<key>description</key>
					<string>A image to mask the forward parts of boats 4 and 5.</string>
					<key>id</key>
					<string>foreground_mask</string>
					<key>customClass</key>
					<string>AStaticImage</string>
					<key>resource</key>
					<string>forground_mask.png</string>
					<key>frame</key>
					<array>
						<integer>693</integer>
						<integer>34</integer>
						<integer>311</integer>
						<integer>177</integer>
					</array>
				</dict>
				<dict>
					<key>description</key>
					<string>The windows which, when tapped, show the light within either turned on or turned off.</string>
					<key>id</key>
					<string>windows</string>
					<key>customClass</key>
					<string>AWindows</string>
					<key>resource</key>
					<string>TI_ch7_window_.png</string>
					<key>windowCoordinates</key>
					<string>TI_ch7_window_.plist</string>
					<key>frameKeyTemplate</key>
					<string>TI_ch7_window_%d_%04d.png</string>
					<key>windowSpecs</key>
					<array>
						<dict>
							<key>description</key>
							<string>Windows 1</string>
							<key>frame</key>
							<array>
								<integer>70</integer>
								<integer>280</integer>
								<integer>20</integer>
								<integer>45</integer>
							</array>
						</dict>
						<dict>
							<key>description</key>
							<string>Windows 2</string>
							<key>frame</key>
							<array>
								<integer>71</integer>
								<integer>335</integer>
								<integer>70</integer>
								<integer>70</integer>
							</array>
						</dict>
						<dict>
							<key>description</key>
							<string>Windows 3</string>
							<key>frame</key>
							<array>
								<integer>164</integer>
								<integer>279</integer>
								<integer>10</integer>
								<integer>25</integer>
							</array>
						</dict>
						<dict>
							<key>description</key>
							<string>Windows 4</string>
							<key>frame</key>
							<array>
								<integer>393</integer>
								<integer>300</integer>
								<integer>15</integer>
								<integer>40</integer>
							</array>
						</dict>
						<dict>
							<key>description</key>
							<string>Windows 5</string>
							<key>frame</key>
							<array>
								<integer>449</integer>
								<integer>322</integer>
								<integer>20</integer>
								<integer>45</integer>
							</array>
						</dict>
						<dict>
							<key>description</key>
							<string>Windows 6</string>
							<key>frame</key>
							<array>
								<integer>482</integer>
								<integer>319</integer>
								<integer>25</integer>
								<integer>95</integer>
							</array>
						</dict>
						<dict>
							<key>description</key>
							<string>Windows 7</string>
							<key>frame</key>
							<array>
								<integer>511</integer>
								<integer>265</integer>
								<integer>15</integer>
								<integer>30</integer>
							</array>
						</dict>
						<dict>
							<key>description</key>
							<string>Windows 8</string>
							<key>frame</key>
							<array>
								<integer>582</integer>
								<integer>305</integer>
								<integer>20</integer>
								<integer>60</integer>
							</array>
						</dict>
						<dict>
							<key>description</key>
							<string>Windows 9</string>
							<key>frame</key>
							<array>
								<integer>441</integer>
								<integer>446</integer>
								<integer>15</integer>
								<integer>60</integer>
							</array>
						</dict>
						<dict>
							<key>description</key>
							<string>Windows 10</string>
							<key>frame</key>
							<array>
								<integer>571</integer>
								<integer>391</integer>
								<integer>20</integer>
								<integer>50</integer>
							</array>
						</dict>
						<dict>
							<key>description</key>
							<string>Windows 11</string>
							<key>frame</key>
							<array>
								<integer>505</integer>
								<integer>529</integer>
								<integer>20</integer>
								<integer>35</integer>
							</array>
						</dict>
						<dict>
							<key>description</key>
							<string>Windows 12</string>
							<key>frame</key>
							<array>
								<integer>447</integer>
								<integer>659</integer>
								<integer>30</integer>
								<integer>75</integer>
							</array>
						</dict>
						<dict>
							<key>description</key>
							<string>Windows 13</string>
							<key>frame</key>
							<array>
								<integer>660</integer>
								<integer>380</integer>
								<integer>50</integer>
								<integer>75</integer>
							</array>
						</dict>
						<dict>
							<key>description</key>
							<string>Windows 14</string>
							<key>frame</key>
							<array>
								<integer>646</integer>
								<integer>480</integer>
								<integer>25</integer>
								<integer>95</integer>
							</array>
						</dict>
						<dict>
							<key>description</key>
							<string>Windows 15</string>
							<key>frame</key>
							<array>
								<integer>683</integer>
								<integer>479</integer>
								<integer>25</integer>
								<integer>85</integer>
							</array>
						</dict>
						<dict>
							<key>description</key>
							<string>Windows 16</string>
							<key>frame</key>
							<array>
								<integer>730</integer>
								<integer>555</integer>
								<integer>15</integer>
								<integer>85</integer>
							</array>
						</dict>
						<dict>
							<key>description</key>
							<string>Windows 17</string>
							<key>frame</key>
							<array>
								<integer>820</integer>
								<integer>285</integer>
								<integer>45</integer>
								<integer>90</integer>
							</array>
						</dict>
						<dict>
							<key>description</key>
							<string>Windows 18</string>
							<key>frame</key>
							<array>
								<integer>850</integer>
								<integer>420</integer>
								<integer>35</integer>
								<integer>80</integer>
							</array>
						</dict>
						<dict>
							<key>description</key>
							<string>Windows 19</string>
							<key>frame</key>
							<array>
								<integer>934</integer>
								<integer>511</integer>
								<integer>50</integer>
								<integer>115</integer>
							</array>
						</dict>
					</array>
					<key>trigger</key>
					<dict>
						<key>type</key>
						<string>TOUCH</string>
						<key>allowsConcurrentTrigger</key>
						<true/>
						<key>regions</key>
						<array>
							<array>
								<integer>0</integer>
								<integer>0</integer>
								<integer>1024</integer>
								<integer>748</integer>
							</array>
						</array>
					</dict>
				</dict>
				<dict>
					<key>description</key>
					<string>The horse and carriage moving along the street.</string>
					<key>id</key>
					<string>horse_and_carriage</string>
					<key>customClass</key>
					<string>ATextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch7_carriage</string>
					<key>frame</key>
					<array>
						<integer>21</integer>
						<integer>465</integer>
						<integer>260</integer>
						<integer>275</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>The moving horse and carriage.</string>
							<key>imageIndices</key>
							<string>{1,30}</string>
							<key>duration</key>
							<integer>3</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>description</key>
					<string>Smoke 1</string>
					<key>id</key>
					<string>smoke_1</string>
					<key>customClass</key>
					<string>ATextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch7_smoke_1</string>
					<key>frame</key>
					<array>
						<integer>610</integer>
						<integer>222</integer>
						<integer>110</integer>
						<integer>170</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>The smoke rising from the chimney</string>
							<key>imageIndices</key>
							<string>{1,65}</string>
							<key>duration</key>
							<integer>5</integer>
							<key>repeatType</key>
							<string>CONTINUOUS</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>description</key>
					<string>Smoke 2</string>
					<key>id</key>
					<string>smoke_2</string>
					<key>customClass</key>
					<string>ATextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch7_smoke_2</string>
					<key>frame</key>
					<array>
						<integer>732</integer>
						<integer>116</integer>
						<integer>105</integer>
						<integer>185</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>The smoke rising from the chimney</string>
							<key>imageIndices</key>
							<string>{1,55}</string>
							<key>duration</key>
							<integer>5</integer>
							<key>repeatType</key>
							<string>CONTINUOUS</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>description</key>
					<string>Smoke 3</string>
					<key>id</key>
					<string>smoke_3</string>
					<key>customClass</key>
					<string>ATextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch7_smoke_3</string>
					<key>frame</key>
					<array>
						<integer>860</integer>
						<integer>453</integer>
						<integer>150</integer>
						<integer>280</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>The smoke rising from the chimney</string>
							<key>imageIndices</key>
							<string>{1,60}</string>
							<key>duration</key>
							<integer>6</integer>
							<key>repeatType</key>
							<string>CONTINUOUS</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>helpDescriptors</key>
			<array>
				<dict>
					<key>type</key>
					<string>TAP</string>
					<key>frame</key>
					<array>
						<integer>30</integer>
						<integer>250</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
				<dict>
					<key>type</key>
					<string>TAP</string>
					<key>frame</key>
					<array>
						<integer>60</integer>
						<integer>315</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
				<dict>
					<key>type</key>
					<string>TAP</string>
					<key>frame</key>
					<array>
						<integer>118</integer>
						<integer>245</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
				<dict>
					<key>type</key>
					<string>TAP</string>
					<key>frame</key>
					<array>
						<integer>405</integer>
						<integer>290</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
				<dict>
					<key>type</key>
					<string>TAP</string>
					<key>frame</key>
					<array>
						<integer>395</integer>
						<integer>410</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
				<dict>
					<key>type</key>
					<string>TAP</string>
					<key>frame</key>
					<array>
						<integer>410</integer>
						<integer>645</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
				<dict>
					<key>type</key>
					<string>TAP</string>
					<key>frame</key>
					<array>
						<integer>460</integer>
						<integer>500</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
				<dict>
					<key>type</key>
					<string>TAP</string>
					<key>frame</key>
					<array>
						<integer>445</integer>
						<integer>300</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
				<dict>
					<key>type</key>
					<string>TAP</string>
					<key>frame</key>
					<array>
						<integer>465</integer>
						<integer>230</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
				<dict>
					<key>type</key>
					<string>TAP</string>
					<key>frame</key>
					<array>
						<integer>540</integer>
						<integer>290</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
				<dict>
					<key>type</key>
					<string>TAP</string>
					<key>frame</key>
					<array>
						<integer>525</integer>
						<integer>360</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
				<dict>
					<key>type</key>
					<string>TAP</string>
					<key>frame</key>
					<array>
						<integer>625</integer>
						<integer>370</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
				<dict>
					<key>type</key>
					<string>TAP</string>
					<key>frame</key>
					<array>
						<integer>605</integer>
						<integer>470</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
				<dict>
					<key>type</key>
					<string>TAP</string>
					<key>frame</key>
					<array>
						<integer>640</integer>
						<integer>470</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
				<dict>
					<key>type</key>
					<string>TAP</string>
					<key>frame</key>
					<array>
						<integer>685</integer>
						<integer>530</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
				<dict>
					<key>type</key>
					<string>TAP</string>
					<key>frame</key>
					<array>
						<integer>790</integer>
						<integer>280</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
				<dict>
					<key>type</key>
					<string>TAP</string>
					<key>frame</key>
					<array>
						<integer>815</integer>
						<integer>405</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
				<dict>
					<key>type</key>
					<string>TAP</string>
					<key>frame</key>
					<array>
						<integer>900</integer>
						<integer>520</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
				<dict>
					<key>description</key>
					<string>The first springy ship from the left.</string>
					<key>type</key>
					<string>SWIPE</string>
					<key>arrowDirection</key>
					<string>DOWN</string>
					<key>frame</key>
					<array>
						<integer>221</integer>
						<integer>14</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
				<dict>
					<key>description</key>
					<string>The second springy ship from the left.</string>
					<key>type</key>
					<string>SWIPE</string>
					<key>arrowDirection</key>
					<string>DOWN</string>
					<key>frame</key>
					<array>
						<integer>340</integer>
						<integer>56</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
				<dict>
					<key>description</key>
					<string>The third springy ship from the left.</string>
					<key>arrowDirection</key>
					<string>DOWN</string>
					<key>type</key>
					<string>SWIPE</string>
					<key>frame</key>
					<array>
						<integer>400</integer>
						<integer>58</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
				<dict>
					<key>description</key>
					<string>The fourth springy ship from the left.</string>
					<key>arrowDirection</key>
					<string>DOWN</string>
					<key>type</key>
					<string>SWIPE</string>
					<key>frame</key>
					<array>
						<integer>700</integer>
						<integer>60</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
				<dict>
					<key>description</key>
					<string>The fifth springy ship from the left.</string>
					<key>type</key>
					<string>SWIPE</string>
					<key>arrowDirection</key>
					<string>DOWN</string>
					<key>frame</key>
					<array>
						<integer>820</integer>
						<integer>28</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
