<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pages</key>
	<array>
		<dict>
			<key>page</key>
			<integer>0</integer>
			<key>elements</key>
			<array>
				<dict>
					<key>description</key>
					<string>Sword</string>
					<key>id</key>
					<string>sword</string>
					<key>customClass</key>
					<string>ATextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>Sword_0</string>
					<key>frame</key>
					<array>
						<integer>625</integer>
						<integer>127</integer>
						<integer>200</integer>
						<integer>50</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>telescope header</string>
							<key>imageIndices</key>
							<string>{1,19}</string>
							<key>duration</key>
							<integer>2</integer>
							<key>repeatType</key>
							<string>CONTINUOUS</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>description</key>
					<string>The chase...</string>
					<key>id</key>
					<string>the_chase</string>
					<key>customClass</key>
					<string>AAmbientSound</string>
					<key>resource</key>
					<string>Chap18_AMB_Sized-r1.m4a</string>
				</dict>
				<dict>
					<key>description</key>
					<string>The dust being kicked up by the charging pirates.</string>
					<key>id</key>
					<string>dust_particles</string>
					<key>customClass</key>
					<string>ATextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch18_dust_particles</string>
					<key>frame</key>
					<array>
						<integer>224</integer>
						<integer>351</integer>
						<integer>285</integer>
						<integer>227</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>The flying dust.</string>
							<key>imageIndices</key>
							<string>{1,14}</string>
							<key>duration</key>
							<real>1.4</real>
							<key>repeatType</key>
							<string>CONTINUOUS</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>description</key>
					<string>The pirate on the left, wielding his cutlass.</string>
					<key>id</key>
					<string>left_pirate</string>
					<key>customClass</key>
					<string>ATextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch18_left_pirate_arm</string>
					<key>frame</key>
					<array>
						<integer>81</integer>
						<integer>222</integer>
						<integer>262</integer>
						<integer>208</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>The pirate on the left...</string>
							<key>imageIndices</key>
							<string>{1,10}</string>
							<key>duration</key>
							<integer>1</integer>
							<key>repeatType</key>
							<string>CONTINUOUS</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>description</key>
					<string>The pirate on the right, wielding his cutlass.</string>
					<key>id</key>
					<string>right_pirate</string>
					<key>customClass</key>
					<string>ATextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch18_right_pirate_arm</string>
					<key>frame</key>
					<array>
						<integer>300</integer>
						<integer>73</integer>
						<integer>211</integer>
						<integer>117</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>The pirate on the right...</string>
							<key>imageIndices</key>
							<string>{1,13}</string>
							<key>duration</key>
							<real>1.3</real>
							<key>repeatType</key>
							<string>CONTINUOUS</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>description</key>
					<string>scooby doo legs</string>
					<key>id</key>
					<string>scooby doo legs</string>
					<key>customClass</key>
					<string>ATextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>chapter18_legs_</string>
					<key>frame</key>
					<array>
						<integer>250</integer>
						<integer>296</integer>
						<integer>265</integer>
						<integer>264</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>scooby doo legs</string>
							<key>imageIndices</key>
							<string>{1,5}</string>
							<key>duration</key>
							<real>0.4</real>
							<key>repeatType</key>
							<string>CONTINUOUS</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
