<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pages</key>
	<array>
		<dict>
			<key>page</key>
			<integer>0</integer>
			<key>elements</key>
			<array>
				<dict>
					<key>description</key>
					<string>Rifle_1_0</string>
					<key>id</key>
					<string>Rifle_1_0</string>
					<key>customClass</key>
					<string>ATextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>Rifle_1_0</string>
					<key>frame</key>
					<array>
						<integer>222</integer>
						<integer>135</integer>
						<integer>200</integer>
						<integer>35</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>Rifle_1_0</string>
							<key>imageIndices</key>
							<string>{1,19}</string>
							<key>duration</key>
							<integer>2</integer>
							<key>repeatType</key>
							<string>CONTINUOUS</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>page</key>
			<integer>1</integer>
			<key>elements</key>
			<array>
				<dict>
					<key>description</key>
					<string>Moving through the jungle.</string>
					<key>id</key>
					<string>moving_through_the_jungle</string>
					<key>customClass</key>
					<string>AAmbientSound</string>
					<key>resource</key>
					<string>Chap31_AMB_Loop_WithPirateHacking_rev1.m4a</string>
					<key>numLoops</key>
					<integer>-1</integer>
				</dict>
				<dict>
					<key>description</key>
					<string>The pirate with the machete, hacking through the jungle.</string>
					<key>id</key>
					<string>machete_pirate</string>
					<key>customClass</key>
					<string>ATextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch31a_machete_pirate</string>
					<key>frame</key>
					<array>
						<integer>19</integer>
						<integer>355</integer>
						<integer>335</integer>
						<integer>319</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>The green striped pirate, hacking</string>
							<key>imageIndices</key>
							<string>{1,11}</string>
							<key>duration</key>
							<real>1.1</real>
							<key>repeatType</key>
							<string>CONTINUOUS_WITH_DELAY</string>
							<key>repeatDelay</key>
							<real>0.9</real>
						</dict>
					</array>
				</dict>
				<dict>
					<key>description</key>
					<string>The orange pirate turning his head.</string>
					<key>id</key>
					<string>pirate_1_turning</string>
					<key>customClass</key>
					<string>ATextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch31a_pirate1</string>
					<key>frame</key>
					<array>
						<integer>654</integer>
						<integer>208</integer>
						<integer>79</integer>
						<integer>76</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>The orange shirted pirate, turning his head.</string>
							<key>imageIndices</key>
							<string>{1,8}</string>
							<key>duration</key>
							<real>0.8</real>
							<key>repeatType</key>
							<string>CONTINUOUS_WITH_DELAY</string>
							<key>repeatDelay</key>
							<real>3.2</real>
						</dict>
					</array>
				</dict>
				<dict>
					<key>description</key>
					<string>The brown-shirted pirate.</string>
					<key>id</key>
					<string>pirate_2_turning</string>
					<key>customClass</key>
					<string>ATextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch31a_pirate2</string>
					<key>frame</key>
					<array>
						<integer>618</integer>
						<integer>386</integer>
						<integer>73</integer>
						<integer>88</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>The brown shirted pirate, turning his head.</string>
							<key>imageIndices</key>
							<string>{1,8}</string>
							<key>duration</key>
							<real>0.8</real>
							<key>repeatType</key>
							<string>CONTINUOUS_WITH_DELAY</string>
							<key>repeatDelay</key>
							<real>3.9</real>
						</dict>
					</array>
				</dict>
				<dict>
					<key>description</key>
					<string>LJS grumbling</string>
					<key>id</key>
					<string>LJS_grumbling</string>
					<key>customClass</key>
					<string>ATriggeredTextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch31a_LJS_grumbles</string>
					<key>frame</key>
					<array>
						<integer>368</integer>
						<integer>394</integer>
						<integer>63</integer>
						<integer>53</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>LJS not grumbling.</string>
							<key>imageIndices</key>
							<string>{1,1}</string>
							<key>transitionsFrom</key>
							<array>
								<string>1,21</string>
							</array>
						</dict>
						<dict>
							<key>description</key>
							<string>LJS grumbling.</string>
							<key>imageIndices</key>
							<string>{1,21}</string>
							<key>duration</key>
							<real>2.1</real>
							<key>soundEffect</key>
							<dict>
								<key>description</key>
								<string>LJS grumbling at the &apos;team&apos;</string>
								<key>id</key>
								<string>ljs_grumbling</string>
								<key>customClass</key>
								<string>ASoundEffect</string>
								<key>resource</key>
								<string>grumbling.m4a</string>
							</dict>
							<key>transitionsFrom</key>
							<array>
								<string>0,1</string>
							</array>
						</dict>
					</array>
					<key>trigger</key>
					<dict>
						<key>type</key>
						<string>TOUCH</string>
						<key>regions</key>
						<array>
							<array>
								<integer>360</integer>
								<integer>390</integer>
								<integer>145</integer>
								<integer>155</integer>
							</array>
						</array>
					</dict>
				</dict>
			</array>
			<key>helpDescriptors</key>
			<array>
				<dict>
					<key>type</key>
					<string>TAP</string>
					<key>frame</key>
					<array>
						<integer>375</integer>
						<integer>395</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
				<dict>
					<key>type</key>
					<string>TAP</string>
					<key>frame</key>
					<array>
						<integer>610</integer>
						<integer>410</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
				<dict>
					<key>type</key>
					<string>TAP</string>
					<key>frame</key>
					<array>
						<integer>645</integer>
						<integer>215</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>page</key>
			<integer>3</integer>
			<key>elements</key>
			<array>
				<dict>
					<key>description</key>
					<string>Death in the jungle!</string>
					<key>id</key>
					<string>death_jungle</string>
					<key>customClass</key>
					<string>AAmbientSound</string>
					<key>resource</key>
					<string>Chap30_AMB_JungleDay.m4a</string>
					<key>fadeInGain</key>
					<real>0.25</real>
					<key>maxDuration</key>
					<integer>24</integer>
					<key>fadeOutDuration</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>description</key>
					<string>The bugs flying around the skeleton.</string>
					<key>id</key>
					<string>bugs</string>
					<key>customClass</key>
					<string>ATriggeredTextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch31b_bugs</string>
					<key>frame</key>
					<array>
						<integer>681</integer>
						<integer>144</integer>
						<integer>200</integer>
						<integer>235</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>The bugs doing quiet buggy things.</string>
							<key>imageIndices</key>
							<string>{1,1}</string>
							<key>transitionsFrom</key>
							<array>
								<string>1,26</string>
							</array>
						</dict>
						<dict>
							<key>description</key>
							<string>The bugs disturbed!</string>
							<key>imageIndices</key>
							<string>{1,25}</string>
							<key>duration</key>
							<real>2.5</real>
							<key>soundEffect</key>
							<dict>
								<key>description</key>
								<string>Bugs scurrying over the bones of a skeleton.</string>
								<key>id</key>
								<string>bugs_scurry</string>
								<key>customClass</key>
								<string>ASoundEffect</string>
								<key>resource</key>
								<string>Chap31b_BugsScurry1.m4a</string>
							</dict>
							<key>transitionsFrom</key>
							<array>
								<string>0,1</string>
							</array>
						</dict>
					</array>
					<key>trigger</key>
					<dict>
						<key>type</key>
						<string>TOUCH</string>
						<key>allowsConcurrentTrigger</key>
						<true/>
						<key>regions</key>
						<array>
							<array>
								<integer>610</integer>
								<integer>200</integer>
								<integer>200</integer>
								<integer>200</integer>
							</array>
						</array>
					</dict>
				</dict>
				<dict>
					<key>description</key>
					<string>The shadows of the pirates looking at the skeleton.</string>
					<key>id</key>
					<string>pirate_shadows</string>
					<key>customClass</key>
					<string>ATriggeredTextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch31b_pirate_shadows</string>
					<key>frame</key>
					<array>
						<integer>705</integer>
						<integer>453</integer>
						<integer>250</integer>
						<integer>200</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>The shadows, not moving.</string>
							<key>imageIndices</key>
							<string>{1,1}</string>
							<key>transitionsFrom</key>
							<array>
								<string>1,8</string>
							</array>
						</dict>
						<dict>
							<key>description</key>
							<string>The shadows moving in shock at the bugs flying off the skeleton.</string>
							<key>imageIndices</key>
							<string>{1,7}</string>
							<key>duration</key>
							<real>0.7</real>
							<key>transitionsFrom</key>
							<array>
								<string>0,1</string>
							</array>
						</dict>
					</array>
					<key>trigger</key>
					<dict>
						<key>type</key>
						<string>TOUCH</string>
						<key>allowsConcurrentTrigger</key>
						<true/>
						<key>regions</key>
						<array>
							<array>
								<integer>610</integer>
								<integer>200</integer>
								<integer>200</integer>
								<integer>200</integer>
							</array>
						</array>
					</dict>
				</dict>
			</array>
			<key>helpDescriptors</key>
			<array>
				<dict>
					<key>type</key>
					<string>TAP</string>
					<key>frame</key>
					<array>
						<integer>688</integer>
						<integer>260</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
