<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pages</key>
	<array>
		<dict>
			<key>page</key>
			<integer>0</integer>
			<key>elements</key>
			<array>
				<dict>
					<key>description</key>
					<string>The sails flapping in the wind.</string>
					<key>id</key>
					<string>sails_flapping</string>
					<key>customClass</key>
					<string>AAmbientSound</string>
					<key>resource</key>
					<string>Chap25_AMB_SailsFlapping_Sized.m4a</string>
					<key>maxDuration</key>
					<integer>5</integer>
					<key>fadeOutDuration</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>description</key>
					<string>Israel&apos;s head, oozing blood.</string>
					<key>id</key>
					<string>israel_head</string>
					<key>customClass</key>
					<string>ATriggeredTextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch25_israel_head</string>
					<key>frame</key>
					<array>
						<integer>267</integer>
						<integer>160</integer>
						<integer>75</integer>
						<integer>114</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>Israel&apos;s head, motionless.</string>
							<key>imageIndices</key>
							<string>{1,1}</string>
							<key>transitionsFrom</key>
							<array>
								<string>1,26</string>
							</array>
						</dict>
						<dict>
							<key>description</key>
							<string>Israel&apos;s head, moving.</string>
							<key>imageIndices</key>
							<string>{1,25}</string>
							<key>duration</key>
							<real>2.5</real>
							<key>soundEffect</key>
							<dict>
								<key>description</key>
								<string>Israel, groaning.</string>
								<key>id</key>
								<string>israel_groaning</string>
								<key>customClass</key>
								<string>ASoundEffect</string>
								<key>resource</key>
								<string>Chap25_DLG_IsraelHands_Groans2.m4a</string>
							</dict>
							<key>transitionsFrom</key>
							<array>
								<string>0,1</string>
							</array>
						</dict>
					</array>
					<key>trigger</key>
					<dict>
						<key>type</key>
						<string>TOUCH</string>
						<key>allowsConcurrentTrigger</key>
						<true/>
						<key>regions</key>
						<array>
							<array>
								<integer>250</integer>
								<integer>220</integer>
								<integer>200</integer>
								<integer>200</integer>
							</array>
						</array>
					</dict>
				</dict>
				<dict>
					<key>description</key>
					<string>Israel&apos;s leg.</string>
					<key>id</key>
					<string>israel_leg</string>
					<key>customClass</key>
					<string>ATriggeredTextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch25_israel_leg</string>
					<key>frame</key>
					<array>
						<integer>85</integer>
						<integer>304</integer>
						<integer>217</integer>
						<integer>214</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>Israel&apos;s leg, motionless.</string>
							<key>imageIndices</key>
							<string>{1,1}</string>
							<key>transitionsFrom</key>
							<array>
								<string>1,26</string>
							</array>
						</dict>
						<dict>
							<key>description</key>
							<string>Israel&apos;s leg, moving.</string>
							<key>imageIndices</key>
							<string>{1,25}</string>
							<key>duration</key>
							<real>2.5</real>
							<key>transitionsFrom</key>
							<array>
								<string>0,1</string>
							</array>
						</dict>
					</array>
					<key>trigger</key>
					<dict>
						<key>type</key>
						<string>TOUCH</string>
						<key>allowsConcurrentTrigger</key>
						<true/>
						<key>regions</key>
						<array>
							<array>
								<integer>250</integer>
								<integer>220</integer>
								<integer>200</integer>
								<integer>200</integer>
							</array>
						</array>
					</dict>
				</dict>
				<dict>
					<key>description</key>
					<string>Fluttering sail.</string>
					<key>id</key>
					<string>fluttering_sail</string>
					<key>customClass</key>
					<string>ATextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch25_sail_flutter</string>
					<key>frame</key>
					<array>
						<integer>77</integer>
						<integer>76</integer>
						<integer>197</integer>
						<integer>107</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>The fluttering sails.</string>
							<key>imageIndices</key>
							<string>{1,9}</string>
							<key>duration</key>
							<real>0.9</real>
							<key>repeatType</key>
							<string>CONTINUOUS</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>helpDescriptors</key>
			<array>
				<dict>
					<key>type</key>
					<string>TAP</string>
					<key>frame</key>
					<array>
						<integer>245</integer>
						<integer>220</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>page</key>
			<integer>3</integer>
			<key>elements</key>
			<array>
				<dict>
					<key>description</key>
					<string>The spot animation of the antique gun, firing when tapped.</string>
					<key>id</key>
					<string>ch25_new_gun_spot</string>
					<key>customClass</key>
					<string>ATriggeredTextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch9_new_gun_spot</string>
					<key>frame</key>
					<array>
						<integer>470</integer>
						<integer>430</integer>
						<integer>500</integer>
						<integer>220</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>The initial view of the gun, i.e. before the trigger is pulled.</string>
							<key>imageIndices</key>
							<string>{1,1}</string>
							<key>transitionsFrom</key>
							<array>
								<string>2,29</string>
							</array>
						</dict>
						<dict>
							<key>description</key>
							<string>The gun actually firing.</string>
							<key>imageIndices</key>
							<string>{1,18}</string>
							<key>duration</key>
							<integer>1</integer>
							<key>soundEffect</key>
							<dict>
								<key>id</key>
								<string>gun_spot_shot</string>
								<key>customClass</key>
								<string>ASoundEffect</string>
								<key>resource</key>
								<string>gunshot.m4a</string>
							</dict>
							<key>transitionsFrom</key>
							<array>
								<string>0,1</string>
							</array>
						</dict>
						<dict>
							<key>description</key>
							<string>The flag retracting.</string>
							<key>imageIndices</key>
							<string>{19,10}</string>
							<key>duration</key>
							<real>0.9</real>
							<key>transitionsFrom</key>
							<array>
								<string>1,19</string>
							</array>
						</dict>
					</array>
					<key>trigger</key>
					<dict>
						<key>type</key>
						<string>TOUCH</string>
						<key>regions</key>
						<array>
							<array>
								<integer>440</integer>
								<integer>430</integer>
								<integer>500</integer>
								<integer>220</integer>
							</array>
						</array>
					</dict>
				</dict>
			</array>
			<key>helpDescriptors</key>
			<array>
				<dict>
					<key>type</key>
					<string>TAP</string>
					<key>frame</key>
					<array>
						<integer>760</integer>
						<integer>490</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
