<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pages</key>
	<array>
		<dict>
			<key>page</key>
			<integer>0</integer>
			<key>elements</key>
			<array>
				<dict>
					<key>description</key>
					<string>Black Spot</string>
					<key>id</key>
					<string>blspot</string>
					<key>customClass</key>
					<string>ATextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>BlackSpot_0</string>
					<key>frame</key>
					<array>
						<integer>705</integer>
						<integer>130</integer>
						<integer>45</integer>
						<integer>45</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>blackspot</string>
							<key>imageIndices</key>
							<string>{1,19}</string>
							<key>duration</key>
							<integer>2</integer>
							<key>repeatType</key>
							<string>CONTINUOUS_WITH_DELAY</string>
							<key>repeatDelay</key>
							<real>2.4</real>
						</dict>
					</array>
				</dict>
				<dict>
					<key>description</key>
					<string>Ambient sound of the eerie forest...</string>
					<key>id</key>
					<string>eerie_forest</string>
					<key>resource</key>
					<string>Chap3_Ambient_Intro_Sized_WithCaneTaps.m4a</string>
					<key>customClass</key>
					<string>AAmbientSound</string>
				</dict>
				<dict>
					<key>description</key>
					<string>Animation of the &apos;cawing crow&apos;. Normally silent, when the crow is touched it startles and emits a loud &quot;ca-caw!&quot;.</string>
					<key>id</key>
					<string>cawing_crow</string>
					<key>customClass</key>
					<string>ATriggeredTextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch3_crow_caw</string>
					<key>frame</key>
					<array>
						<integer>414</integer>
						<integer>210</integer>
						<integer>106</integer>
						<integer>132</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>The crow sitting silently sequence.  This is the base sequence and is assumed to repeat until touched.</string>
							<key>imageIndices</key>
							<string>{1,1}</string>
							<key>transitionsFrom</key>
							<array>
								<string>1,10</string>
							</array>
						</dict>
						<dict>
							<key>description</key>
							<string>The cawing sequence.</string>
							<key>imageIndices</key>
							<string>{1,10}</string>
							<key>duration</key>
							<integer>1</integer>
							<key>numRepeats</key>
							<integer>0</integer>
							<key>transitionsFrom</key>
							<array>
								<string>0,1</string>
							</array>
							<key>soundEffect</key>
							<dict>
								<key>description</key>
								<string>The sound made by the cawing crow.</string>
								<key>id</key>
								<string>cawing_crow</string>
								<key>resource</key>
								<string>Chap3_Crow3a.m4a</string>
								<key>customClass</key>
								<string>AAmbientSound</string>
								<key>numLoops</key>
								<integer>0</integer>
							</dict>
						</dict>
					</array>
					<key>trigger</key>
					<dict>
						<key>type</key>
						<string>TOUCH</string>
						<key>regions</key>
						<array>
							<array>
								<integer>414</integer>
								<integer>210</integer>
								<integer>106</integer>
								<integer>132</integer>
							</array>
						</array>
					</dict>
				</dict>
				<dict>
					<key>description</key>
					<string>Animation of Pew&apos;s arm tapping on the ground in front of him.</string>
					<key>id</key>
					<string>pews_arm</string>
					<key>customClass</key>
					<string>AZRotation</string>
					<key>resource</key>
					<string>arm_V2.png</string>
					<key>frame</key>
					<array>
						<integer>300</integer>
						<integer>314</integer>
						<integer>189</integer>
						<integer>281</integer>
					</array>
					<key>repeatType</key>
					<string>CONTINUOUS</string>
					<key>timingFunctionName</key>
					<string>EaseInEaseOut</string>
					<key>duration</key>
					<real>0.9</real>
					<key>anchorPoint</key>
					<string>{0.0,0.0}</string>
					<key>startAngle</key>
					<integer>0</integer>
					<key>endAngle</key>
					<integer>5</integer>
				</dict>
				<dict>
					<key>id</key>
					<string>blind_pew</string>
					<key>resource</key>
					<string>pew_V2.png</string>
					<key>customClass</key>
					<string>AStaticImage</string>
					<key>frame</key>
					<array>
						<integer>126</integer>
						<integer>200</integer>
						<integer>214</integer>
						<integer>384</integer>
					</array>
				</dict>
				<dict>
					<key>id</key>
					<string>rose_branch</string>
					<key>resource</key>
					<string>rose_branch.png</string>
					<key>customClass</key>
					<string>AStaticImage</string>
					<key>frame</key>
					<array>
						<integer>86</integer>
						<integer>478</integer>
						<integer>176</integer>
						<integer>171</integer>
					</array>
				</dict>
				<dict>
					<key>description</key>
					<string>The first rose which, when touched, falls off the branch.</string>
					<key>id</key>
					<string>rose_1</string>
					<key>customClass</key>
					<string>ATriggeredPositionAnimation</string>
					<key>resource</key>
					<string>rose1.png</string>
					<key>frame</key>
					<array>
						<integer>107</integer>
						<integer>462</integer>
						<integer>20</integer>
						<integer>31</integer>
					</array>
					<key>yDelta</key>
					<integer>400</integer>
					<key>duration</key>
					<integer>2</integer>
					<key>soundEffect</key>
					<dict>
						<key>description</key>
						<string>The sound made by the falling rose bloom.</string>
						<key>id</key>
						<string>falling_bloom</string>
						<key>resource</key>
						<string>rosepetal.m4a</string>
						<key>customClass</key>
						<string>ASoundEffect</string>
					</dict>
					<key>trigger</key>
					<dict>
						<key>type</key>
						<string>TOUCH</string>
						<key>regions</key>
						<array>
							<array>
								<integer>107</integer>
								<integer>462</integer>
								<integer>20</integer>
								<integer>31</integer>
							</array>
						</array>
					</dict>
					<key>oneShot</key>
					<true/>
				</dict>
				<dict>
					<key>description</key>
					<string>The second rose which, when touched, falls off the branch.</string>
					<key>id</key>
					<string>rose_2</string>
					<key>customClass</key>
					<string>ATriggeredPositionAnimation</string>
					<key>resource</key>
					<string>rose2.png</string>
					<key>frame</key>
					<array>
						<integer>102</integer>
						<integer>544</integer>
						<integer>20</integer>
						<integer>26</integer>
					</array>
					<key>yDelta</key>
					<integer>400</integer>
					<key>duration</key>
					<integer>2</integer>
					<key>soundEffect</key>
					<dict>
						<key>description</key>
						<string>The sound made by the falling rose bloom.</string>
						<key>id</key>
						<string>falling_bloom</string>
						<key>resource</key>
						<string>rosepetal.m4a</string>
						<key>customClass</key>
						<string>ASoundEffect</string>
					</dict>
					<key>trigger</key>
					<dict>
						<key>type</key>
						<string>TOUCH</string>
						<key>regions</key>
						<array>
							<array>
								<integer>102</integer>
								<integer>544</integer>
								<integer>20</integer>
								<integer>31</integer>
							</array>
						</array>
					</dict>
					<key>oneShot</key>
					<true/>
				</dict>
				<dict>
					<key>description</key>
					<string>The third rose which, when touched, falls off the branch.</string>
					<key>id</key>
					<string>rose_3</string>
					<key>customClass</key>
					<string>ATriggeredPositionAnimation</string>
					<key>resource</key>
					<string>rose3.png</string>
					<key>frame</key>
					<array>
						<integer>112</integer>
						<integer>592</integer>
						<integer>33</integer>
						<integer>35</integer>
					</array>
					<key>yDelta</key>
					<integer>400</integer>
					<key>duration</key>
					<integer>2</integer>
					<key>soundEffect</key>
					<dict>
						<key>description</key>
						<string>The sound made by the falling rose bloom.</string>
						<key>id</key>
						<string>falling_bloom</string>
						<key>resource</key>
						<string>rosepetal.m4a</string>
						<key>customClass</key>
						<string>ASoundEffect</string>
					</dict>
					<key>trigger</key>
					<dict>
						<key>type</key>
						<string>TOUCH</string>
						<key>regions</key>
						<array>
							<array>
								<integer>112</integer>
								<integer>592</integer>
								<integer>33</integer>
								<integer>35</integer>
							</array>
						</array>
					</dict>
					<key>oneShot</key>
					<true/>
				</dict>
				<dict>
					<key>description</key>
					<string>The fourth rose which, when touched, falls off the branch.</string>
					<key>id</key>
					<string>rose_4</string>
					<key>customClass</key>
					<string>ATriggeredPositionAnimation</string>
					<key>resource</key>
					<string>rose4.png</string>
					<key>frame</key>
					<array>
						<integer>203</integer>
						<integer>573</integer>
						<integer>30</integer>
						<integer>32</integer>
					</array>
					<key>yDelta</key>
					<integer>400</integer>
					<key>duration</key>
					<integer>2</integer>
					<key>soundEffect</key>
					<dict>
						<key>description</key>
						<string>The sound made by the falling rose bloom.</string>
						<key>id</key>
						<string>falling_bloom</string>
						<key>resource</key>
						<string>rosepetal.m4a</string>
						<key>customClass</key>
						<string>ASoundEffect</string>
					</dict>
					<key>trigger</key>
					<dict>
						<key>type</key>
						<string>TOUCH</string>
						<key>regions</key>
						<array>
							<array>
								<integer>203</integer>
								<integer>573</integer>
								<integer>30</integer>
								<integer>32</integer>
							</array>
						</array>
					</dict>
					<key>oneShot</key>
					<true/>
				</dict>
				<dict>
					<key>description</key>
					<string>The fifth rose which, when touched, falls off the branch.</string>
					<key>id</key>
					<string>rose_5</string>
					<key>customClass</key>
					<string>ATriggeredPositionAnimation</string>
					<key>resource</key>
					<string>rose5.png</string>
					<key>frame</key>
					<array>
						<integer>235</integer>
						<integer>568</integer>
						<integer>29</integer>
						<integer>28</integer>
					</array>
					<key>yDelta</key>
					<integer>400</integer>
					<key>duration</key>
					<integer>2</integer>
					<key>soundEffect</key>
					<dict>
						<key>description</key>
						<string>The sound made by the falling rose bloom.</string>
						<key>id</key>
						<string>falling_bloom</string>
						<key>resource</key>
						<string>rosepetal.m4a</string>
						<key>customClass</key>
						<string>ASoundEffect</string>
					</dict>
					<key>trigger</key>
					<dict>
						<key>type</key>
						<string>TOUCH</string>
						<key>regions</key>
						<array>
							<array>
								<integer>235</integer>
								<integer>568</integer>
								<integer>29</integer>
								<integer>28</integer>
							</array>
						</array>
					</dict>
					<key>oneShot</key>
					<true/>
				</dict>
				<dict>
					<key>description</key>
					<string>The spooky fog cowering close to the ground...</string>
					<key>id</key>
					<string>fog</string>
					<key>customClass</key>
					<string>ATextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch3_fog</string>
					<key>frame</key>
					<array>
						<integer>80</integer>
						<integer>480</integer>
						<integer>433</integer>
						<integer>165</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>The fog, drifting spookily.</string>
							<key>imageIndices</key>
							<string>{1,22}</string>
							<key>duration</key>
							<real>2.2</real>
							<key>repeatType</key>
							<string>CONTINUOUS</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>helpDescriptors</key>
			<array>
				<dict>
					<key>type</key>
					<string>TAP</string>
					<key>frame</key>
					<array>
						<integer>415</integer>
						<integer>225</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
				<dict>
					<key>type</key>
					<string>TAP</string>
					<key>frame</key>
					<array>
						<integer>65</integer>
						<integer>425</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
				<dict>
					<key>type</key>
					<string>TAP</string>
					<key>frame</key>
					<array>
						<integer>60</integer>
						<integer>505</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
				<dict>
					<key>type</key>
					<string>TAP</string>
					<key>frame</key>
					<array>
						<integer>75</integer>
						<integer>560</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
				<dict>
					<key>type</key>
					<string>TAP</string>
					<key>frame</key>
					<array>
						<integer>182</integer>
						<integer>540</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
