<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pages</key>
	<array>
		<dict>
			<key>page</key>
			<integer>0</integer>
			<key>elements</key>
			<array>
				<dict>
					<key>description</key>
					<string>ParrotHead_0</string>
					<key>id</key>
					<string>ParrotHead_0</string>
					<key>customClass</key>
					<string>ATextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>ParrotHead_0</string>
					<key>frame</key>
					<array>
						<integer>260</integer>
						<integer>109</integer>
						<integer>75</integer>
						<integer>75</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>ParrotHead_0</string>
							<key>imageIndices</key>
							<string>{1,19}</string>
							<key>duration</key>
							<integer>1</integer>
							<key>repeatType</key>
							<string>CONTINUOUS</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>page</key>
			<integer>3</integer>
			<key>elements</key>
			<array>
				<dict>
					<key>description</key>
					<string>Snoring.</string>
					<key>id</key>
					<string>snoring</string>
					<key>customClass</key>
					<string>AAmbientSound</string>
					<key>resource</key>
					<string>Chap28_AMB_JungleNightWithSnores.m4a</string>
					<key>numLoops</key>
					<integer>-1</integer>
				</dict>
				<dict>
					<key>description</key>
					<string>The talking parrot.</string>
					<key>id</key>
					<string>torch</string>
					<key>customClass</key>
					<string>ATriggeredTextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch27_parrot_talks</string>
					<key>frame</key>
					<array>
						<integer>842</integer>
						<integer>208</integer>
						<integer>158</integer>
						<integer>233</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>The parrot sitting silently. This is the base sequence.</string>
							<key>imageIndices</key>
							<string>{1,1}</string>
							<key>transitionsFrom</key>
							<array>
								<string>{1,37}</string>
							</array>
						</dict>
						<dict>
							<key>description</key>
							<string>The talking sequence.</string>
							<key>imageIndices</key>
							<string>{1,37}</string>
							<key>duration</key>
							<real>3.7</real>
							<key>soundEffect</key>
							<dict>
								<key>description</key>
								<string>Pieces of Eight!</string>
								<key>type</key>
								<string>SOUNDEFFECT</string>
								<key>id</key>
								<string>parrot_pieces_of_eight</string>
								<key>customClass</key>
								<string>ASoundEffect</string>
								<key>resource</key>
								<string>Chap28_DLG_Parrot_PiecesOfEight.m4a</string>
							</dict>
							<key>transitionsFrom</key>
							<array>
								<string>0,1</string>
							</array>
						</dict>
					</array>
					<key>trigger</key>
					<dict>
						<key>type</key>
						<string>TOUCH</string>
						<key>regions</key>
						<array>
							<array>
								<integer>842</integer>
								<integer>208</integer>
								<integer>158</integer>
								<integer>233</integer>
							</array>
						</array>
					</dict>
				</dict>
				<dict>
					<key>description</key>
					<string>The eerie, extinguishable, torch.</string>
					<key>id</key>
					<string>extinguishable_torch</string>
					<key>customClass</key>
					<string>ATorchAndEyes</string>
					<key>torchLayer</key>
					<dict>
						<key>backgroundImage</key>
						<string>TI_ch28_red_torch_glow.png</string>
						<key>frame</key>
						<array>
							<integer>38</integer>
							<integer>18</integer>
							<integer>392</integer>
							<integer>364</integer>
						</array>
						<key>torch</key>
						<dict>
							<key>description</key>
							<string>The torch burning</string>
							<key>type</key>
							<string>IMAGESEQUENCE</string>
							<key>animationType</key>
							<string>CUSTOM</string>
							<key>id</key>
							<string>torch</string>
							<key>customClass</key>
							<string>ATriggeredTextureAtlasBasedSequence</string>
							<key>resourceBase</key>
							<string>TI_ch28_torch_reduced</string>
							<key>frame</key>
							<array>
								<integer>28</integer>
								<integer>3</integer>
								<integer>245</integer>
								<integer>434</integer>
							</array>
							<key>sequences</key>
							<array>
								<dict>
									<key>description</key>
									<string>The torch burning (base sequence)</string>
									<key>imageIndices</key>
									<string>{1,6}</string>
									<key>duration</key>
									<real>0.6</real>
									<key>repeatType</key>
									<string>CONTINUOUS</string>
									<key>transitionsFrom</key>
									<array>
										<string>2,29</string>
									</array>
								</dict>
								<dict>
									<key>description</key>
									<string>The torch going out.</string>
									<key>imageIndices</key>
									<string>{7,11}</string>
									<key>duration</key>
									<real>1.1</real>
								</dict>
								<dict>
									<key>description</key>
									<string>The torch re-igniting.</string>
									<key>imageIndices</key>
									<string>{18,11}</string>
									<key>duration</key>
									<real>1.1</real>
								</dict>
							</array>
						</dict>
						<key>torchSoundEffect</key>
						<dict>
							<key>description</key>
							<string>The sound of the burning torch.</string>
							<key>id</key>
							<string>burning_torch</string>
							<key>customClass</key>
							<string>AAmbientSound</string>
							<key>resource</key>
							<string>Chap27_Torch_Loop.m4a</string>
							<key>numLoops</key>
							<integer>-1</integer>
						</dict>
					</dict>
					<key>darknessLayer</key>
					<dict>
						<key>backgroundImage</key>
						<string>TI_ch28_all_black.png</string>
						<key>frame</key>
						<array>
							<integer>28</integer>
							<integer>8</integer>
							<integer>970</integer>
							<integer>730</integer>
						</array>
						<key>eyePairs</key>
						<integer>6</integer>
						<key>eyes1</key>
						<dict>
							<key>description</key>
							<string>The first pair of blinking eyes.</string>
							<key>id</key>
							<string>eyes1</string>
							<key>customClass</key>
							<string>ATextureAtlasBasedSequence</string>
							<key>resourceBase</key>
							<string>TI_ch28_eyes1</string>
							<key>frame</key>
							<array>
								<integer>186</integer>
								<integer>352</integer>
								<integer>65</integer>
								<integer>36</integer>
							</array>
							<key>sequences</key>
							<array>
								<dict>
									<key>description</key>
									<string>The first pair of eyes, blinking in the pitch darkness.</string>
									<key>imageIndices</key>
									<string>{1,5}</string>
									<key>duration</key>
									<real>0.5</real>
									<key>repeatType</key>
									<string>CONTINUOUS_WITH_DELAY</string>
									<key>repeatDelay</key>
									<real>2.4</real>
								</dict>
							</array>
						</dict>
						<key>eyes2</key>
						<dict>
							<key>description</key>
							<string>The second pair of blinking eyes.</string>
							<key>type</key>
							<string>IMAGESEQUENCE</string>
							<key>animationType</key>
							<string>CUSTOM</string>
							<key>id</key>
							<string>eyes2</string>
							<key>customClass</key>
							<string>ATextureAtlasBasedSequence</string>
							<key>resourceBase</key>
							<string>TI_ch28_eyes2</string>
							<key>frame</key>
							<array>
								<integer>294</integer>
								<integer>439</integer>
								<integer>72</integer>
								<integer>25</integer>
							</array>
							<key>sequences</key>
							<array>
								<dict>
									<key>description</key>
									<string>The second pair of eyes, blinking in the pitch darkness.</string>
									<key>imageIndices</key>
									<string>{1,5}</string>
									<key>duration</key>
									<real>0.5</real>
									<key>repeatType</key>
									<string>CONTINUOUS_WITH_DELAY</string>
									<key>repeatDelay</key>
									<integer>2</integer>
								</dict>
							</array>
						</dict>
						<key>eyes3</key>
						<dict>
							<key>description</key>
							<string>The third pair of blinking eyes.</string>
							<key>type</key>
							<string>IMAGESEQUENCE</string>
							<key>animationType</key>
							<string>CUSTOM</string>
							<key>id</key>
							<string>eyes3</string>
							<key>customClass</key>
							<string>ATextureAtlasBasedSequence</string>
							<key>resourceBase</key>
							<string>TI_ch28_eyes3</string>
							<key>frame</key>
							<array>
								<integer>404</integer>
								<integer>183</integer>
								<integer>46</integer>
								<integer>21</integer>
							</array>
							<key>sequences</key>
							<array>
								<dict>
									<key>description</key>
									<string>The third pair of eyes, blinking in the pitch darkness.</string>
									<key>imageIndices</key>
									<string>{1,5}</string>
									<key>duration</key>
									<real>0.5</real>
									<key>repeatType</key>
									<string>CONTINUOUS_WITH_DELAY</string>
									<key>repeatDelay</key>
									<real>1.5</real>
								</dict>
							</array>
						</dict>
						<key>eyes4</key>
						<dict>
							<key>description</key>
							<string>The fourth pair of blinking eyes.</string>
							<key>id</key>
							<string>eyes4</string>
							<key>customClass</key>
							<string>ATextureAtlasBasedSequence</string>
							<key>resourceBase</key>
							<string>TI_ch28_eyes4</string>
							<key>frame</key>
							<array>
								<integer>453</integer>
								<integer>457</integer>
								<integer>112</integer>
								<integer>53</integer>
							</array>
							<key>sequences</key>
							<array>
								<dict>
									<key>description</key>
									<string>The fourth pair of eyes, blinking in the pitch darkness.</string>
									<key>imageIndices</key>
									<string>{1,5}</string>
									<key>duration</key>
									<real>0.5</real>
									<key>repeatType</key>
									<string>CONTINUOUS_WITH_DELAY</string>
									<key>repeatDelay</key>
									<real>2.2</real>
								</dict>
							</array>
						</dict>
						<key>eyes5</key>
						<dict>
							<key>description</key>
							<string>The fifth pair of blinking eyes.</string>
							<key>type</key>
							<string>IMAGESEQUENCE</string>
							<key>animationType</key>
							<string>CUSTOM</string>
							<key>id</key>
							<string>eyes5</string>
							<key>customClass</key>
							<string>ATextureAtlasBasedSequence</string>
							<key>resourceBase</key>
							<string>TI_ch28_eyes5</string>
							<key>frame</key>
							<array>
								<integer>711</integer>
								<integer>295</integer>
								<integer>81</integer>
								<integer>33</integer>
							</array>
							<key>sequences</key>
							<array>
								<dict>
									<key>description</key>
									<string>The fifth pair of eyes, blinking in the pitch darkness.</string>
									<key>imageIndices</key>
									<string>{1,5}</string>
									<key>duration</key>
									<real>0.5</real>
									<key>repeatType</key>
									<string>CONTINUOUS_WITH_DELAY</string>
									<key>repeatDelay</key>
									<real>1.8</real>
								</dict>
							</array>
						</dict>
						<key>eyes6</key>
						<dict>
							<key>description</key>
							<string>The sixth pair of blinking eyes.</string>
							<key>type</key>
							<string>IMAGESEQUENCE</string>
							<key>animationType</key>
							<string>CUSTOM</string>
							<key>id</key>
							<string>eyes6</string>
							<key>customClass</key>
							<string>ATextureAtlasBasedSequence</string>
							<key>resourceBase</key>
							<string>TI_ch28_eyes6</string>
							<key>frame</key>
							<array>
								<integer>885</integer>
								<integer>241</integer>
								<integer>34</integer>
								<integer>17</integer>
							</array>
							<key>sequences</key>
							<array>
								<dict>
									<key>description</key>
									<string>The sixth pair of eyes, blinking in the pitch darkness.</string>
									<key>imageIndices</key>
									<string>{1,5}</string>
									<key>duration</key>
									<real>0.5</real>
									<key>repeatType</key>
									<string>CONTINUOUS_WITH_DELAY</string>
									<key>repeatDelay</key>
									<real>2.7</real>
								</dict>
							</array>
						</dict>
					</dict>
					<key>trigger</key>
					<dict>
						<key>type</key>
						<string>TOUCH</string>
						<key>regions</key>
						<array>
							<array>
								<integer>38</integer>
								<integer>18</integer>
								<integer>392</integer>
								<integer>364</integer>
							</array>
						</array>
					</dict>
				</dict>
				<dict>
					<key>description</key>
					<string>Various comments on the dark, from the foreground pirate.</string>
					<key>id</key>
					<string>dont_like_the_dark</string>
					<key>customClass</key>
					<string>ATriggeredRandomSoundEffect</string>
					<key>resourceNames</key>
					<array>
						<string>Chap28_DLG_Pirate_ItsDark_WILD1.m4a</string>
						<string>Chap28_DLG_Pirate_ItsDark_WILD2.m4a</string>
						<string>Chap28_DLG_Pirate_ItsDark_WILD3.m4a</string>
					</array>
					<key>trigger</key>
					<dict>
						<key>type</key>
						<string>TOUCH</string>
						<key>gated</key>
						<true/>
						<key>enablingNotification</key>
						<string>CH27_ITS_DARK</string>
						<key>disablingNotification</key>
						<string>CH27_ITS_LIGHT</string>
						<key>regions</key>
						<array>
							<array>
								<integer>425</integer>
								<integer>400</integer>
								<integer>180</integer>
								<integer>280</integer>
							</array>
						</array>
					</dict>
				</dict>
			</array>
			<key>helpDescriptors</key>
			<array>
				<dict>
					<key>description</key>
					<string>Turns the torch on and off.</string>
					<key>type</key>
					<string>TAP</string>
					<key>frame</key>
					<array>
						<integer>120</integer>
						<integer>120</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
				<dict>
					<key>description</key>
					<string>Activates the pirate&apos;s vocal.</string>
					<key>type</key>
					<string>TAP</string>
					<key>frame</key>
					<array>
						<integer>485</integer>
						<integer>470</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
				<dict>
					<key>description</key>
					<string>Activates the parrot&apos;s vocal.</string>
					<key>type</key>
					<string>TAP</string>
					<key>frame</key>
					<array>
						<integer>900</integer>
						<integer>285</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
