<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pages</key>
	<array>
		<dict>
			<key>page</key>
			<integer>0</integer>
			<key>elements</key>
			<array>
				<dict>
					<key>description</key>
					<string>flapping sail</string>
					<key>id</key>
					<string>flapping</string>
					<key>customClass</key>
					<string>ATextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>Chapter16_Sail_</string>
					<key>frame</key>
					<array>
						<integer>293</integer>
						<integer>76</integer>
						<integer>220</integer>
						<integer>200</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>sailflap</string>
							<key>imageIndices</key>
							<string>{1,59}</string>
							<key>duration</key>
							<integer>3</integer>
							<key>repeatType</key>
							<string>CONTINUOUS</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>description</key>
					<string>Pistol</string>
					<key>id</key>
					<string>pistol</string>
					<key>customClass</key>
					<string>ATextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>Pistol_0</string>
					<key>frame</key>
					<array>
						<integer>680</integer>
						<integer>124</integer>
						<integer>120</integer>
						<integer>50</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>repeatDelay</key>
							<real>2.4</real>
							<key>description</key>
							<string>pistol</string>
							<key>imageIndices</key>
							<string>{1,19}</string>
							<key>duration</key>
							<integer>1</integer>
							<key>repeatType</key>
							<string>CONTINUOUS_WITH_DELAY</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>description</key>
					<string>Ambient sounds of ship at sea.</string>
					<key>id</key>
					<string>ship_at_sea</string>
					<key>resource</key>
					<string>Chap16_AMB_Sized.m4a</string>
					<key>customClass</key>
					<string>AAmbientSound</string>
				</dict>
				<dict>
					<key>description</key>
					<string>The feathers on the pirate&apos;s hat, fluttering in the breeze.</string>
					<key>id</key>
					<string>hat_feathers</string>
					<key>customClass</key>
					<string>ATextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch16_hat_feathers_revised</string>
					<key>frame</key>
					<array>
						<integer>280</integer>
						<integer>240</integer>
						<integer>130</integer>
						<integer>80</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>The feathers on the pirate&apos;s hat, fluttering in the salty breeze...</string>
							<key>imageIndices</key>
							<string>{1,6}</string>
							<key>duration</key>
							<real>0.6</real>
							<key>repeatType</key>
							<string>CONTINUOUS</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>description</key>
					<string>The glint from the pirate&apos;s knife.</string>
					<key>id</key>
					<string>knife_shine</string>
					<key>customClass</key>
					<string>ATextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch16_knife_shine</string>
					<key>frame</key>
					<array>
						<integer>166</integer>
						<integer>455</integer>
						<integer>105</integer>
						<integer>50</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>The sun glinting off the knife held by the pirate.</string>
							<key>imageIndices</key>
							<string>{1,14}</string>
							<key>duration</key>
							<real>1.4</real>
							<key>repeatType</key>
							<string>CONTINUOUS</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>description</key>
					<string>The sound made by the pirate in the foreground.</string>
					<key>id</key>
					<string>foreground_pirate_sound</string>
					<key>resource</key>
					<string>Grr1.m4a</string>
					<key>customClass</key>
					<string>ATriggeredSoundEffect</string>
					<key>trigger</key>
					<dict>
						<key>type</key>
						<string>TOUCH</string>
						<key>regions</key>
						<array>
							<array>
								<integer>0</integer>
								<integer>200</integer>
								<integer>200</integer>
								<integer>300</integer>
							</array>
						</array>
					</dict>
				</dict>
				<dict>
					<key>description</key>
					<string>The sound made by the pirate with the feathery hat.</string>
					<key>id</key>
					<string>hat_pirate_sound</string>
					<key>resource</key>
					<string>Grr2.m4a</string>
					<key>customClass</key>
					<string>ATriggeredSoundEffect</string>
					<key>trigger</key>
					<dict>
						<key>type</key>
						<string>TOUCH</string>
						<key>regions</key>
						<array>
							<array>
								<integer>190</integer>
								<integer>300</integer>
								<integer>200</integer>
								<integer>300</integer>
							</array>
						</array>
					</dict>
				</dict>
			</array>
			<key>helpDescriptors</key>
			<array>
				<dict>
					<key>type</key>
					<string>TAP</string>
					<key>frame</key>
					<array>
						<integer>60</integer>
						<integer>220</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
				<dict>
					<key>type</key>
					<string>TAP</string>
					<key>frame</key>
					<array>
						<integer>290</integer>
						<integer>320</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>page</key>
			<integer>2</integer>
			<key>elements</key>
			<array>
				<dict>
					<key>description</key>
					<string>User-initiated collapse/extension of the spyglass.</string>
					<key>id</key>
					<string>spyglass</string>
					<key>customClass</key>
					<string>ASpyglass</string>
					<key>onView</key>
					<true/>
					<key>frame</key>
					<array>
						<integer>550</integer>
						<integer>175</integer>
						<integer>365</integer>
						<integer>123</integer>
					</array>
					<key>segments</key>
					<array>
						<dict>
							<key>resource</key>
							<string>1-spyglass.png</string>
							<key>frame</key>
							<array>
								<integer>0</integer>
								<integer>2</integer>
								<integer>116</integer>
								<integer>107</integer>
							</array>
							<key>minX</key>
							<integer>20</integer>
						</dict>
						<dict>
							<key>resource</key>
							<string>2-spyglass.png</string>
							<key>frame</key>
							<array>
								<integer>111</integer>
								<integer>0</integer>
								<integer>108</integer>
								<integer>110</integer>
							</array>
							<key>minX</key>
							<integer>92</integer>
							<key>maxX</key>
							<integer>164</integer>
							<key>collapseStartX</key>
							<integer>212</integer>
							<key>extensionStartX</key>
							<integer>212</integer>
							<key>closeTriggerX</key>
							<integer>93</integer>
							<key>openTriggerX</key>
							<integer>163</integer>
							<key>closeSound</key>
							<string>Telescope_Close_2ndPart_ClickOnly.m4a</string>
							<key>openSound</key>
							<string>Telescope_Open_2ndPart_ClickOnly.m4a</string>
						</dict>
						<dict>
							<key>resource</key>
							<string>3-spyglass.png</string>
							<key>frame</key>
							<array>
								<integer>218</integer>
								<integer>-12</integer>
								<integer>148</integer>
								<integer>135</integer>
							</array>
							<key>minX</key>
							<integer>140</integer>
							<key>maxX</key>
							<integer>291</integer>
							<key>closeTriggerX</key>
							<integer>212</integer>
							<key>openTriggerX</key>
							<integer>212</integer>
							<key>closeSound</key>
							<string>Telescope_Close_1stPart_ClickOnly.m4a</string>
							<key>openSound</key>
							<string>Telescope_Open_1stPart_ClickOnly.m4a</string>
						</dict>
					</array>
					<key>trigger</key>
					<dict>
						<key>description</key>
						<string>A PAN trigger fires when the user &apos;drags&apos; his finger on a hotspot (defined by one or more regions).</string>
						<key>type</key>
						<string>PAN</string>
						<key>minTouches</key>
						<integer>1</integer>
						<key>maxTouches</key>
						<integer>1</integer>
						<key>regions</key>
						<array>
							<array>
								<integer>400</integer>
								<integer>180</integer>
								<integer>550</integer>
								<integer>200</integer>
							</array>
						</array>
					</dict>
				</dict>
			</array>
			<key>helpDescriptors</key>
			<array>
				<dict>
					<key>type</key>
					<string>SWIPE</string>
					<key>arrowDirection</key>
					<string>LEFT</string>
					<key>frame</key>
					<array>
						<integer>740</integer>
						<integer>170</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
