<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pages</key>
	<array>
		<dict>
			<key>page</key>
			<integer>0</integer>
			<key>elements</key>
			<array>
				<dict>
					<key>description</key>
					<string>Goodbye, Jim...</string>
					<key>id</key>
					<string>goodbye_jim</string>
					<key>customClass</key>
					<string>AAmbientSound</string>
					<key>resource</key>
					<string>Chap30_AMB_Sized.m4a</string>
					<key>maxDuration</key>
					<integer>5</integer>
					<key>fadeOutDuration</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>description</key>
					<string>The smoking pipe chapter header.</string>
					<key>id</key>
					<string>smoking_pipe</string>
					<key>customClass</key>
					<string>ATextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch20_header</string>
					<key>frame</key>
					<array>
						<integer>694</integer>
						<integer>110</integer>
						<integer>70</integer>
						<integer>60</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>The smoking pipe.</string>
							<key>imageIndices</key>
							<string>{1,15}</string>
							<key>duration</key>
							<real>1.5</real>
							<key>repeatType</key>
							<string>CONTINUOUS</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>description</key>
					<string>The smoke from Long John Silver&apos;s pipe.</string>
					<key>id</key>
					<string>ljs_smoke</string>
					<key>customClass</key>
					<string>ATextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch30_smoke</string>
					<key>frame</key>
					<array>
						<integer>244</integer>
						<integer>169</integer>
						<integer>58</integer>
						<integer>134</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>Pipe smoke.</string>
							<key>imageIndices</key>
							<string>{1,9}</string>
							<key>duration</key>
							<real>0.9</real>
							<key>repeatType</key>
							<string>CONTINUOUS</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>description</key>
					<string>The handshake between Jim and Dr. Livesey.</string>
					<key>id</key>
					<string>jim_handshake</string>
					<key>customClass</key>
					<string>ATextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch30_handshake</string>
					<key>frame</key>
					<array>
						<integer>332</integer>
						<integer>280</integer>
						<integer>182</integer>
						<integer>97</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>The handshake.</string>
							<key>imageIndices</key>
							<string>{1,9}</string>
							<key>duration</key>
							<real>0.9</real>
							<key>repeatType</key>
							<string>CONTINUOUS</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>description</key>
					<string>The waving grass in the stockade.</string>
					<key>id</key>
					<string>waving_grass</string>
					<key>customClass</key>
					<string>ATextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch30_grass</string>
					<key>frame</key>
					<array>
						<integer>81</integer>
						<integer>409</integer>
						<integer>433</integer>
						<integer>214</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>The waving grass.</string>
							<key>imageIndices</key>
							<string>{1,29}</string>
							<key>duration</key>
							<real>2.9</real>
							<key>repeatType</key>
							<string>CONTINUOUS</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>description</key>
					<string>LJS grumbling at the scene between Jim and Dr. Livesey.</string>
					<key>id</key>
					<string>ljs_grumbling</string>
					<key>customClass</key>
					<string>ATriggeredSoundEffect</string>
					<key>resource</key>
					<string>Chap31a_DLG_LongJohnSilver_Grumbling2.m4a</string>
					<key>trigger</key>
					<dict>
						<key>type</key>
						<string>TOUCH</string>
						<key>regions</key>
						<array>
							<array>
								<integer>170</integer>
								<integer>285</integer>
								<integer>130</integer>
								<integer>130</integer>
							</array>
						</array>
					</dict>
				</dict>
				<dict>
					<key>description</key>
					<string>Dr. Livsey bidding Jim goodbye.</string>
					<key>id</key>
					<string>goodbye_him</string>
					<key>customClass</key>
					<string>ATriggeredSoundEffect</string>
					<key>resource</key>
					<string>Chap30_DLG_DoctorLivesey_GoodbyeJim.m4a</string>
					<key>trigger</key>
					<dict>
						<key>type</key>
						<string>TOUCH</string>
						<key>regions</key>
						<array>
							<array>
								<integer>410</integer>
								<integer>260</integer>
								<integer>100</integer>
								<integer>100</integer>
							</array>
						</array>
					</dict>
				</dict>
			</array>
			<key>helpDescriptors</key>
			<array>
				<dict>
					<key>type</key>
					<string>TAP</string>
					<key>frame</key>
					<array>
						<integer>155</integer>
						<integer>295</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
				<dict>
					<key>type</key>
					<string>TAP</string>
					<key>frame</key>
					<array>
						<integer>410</integer>
						<integer>260</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
