<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pages</key>
	<array>
		<dict>
			<key>page</key>
			<integer>0</integer>
			<key>elements</key>
			<array>
				<dict>
					<key>description</key>
					<string>Ambient sounds of pirates yelling.</string>
					<key>id</key>
					<string>pirates_yelling</string>
					<key>resource</key>
					<string>Chap13_AMB_and_Voices.m4a</string>
					<key>customClass</key>
					<string>AAmbientSound</string>
				</dict>
				<dict>
					<key>description</key>
					<string>Animation of LJS, laughing in a sinister way...</string>
					<key>id</key>
					<string>ljs_sinister</string>
					<key>customClass</key>
					<string>ATriggeredTextureAtlasBasedSequence</string>
					<key>resourceBase</key>
					<string>TI_ch13_LJS_talks</string>
					<key>frame</key>
					<array>
						<integer>204</integer>
						<integer>227</integer>
						<integer>156</integer>
						<integer>104</integer>
					</array>
					<key>sequences</key>
					<array>
						<dict>
							<key>description</key>
							<string>LJS silent, but menacing...</string>
							<key>imageIndices</key>
							<string>{1,1}</string>
							<key>transitionsFrom</key>
							<array>
								<string>1,31</string>
							</array>
						</dict>
						<dict>
							<key>description</key>
							<string>The sinister laugh of LJS!</string>
							<key>imageIndices</key>
							<string>{1,30}</string>
							<key>duration</key>
							<real>3</real>
							<key>soundEffect</key>
							<dict>
								<key>description</key>
								<string>LJS, laughing in a sinister way...</string>
								<key>id</key>
								<string>ljs_laughing</string>
								<key>resource</key>
								<string>Chap13_LongJohnSilver.m4a</string>
								<key>customClass</key>
								<string>AAmbientSound</string>
								<key>numLoops</key>
								<integer>0</integer>
							</dict>
							<key>transitionsFrom</key>
							<array>
								<string>0,1</string>
							</array>
						</dict>
					</array>
					<key>trigger</key>
					<dict>
						<key>type</key>
						<string>TOUCH</string>
						<key>regions</key>
						<array>
							<array>
								<integer>190</integer>
								<integer>220</integer>
								<integer>180</integer>
								<integer>200</integer>
							</array>
						</array>
					</dict>
				</dict>
				<dict>
					<key>description</key>
					<string>The swipable vines.</string>
					<key>id</key>
					<string>swipable_vines</string>
					<key>customClass</key>
					<string>AVines</string>
					<key>leftVine</key>
					<dict>
						<key>resource</key>
						<string>left-vine.png</string>
						<key>anchorPoint</key>
						<string>{0.5,0.0}</string>
						<key>frame</key>
						<array>
							<integer>198</integer>
							<integer>77</integer>
							<integer>21</integer>
							<integer>431</integer>
						</array>
					</dict>
					<key>rightVine</key>
					<dict>
						<key>resource</key>
						<string>right-vine.png</string>
						<key>anchorPoint</key>
						<string>{0.5,0.0}</string>
						<key>frame</key>
						<array>
							<integer>440</integer>
							<integer>79</integer>
							<integer>13</integer>
							<integer>337</integer>
						</array>
					</dict>
				</dict>
			</array>
			<key>helpDescriptors</key>
			<array>
				<dict>
					<key>type</key>
					<string>TAP</string>
					<key>frame</key>
					<array>
						<integer>235</integer>
						<integer>295</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
				<dict>
					<key>type</key>
					<string>SWIPE</string>
					<key>arrowDirection</key>
					<string>LEFT</string>
					<key>frame</key>
					<array>
						<integer>155</integer>
						<integer>395</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
				<dict>
					<key>type</key>
					<string>SWIPE</string>
					<key>arrowDirection</key>
					<string>RIGHT</string>
					<key>frame</key>
					<array>
						<integer>385</integer>
						<integer>295</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>page</key>
			<integer>2</integer>
			<key>elements</key>
			<array>
				<dict>
					<key>description</key>
					<string>The flickable coconuts.</string>
					<key>id</key>
					<string>coconuts</string>
					<key>customClass</key>
					<string>ACoconut</string>
					<key>resource</key>
					<string>coconut.png</string>
					<key>objectObjectCollisionSoundEffect</key>
					<string>Coconut1.m4a</string>
					<key>objectWallCollisionSoundEffect</key>
					<string>Coconut4.m4a</string>
					<key>coconut1Layer</key>
					<dict>
						<key>frame</key>
						<array>
							<integer>0</integer>
							<integer>558</integer>
							<integer>176</integer>
							<integer>190</integer>
						</array>
					</dict>
					<key>coconut2Layer</key>
					<dict>
						<key>frame</key>
						<array>
							<integer>424</integer>
							<integer>558</integer>
							<integer>176</integer>
							<integer>190</integer>
						</array>
					</dict>
					<key>coconut3Layer</key>
					<dict>
						<key>frame</key>
						<array>
							<integer>848</integer>
							<integer>558</integer>
							<integer>176</integer>
							<integer>190</integer>
						</array>
					</dict>
				</dict>
			</array>
			<key>helpDescriptors</key>
			<array>
				<dict>
					<key>type</key>
					<string>TAP</string>
					<key>frame</key>
					<array>
						<integer>235</integer>
						<integer>295</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
