<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pages</key>
	<array>
		<dict>
			<key>page</key>
			<integer>0</integer>
			<key>elements</key>
			<array>
				<dict>
					<key>description</key>
					<string>The sound of the sea splashing against the Hispanola.</string>
					<key>id</key>
					<string>splashing_seas</string>
					<key>customClass</key>
					<string>AAmbientSound</string>
					<key>resource</key>
					<string>Chap12_AMB_Sized.m4a</string>
				</dict>
				<dict>
					<key>description</key>
					<string>Pirate signalling &quot;land ho!&quot;</string>
					<key>id</key>
					<string>land_ho</string>
					<key>customClass</key>
					<string>ATriggeredSoundEffect</string>
					<key>resource</key>
					<string>Chap12_DLG_PirateOnRopes_LandHo.m4a</string>
					<key>trigger</key>
					<dict>
						<key>type</key>
						<string>TOUCH</string>
						<key>regions</key>
						<array>
							<array>
								<integer>90</integer>
								<integer>120</integer>
								<integer>50</integer>
								<integer>200</integer>
							</array>
						</array>
					</dict>
				</dict>
				<dict>
					<key>description</key>
					<string>Captain Smollet inquiring about the land just sighted.</string>
					<key>id</key>
					<string>captain_smollet</string>
					<key>customClass</key>
					<string>ATriggeredSoundEffect</string>
					<key>resource</key>
					<string>Chap12_DLG_CaptainSmollet_HasAnyOneOfYou.m4a</string>
					<key>trigger</key>
					<dict>
						<key>type</key>
						<string>TOUCH</string>
						<key>regions</key>
						<array>
							<array>
								<integer>240</integer>
								<integer>260</integer>
								<integer>200</integer>
								<integer>300</integer>
							</array>
						</array>
					</dict>
				</dict>
				<dict>
					<key>description</key>
					<string>The sunrise.</string>
					<key>id</key>
					<string>sunrise</string>
					<key>customClass</key>
					<string>ASimplePropertyAnimation</string>
					<key>resource</key>
					<string>TI_ch12_sun_rises.png</string>
					<key>numRepeats</key>
					<integer>0</integer>
					<key>keyPath</key>
					<string>opacity</string>
					<key>initialAlpha</key>
					<real>0</real>
					<key>fromValue</key>
					<integer>0</integer>
					<key>toValue</key>
					<integer>1</integer>
					<key>duration</key>
					<integer>5</integer>
					<key>frame</key>
					<array>
						<integer>56</integer>
						<integer>79</integer>
						<integer>434</integer>
						<integer>579</integer>
					</array>
					<key>delay</key>
					<integer>2</integer>
				</dict>
			</array>
			<key>helpDescriptors</key>
			<array>
				<dict>
					<key>type</key>
					<string>TAP</string>
					<key>frame</key>
					<array>
						<integer>50</integer>
						<integer>110</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
				<dict>
					<key>type</key>
					<string>TAP</string>
					<key>frame</key>
					<array>
						<integer>310</integer>
						<integer>390</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>page</key>
			<integer>2</integer>
			<key>elements</key>
			<array>
				<dict>
					<key>description</key>
					<string>The toy boat that the user can drag around with his finger.</string>
					<key>id</key>
					<string>toy_boat</string>
					<key>customClass</key>
					<string>AToyBoat</string>
					<key>minX</key>
					<integer>580</integer>
					<key>minY</key>
					<integer>420</integer>
					<key>maxX</key>
					<integer>900</integer>
					<key>maxY</key>
					<integer>460</integer>
					<key>shipPlunkSoundEffect</key>
					<string>Chap12_INT_ShipPlunk.m4a</string>
					<key>islandLayer</key>
					<dict>
						<key>resource</key>
						<string>island.png</string>
						<key>frame</key>
						<array>
							<integer>560</integer>
							<integer>220</integer>
							<integer>334</integer>
							<integer>260</integer>
						</array>
					</dict>
					<key>waterLayer</key>
					<dict>
						<key>resource</key>
						<string>water.png</string>
						<key>frame</key>
						<array>
							<integer>540</integer>
							<integer>430</integer>
							<integer>358</integer>
							<integer>84</integer>
						</array>
					</dict>
					<key>springAnimation</key>
					<dict>
						<key>description</key>
						<string>The springy toy boat.</string>
						<key>id</key>
						<string>springy_toy_boat</string>
						<key>resource</key>
						<string>boat.png</string>
						<key>customClass</key>
						<string>ATriggeredSpringAnimation</string>
						<key>frame</key>
						<array>
							<integer>675</integer>
							<integer>380</integer>
							<integer>93</integer>
							<integer>93</integer>
						</array>
						<key>keyPath</key>
						<string>position.y</string>
						<key>maximumExtension</key>
						<integer>25</integer>
						<key>springTension</key>
						<real>0.4</real>
						<key>duration</key>
						<real>3</real>
						<key>postAnimationNotification</key>
						<string>CH12_SPRING_MOTION_TERMINATED</string>
					</dict>
					<key>triggers</key>
					<array>
						<dict>
							<key>type</key>
							<string>PAN</string>
							<key>minTouches</key>
							<integer>1</integer>
							<key>maxTouches</key>
							<integer>1</integer>
							<key>regions</key>
							<array>
								<array>
									<integer>600</integer>
									<integer>300</integer>
									<integer>300</integer>
									<integer>200</integer>
								</array>
							</array>
						</dict>
					</array>
				</dict>
			</array>
			<key>helpDescriptors</key>
			<array>
				<dict>
					<key>type</key>
					<string>SWIPE</string>
					<key>arrowDirection</key>
					<string>DOWN</string>
					<key>frame</key>
					<array>
						<integer>665</integer>
						<integer>390</integer>
						<integer>106</integer>
						<integer>106</integer>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
