<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pages</key>
	<array>
		<dict>
			<key>page</key>
			<integer>0</integer>
			<key>elements</key>
			<array>
				<dict>
					<key>description</key>
					<string>The ship that can be dragged back and forth across the waves.</string>
					<key>id</key>
					<string>draggable_ship</string>
					<key>customClass</key>
					<string>ADraggableShip</string>
					<key>resource</key>
					<string>Ship.png</string>
					<key>frame</key>
					<array>
						<integer>20</integer>
						<integer>555</integer>
						<integer>186</integer>
						<integer>195</integer>
					</array>
					<key>dragMinX</key>
					<integer>20</integer>
					<key>dragMaxX</key>
					<integer>500</integer>
				</dict>
				<dict>
					<key>description</key>
					<string>The rear-most of the shifting waves that lie across the bottom of the map.</string>
					<key>id</key>
					<string>bottom_waves_3</string>
					<key>customClass</key>
					<string>APositionAnimation</string>
					<key>resource</key>
					<string>BottomWaves3.png</string>
					<key>frame</key>
					<array>
						<integer>-15</integer>
						<integer>706</integer>
						<integer>1031</integer>
						<integer>49</integer>
					</array>
					<key>xDelta</key>
					<integer>10</integer>
					<key>repeatType</key>
					<string>CONTINUOUS</string>
					<key>duration</key>
					<integer>4</integer>
					<key>autoReverse</key>
					<true/>
					<key>autoStart</key>
					<true/>
				</dict>
				<dict>
					<key>description</key>
					<string>The middle of the shifting waves that lie across the bottom of the map.</string>
					<key>id</key>
					<string>bottom_waves_2</string>
					<key>customClass</key>
					<string>APositionAnimation</string>
					<key>resource</key>
					<string>BottomWaves2.png</string>
					<key>frame</key>
					<array>
						<integer>2</integer>
						<integer>714</integer>
						<integer>1029</integer>
						<integer>36</integer>
					</array>
					<key>xDelta</key>
					<integer>15</integer>
					<key>yDelta</key>
					<integer>2</integer>
					<key>repeatType</key>
					<string>CONTINUOUS</string>
					<key>duration</key>
					<integer>3</integer>
					<key>autoReverse</key>
					<true/>
					<key>autoStart</key>
					<true/>
				</dict>
				<dict>
					<key>description</key>
					<string>The foremost of the shifting waves that lie across the bottom of the map.</string>
					<key>id</key>
					<string>bottom_waves_1</string>
					<key>customClass</key>
					<string>APositionAnimation</string>
					<key>resource</key>
					<string>BottomWaves1.png</string>
					<key>frame</key>
					<array>
						<integer>-8</integer>
						<integer>727</integer>
						<integer>1012</integer>
						<integer>22</integer>
					</array>
					<key>xDelta</key>
					<integer>11</integer>
					<key>repeatType</key>
					<string>CONTINUOUS</string>
					<key>duration</key>
					<integer>2</integer>
					<key>autoReverse</key>
					<true/>
					<key>autoStart</key>
					<true/>
				</dict>
				<dict>
					<key>description</key>
					<string>The breath from the Cloud God on the lh side of the page.</string>
					<key>id</key>
					<string>left_cloud_god</string>
					<key>customClass</key>
					<string>ATriggeredAnimationSequence</string>
					<key>resource</key>
					<string>LeftCloudGodBreath.png</string>
					<key>frame</key>
					<array>
						<integer>229</integer>
						<integer>109</integer>
						<integer>0</integer>
						<integer>57</integer>
					</array>
					<key>animations</key>
					<array>
						<dict>
							<key>description</key>
							<string>Animation of the opacity of the breath layer from fully transparent to fully opaque.</string>
							<key>id</key>
							<string>lcg_breath_opacity_1</string>
							<key>customClass</key>
							<string>ASimplePropertyAnimation</string>
							<key>keyPath</key>
							<string>opacity</string>
							<key>fromValue</key>
							<integer>0</integer>
							<key>toValue</key>
							<integer>1</integer>
							<key>duration</key>
							<real>0.01</real>
						</dict>
						<dict>
							<key>description</key>
							<string>Animation of the bounds of the breath image, i.e. to make it appear to be blowing from the cloud god&apos;s mouth.</string>
							<key>id</key>
							<string>lcg_breath_bounds_1</string>
							<key>customClass</key>
							<string>ASimplePropertyAnimation</string>
							<key>keyPath</key>
							<string>bounds</string>
							<key>fromValue</key>
							<string>{{0,0},{0,57}}</string>
							<key>toValue</key>
							<string>{{0,0},{93,57}}</string>
							<key>duration</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>description</key>
							<string>Animation of the opacity of the breath layer from fully opaque to fully transparent.</string>
							<key>id</key>
							<string>lcg_breath_opacity_2</string>
							<key>customClass</key>
							<string>ASimplePropertyAnimation</string>
							<key>keyPath</key>
							<string>opacity</string>
							<key>fromValue</key>
							<integer>1</integer>
							<key>toValue</key>
							<integer>0</integer>
							<key>duration</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>description</key>
							<string>Animation of the bounds of the breath image back to its starting value.</string>
							<key>id</key>
							<string>lcg_breath_bounds_2</string>
							<key>customClass</key>
							<string>ASimplePropertyAnimation</string>
							<key>keyPath</key>
							<string>bounds</string>
							<key>fromValue</key>
							<string>{{0,0},{93,57}}</string>
							<key>toValue</key>
							<string>{{0,0},{0,57}}</string>
							<key>duration</key>
							<real>0.01</real>
						</dict>
					</array>
					<key>trigger</key>
					<dict>
						<key>type</key>
						<string>TOUCH</string>
						<key>regions</key>
						<array>
							<array>
								<integer>0</integer>
								<integer>70</integer>
								<integer>225</integer>
								<integer>118</integer>
							</array>
						</array>
					</dict>
					<key>respectSequenceInProgress</key>
					<false/>
					<key>inPlayNotification</key>
					<string>leftCloudGodBreath</string>
					<key>inPlayNotificationIndex</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>description</key>
					<string>The breath from the Cloud God on the rh side of the page.</string>
					<key>id</key>
					<string>right_cloud_god</string>
					<key>customClass</key>
					<string>ATriggeredAnimationSequence</string>
					<key>resource</key>
					<string>RightCloudGodBreath.png</string>
					<key>frame</key>
					<array>
						<integer>736</integer>
						<integer>41</integer>
						<integer>0</integer>
						<integer>57</integer>
					</array>
					<key>animations</key>
					<array>
						<dict>
							<key>description</key>
							<string>Animation of the opacity of the breath layer from fully transparent to fully opaque.</string>
							<key>id</key>
							<string>rcg_breath_opacity_1</string>
							<key>customClass</key>
							<string>ASimplePropertyAnimation</string>
							<key>keyPath</key>
							<string>opacity</string>
							<key>fromValue</key>
							<integer>0</integer>
							<key>toValue</key>
							<integer>1</integer>
							<key>duration</key>
							<real>0.01</real>
						</dict>
						<dict>
							<key>description</key>
							<string>Animation of the bounds of the breath image, i.e. to make it appear to be blowing from the cloud god&apos;s mouth.</string>
							<key>id</key>
							<string>rcg_breath_bounds_1</string>
							<key>customClass</key>
							<string>ASimplePropertyAnimation</string>
							<key>keyPath</key>
							<string>bounds</string>
							<key>fromValue</key>
							<string>{{0,0},{0,57}}</string>
							<key>toValue</key>
							<string>{{0,0},{93,57}}</string>
							<key>duration</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>description</key>
							<string>Animation of the opacity of the breath layer from fully opaque to fully transparent.</string>
							<key>id</key>
							<string>rcg_breath_opacity_2</string>
							<key>customClass</key>
							<string>ASimplePropertyAnimation</string>
							<key>keyPath</key>
							<string>opacity</string>
							<key>fromValue</key>
							<integer>1</integer>
							<key>toValue</key>
							<integer>0</integer>
							<key>duration</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>description</key>
							<string>Animation of the bounds of the breath image back to its starting value.</string>
							<key>id</key>
							<string>rcg_breath_bounds_2</string>
							<key>customClass</key>
							<string>ASimplePropertyAnimation</string>
							<key>keyPath</key>
							<string>bounds</string>
							<key>fromValue</key>
							<string>{{0,0},{93,57}}</string>
							<key>toValue</key>
							<string>{{0,0},{0,57}}</string>
							<key>duration</key>
							<real>0.01</real>
						</dict>
					</array>
					<key>trigger</key>
					<dict>
						<key>type</key>
						<string>TOUCH</string>
						<key>regions</key>
						<array>
							<array>
								<integer>740</integer>
								<integer>0</integer>
								<integer>219</integer>
								<integer>117</integer>
							</array>
						</array>
					</dict>
					<key>respectSequenceInProgress</key>
					<false/>
					<key>inPlayNotification</key>
					<string>rightCloudGodBreath</string>
					<key>inPlayNotificationIndex</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>id</key>
					<string>topcloud1</string>
					<key>resource</key>
					<string>TopCloud1.png</string>
					<key>customClass</key>
					<string>ATopCloud</string>
					<key>frame</key>
					<array>
						<integer>260</integer>
						<integer>55</integer>
						<integer>100</integer>
						<integer>35</integer>
					</array>
					<key>minX</key>
					<integer>310</integer>
					<key>maxX</key>
					<integer>750</integer>
					<key>stepMin</key>
					<integer>20</integer>
					<key>stepMax</key>
					<integer>40</integer>
					<key>duration</key>
					<real>1.5</real>
					<key>triggers</key>
					<array>
						<dict>
							<key>type</key>
							<string>NOTIFICATION</string>
							<key>name</key>
							<string>leftCloudGodBreath</string>
							<key>dataValue</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>type</key>
							<string>NOTIFICATION</string>
							<key>name</key>
							<string>rightCloudGodBreath</string>
							<key>dataValue</key>
							<integer>0</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>id</key>
					<string>topcloud2</string>
					<key>resource</key>
					<string>TopCloud2.png</string>
					<key>customClass</key>
					<string>ATopCloud</string>
					<key>frame</key>
					<array>
						<integer>275</integer>
						<integer>90</integer>
						<integer>94</integer>
						<integer>38</integer>
					</array>
					<key>minX</key>
					<integer>310</integer>
					<key>maxX</key>
					<integer>750</integer>
					<key>stepMin</key>
					<integer>15</integer>
					<key>stepMax</key>
					<integer>25</integer>
					<key>duration</key>
					<real>2</real>
					<key>triggers</key>
					<array>
						<dict>
							<key>type</key>
							<string>NOTIFICATION</string>
							<key>name</key>
							<string>leftCloudGodBreath</string>
							<key>dataValue</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>type</key>
							<string>NOTIFICATION</string>
							<key>name</key>
							<string>rightCloudGodBreath</string>
							<key>dataValue</key>
							<integer>0</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>id</key>
					<string>topcloud3</string>
					<key>resource</key>
					<string>TopCloud3.png</string>
					<key>customClass</key>
					<string>ATopCloud</string>
					<key>frame</key>
					<array>
						<integer>445</integer>
						<integer>25</integer>
						<integer>186</integer>
						<integer>55</integer>
					</array>
					<key>minX</key>
					<integer>310</integer>
					<key>maxX</key>
					<integer>800</integer>
					<key>stepMin</key>
					<integer>12</integer>
					<key>stepMax</key>
					<integer>24</integer>
					<key>duration</key>
					<real>2.5</real>
					<key>triggers</key>
					<array>
						<dict>
							<key>type</key>
							<string>NOTIFICATION</string>
							<key>name</key>
							<string>leftCloudGodBreath</string>
							<key>dataValue</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>type</key>
							<string>NOTIFICATION</string>
							<key>name</key>
							<string>rightCloudGodBreath</string>
							<key>dataValue</key>
							<integer>0</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>id</key>
					<string>topcloud4</string>
					<key>resource</key>
					<string>TopCloud4.png</string>
					<key>customClass</key>
					<string>ATopCloud</string>
					<key>frame</key>
					<array>
						<integer>440</integer>
						<integer>130</integer>
						<integer>136</integer>
						<integer>41</integer>
					</array>
					<key>minX</key>
					<integer>310</integer>
					<key>maxX</key>
					<integer>750</integer>
					<key>stepMin</key>
					<integer>15</integer>
					<key>stepMax</key>
					<integer>28</integer>
					<key>duration</key>
					<integer>2</integer>
					<key>triggers</key>
					<array>
						<dict>
							<key>type</key>
							<string>NOTIFICATION</string>
							<key>name</key>
							<string>leftCloudGodBreath</string>
							<key>dataValue</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>type</key>
							<string>NOTIFICATION</string>
							<key>name</key>
							<string>rightCloudGodBreath</string>
							<key>dataValue</key>
							<integer>0</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>id</key>
					<string>topcloud5</string>
					<key>resource</key>
					<string>TopCloud5.png</string>
					<key>customClass</key>
					<string>ATopCloud</string>
					<key>frame</key>
					<array>
						<integer>565</integer>
						<integer>90</integer>
						<integer>108</integer>
						<integer>43</integer>
					</array>
					<key>minX</key>
					<integer>310</integer>
					<key>maxX</key>
					<integer>750</integer>
					<key>stepMin</key>
					<integer>20</integer>
					<key>stepMax</key>
					<integer>50</integer>
					<key>duration</key>
					<real>2.5</real>
					<key>triggers</key>
					<array>
						<dict>
							<key>type</key>
							<string>NOTIFICATION</string>
							<key>name</key>
							<string>leftCloudGodBreath</string>
							<key>dataValue</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>type</key>
							<string>NOTIFICATION</string>
							<key>name</key>
							<string>rightCloudGodBreath</string>
							<key>dataValue</key>
							<integer>0</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>description</key>
					<string>The spray from the big whale located on the upper rh side of the map.</string>
					<key>id</key>
					<string>whalespray</string>
					<key>customClass</key>
					<string>AWhaleSpray</string>
					<key>resource</key>
					<string>WhaleSpray.png</string>
					<key>frame</key>
					<array>
						<integer>826</integer>
						<integer>250</integer>
						<integer>0</integer>
						<integer>0</integer>
					</array>
					<key>trigger</key>
					<dict>
						<key>type</key>
						<string>TOUCH</string>
						<key>regions</key>
						<array>
							<array>
								<integer>720</integer>
								<integer>255</integer>
								<integer>300</integer>
								<integer>75</integer>
							</array>
						</array>
					</dict>
				</dict>
				<dict>
					<key>description</key>
					<string>The compass rose that appears on the map and is used as a close button for the app.</string>
					<key>id</key>
					<string>compass_rose</string>
					<key>customClass</key>
					<string>AStaticImage</string>
					<key>resource</key>
					<string>Compass.png</string>
					<key>frame</key>
					<array>
						<integer>167</integer>
						<integer>60</integer>
						<integer>684</integer>
						<integer>723</integer>
					</array>
				</dict>
				<dict>
					<key>description</key>
					<string>The Chapter selection menu that lives on the Treasure Map. Note that the &apos;scrollToggleHotspot&apos; rectangle is specified in the scrollTop UIImageView&apos;s coordinate system.</string>
					<key>id</key>
					<string>chapter_menu</string>
					<key>customClass</key>
					<string>AChapterMenu</string>
					<key>scrollTopResource</key>
					<string>scroll_top.png</string>
					<key>scrollTopFrame</key>
					<array>
						<integer>667</integer>
						<integer>160</integer>
						<integer>334</integer>
						<integer>138</integer>
					</array>
					<key>scrollTopMinY</key>
					<integer>160</integer>
					<key>scrollTopMaxY</key>
					<integer>437</integer>
					<key>scrollBottomResource</key>
					<string>scroll_bottom.png</string>
					<key>scrollBottomFrame</key>
					<array>
						<integer>667</integer>
						<integer>558</integer>
						<integer>334</integer>
						<integer>78</integer>
					</array>
					<key>scrollBackResource</key>
					<string>scroll_back.png</string>
					<key>scrollBackFrame</key>
					<array>
						<integer>715</integer>
						<integer>250</integer>
						<integer>242</integer>
						<integer>370</integer>
					</array>
					<key>scrollToggleHotspot</key>
					<array>
						<integer>150</integer>
						<integer>0</integer>
						<integer>100</integer>
						<integer>100</integer>
					</array>
					<key>scrollerFrame</key>
					<array>
						<integer>45</integer>
						<integer>30</integer>
						<integer>145</integer>
						<integer>282</integer>
					</array>
				</dict>
				<dict>
					<key>description</key>
					<string>A class representing the Compass Rose functionality.</string>
					<key>id</key>
					<string>compass_rose_behavior</string>
					<key>customClass</key>
					<string>ACompassRose</string>
					<key>trigger</key>
					<dict>
						<key>type</key>
						<string>TOUCH</string>
						<key>regions</key>
						<array>
							<array>
								<integer>680</integer>
								<integer>680</integer>
								<integer>100</integer>
								<integer>100</integer>
							</array>
						</array>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
