<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>numChapters</key>
	<integer>34</integer>
	<key>Chapter1</key>
	<dict>
		<key>numPages</key>
		<integer>6</integer>
		<key>big</key>
		<false/>
	</dict>
	<key>Chapter2</key>
	<dict>
		<key>numPages</key>
		<integer>4</integer>
		<key>big</key>
		<false/>
	</dict>
	<key>Chapter3</key>
	<dict>
		<key>numPages</key>
		<integer>3</integer>
		<key>big</key>
		<false/>
	</dict>
	<key>Chapter4</key>
	<dict>
		<key>numPages</key>
		<integer>5</integer>
		<key>big</key>
		<false/>
	</dict>
	<key>Chapter5</key>
	<dict>
		<key>numPages</key>
		<integer>4</integer>
		<key>big</key>
		<false/>
	</dict>
	<key>Chapter6</key>
	<dict>
		<key>numPages</key>
		<integer>3</integer>
		<key>big</key>
		<false/>
	</dict>
	<key>Chapter7</key>
	<dict>
		<key>numPages</key>
		<integer>5</integer>
		<key>big</key>
		<true/>
	</dict>
	<key>Chapter8</key>
	<dict>
		<key>numPages</key>
		<integer>4</integer>
		<key>big</key>
		<false/>
	</dict>
	<key>Chapter9</key>
	<dict>
		<key>numPages</key>
		<integer>4</integer>
		<key>big</key>
		<true/>
	</dict>
	<key>Chapter10</key>
	<dict>
		<key>numPages</key>
		<integer>4</integer>
		<key>big</key>
		<false/>
	</dict>
	<key>Chapter11</key>
	<dict>
		<key>numPages</key>
		<integer>4</integer>
		<key>big</key>
		<true/>
	</dict>
	<key>Chapter12</key>
	<dict>
		<key>numPages</key>
		<integer>4</integer>
		<key>big</key>
		<false/>
	</dict>
	<key>Chapter13</key>
	<dict>
		<key>numPages</key>
		<integer>4</integer>
		<key>big</key>
		<false/>
	</dict>
	<key>Chapter14</key>
	<dict>
		<key>numPages</key>
		<integer>4</integer>
		<key>big</key>
		<false/>
	</dict>
	<key>Chapter15</key>
	<dict>
		<key>numPages</key>
		<integer>4</integer>
		<key>big</key>
		<false/>
	</dict>
	<key>Chapter16</key>
	<dict>
		<key>numPages</key>
		<integer>4</integer>
		<key>big</key>
		<false/>
	</dict>
	<key>Chapter17</key>
	<dict>
		<key>numPages</key>
		<integer>4</integer>
		<key>big</key>
		<false/>
	</dict>
	<key>Chapter18</key>
	<dict>
		<key>numPages</key>
		<integer>4</integer>
		<key>big</key>
		<false/>
	</dict>
	<key>Chapter19</key>
	<dict>
		<key>numPages</key>
		<integer>4</integer>
		<key>big</key>
		<false/>
	</dict>
	<key>Chapter20</key>
	<dict>
		<key>numPages</key>
		<integer>4</integer>
		<key>big</key>
		<false/>
	</dict>
	<key>Chapter21</key>
	<dict>
		<key>numPages</key>
		<integer>4</integer>
		<key>big</key>
		<false/>
	</dict>
	<key>Chapter22</key>
	<dict>
		<key>numPages</key>
		<integer>4</integer>
		<key>big</key>
		<false/>
	</dict>
	<key>Chapter23</key>
	<dict>
		<key>numPages</key>
		<integer>4</integer>
		<key>big</key>
		<false/>
	</dict>
	<key>Chapter24</key>
	<dict>
		<key>numPages</key>
		<integer>4</integer>
		<key>big</key>
		<false/>
	</dict>
	<key>Chapter25</key>
	<dict>
		<key>numPages</key>
		<integer>4</integer>
		<key>big</key>
		<false/>
	</dict>
	<key>Chapter26</key>
	<dict>
		<key>numPages</key>
		<integer>4</integer>
		<key>big</key>
		<false/>
	</dict>
	<key>Chapter27</key>
	<dict>
		<key>numPages</key>
		<integer>4</integer>
		<key>big</key>
		<false/>
	</dict>
	<key>Chapter28</key>
	<dict>
		<key>numPages</key>
		<integer>4</integer>
		<key>big</key>
		<false/>
	</dict>
	<key>Chapter29</key>
	<dict>
		<key>numPages</key>
		<integer>3</integer>
		<key>big</key>
		<false/>
	</dict>
	<key>Chapter30</key>
	<dict>
		<key>numPages</key>
		<integer>4</integer>
		<key>big</key>
		<false/>
	</dict>
	<key>Chapter31</key>
	<dict>
		<key>numPages</key>
		<integer>4</integer>
		<key>big</key>
		<false/>
	</dict>
	<key>Chapter32</key>
	<dict>
		<key>numPages</key>
		<integer>4</integer>
		<key>big</key>
		<false/>
	</dict>
	<key>Chapter33</key>
	<dict>
		<key>numPages</key>
		<integer>4</integer>
		<key>big</key>
		<false/>
	</dict>
	<key>Chapter34</key>
	<dict>
		<key>numPages</key>
		<integer>6</integer>
		<key>big</key>
		<false/>
	</dict>
</dict>
</plist>
