<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>TI_ch4_breath0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {160, 240}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{160, 240}</string>
			<key>spriteSourceSize</key>
			<string>{160, 240}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{650, 728}, {160, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch4_breath0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{75, 224}, {12, 8}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{160, 240}</string>
			<key>spriteSourceSize</key>
			<string>{160, 240}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{812, 486}, {160, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch4_breath0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{74, 210}, {14, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{160, 240}</string>
			<key>spriteSourceSize</key>
			<string>{160, 240}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{650, 486}, {160, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch4_breath0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{53, 202}, {36, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{160, 240}</string>
			<key>spriteSourceSize</key>
			<string>{160, 240}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{488, 728}, {160, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch4_breath0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{44, 171}, {46, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{160, 240}</string>
			<key>spriteSourceSize</key>
			<string>{160, 240}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{488, 486}, {160, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch4_breath0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{28, 146}, {62, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{160, 240}</string>
			<key>spriteSourceSize</key>
			<string>{160, 240}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{812, 244}, {160, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch4_breath0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{22, 141}, {68, 92}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{160, 240}</string>
			<key>spriteSourceSize</key>
			<string>{160, 240}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{650, 244}, {160, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch4_breath0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{18, 136}, {72, 96}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{160, 240}</string>
			<key>spriteSourceSize</key>
			<string>{160, 240}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{488, 244}, {160, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch4_breath0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{18, 120}, {82, 112}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{160, 240}</string>
			<key>spriteSourceSize</key>
			<string>{160, 240}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{326, 728}, {160, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch4_breath0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{18, 92}, {82, 140}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{160, 240}</string>
			<key>spriteSourceSize</key>
			<string>{160, 240}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{326, 486}, {160, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch4_breath0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{18, 84}, {82, 148}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{160, 240}</string>
			<key>spriteSourceSize</key>
			<string>{160, 240}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{326, 244}, {160, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch4_breath0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{18, 79}, {82, 154}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{160, 240}</string>
			<key>spriteSourceSize</key>
			<string>{160, 240}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{164, 728}, {160, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch4_breath0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{18, 67}, {82, 166}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{160, 240}</string>
			<key>spriteSourceSize</key>
			<string>{160, 240}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{164, 486}, {160, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch4_breath0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{18, 53}, {82, 180}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{160, 240}</string>
			<key>spriteSourceSize</key>
			<string>{160, 240}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{164, 244}, {160, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch4_breath0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{18, 39}, {82, 194}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{160, 240}</string>
			<key>spriteSourceSize</key>
			<string>{160, 240}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{812, 2}, {160, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch4_breath0016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{18, 33}, {94, 200}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{160, 240}</string>
			<key>spriteSourceSize</key>
			<string>{160, 240}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{650, 2}, {160, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch4_breath0017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{18, 21}, {108, 212}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{160, 240}</string>
			<key>spriteSourceSize</key>
			<string>{160, 240}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{488, 2}, {160, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch4_breath0018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{18, 11}, {126, 222}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{160, 240}</string>
			<key>spriteSourceSize</key>
			<string>{160, 240}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{326, 2}, {160, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch4_breath0019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 10}, {136, 222}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{160, 240}</string>
			<key>spriteSourceSize</key>
			<string>{160, 240}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{164, 2}, {160, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch4_breath0020.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{15, 10}, {138, 222}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{160, 240}</string>
			<key>spriteSourceSize</key>
			<string>{160, 240}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 728}, {160, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch4_breath0021.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{15, 10}, {138, 222}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{160, 240}</string>
			<key>spriteSourceSize</key>
			<string>{160, 240}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 486}, {160, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch4_breath0022.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{15, 10}, {138, 222}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{160, 240}</string>
			<key>spriteSourceSize</key>
			<string>{160, 240}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 244}, {160, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TI_ch4_breath0023.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{15, 10}, {138, 222}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{160, 240}</string>
			<key>spriteSourceSize</key>
			<string>{160, 240}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {160, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{1024, 1024}</string>
	</dict>
</dict>
</plist>